.text-col{
  color: rgb(129, 129, 129);
}
.quantity-right-plus {
  background-color: #e2efdc;
  border: 1px solid #ccc;
  border-radius: 0;
  border-left: 0 !important;
}
.quantity-left-minus {
  background-color: #f6faf8;
  border: 1px solid #ccc;
  border-radius: 0;
  border-left: 0 !important;
}
.subt,
.add {
  font-size: 9px;
  color: #7a7979;
  border-left: 0;
}
.subt {
  border-left: 0 !important;
  border-right: 0 !important;
}
.addsubtip {
  border-right: 0 !important;
}

.content-wrapper {
  background-color: #fff !important;
}
/*add student accordion*/
.accordion {
  margin-top: 40px;
}
.accordion .card {
  border: none;
  margin-bottom: 20px;
}
.accordion .card h2 {
  background: url(../../dynamic/images/dotted_line.png) no-repeat
    calc(100% - 10px) center;
  background-size: cover;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  /*background: url("../../dynamic/images/divider.svg") repeat-x center;*/
}
.accordion .card h2.collapsed {
  background-image: url(../../dynamic/images/dotted_linedown.png);
}
.card-head {
  cursor: pointer;
  padding: 10px 15px;
}
.accordion .card-body {
  padding: 0px 40px;
}
.timeline.registration-form:before {
  display: none;
}
.acc_open {
  display: inline-block;
  background: #f6faf8;
  padding: 6px;
  border-radius: 5px;
  border-left: 2px solid #005a57;
}
/*
.acc_open:after{
  content: "-";
  background-repeat: repeat;
  background-size: cover;
  width: auto;
}*/
.hr_border {
  border-top: 1px dashed grey;
  width: 75%;
  position: absolute;
  top: 50%;
}
/*accordion new*/
#main {
  margin: 50px 0;
}

#main #faq .card {
  margin-bottom: 30px;
  border: 0;
}

#main #faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}

#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #ffe472;
  color: #222;
  padding: 20px;
}

#main #faq .card .card-header .btn-header-link:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: #a541bb;
  color: #fff;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f106";
}

#main #faq .card .collapsing {
  background: #ffe472;
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  background: #ffe472;
  line-height: 30px;
  color: #222;
}
.card {
  background: transparent;
}
@media (min-width: 1600px) and (max-width: 3840px) {
  .container {
    max-width: 100%;
  }
}

/*-------------------------------------------------------------*/
.fa-caret-right {
  font-size: 25px;
}

.lesson {
  margin-top: 15px;
}
.titleName {
  width: 100%;
}

.addtopic {
  border-right: 2px dashed #ccc;
}
.text-inactive {
  color: #ccc;
}
.delete-icon,
.addicon {
  color: #000;
  background-color: #e2efdc;
  border: 1px solid #e2efdc;
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.btn-save {
  background-color: #76be4e;
  color: #f6faf8;
}
.btn-save:hover {
  background-color: #91bb7a;
  color: #f6faf8;
}
.tick {
  font-size: 12px;
}

.topic {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #2f3a52;
}
.fa-calendar-alt{
  color: #2f3a52;
}
ul.topic_section {
  margin-left: 0;
  padding-left: 0;
}
ul.topic_section li {
border-left: 2px dashed #8996a7;
  padding-left: 0;
  padding-bottom: 10px;
  list-style: none;
  position: relative;
  color: rgba(46, 57, 80, 0.5);
}
.lplandat {
  border-left: 1px dashed rgba(40, 50, 72, 0.5);
}
ul.topic_section li:last-child {
  padding-bottom: 0;
}
ul.topic_section li.active {
  color: rgba(46, 57, 80, 1);
}
ul.topic_section li span {
  font-size: 10px;
}
ul.topic_section li.active span {
  color: rgba(46, 57, 80, 0.5);
}
.card-alt {
  background-color: #e9f2ee;
}
.numbering {
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.txtip {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
.activetopic i {
  color: #76be4e;
}
.lplandate {
  margin-left: 40px;
}
.accordion .card .down {
  background: url(../../dynamic/images/dotted_line.png) no-repeat
    calc(100% - 10px) center;
  background-size: cover;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  /*background: url("../../dynamic/images/divider.svg") repeat-x center;*/
}
.accordion .card .down {
  background-image: url(../../dynamic/images/dotted_linedown.png);
}
.title_open {
  display: inline-block;
  background: #f6faf8;
  padding: 4px; 

  border-right: 2px dashed #bbd8cb;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
a {
  color: #495057;
}


/*New added in tacher login*/
.horizontal_dotted_line {
    display: flex; 
}

    .horizontal_dotted_line:after {
        border-bottom: 3px dashed #e1e4e8;
        content: '';
        flex: 1;
    }
.statusCom {
    background-color: #eef9f4;
    color: #51623f;
    border-radius: 5px;
}
.statusblue {
    background-color: #e5f2ff;
    color: #51623f;
    border-radius: 5px;
}
.statuspurple {
    background-color: #f1ebf8;
    color: #51623f;
    border-radius: 5px;
}
.statusbtn{
    font-weight:600;
}
.view-btn {
    font-size: 12px;
    padding: 2px 12px;
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative
}

    .tree li::before,
    .tree li::after {
        content: '';
        left: -20px;
        position: absolute;
        right: auto
    }

    .tree li::before {
        border-left: 2px dashed #c0c5c8;
        bottom: 50px;
        height: 100%;
        top: 0;
        width: 1px
    }

    .tree li::after {
        border-top: 2px dashed #c0c5c8;
        height: 20px;
        top: 25px;
        width: 25px
    }

    .tree li span {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #94b6c4;
        border-radius: 3px;
        display: inline-block;
        padding: 3px 8px;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
    }

.tree > ul > li::before,
.tree > ul > li::after {
    border: 0
}

.tree li:last-child::before {
    height: 27px
}

.tree li span:hover {
    background: #76be4e26;
    border: 1px solid #94a0b4;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
    display: none;
}
/*upload file*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .upload-btn-wrapper .btn {
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

.addfile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: auto;
    border: 1px dashed grey;
    border-radius: 10px;
    width: 110px;
}