/*.oval{
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: #F6FAF8;
}*/
h2{
	color: #2D3333;
	font-size: 1.25rem;
	font-weight: 600;
}
.lesson_status h2{
	font-size: 1.125rem;
}
ul.lessons li p{
	color: #2D3333;
	font-size: 0.875rem;
	font-weight: 500;
	margin-bottom: 0;
}
ul.lessons li p span{
	color: #65708D;
}
ul.lessons li{
	display: flex;
	border-bottom: 1px solid #E0E1F2;
	padding: 20px 0;
}
ul.lessons li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
ul.lessons{
	margin-left: 0;
	padding-left: 0;
}
ul.lessons img{
	width: 10px;
}
.oval img{
	width: 40px !important;
}
/*ul.lessons li:before{
	content: "";
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: #F6FAF8;
	background: url("../dynamic/images/lms/tick.png") no-repeat center;
	background-size: contain;
}*/
.grey_text{
	font-size: 0.875rem;
	color: #2D3333;
}
.user_img {
    position: relative;
    width: 15%;
}
.user_img img {
    width: 32px;
}
.user-online-status {
    background: #76BF4E;
    border-radius: 50%;
    bottom: -10px;
    height: 10px;
    position: absolute;
    right: 0;
    width: 10px;
}
.jus_cen{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.jus_cen h2{
	font-size: 1rem;
	margin-bottom: 0;
}
.card-view {
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    padding: 15px 0;
}
.head-font {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
span.txt-dark {
    font-weight: 400;
    font-size: 0.875rem;
}
span.txt-dark span {
    font-weight: 500;
    font-size: 0.938rem;
}
.progress {
    -webkit-box-shadow: none !important;
    background-color: rgba(120, 130, 140, 0.13);
    box-shadow: none !important;
    height: 10px;
    border-radius: 50px;
    margin-bottom: 18px;
    overflow: hidden;
}

.progress .progress-bar:last-child {
    border-radius: 0 60px 60px 0;
}
.progress .progress-bar {
    box-shadow: none;
    font-size: 8px;
    font-weight: 600;
    line-height: 12px;
}
.progress-bar-info {
    background: #76BE4E;
}

.lesson_tab .nav-tabs .nav-link.active, .lesson_tab .nav-tabs .nav-item.show .nav-link {
    color: rgba(45, 51, 51, 1);
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #76BF4E;
}

.lesson_tab .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    color: rgba(45, 51, 51, 0.5);
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    font-weight: 600;
    /*border-bottom: 2px solid #76BF4E;*/
}
.lesson_tab .tab-content {
	background: #F6FAF8;
	padding: 20px 30px;
	margin-top: 10px;
	border-radius: 10px;
	/*height: 480px;*/
	overflow: auto;
}
.topic{
	font-size: 0.875rem;
	color: #2F3A52;
}
ul.topic_section{
	margin-left: 0;
	padding-left: 0;
}
ul.topic_section li{
	border-left: 1px dashed rgba(40, 50, 72, 0.5);
	padding-left: 15px;
    padding-bottom: 20px;
    list-style: none;
    position: relative;
    color: rgba(46, 57, 80, 0.5);
}
ul.topic_section li:last-child{
	border-left: none;
}
ul.topic_section li.active{
    color: rgba(46, 57, 80, 1);
}
ul.topic_section li span{
    font-size: 10px;
}
ul.topic_section li.active span{
    color: rgba(46, 57, 80, 0.5);
}
ul.topic_section li:before{
	content: "";
    background: url(../../dynamic/images/lms/list_tick.png) no-repeat center;
    background-size: contain !important;
    padding: 10px;
    position: absolute;
    left: -10px;
    top: 0;
}
ul.topic_section li.present_section:before{
	background:  url("../../dynamic/images/lms/play_arrow.png") no-repeat center;
}
ul.topic_section li.future_section:before{
	background:  url("../../dynamic/images/lms/skip.png") no-repeat center;
}




ul.topicsec li{
	border-left: 2px dashed rgba(40, 50, 72, 0.5);	
    padding-bottom: 4px;
    list-style: none;
    position: relative;
    color: rgba(46, 57, 80, 0.5);
}

ul.topicsec li.active{
    color: rgba(46, 57, 80, 1);
}
ul.topicsec li span{
    font-size: 10px;
}
ul.topicsec li.active span{
    color: rgba(46, 57, 80, 0.5);
}
ul.topicsec li:before{
	content: "";
  
    background-size: contain !important;
    padding: 10px;
    position: absolute;
    left: -10px;
    top: 0;
}




.space-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
ul.assignment li:before{
	content: "";
    background: url(../../dynamic/images/lms/calendar.png) no-repeat center;
    background-size: contain !important;
    padding: 6px;
    position: absolute;
    left: -10px;
    top: 0px;
    height: 20px;
    width: 20px;
}
ul.assignment li:last-child{
	border-left: 1px dashed rgba(40, 50, 72, 0.5);
}


.assignment_table table{
	width: 100%;
}
.assignment_table table img{
	width: 15px;
}
.assignment_table th{
	padding: 10px;
}
 .assignment_table td{
	padding: 20px 10px;
	background: #fff;
	position: relative;
}
.assignment_table th:first-child{
	border-top-left-radius: 10px;
}
.assignment_table th:last-child{
	border-top-right-radius: 10px;
}
.assignment_table td:first-child{
	border-bottom-left-radius: 10px;
}
.assignment_table td:last-child{
	border-bottom-right-radius: 10px;
}
.assignment_table a.pdf:before{
	content: "";
	padding: 5px;
	background: url("../../dynamic/images/lms/pdf.png") no-repeat center;
	background-size: contain;
	position: absolute;
	height: 14px;
	width: 10px;
	left: -15px;
	top: 4px;
}
.assignment_table a.pdf{
	padding-bottom: 3px;
	border-bottom: 1px solid #76BF4E;
	position: relative;
	margin-left: 15px;
}
.assignment_table button{
	background: transparent;
	border: none;
}
.assignment_table button:focus{
	border: none;
	outline: 0;
}
.assignment_table td span{
	color: #29344C;
	font-weight: 400;
}
ul.topic_section li table tr td span {
	font-size: 0.875rem;
}
.assignment_table td span.dark{
	font-weight: 500;
}
.assignment_table tr:last-child td{
	border-top: 1px solid #ccccd0;
}
.legend {
	font-size: 0.75rem;
	color: rgba(41, 53, 77, 0.5);
	position: absolute;
	top: -11px;
	background: #fff;
	padding: 0 5px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.modal-title{
	color: #2D3333;
	font-size: 1.25rem;
	font-weight: 500;
}
.modal-header{
	margin: 0 auto;
	border-bottom: none;
}
.upload{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 20px;
}
.upload p{
	font-size: 1rem;
	color: #2F3A52;
	margin-bottom: 0;
}
.upload img{
	width: 30px;
	padding-right: 10px;
}
.upload_img img{
	width: 100%;
}
.upload_img .add img{
	width: 40px;
}
.add{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: auto;
	border: 1px dashed grey;
	border-radius: 10px;
}
.modal-footer{
	border-top: none;
}
.can_btn:before {
    background: url(../images/fee_receipt/ionic-md-close.svg) no-repeat center;
    top: 0.625rem;
}
.can_btn, .acc_btn {
    position: relative;
    background: #CED4DA;
    min-width: 95px;
    text-align: center;
    padding: 0.3rem 0.4rem;
}
.can_btn:before, .acc_btn:before {
    content: "";
    background: url(../images/lms/feather-delete.svg) no-repeat center;
    height: 11px;
    width: 15px;
    top: 0.625rem;
    padding: 5px;
    left: 0.625rem;
    margin-right: 5px;
}
.can_btn:before {
    background: url(../images/lms/ionic-md-close.svg) no-repeat center;
    top: 0.625rem;
}
.acc_btn {
    background-color: #76BE4E;
    color: #fff;
}
.acc_btn:hover {
    color: #fff;
}
.acc_btn:before {
    background: url(../images/lms/feather-check.svg) no-repeat center;
}
.can_btn:hover + .acc_btn{
	background: #CED4DA;
	color: #212529;
}
.can_btn:hover + .acc_btn:before{
	background: url(../images/lms/feather-check.svg) no-repeat center;
	filter: invert(1);
}
.can_btn:hover{
	background: #76BE4E;
	color: #fff;
}
.can_btn:hover:before{
	filter: invert(1);
}
#submitAssignment .modal-content{
	padding: 30px;
}
.video_section img{
	width: 100%;
	cursor: pointer;
	margin-bottom: 10px;
}
a:hover{
	color: inherit;
}
select.new-assignments{
	border: 1px solid #CED4DA;
	color: rgba(73, 80, 87, 0.5);
}
select.new-assignments:focus{
	outline: 0;
}
/*upload file*/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#homeVideo .modal-dialog {
    max-width: 900px;
}
@media (max-width: 768px){
	.lesson_tab .tab-content {
	    height: 280px;
	}
}

/* NEw Css added by Suresh */
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, 
.tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:2px dashed #c0c5c8;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:2px dashed #c0c5c8;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #94b6c4;
    border-radius:3px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
    cursor:pointer;
	width: 100%;
}
.tree>ul>li::before,
.tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:27px
}
.tree li span:hover {
    background: #76be4e26;
    border:1px solid #94a0b4;
    }

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
    
 .add{
	 background-color: #fff;
	 height: 85%;
 }
.cross{
	color: #fff;
	padding: 4px 5px;
	border-radius: 50%;
	background-color: #76be4e;
	position: absolute;
	font-size: 11px;
	margin-left: -15px;
}


.cross:hover {
	background-color: red;
	transition-duration: 1s;
}



 .imgtoprev{
	 border-radius: 12px;
	 border: 1px solid #cccc;
	
 }

 .horizontal_dotted_line {
    display: flex; 
}

    .horizontal_dotted_line:after {
        border-bottom: 3px dashed #e1e4e8;
        content: '';
        flex: 1;
    }

	/*Added css*/
.lesson_tab .tab-content {
	background: #F6FAF8;
	padding: 10px !important;
}

table thead tr {
	background-color: #b4e1f4 !important;
}

.table-scroll-x-y table thead th, .table.table-head-fixed thead tr th {
	background-color: #0b605f !important;
	color: aliceblue !important;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #e5f2ff;
	font-weight: 500;
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: #eef9f4;
	font-weight: 500;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	background-color: #025a58;
	border-radius: 4px;
}

.imgtoprevlist {
	height: 100px;
	width: auto;
}

.fullimg {
	width: auto;
	height: 600px;
	object-fit: cover;
}

.table-scroll-x-y {
	height: 100% !important;
}

/*.tree li span {
	border: 1px solid #ffff !important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}*/
.updateDate {
	font-weight: 700!important;
	font-size: 11px;
	margin-left:6px;
}

.statusCom {
	background-color: #eef9f4;
	color: #51623f;
	border-radius: 5px;
}

.statusblue {
	background-color: #e5f2ff;
	color: #51623f;
	border-radius: 5px;
}

.statuspurple {
	background-color: #f1ebf8;
	color: #51623f;
	border-radius: 5px;
}

.statusbtn {
	font-weight: 600;
}

.view-btn {
	font-size: 12px;
	padding: 2px 12px;
}