
<style>
    .ui-grid-cell-contents {
        height: auto !important;
    }

    .ui-grid-header {
        height: 60px;
    }

    .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
        position: absolute;
        top: 80%;
    }
</style>
<script src="~/jslib/Infirmary/Report/StudentHealthReport.js?v=20251115"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="StudentHealthController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:33px !important">
                <div class="tab-content pt-3">
                    <div id="root">
                        <div class="card-primary px-0 card-tabs">
                            <!-- Header -->
                            <div id="studentreportList" class="card mb-0 py-2">
                                <header class="row">
                                    <div class="col-md-12 mb-2">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>From Date </label>
                                                <input type="text" class="form-control form-control-sm" date-picker ng-model="newDet.DateFrom_TMP" date-detail="newDet.DateFromDet">
                                            </div>
                                            <div class="col-md-3">
                                                <label>To Date </label>
                                                <input type="text" class="form-control form-control-sm" date-picker ng-model="newDet.DateTo_TMP" date-detail="newDet.DateToDet">
                                            </div>

                                            <div class="col-md-3">
                                                <label>Report Type</label>
                                                <select class="form-control form-control-sm select2 " style="width: 100%;" ng-model="newDet.ReportType">
                                                    <option ng-repeat="tdc in ReportTypeColl" ng-value="tdc.id" ng-selected="tdc.id==newDet.ReportType">
                                                        {{tdc.text}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 mt-4 text-right">
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 70px;" ng-if="newDet.ReportType==1" ng-click="GetStudentHealthReport()"> <i class="fas fa-sync-alt mr-1"></i> Load </button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 70px;" ng-if="newDet.ReportType==2" ng-click="GetStudentHealthPastHistory()"> <i class="fas fa-sync-alt mr-1"></i> Load </button>
                                            </div>
                                        </div>
                                    </div>
                                </header>

                                <div class="card p-0">
                                    <div id="stSummaryDiv" ui-grid="gridOptions1" ng-if="newDet.ReportType==1"
                                         @*ui-grid-pagination*@
                                         ui-grid-resize-columns
                                         ui-grid-move-columns
                                         ui-grid-selection
                                         ui-grid-exporter
                                         ui-grid-pinning
                                         ui-grid-filtering
                                         ui-grid-auto-resize
                                         ui-grid-save-state style="height: calc(100vh - 170px);">
                                    </div>
                                    <div id="stSummaryDiv2" ui-grid="gridOptions2" ng-if="newDet.ReportType==2"
                                         @*ui-grid-pagination*@
                                         ui-grid-resize-columns
                                         ui-grid-move-columns
                                         ui-grid-selection
                                         ui-grid-exporter
                                         ui-grid-pinning
                                         ui-grid-filtering
                                         ui-grid-auto-resize
                                         ui-grid-save-state style="height: calc(100vh - 170px);">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>