<style>
    .btn-add-file {
        padding: 35px 35px;
        border: 2px dotted green;
    }

    .fa-plus-circle {
        color: #28a745;
        font-size: 20px;
    }

    .dz-image img {
        width: 130px;
        height: 130px;
    }
</style>
<link rel="stylesheet" href="/wwwroot/dynamic/css/dropzone.css" />
<script src="/wwwroot/dynamic/js/dropzone.js"></script>
<script src="~/jslib/Communication/Circular.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="CircularController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div class="branch-section card p-2" id="circular-section">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline mb-2">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Circular">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Circular">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search" placeholder="Search" ng-model="searchData.Circular"
                                                   aria-label="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end col-md-8 -->
                            <div class="col-md-5 text-right">
                                <div class="dropdown dnld-file" data-toggle="tooltip" data-placement="top" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item wait" export-excel table-id="'#Circular'" sheet-name="'ClassWiseSubject'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item wait" onClick="$('#Circular').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                        <a class="dropdown-item wait" onClick="$('#Circular').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Print">
                                    <i class="fas fa-print"></i>
                                </a>
                                <button type="button" class="btn btn-sm btn-success" id="add-circular" style="min-width: 90px">
                                    <i class="fas fa-plus w-t"></i> Add Circular
                                </button>
                            </div>
                        </header>
                        <div>
                            <div class="table-scroll-x-y sales-main-table table-scroll mb-2">
                                <table id="Circular" class="main-table table table-sm table-bordered bg-white">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 50px">S.No.</th>
                                            <th style="width: 250px">Name</th>
                                            <th style="width: 150px">Classes</th>
                                            <th style="width: 150px">Department</th>
                                            <th style="width: 110px">Publish Date</th>
                                            <th style="width: 110px">Created On</th>
                                            <th style="width: 200px">Created By</th>
                                            <th style="width: 80px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="cl in CircularList | filter:searchData.Circular | itemsPerPage: perPage.Circular" current-page="currentPages.Circular" pagination-id="CircularPagination">
                                            <td>{{$index+1}}</td>
                                            <td>{{cl.Name}}</td>
                                            <td>{{Cl.Class}}</td>
                                            <td>{{cl.Department}}</td>
                                            <td>{{cl.PublishDate}}<br />{{cl.PublishTime}}</td>
                                            <td>{{cl.CreatedOn}}</td>
                                            <td>{{cl.CreatedBy}}</td>
                                            <td>
                                                <a class="p-1" href="#" ng-click="GetCircularById(cl)">
                                                    <i class="fas fa-edit text-info"></i>
                                                </a>
                                                <a class="p-1" href="#" ng-click="DelCircularById(cl)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table end -->
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="CircularPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- form area starts -->
                <div id="circular-form">
                    <div class="card card-default">
                        <div class="card-body p-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Circular Name</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newCircular.Name" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="">Publish Date</label>
                                                <input type="text" class="form-control form-control-sm" date-picker ng-model="newCircular.PublishDate" date-detail="newCircular.PublishDateDet">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="">Time</label>
                                                <input type="time" class="form-control form-control-sm" ng-model="newCircular.Time">

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="">Circular For</label>
                                                <select class="form-control form-control-sm" ng-model="newCircular.CircularForId">
                                                    <option ng-repeat="C in CircularForList" ng-value="C.id" ng-selected="newCircular.CircularForId==C.id">{{C.text}}</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-md-4" ng-show="newCircular.CircularForId==1||newCircular.CircularForId==3">
                                            <div class="form-group">
                                                <label>Class-Section</label>
                                                <select class="form-control form-control-sm select2" multiple>
                                                    <option value="all">All Classes</option>
                                                    <option>One-A</option>
                                                    <option>One-B</option>
                                                    <option>Two-A</option>
                                                    <option>Two-B</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-show="newCircular.CircularForId==1||newCircular.CircularForId==3">
                                            <div class="form-group">
                                                <label>Student Type</label>
                                                <select class="form-control form-control-sm select2">
                                                    <option>Day Scholar</option>
                                                    <option>Hosteller</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-5" ng-show="newCircular.CircularForId==2||newCircular.CircularForId==3">
                                            <div class="form-group">
                                                <label>Department</label>
                                                <select class="form-control form-control-sm select2" multiple>
                                                    <option>All Department</option>
                                                    <option>Administration</option>
                                                    <option>Teaching</option>
                                                    <option>Science Department</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="">Description</label>
                                                <textarea class="textarea"
                                                          placeholder="Place some text here"
                                                          style="
                                          width: 100%;
                                          height: 200px;
                                          font-size: 14px;
                                          line-height: 18px;
                                          border: 1px solid #dddddd;
                                          padding: 10px;
                                        " html-editor ng-model="newCircular.Description"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="card-body mt-0" id="add-file-area" style="background-color: #eff0ef;">
                                                <label><b>Attach File</b></label>
                                                <div id="actions" class="row">
                                                    <div class="col-md-1 mt-2">
                                                        <div class="btn-group">
                                                            <span class="btn-add-file col fileinput-button">
                                                                <span><i class="fas fa-plus-circle"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-11">
                                                        <div class="d-flex p-2" id="previews" style="overflow-x: auto;">
                                                            <div id="template">
                                                                <a data-dz-remove class="cancel float-right">
                                                                    <i class="fas fa-times-circle" style="  color:#28a745;font-size: 14px;"></i>
                                                                </a>
                                                                <span class="preview ml-2"><img style="height: 95px; width: auto; border: 1px Solid #28a745; " src="data:," alt="" data-dz-thumbnail /></span>
                                                                <div class="align-items-center" style="width: 100%;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- timeline time label -->
                        <div class="time-label pb-3 mt-3">
                            <span class="d-block border-0 p-1 text-center">
                                <button type="button" class="btn btn-sm btn-info" id="back-to-list-circular"
                                        style="min-width: 90px">
                                    Back To List
                                </button>
                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearCircular()">Reset</button>
                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateCircular()">{{newCircular.Mode}}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>




<script type="text/javascript">
    // DropzoneJS Demo Code Start
    Dropzone.autoDiscover = false
    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var previewNode = document.querySelector("#template")
    previewNode.id = ""
    var previewTemplate = previewNode.parentNode.innerHTML
    previewNode.parentNode.removeChild(previewNode)

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/target-url", // Set the url
        thumbnailWidth: 130,
        thumbnailHeight: 130,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
    })
    document.querySelector("#actions .cancel").onclick = function () {
        myDropzone.removeAllFiles(true)
    }
    // DropzoneJS Demo Code End
</script>
