
@{
    ViewBag.Title = "Calender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AngularJs/Transaction/HeightWeight.js"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="HeightWeightController" ng-init="LoadData()">
    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                <section class="p-2">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card">
                            <div id="height-weight-section">

                                <div class="card" id="height-weight-form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Class/Sec</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newHeightAndWeight.SelectedClass" ng-change="GetClassWiseStudentHW()">
                                                        <option ng-value="0">-- Select Class/Section --</option>
                                                        <option ng-repeat="ct in SectionClassColl" ng-value="{{ct}}">
                                                            {{ct.ClassName}} {{ ct.SectionName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Exam</label>
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm select2" style="width:100%" ng-model="newHeightAndWeight.ExamTypeId" ng-change="GetClassWiseStudentHW()">
                                                        <option ng-value="0">-- Select ExamType --</option>
                                                        <option ng-value="{{cl.ExamTypeId}}" ng-selected="cl.ExamTypeId==newHeightAndWeight.ExamTypeId" ng-repeat="cl in ExamTypeColl">{{cl.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                            <table class="table table-bordered table-head-fixed text-nowrap">
                                                <thead class="text-center text-nowrap">
                                                <thead class="text-center text-nowrap">
                                                    <tr>
                                                        <th style="width: 80px">Id</th>
                                                        <th style="width: 150px">Regd. No.</th>
                                                        <th style="width: 50px">Roll No</th>
                                                        <th style="width: 250px">Name</th>
                                                        <th style="width: 150px">Height</th>
                                                        <th style="width: 150px">Weight</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="hw in newHeightAndWeight.StudentList">
                                                        <td>{{hw.AutoNumber}}</td>
                                                        <td>{{hw.RegdNo}}</td>
                                                        <td>{{hw.RollNo}}</td>
                                                        <td>{{hw.Name}}</td>

                                                        <td><input type="text" class="form-control form-control-sm" ng-model="hw.Height"></td>
                                                        <td><input type="text" class="form-control form-control-sm" ng-model="hw.Weight"></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="time-label pb-3 mt-4">
                                            <span class="d-block border-0 text-center">
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearHeightAndWeight()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateHeightAndWeight()">{{newHeightAndWeight.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!-- /.card -->
                        </div>
                    </div>

                </section>
                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>
    </div>
</div>


