
@{
    ViewBag.Title = "MarksEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AngularJs/Creation/MarksEntry.js?v=1"></script>
<div class="content-wrapper" ng-app="myApp" ng-controller="MarksEntryController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid1">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Class Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">Subject Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab"
                                               href="#contact" role="tab" aria-controls="contact"
                                               aria-selected="false">Student Wise</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <!-- Class Wise TAb Starts -->
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-sm-2 col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <select class="form-control form-control-sm " id="cboClassId" ng-model="V.ClassId">
                                                <option ng-repeat="ct in ClassColl  track by $index" value="{{ ct.ClassId }}" ng-selected="ct.ClassId==V.ClassId">
                                                    {{ct.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <select class="form-control form-control-sm select2" id="cboSectionId" ng-model="SectionId" multiple>
                                                <option ng-repeat="ct in SectionClassColl |  filter: { ClassId:V.ClassId } " value="{{ ct.SectionId }}" ng-selected="ct.SectionId==SectionId">
                                                    {{ct.SectionName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Sorting By</span>
                                                </div>
                                                <select name="" id="" form="" class="form-control form-control-sm">
                                                    <option value="">Roll No.</option>
                                                    <option value="">Symbol No.</option>
                                                    <option value="">Regd No.</option>
                                                    <option value="">Name</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-lg-1 col-md-1">
                                        <button type="button" class="btn btn-secondary btn-sm">Import</button>
                                    </div>
                                    @*<div class="col-sm-2 col-lg-2 col-md-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" 
                                                   id="chkColumnFocus" ng-model="SubjectME.ColumnWiseFocus">                                           
                                            <label for="chkColumnFocus"
                                                   class="custom-control-label">Column Wise Focus</label>
                                        </div>
                                    </div>*@
                                </div>
                                <div class="card p-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0"
                                                                id="exampleFormControlSelect1">
                                                            <option>10</option>
                                                            <option>25</option>
                                                            <option>50</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="~/teacherloginFiles/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="~/teacherloginFiles/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                   
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>

                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white" style="height: auto;">
                                            <thead class="text-nowrap">
                                                <tr>
                                                    <th style="width: 100px;">Symbol No.</th>
                                                    <th style="width: 100px;">Regd. No.</th>
                                                    <th style="width: 100px;">Roll No.</th>
                                                    <th style="width: 200px;">Student Name</th>
                                                    <th style="width: 150px;">Subjects Name</th>
                                                    <th style="width: 150px;">Total Obtain Mark</th>
                                                    <th style="width: 250px;">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                    <td>1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <div class="time-label pb-3 mt-4">
                                        <span class="d-block border-0 text-center">
                                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                                            <button type="button" class="btn btn-sm btn-danger" style="min-width: 90px;">Delete</button>
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;">Save</button>

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Class Wise Tab Ends -->
                            <!-- Subject Wise Tab Starts -->
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-sm-2 col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <label>Class/Sec</label>
                                            <select class="form-control form-control-sm select2" id="cboClassId" ng-model="SubjectME.SelectClassSection" ng-change="GetSubjectList()">
                                                <option ng-repeat="ct in SectionClassColl  track by $index" ng-value="{{ct}}">
                                                    {{ct.text}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <label>Exam Type</label>
                                            <select class="form-control form-control-sm "  style="width:100%" ng-model="SubjectME.ExamTypeId" ng-change="GetStudentForSubjectME()">
                                                <option ng-value="0">-- Select ExamType --</option>
                                                <option ng-value="{{cl.ExamTypeId}}" ng-repeat="cl in ExamTypeColl" >{{cl.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <select class="form-control form-control-sm " ng-model="SubjectME.SubjectId" ng-change="GetStudentForSubjectME()">
                                                <option ng-repeat="ct in SubjectColl" ng-value="{{ ct.SubjectId }}">
                                                    {{ct.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-4 col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Sorting By</span>
                                                </div>
                                                <select name="" id="" form="" class="form-control form-control-sm select2" style="width:76%;">
                                                    <option value="">Roll No.</option>
                                                    <option value="">Symbol No.</option>
                                                    <option value="">Regd No.</option>
                                                    <option value="">Name</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>*@

                                    <div class="col-sm-2 col-lg-2 col-md-2">
                                        <div class="custom-control custom-checkbox mt-4">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="chkColumnFocus" ng-model="SubjectME.ColumnWiseFocus">
                                            <label for="chkColumnFocus"
                                                   class="custom-control-label">Column Wise Focus</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card p-2">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Theory Marks : <b>{{newDet.FMTH}}/{{newDet.PMTH}}</b></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Practical Marks : <b>{{newDet.FMPR}}/{{newDet.PMPR}}</b></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Total Students : <b>{{SubjectME.StudentColl.length}}</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inline float-right">
                                                <div class="input-group input-group-sm table-search-filed">
                                                    <input class="form-control form-control-navbar"
                                                           type="search" placeholder="Search"
                                                           aria-label="Search" ng-model="searchData.Subjectwise">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default border-left-0"
                                                                type="submit">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-sm btn-default mx-2" id="back-comment-setup" style="min-width: 90px;" ng-click="ClearSubjectME()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveSubjectME()">Accept</button>
                                            </div>                                          
                                        </div>
                                    </div>
                                    <!-- Table Starts -->
                                    <div class="table-scroll-x-y sales-main-table table-scroll card py-2">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 100px;" ng-click="sort('SymbolNo')">Symbol No.</th>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 100px;" ng-click="sort('RegdNo')">Regd.No.</th>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 100px;" ng-click="sort('RollNo')">Roll No.</th>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 200px;" ng-click="sort('Name')">Student Name</th>
                                                    <th colspan="2" scope="colgroup" class="text-center" style="width: 180px;">Obtained Mark</th>
                                                    <th colspan="2" scope="colgroup" class="text-center" style="width: 180px;">Grace Mark</th>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 180px;" ng-click="sort('Name')">Comments</th>
                                                </tr>
                                                <tr class="text-center">
                                                    <th scope="col" style="top: 35px;width: 90px;">TH</th>
                                                    <th scope="col" style="top: 35px;width: 90px;">PR</th>
                                                    <th scope="col" style="top: 35px;width: 90px;">TH</th>
                                                    <th scope="col" style="top: 35px;width: 90px;">PR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="st in SubjectME.StudentColl | filter:searchData.Subjectwise |orderBy:sortKey:reverse">
                                                    <td>{{st.SymbolNo}}</td>
                                                    <td>{{st.RegdNo}}</td>
                                                    <td>{{st.RollNo}}</td>
                                                    <td align="left">{{st.Name}}</td>
                                                    <td>
                                                        <input type="text" style="text-align: right;" onfocus="this.select();" class="form-control form-control-sm input-sm serial" ng-model="st.ObtainMarkTH" ng-change="ChangeMarkEntry(st,1)" ng-disabled="st.PaperType==2" ng-style="st.IsFailPR && st.IsFailPR==true && { 'color' : 'red' }" />
                                                    </td>
                                                    <td>
                                                        <input type="text" style="text-align: right;" onfocus="this.select();" class="form-control form-control-sm input-sm serial" ng-model="st.ObtainMarkPR" ng-change="ChangeMarkEntry(st,2)" ng-disabled="st.PaperType==1 || st.PaperType==4" ng-style="st.IsFailPR && st.IsFailPR==true && { 'color' : 'red' }" />
                                                    </td>
                                                    <td><input type="number" class="form-control form-control-sm" ng-model="st.GraceMarkTH" ng-disabled="st.PaperType==2 || st.PaperType==4"></td>
                                                    <td><input type="number" class="form-control form-control-sm" ng-model="st.GraceMarkPR" ng-disabled="st.PaperType==1 || st.PaperType==4"></td>
                                                    <td>
                                                        <textarea name="" cols="50" rows="1" ng-model="st.SubjectRemarks" class="form-control form-control-sm"></textarea>
                                                    </td>
                                                </tr>                         
                                            </tbody>
                                        </table>
                                    </div>
                                   
                                </div>

                            </div>
                            <!-- Subject Wise Tab Ends -->
                            <!-- Student Wise Tab Starts -->
                            <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                 aria-labelledby="contact-tab">
                                <div class="row">
                                    <div class="col-sm-2 col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <select class="form-control form-control-sm " ng-change="SelectClass(V)" id="cboClassId" ng-model="V">
                                                    <option ng-repeat="ct in SectionClassColl  track by $index" value="{{ ct}}" ng-selected="ct.ClassId==V">
                                                        {{ct.ClassName}}-{{ct.SectionName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <select class="form-control form-control-sm " @*ng-change="GetStudentForSubjectME()"*@ ng-model="SubjectME.SubjectId">
                                                <option ng-repeat="ct in SubjectColl" ng-value="{{ ct.SubjectId }}" ng-selected="ct.SubjectId==SubjectME.SubjectId">
                                                    {{ct.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <select class="form-control form-control-sm " ng-change="SelectExamTypeId()" style="width:100%" ng-model="SubjectME.ExamTypeId">
                                                <option>-- Select ExamType --</option>
                                                <option value="{{cl.ExamTypeId}}" ng-repeat="cl in ExamTypeColl" ng-selected="cl.ExamTypeId==SubjectME.ExamTypeId">{{cl.Name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-lg-4 col-md-4">

                                        <div class="input-group-prepend">
                                            <select class="input-group-text dropdown-toggle p-0" style="outline: none; border-top-right-radius: unset; border-bottom-right-radius: unset;
                                                              margin-right: -3px;  z-index: 1; ">
                                                <option class="dropdown-item">
                                                    Name
                                                </option>
                                                <option class="dropdown-item">
                                                    RegdNo.
                                                </option>
                                                <option class="dropdown-item">
                                                    Roll No.
                                                </option>
                                                <option class="dropdown-item">
                                                    Id
                                                </option>
                                            </select>
                                            <select class="form-control form-control-sm select2bs4">
                                                <option selected="selected">
                                                    Select Student
                                                </option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>

                                        </div>

                                        
                                    </div>
                                </div>
                                <div class="card p-2">
                                    <!-- Table Starts -->
                                    <div class="table-scroll-x-y sales-main-table table-scroll card">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 200px;">Subject</th>
                                                    <th colspan="2" scope="colgroup" class="text-center" style="width: 180px;">Obtained Mark</th>
                                                    <th colspan="2" scope="colgroup" class="text-center" style="width: 180px;">Grace Mark</th>
                                                </tr>
                                                <tr class="text-center">
                                                    <th scope="col" style="top: 26px;width: 90px;">TH</th>
                                                    <th scope="col" style="top: 26px; width: 90px;">PR</th>
                                                    <th scope="col" style="top: 26px; width: 90px;">TH</th>
                                                    <th scope="col" style="top: 26px; width: 90px;">PR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Social Studies</td>
                                                    <td><input type="text" class="form-control form-control-sm"></td>
                                                    <td><input type="text" class="form-control form-control-sm"></td>
                                                    <td><input type="text" class="form-control form-control-sm"></td>
                                                    <td><input type="text" class="form-control form-control-sm"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <label for="name">Remarks</label>
                                            <textarea class="form-control form-control-sm" rows="1" placeholder=""></textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="name">Full Marks :</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="name">Pass Marks :</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="name">Obtain Marks :</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="name">Obtain % :</label>
                                        </div>
                                    </div>

                                    <div class="time-label mt-2">
                                        <span class="d-block border-0 p-3 text-center">
                                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                                            <button type="button" class="btn btn-sm btn-danger" style="min-width: 90px;">Delete</button>
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;">Save</button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <!-- Student Wise Tab Ends -->

                        </div>
                    </div>

               
            </section>
            <!-- /.row -->

        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
