<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="frmChield" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body mb-0 p-2">
                <iframe class="responsive-iframe" id="frmChieldForm" style="width: 100%; height: 700px; border: none;"></iframe>
            </div>
            <div class="modal-footer p-2">
                <button class="btn btn-success btn-rounded btn-sm ml-4 btn-add text-center" data-dismiss="modal" type="button" style="min-width: 70px;">Close</button>
            </div>
        </div>
    </div>
</div>