<link href="~/wwwroot/dynamic-erp/css/treeview.css" rel="stylesheet" />

<style>
    iframe#webpack-dev-server-client-overlay {
        display: none !important
    }
 
    .fullscreen-modal {
        width: calc(100vw - 2rem) !important;
        height: 96vh !important;
    }

        .fullscreen-modal .modal-content {
            height: 100%;
            border-radius: 0;
        }

    @@media (min-width: 576px) {
        .fullscreen-modal {
            max-width: 100vw !important;
            margin: 1.75rem auto;
        }
    }
</style>

<div id="contextMenuRpt" class="context-menu-rc" style="display: none">
    <ul class="menuRC" style="list-style:none">        
        <li class="share"><a ng-click="DelListState()" class="clickcursor"><i class="fa fa-check" aria-hidden="true"></i>Reset State</a></li>       
    </ul>
</div>

 

<script>

    document.onclick = hideMenu;
    document.oncontextmenu = rightClick;

    function hideMenu() {
        document.getElementById("contextMenuRpt").style.display = "none"
    }

    function rightClick(e) {
        e.preventDefault();

        if (document.getElementById("contextMenuRpt").style.display == "block") {
            hideMenu();
        } else {
            var menu = document.getElementById("contextMenuRpt")
            menu.style.display = 'block';
            menu.style.left = e.pageX + "px";
            menu.style.top = e.pageY + "px";
        }
    }
</script>
 