<!--Modal for email starts-->
<div class="modal fade" id="verifymobileno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h6 class="modal-title" id="exampleModalLabel">Validate OTP(One Time Passcode)</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>OTP has been sent to mobile no {{CurSMSEmailVerify.MobileNo}}. Please enter the OTP to verify your phone.</label>
                    <input type="text" number-input integer="true" formatnumber="false" class="form-control form-control-sm" ng-model="CurSMSEmailVerify.OTP" maxlength="6" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-sm btn-success" ng-click="IsValidOTP(171,CurSMSEmailVerify.OTP,'verifymobileno')">Verify</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-sm btn-default float-right" ng-click="RensendOTP(171,null,CurSMSEmailVerify.MobileNo)">Resend OTP</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Modal for Mobile No starts-->
<div class="modal fade" id="verifyemail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h6 class="modal-title" id="exampleModalLabel">Validate OTP(One Time Passcode)</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>OTP has been sent to your Email. Please enter the OTP to verify your Email.</label>
                    <input type="text" number-input integer="true" formatnumber="false" class="form-control form-control-sm" ng-model="CurSMSEmailVerify.OTP" maxlength="6" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-sm btn-success" ng-click="IsValidOTP(172,CurSMSEmailVerify.OTP,'verifyemail')">Verify</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-sm btn-default float-right" ng-click="RensendOTP(172,CurSMSEmailVerify.EmailId,null)">Resend OTP</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>