<style>
    .card-header h3 {
        font-size: 18px;
        color: #025a58f0 !important;
    }
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.min.js"></script>
<script src="~/jslib/Infrastructure/PIDashboard.js"></script>
<div ng-app="myApp" ng-controller="PIDashboardController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">

                <div id="preview-form">
                    <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-header p-2" style="background-color: #76be4e26;">
                                    <h3 class="card-title text-center" style="float:none;">Land Summary</h3>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive" style="max-height:300px">
                                        <table class="table table-sm table-bordered table-head-fixed bg-white w-100 mb-0">
                                            <thead>
                                                <tr>
                                                    <th style="width: 45px;" class="text-center">S.N.</th>
                                                    <th style="width: 147px;">Total Area</th>
                                                    <th style="width:150px">Ownership</th>
                                                    <th style="width:150px">Utilization</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="cl in LandDetailsList">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td> {{cl.TotalArea}} </td>
                                                    <td>{{cl.OwnerShip}} <span ng-if="cl.OtherOwnerShip">-</span> {{cl.OtherOwnerShip}}</td>
                                                    <td>{{cl.Utilization}} <span ng-if="cl.OtherUtilizationType">-</span> {{cl.OtherUtilizationType}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-header p-2" style="background-color: #76be4e26;">
                                    <h3 class="card-title text-center" style="float:none;">Building Overview</h3>

                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive" style="max-height:300px">
                                        <table class="table table-sm table-bordered table-head-fixed bg-white mb-0 w-100">
                                            <thead>
                                                <tr>
                                                    <th style="width: 45px;" class="text-center">S.N.</th>
                                                    <th style="width: 175px;">Building Name</th>
                                                    <th style="width: 170px;">Building Type</th>
                                                    <th style="width:150px" class="text-center">Total Floors</th>
                                                    <th style="width:150px" class="text-center">Total Class Rooms</th>
                                                    <th style="width:150px" class="text-center">Total Other Rooms</th>
                                                    <th style="width:150px" class="text-center">Total Boys Toilet</th>
                                                    <th style="width:150px" class="text-center">Total Girls Toilet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="cl in BuildingDetailsList">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.OtherBuildingType}}</td>
                                                    <td class="text-center">{{cl.NoOfFloor}}</td>
                                                    <td class="text-center">{{cl.NoOfClassRooms}}</td>
                                                    <td class="text-center">{{cl.NoOfOtherRooms}}</td>
                                                    <td class="text-center">{{cl.BoysToiletNo}}</td>
                                                    <td class="text-center">{{cl.GirlsToiletNo}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-header p-2" style="background-color: #76be4e26;">
                                    <h3 class="card-title text-center" style="float:none;">Vehicle Summary</h3>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive" style="max-height:300px">
                                        <table class="table table-sm table-bordered table-head-fixed bg-white w-100 mb-0">
                                            <thead>
                                                <tr>
                                                    <th style="width: 77px;" class="text-center">SNo</th>
                                                    <th style="width: 77px;" class="text-center">Vehicle No.</th>
                                                    <th style="width: 149px;">Vehicle Name</th>
                                                    <th style="width: 140px;" class="text-center">Capacity</th>
                                                    <th style="width:150px">Fuel Type</th>
                                                    <th style="width:150px">Driver</th>
                                                    <th style="width:150px">Renewal Miti</th>
                                                    <th style="width:150px">Jachpass Miti</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="cl in VehicleSummaryList">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td>{{cl.VehicleNumber}}</td>
                                                    <td>{{cl.VehicleName}}</td>
                                                    <td class="text-center">{{cl.SeatCapacity}}</td>
                                                    <td>{{cl.FuelEngineType}}</td>
                                                    <td>{{cl.Driver}}</td>
                                                    <td>{{cl.RenewalDate_BS}}</td>
                                                    <td>{{cl.JPValidityTo_BS}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-header p-2" style="background-color: #76be4e26;">
                                    <h3 class="card-title text-center" style="float:none;">Room Distribution</h3>
                                </div>
                                <div class="card-body p-0">
                                    <div class="class-detail">
                                        <div class="table-scroll-x-y sales-main-table table-scroll mb-0">
                                            <table class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 35px;" class="text-center">S.No.</th>
                                                        <th style="width: 130px;">Building Name</th>
                                                        <th style="width: 130px;">FloorName</th>
                                                        <th style="width: 130px;">Total Class Rooms</th>
                                                        <th style="width: 70px;">Total Other Rooms</th>
                                                    </tr>
                                                <tbody>
                                                    <tr ng-repeat="cl in RoomDistributionList">
                                                        <td class="text-center">{{$index+1}}</td>
                                                        <td>{{cl.BuildingName}}</td>
                                                        <td>{{cl.FloorName}}</td>
                                                        <td>{{cl.NoOfClassRooms}}</td>
                                                        <td>{{cl.NoOfOtherRooms}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-header p-2" style="background-color: #76be4e26;">
                                    <h3 class="card-title text-center" style="float:none;">Asset Summary</h3>
                                </div>
                                <div class="card-body p-2">
                                    <div ng-repeat="S in AllAssetsList">
                                        <div class="row mt-2">
                                            <div class="col-md-4">
                                                <label>Building Name: <b>{{S.BuildingName}}</b></label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Floor Name: <b>{{S.FloorName}}</b></label>
                                            </div>
                                        </div>
                                        @*Table*@
                                        <div class="table-scroll table-scroll-x-y sales-main-table mt-2">
                                            <table class="table table-bordered table-sm bg-white" id="main-table">
                                                <thead class="text-nowrap">
                                                    <tr>
                                                        <th style="width:56px">S.No</th>
                                                        <th style="width:150px">Room Type</th>
                                                        <th style="width:150px">Room Name</th>
                                                        <th style="width:150px">Product</th>
                                                        @*<th style="width:80px">Action</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="cl in S.ChieldColl">
                                                        <td>{{$index+1}}</td>
                                                        <td>
                                                            <span ng-if="cl.RoomTypeId == 1">Class Room</span>
                                                            <span ng-if="cl.RoomTypeId != 1">Other Room</span>
                                                        </td>
                                                        <td>{{cl.RoomName}}</td>
                                                        <td>{{cl.ProductName}} ({{cl.Qty}})</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-info" style="min-width: 90px;" id="add-preview" ng-click="PrintData()">Print</button>
                    </span>
                </div>

                <div id="print-form">
                    <div id="printcard">
                        <div class="row" id="header-det">
                            <div class="col-md-2 text-center">
                                <img ng-src="{{ Logo.LogoPath}}" class="img-fluid" style="height:120px; width:auto;" />
                            </div>

                            <div class="col-md-8 text-center">
                                <h3 class="mb-3 text-secondary" style="font-family: 'Cambria', serif; font-weight: bold; letter-spacing: 1px; font-size: 32px">
                                    {{newCompanyDet.Name}}
                                </h3>
                                <h6 style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 20px;">
                                    Affiliated to {{newCompanyDet.Affiliated}}
                                </h6>
                                <h6 style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 20px;">
                                    {{newCompanyDet.Address}}
                                </h6>

                                <p class="mb-0" style="font-family: 'Times New Roman', serif; font-size: 20px; font-weight: bold;">
                                    {{newCompanyDet.PhoneNo}}
                                </p>
                                <p style="font-family: 'Times New Roman', serif; font-size: 20px; font-weight: bold;">
                                    {{newCompanyDet.EmailId}}
                                </p>
                            </div>

                            <div class="col-md-2 text-center">
                                <img ng-src="{{ Logo.AffiliatedLogo}}" class="img-fluid" style="height:120px; width:auto;" />
                            </div>
                        </div>

                        <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-header p-2" style="background-color: #76be4e26;">
                                        <h3 class="card-title text-center" style="float:none; color: #025A58!important">
                                            Land Summary
                                        </h3>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-bordered table-head-fixed bg-white w-100 mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 45px;" class="text-center">S.N.</th>
                                                        <th style="width: 147px;">Total Area</th>
                                                        <th style="width:150px">Ownership</th>
                                                        <th style="width:150px">Utilization</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="cl in LandDetailsList">
                                                        <td class="text-center">{{$index+1}}</td>
                                                        <td> {{cl.TotalArea}} </td>
                                                        <td>{{cl.OwnerShip}} <span ng-if="cl.OtherOwnerShip">-</span> {{cl.OtherOwnerShip}}</td>
                                                        <td>{{cl.Utilization}} <span ng-if="cl.OtherUtilizationType">-</span> {{cl.OtherUtilizationType}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-header p-2" style="background-color: #76be4e26;">
                                        <h3 class="card-title text-center" style="float:none;color: #025A58!important">
                                            Building Overview
                                        </h3>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-bordered table-head-fixed bg-white w-100 mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 45px;" class="text-center">S.N.</th>
                                                        <th style="width: 175px;">Building Name</th>
                                                        <th style="width: 170px;">Building Type</th>
                                                        <th style="width:150px" class="text-center">Total Floors</th>
                                                        <th style="width:150px" class="text-center">Total Class Rooms</th>
                                                        <th style="width:150px" class="text-center">Total Other Rooms</th>
                                                        <th style="width:150px" class="text-center">Total Boys Toilet</th>
                                                        <th style="width:150px" class="text-center">Total Girls Toilet</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="cl in BuildingDetailsList">
                                                        <td class="text-center">{{$index+1}}</td>
                                                        <td>{{cl.Name}}</td>
                                                        <td>{{cl.OtherBuildingType}}</td>
                                                        <td class="text-center">{{cl.NoOfFloor}}</td>
                                                        <td class="text-center">{{cl.NoOfClassRooms}}</td>
                                                        <td class="text-center">{{cl.NoOfOtherRooms}}</td>
                                                        <td class="text-center">{{cl.BoysToiletNo}}</td>
                                                        <td class="text-center">{{cl.GirlsToiletNo}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-header p-2" style="background-color: #76be4e26;">
                                        <h3 class="card-title text-center" style="float: none; color: #025A58 !important">Vehicle Summary</h3>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-bordered table-head-fixed bg-white w-100 mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 77px;" class="text-center">SNo</th>
                                                        <th style="width: 85px;" class="text-center">Vehicle No.</th>
                                                        <th style="width: 149px;">Vehicle Name</th>
                                                        <th style="width: 140px;" class="text-center">Capacity</th>
                                                        <th style="width:150px">Fuel Type</th>
                                                        <th style="width:150px">Driver</th>
                                                        <th style="width:150px">Renewal Miti</th>
                                                        <th style="width:150px">Jachpass Miti</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="cl in VehicleSummaryList">
                                                        <td class="text-center">{{$index+1}}</td>
                                                        <td>{{cl.VehicleNumber}}</td>
                                                        <td>{{cl.VehicleName}}</td>
                                                        <td class="text-center">{{cl.SeatCapacity}}</td>
                                                        <td>{{cl.FuelEngineType}}</td>
                                                        <td>{{cl.Driver}}</td>
                                                        <td>{{cl.RenewalDate_BS}}</td>
                                                        <td>{{cl.JPValidityTo_BS}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-header p-2" style="background-color: #76be4e26;">
                                        <h3 class="card-title text-center" style="float: none; color: #025A58 !important">Room Distribution</h3>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="class-detail">
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 35px;" class="text-center">S.No.</th>
                                                            <th style="width: 130px;">Building Name</th>
                                                            <th style="width: 130px;">FloorName</th>
                                                            <th style="width: 130px;">Total Class Rooms</th>
                                                            <th style="width: 70px;">Total Other Rooms</th>
                                                        </tr>
                                                    <tbody>
                                                        <tr ng-repeat="cl in RoomDistributionList">
                                                            <td class="text-center">{{$index+1}}</td>
                                                            <td>{{cl.BuildingName}}</td>
                                                            <td>{{cl.FloorName}}</td>
                                                            <td>{{cl.NoOfClassRooms}}</td>
                                                            <td>{{cl.NoOfOtherRooms}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-2" style=" border: 1px solid #76be4ea1;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-header p-2" style="background-color: #76be4e26;">
                                        <h3 class="card-title text-center" style="float: none; color: #025A58 !important">Asset Summary</h3>
                                    </div>
                                    <div class="card-body p-2">
                                        <div ng-repeat="S in AllAssetsList">
                                            <div class="row mt-2">
                                                <div class="col-md-4">
                                                    <label>Building Name: <b>{{S.BuildingName}}</b></label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Floor Name: <b>{{S.FloorName}}</b></label>
                                                </div>
                                            </div>
                                            @*Table*@
                                            <div class="table-scroll table-scroll-x-y sales-main-table mt-2">
                                                <table class="table table-bordered table-sm bg-white" id="main-table">
                                                    <thead class="text-nowrap">
                                                        <tr>
                                                            <th style="width:56px">S.No</th>
                                                            <th style="width:150px">Room Type</th>
                                                            <th style="width:150px">Room Name</th>
                                                            <th style="width:150px">Product</th>
                                                            @*<th style="width:80px">Action</th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cl in S.ChieldColl">
                                                            <td>{{$index+1}}</td>
                                                            <td>
                                                                <span ng-if="cl.RoomTypeId == 1">Class Room</span>
                                                                <span ng-if="cl.RoomTypeId != 1">Other Room</span>
                                                            </td>
                                                            <td>{{cl.RoomName}}</td>
                                                            <td>{{cl.ProductName}} ({{cl.Qty}})</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>