
<script src="~/jslib/Infrastructure/BuildingType.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="BuildingTypeController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div id="table-section">
                    <div class="card">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.BuildingType">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.BuildingType">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search" placeholder="Search" ng-model="searchData.BuildingType"
                                                   aria-label="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-md-5 text-right">
                                <button type="button" class="btn btn-sm btn-success" id="add-BuildingType"
                                        style="min-width: 90px" ng-click="ClearBuildingType()">
                                    <i class="fas fa-plus w-t"></i> Add Building Type
                                </button>
                            </div>
                        </header>
                        <div>
                            @*Table*@
                            <div class="table-scroll table-scroll-x-y sales-main-table">
                                <table class="table table-bordered table-sm bg-white" id="main-table">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width:50px">S.N</th>
                                            <th style="width:150px">Name</th>
                                            <th style="width:250px">Description</th>
                                            <th style="width:80px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="cl in BuildingTypeList | filter:searchData.BuildingType | itemsPerPage: perPage.BuildingType" current-page="currentPages.BuildingType" pagination-id="BuildingTypePagination">
                                            <td>{{$index+1}}</td>
                                            <td>{{cl.Name}}</td>
                                            <td>{{cl.Description}}</td>
                                            <td>
                                                <button ng-click="GetBuildingTypeById(cl)" class="btn btn-link p-0"><i class="p-1 fas fa-edit text-info"></i></button>
                                                <button ng-click="DelBuildingTypeById(cl)" class="btn btn-link p-0"><i class="p-1 fas fa-trash-alt text-danger"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="BuildingTypePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- form area starts -->

                <div id="add-BuildingType-form">
                    <div class="card card-default">
                        <div class="card-body py-2 px-0">
                            <form>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="Name" class="form-label">Name</label>
                                            <input type="text" ng-model="newDet.Name" class="form-control form-control-sm" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">OrderNo</label>
                                            <input type="number" ng-model="newDet.OrderNo" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Description</label>
                                        <input type="text" ng-model="newDet.Description" class="form-control form-control-sm" />
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-sm btn-info" id="BuildingTypeback-btn" ng-click="ClearBuildingType()" style="min-width:75px;">Back</button>
                                    <button class="btn btn-sm btn-default ml-1" style="min-width:75px;" ng-click="ClearBuildingType()">Reset</button>
                                    <button class="btn btn-sm btn-success ml-1" style="min-width:75px;" ng-click="SaveUpdateBuildingType()">{{newDet.Mode}}</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- form area ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
