
<script src="~/jslib/Infrastructure/LandDetails.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="LandDetailsController" ng-init="LoadData()">

    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:53px!important">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <div class="tab-content" id="Utilities-table">
                        <div id="class-section" class="card">
                            <header class="row">
                                <div class="col-md-7">
                                    <div class="clearfix">
                                        <form class="form-inline">
                                            <div class="input-group input-group-sm mr-sm-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Show</span>
                                                </div>
                                                <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.LandDetails">
                                                    <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.LandDetails">{{pp.text}}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-white"><small>entries</small></span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm table-search-filed">
                                                <input class="form-control form-control-navbar"
                                                       type="search" placeholder="Search"
                                                       aria-label="Search" ng-model="searchData.LandDetails">
                                                <div class="input-group-append">
                                                    <button class="btn btn-default border-left-0"
                                                            type="submit">
                                                        <i class="fas fa-search"></i>
                                                    </button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end col-md-8 -->
                                <div class="col-md-5 text-right">
                                    <div class="dropdown dnld-file ml-2" data-toggle="tooltip"
                                         data-placement="top" title="Download File">
                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-download"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <span class="dropdown-item">Choose an option:</span>
                                            <a class="dropdown-item wait" export-excel table-id="'#Class'" sheet-name="'ClassList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                            <a class="dropdown-item wait" onClick="$('#Class').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                        </div>
                                    </div>
                                    <a print-tbl table-id="'#Class'" href="#" class="btn btn-secondary btn-light btn-sm"
                                       data-toggle="tooltip" data-placement="top" title="Print">
                                        <i class="fas fa-print"></i>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-success" id="add-Utilities" style="min-width: 90px" ng-click="ClearLandDetails()">
                                        <i class="fas fa-plus w-t"></i> Add Land Details
                                    </button>
                                </div>
                            </header>
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered th-fixed-top bg-white mb-1 w-100">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th class="text-center" style="width:50px">S.N</th>
                                            <th style="width:150px">Land-Area</th>
                                            <th style="width:150px">Sheet No</th>
                                            <th style="width:150px">Kitta No</th>
                                            <th style="width:150px">Ownership</th>
                                            <th style="width:150px">Utilization</th>

                                            <th class="text-center" style="width:70px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="LD in LandDetailsList | filter:searchData.LandDetails | itemsPerPage: perPage.LandDetails" current-page="currentPages.LandDetails" pagination-id="LandDetailsPagination">
                                            <td class="text-center"> {{$index+1}} </td>
                                            <td> {{LD.TotalArea}} {{LD.unit}}</td>
                                            <td>{{LD.sheetNo}}</td>
                                            <td>{{LD.kittaNo}}</td>
                                            <td>{{LD.OwnerShip}} <span ng-if="LD.OtherOwnerShip">-</span> {{LD.OtherOwnerShip}}</td>
                                            <td>{{LD.Utilization}} <span ng-if="LD.OtherUtilizationType">-</span> {{LD.OtherUtilizationType}}</td>

                                            <td class="text-center" style="right:0;background-color:#ffffff!important;z-index:2">
                                                <a class="p-1" ng-click="GetAtt(LD)">
                                                    <i class="fas fa-eye text-secondary"></i>
                                                </a>
                                                <a class="p-1" ng-click="GetLandDetailsById(LD)">
                                                    <i class="fas fa-edit text-info"></i>
                                                </a>

                                                <a class="p-1" ng-click="DelLandDetailsById(LD,$index)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <footer class="row align-items-center">
                                <div class="col-md-12">
                                    <dir-pagination-controls pagination-id="LandDetailsPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                </div>
                            </footer>

                        </div>
                    </div>

                    <div id="add-Utilities-form">
                        <div class="card card-default">
                            <div class="card-body py-2 px-0">
                                <div class="row">
                                    <div class="col-md-4 ">
                                        <label for="formInput" class="form-label">Total Land Area<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newDet.TotalArea">
                                    </div>

                                    <div class="col-md-4 ">
                                        <label for="formInput" class="form-label">Unit</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newDet.unit" >
                                    </div>

                                    <div class="col-md-4 ">
                                        <label for="formInput" class="form-label">Sheet No</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newDet.sheetNo" >
                                    </div>

                                    <div class="col-md-4 ">
                                        <label for="formInput" class="form-label">kitta No</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newDet.kittaNo" >
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Ownership <span style="color: red;">*</span></label>
                                            <select class="form-select form-control form-control-sm select2" ng-model="newDet.OwnerShipId">
                                                <option ng-repeat="B in OwnerShipDetcoll" ng-value="B.id" ng-selected="B.id==newDet.OwnerShipId">{{B.text}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4" ng-show="newDet.OwnerShipId == 7">
                                        <label>Ownership(Others)</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newDet.OtherOwnerShip" placeholder="Ownership (Others)">
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Utilization <span style="color: red;">*</span></label>
                                            <select class="form-select form-control form-control-sm select2" ng-model="newDet.UtilizationId">
                                                <option ng-repeat="A in UtilizationColl" ng-value="A.id" ng-selected="A.id==newDet.UtilizationId">{{A.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="newDet.UtilizationId == 5">
                                        <label>Utilization(Others)</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newDet.OtherUtilizationType" placeholder="Utilization (Others)">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="d-flex">Attachment</label>
                                            <input id="choose-file" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" file-model ng-model="newDet.Attachment_TMP" fileread="newDet.AttachmentData" />
                                            <img ng-src="{{newDet.Attachment ||newDet.AttachmentData}}" class="img-fluid mt-2" id="imgPhotoAttachment" style="max-height:100px; max-width:100px;">
                                        </div>
                                    </div>

                                    <div class="col-md-4 ">
                                        <label class="remarks-content">Remarks</label>
                                        <textarea class="form-control form-control-sm" rows="1" style="width:100%" placeholder="Remarks" ng-model="newDet.LandRemarks"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-3" style="gap:0.5rem;">
                                <button class="btn btn-sm btn-info" id="deviceback-btn" style="width:100px">Back to List</button>
                                <button class="btn btn-sm btn-default" style="width:100px" ng-click="ClearLandDetails()">Reset</button>
                                <button class="btn btn-sm btn-success" style="width:100px" ng-click="SaveUpdateLandDetails()">Save</button>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="modal fade" id="PersonalImg3" tabindex="-1" role="dialog" aria-labelledby="personalImgLabel3" aria-hidden="true" style="margin-top:22px;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="p-2">
                                            <h5 class="modal-title" id="personalImgLabel3">View Attachment</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-inline float-right p-2">
                                            <a ng-href="{{viewImg2.ContentPath}}" download class="btn btn-sm btn-default mx-2" ng-if="viewImg2.FileType === 'pdf'"><i class="fas fa-download text-success"></i></a>
                                            <a  class="btn btn-default btn-sm mr-2" data-dismiss="modal" aria-label="Close">
                                               <i class="fas fa-times text-danger"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                              

                            </div>
                            <div class="modal-body p-1">
                                <!-- PDF Viewer -->
                                <iframe ng-if="viewImg2.FileType === 'pdf'" id="pdfViewer2" ng-src="{{viewImg2.ContentPath}}"
                                        style="width: 100%; height: 600px; border: none;"></iframe>

                                <!-- Image Viewer -->
                                <img ng-if="viewImg2.FileType === 'image'" ng-src="{{viewImg2.ContentPath}}"
                                     alt="Preview Image" style="width: 100%; height: auto;">
                            </div>
                            
                        </div>
                    </div>
                </div>



            </section>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
