<script>
    var API_KEY="@ViewBag.API_KEY";
</script>
<script src="~/jslib/Infrastructure/VehicleDetails.js"></script>
<style>
    #map {
        height: 300px;
        width: 600px;
    }
</style>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="TransportSetupController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:55px!important">
                <div class="tab-content1">
                    <div id="driver-section" class="card mb-0">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.VehicleDetails">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.VehicleDetails">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search" placeholder="Search"
                                                   aria-label="Search" ng-model="searchData.VehicleDetails">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0"
                                                        type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-md-5 text-right">
                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                     data-placement="top" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item wait" export-excel table-id="'#main-table'" sheet-name="'FloorList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item wait" onClick="$('#main-table').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                    </div>
                                </div>
                                <a print-tbl table-id="'#main-table'" class="btn btn-secondary btn-light btn-sm wait" title="Print">
                                    <i class="fas fa-print"></i>
                                </a>
                                <button type="button" class="btn btn-sm btn-success" id="add-driver" style="min-width: 90px">
                                    <i class="fas fa-plus w-t"></i> Add Vehicle
                                </button>
                            </div>
                        </header>
                        <div>
                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="main-table"
                                       class="main-table table table-sm table-bordered bg-white">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px">S.No.</th>
                                            <th style="width: 150px">Vehicle Name</th>
                                            <th style="width: 130px">Vehicle No.</th>
                                            <th style="width: 105px">Total Capacity</th>
                                            <th style="width: 200px">Driver</th>
                                            <th style="width: 100px">Renewal Miti</th>
                                            <th style="width: 100px">Jachpass Miti</th>
                                            <th style="width: 85px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="cl in VehicleDetailsList | filter:searchData.VehicleDetails | itemsPerPage: perPage.VehicleDetails" current-page="currentPages.VehicleDetails" pagination-id="VehicleDetailsPagination">
                                            <td>{{$index+1}}</td>
                                            <td>{{cl.VehicleName}}</td>
                                            <td>{{cl.VehicleNumber}}</td>
                                            <td>{{cl.SeatCapacity}}</td>
                                            <td>{{cl.Driver}}</td>
                                            <td>{{cl.RenewalDate_BS}}</td>
                                            <td>{{cl.JPValidityTo_BS}}</td>
                                            <td>
                                                <a class="p-1" ng-click="GetAtt(cl)">
                                                    <i class="fas fa-eye text-secondary"></i>
                                                </a>
                                                <a class="p-1" href="#" ng-click="GetVehicleDetailsById(cl)">
                                                    <i class="fas fa-edit text-info"></i>
                                                </a>

                                                <a class="p-1" href="#" ng-click="DelVehicleDetailsById(cl)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                                <a class="p-1" href="#" ng-click="PrintVehicleById(cl)">
                                                    <i class="fas fa-print text-success"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table end -->
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="VehicleDetailsPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                        </footer>
                    </div>
                    @*Vehicle Details Form Starts*@
                    <div id="driver-form">
                        <div class="card py-2">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Vehicle Name</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newVehicleDetails.VehicleName">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Vehicle Number</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newVehicleDetails.VehicleNumber">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Seat Capacity</label>
                                                <input type="number" class="form-control form-control-sm" ng-model="newVehicleDetails.SeatCapacity">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Engine No.</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newVehicleDetails.EngineNo">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Chasis No.</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newVehicleDetails.ChassisNo">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Fuel Engine Type</label>
                                                <select class="form-control form-control-sm select2" ng-model="newVehicleDetails.FuelEngineType">
                                                    <option ng-value="m" ng-repeat="m in FuleTypes">{{m}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Naamsari Miti</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" date-picker ng-model="newVehicleDetails.NaamsariMiti_TMP" date-detail="newVehicleDetails.NaamsariMitiDet">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Renewal Miti</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" date-picker ng-model="newVehicleDetails.RenewalMiti_TMP" date-detail="newVehicleDetails.RenewalMitiDet">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Manufacturing Year</label>
                                                <input type="number"
                                                       class="form-control form-control-sm" ng-model="newVehicleDetails.MFGYear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="" class="invisible">Photo</label>
                                    <div class="person-photo-attachment-wrap text-center">
                                        <div class="img-wrap mx-auto" style="width:100%;">
                                            <img ng-src="{{newVehicleDetails.PhotoData || newVehicleDetails.ImagePath}}" class="img-fluid" alt="" id="imgPhoto1">
                                        </div>
                                        <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updatePhoto">
                                            <i class="fas fa-camera w-t"></i> Vehicle Photo
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Jachpass No</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newVehicleDetails.JachpassNo">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Validity From</label>
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="newVehicleDetails.ValidFrom_TMP" date-detail="newVehicleDetails.ValidFromDet">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Validity To</label>
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="newVehicleDetails.ValidTo_TMP" date-detail="newVehicleDetails.ValidToDet">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <textarea class="form-control form-control-sm" rows="1" ng-model="newVehicleDetails.JPRemarks"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Insurance No</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newVehicleDetails.InsuranceNo">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Validity From</label>
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="newVehicleDetails.InsuranceValidFrom_TMP" date-detail="newVehicleDetails.InsuranceValidFromDet">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Validity To</label>
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="newVehicleDetails.InsuranceValidTo_TMP" date-detail="newVehicleDetails.InsuranceValidToDet">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <textarea class="form-control form-control-sm" rows="1" ng-model="newVehicleDetails.IRemarks"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Incharge</label>
                                        <select class="form-control select2bs4 form-control-sm" id="cboIncharge" all-employee ng-model="newVehicleDetails.InChargeId" employee-detail="newVehicleDetails.InchargeDetails" side-bar-data="newVehicleDetails.InchargeSideBarData" search-by="newVehicleDetails.EmployeeSearchBy" ng-change="ChangeIncharge()">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Driver</label>
                                        <select class="form-control select2bs4 form-control-sm" id="cboDriver" all-employee ng-model="newVehicleDetails.DriverId" employee-detail="newVehicleDetails.DriverDetails" side-bar-data="newVehicleDetails.DriverSideBarData" search-by="newVehicleDetails.EmployeeSearchBy">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Conductor</label>
                                        <select class="form-control select2bs4 form-control-sm" id="cboConductor" all-employee ng-model="newVehicleDetails.ConductorId" employee-detail="newVehicleDetails.ConductorDetails" side-bar-data="newVehicleDetails.ConductorSideBarData" search-by="newVehicleDetails.EmployeeSearchBy">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">GPS Device</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newVehicleDetails.GPSDevice">
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="add-more-than-one-form-block">
                                <label><b>Attach  Document(s)</b></label>
                                <article>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Type Of Document</label>
                                                <select class="form-control form-control-sm select2" ng-model="docType">
                                                    <option ng-value="dc" ng-repeat="dc in DocumentTypeList">{{dc.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Attach Document</label>
                                                        <div class="form-group">
                                                            <input type="file" id="flMoreFiles" class="form-control-file border p-0 bg-white" file-model ng-model="attachFile">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <input type="text" class="form-control form-control-sm"
                                                               ng-model="docDescription"
                                                               placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="d-flex">
                                                        <div>
                                                            <label class="invisible d-block">for height</label>
                                                            <button type="button" class="btn btn-sm btn-outline-secondary light-btn" ng-click="AddMoreFiles(attachFile,docType,docDescription)"><i class="fas fa-plus"></i> Add More</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="pb-2">
                                <div class="table-responsive">
                                    <table class="table table-hover border bg-white">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 20px">SN.</th>
                                                <th scope="col" style="width: 40%">Document Type</th>
                                                <th scope="col">File Name</th>
                                                <th scope="col">Description</th>
                                                <th scope="col" style="width: 130px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="ac in newVehicleDetails.AttachmentColl">
                                                <th scope="row">{{$index+1}}</th>
                                                <td>{{ac.DocumentTypeName}}</td>
                                                <td>{{ac.Name}}</td>
                                                <td>{{ac.Description}}</td>
                                                <td>
                                                    <div>
                                                        <a ng-hide="ac.Path==null" class="p-1" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="View doc">
                                                            <i class="fas fa-eye text-secondary"></i>
                                                        </a>
                                                        <a ng-hide="ac.Path==null" class="p-1" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download doc.">
                                                            <i class="fas fa-download  text-info"></i>
                                                        </a>
                                                        <a class="p-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete doc." ng-click="delAttachmentFiles($index)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <button type="button" class="btn btn-sm btn-info" id="back-driver-list"
                                            style="min-width: 90px">
                                        Back to List
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearVehicleDetails()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateVehicleDetails()">{{newVehicleDetails.Mode}}</button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div id="printpart">
                        <div id="printcard">

                            <div class="row ">
                                <div class="col-md-2 text-center">
                                    <img ng-src="{{ Logo.LogoPath}}" class="img-fluid" style="height:120px; width:auto;" />
                                </div>

                                <div class="col-md-8 text-center">
                                    <h3 class="mb-3 text-secondary" style="font-family: 'Cambria', serif; font-weight: bold; letter-spacing: 1px; font-size: 32px">
                                        {{newCompanyDet.Name}}
                                    </h3>
                                    <h6 style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 20px;">
                                        Affiliated to {{newCompanyDet.Affiliated}}
                                    </h6>
                                    <h6 style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 20px;">
                                        {{newCompanyDet.Address}}
                                    </h6>

                                    <p class="mb-0" style="font-family: 'Times New Roman', serif; font-size: 20px; font-weight: bold;">
                                        {{newCompanyDet.PhoneNo}}
                                    </p>
                                    <p style="font-family: 'Times New Roman', serif; font-size: 20px; font-weight: bold;">
                                        {{newCompanyDet.EmailId}}
                                    </p>
                                </div>

                                <div class="col-md-2 text-center">
                                    <img ng-src="{{ Logo.AffiliatedLogo}}" class="img-fluid" style="height:120px; width:auto;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="card mb-2" style=" border: 1px solid #ececec;">
                                        <div class="card-header p-2 text-center" style="background-color: #f1f1f1;">
                                            <h3 class="card-title" style="float: none; color: #025A58!important">Vehicle Information</h3>
                                        </div>
                                        <div class="card-body p-2">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Vehicle Name</label>
                                                                <label><b> : {{newVehicleDetails.VehicleName}}</b></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Vehicle Number</label>
                                                                <label><b> : {{newVehicleDetails.VehicleNumber}}</b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Seat Capacity</label>
                                                                <label><b> : {{newVehicleDetails.SeatCapacity}}</b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Engine No</label>
                                                                <label><b> : {{newVehicleDetails.EngineNo}} </b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Chasis No</label>
                                                                <label><b> :  {{newVehicleDetails.ChassisNo}} </b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Fuel Engine Type</label>
                                                                <label><b> :  {{newVehicleDetails.FuelEngineType}} </b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Naamsari Miti</label>
                                                                <label><b> :  {{newVehicleDetails.NamsariMiti}} </b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Renewal Miti</label>
                                                                <label><b> :  {{newVehicleDetails.RenewalMiti}} </b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Manufacturing Year</label>
                                                                <label><b> :  {{newVehicleDetails.MFGYear}} </b></label>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="person-photo-attachment-wrap text-center">
                                                        <div class="img-wrap mx-auto" style="width:100%; border:none!important">
                                                            <img ng-src="{{ (newVehicleDetails.PhotoData || newVehicleDetails.ImagePath) + '?t=' + timestamp }}" class="img-fluid" alt="" id="imgPhoto1">

                                                            @*<img ng-src="{{newVehicleDetails.PhotoData || newVehicleDetails.ImagePath}}" class="img-fluid" alt="" id="imgPhoto1">*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-2" style=" border: 1px solid #ececec;">
                                        <div class="card-header p-2 text-center" style="background-color: #f1f1f1;">
                                            <h3 class="card-title" style="float: none; color: #025A58!important">Jachpass Detail</h3>
                                        </div>
                                        <div class="card-body p-2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Jachpass No</label>
                                                                <label><b> :  {{newVehicleDetails.JachpassNo}} </b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Validity From</label>
                                                                <label><b> :  {{newVehicleDetails.JPValidFromMiti}} </b></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Validity To</label>
                                                                <label><b> :  {{newVehicleDetails.JPValidToMiti}} </b></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Remarks</label>
                                                                <label><b> :  {{newVehicleDetails.JPRemarks}} </b></label>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-2" style=" border: 1px solid #ececec;">
                                        <div class="card-header p-2 text-center" style="background-color: #f1f1f1;">
                                            <h3 class="card-title" style="float: none; color: #025A58!important">Insurance Detail</h3>
                                        </div>
                                        <div class="card-body p-2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Insurance No</label>
                                                                <label><b> :  {{newVehicleDetails.InsuranceNo}} </b></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Validity From</label>
                                                                <label><b> :  {{newVehicleDetails.IValidityFromMiti}} </b></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Validity To</label>
                                                                <label><b> :  {{newVehicleDetails.IValidityToMiti}} </b></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Remarks</label>
                                                                <label><b> :  {{newVehicleDetails.IRemarks}} </b></label>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-2" style=" border: 1px solid #ececec;">
                                        <div class="card-header p-2 text-center" style="background-color: #f1f1f1;">
                                            <h3 class="card-title" style="float: none; color: #025A58!important">Other Detail</h3>
                                        </div>
                                        <div class="card-body p-2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">



                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Incharge</label>
                                                                <label><b> :  {{newVehicleDetails.InCharge}} </b></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Driver</label>
                                                                <label><b> :  {{newVehicleDetails.Driver}} </b></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">Conductor</label>
                                                                <label><b> :  {{newVehicleDetails.Conductor}} </b></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label style="width: 120px;">GPS Device</label>
                                                                <label><b> :  {{newVehicleDetails.GPSDevice}} </b></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                   
          </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>

    <div class="modal fade" id="updatePhoto" tabindex="-1" aria-labelledby="updatePhotoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePhotoLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newVehicleDetails.Photo_TMP" @*after-selected="AddVehicleDetailsPhoto()"*@ fileread="newVehicleDetails.PhotoData">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newVehicleDetails.PhotoData || newVehicleDetails.ImagePath}}" class="img-fluid" id="imgPhoto">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-file" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-file" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newVehicleDetails.Photo_TMP" @*after-selected="AddVehicleDetailsPhoto()"*@ fileread="newVehicleDetails.PhotoData" />
                    <a ng-click="ClearVehicleDetailsPhoto()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAuthorImage()">Save</button>*@
                </div>
            </div>
        </div>
    </div>

    <!-- model form for table input -->
    <div class="modal fade"
         id="modal-map"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         style="margin-top: 100px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Choose Location of <i><u>{{getMapTitle(newTransportRoute.MapType)}}</u></i>
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <div aria-hidden="true">&times;</div>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            Lat : {{CurLatLng.Lat}}
                        </div>
                        <div class="col-md-6">
                            Lng : {{CurLatLng.Lng}}
                        </div>
                    </div>
                    <div style="padding:10px">
                        <div id="map" style="width:100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal form for table input close -->


    <div class="modal fade" id="PersonalImg3" tabindex="-1" role="dialog" aria-labelledby="personalImgLabel3" aria-hidden="true" style="margin-top:22px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="p-2">
                                <h5 class="modal-title" id="personalImgLabel3">View Attachment</h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-inline float-right p-2">
                                <a ng-href="{{viewImg2.ContentPath}}" download class="btn btn-sm btn-default mx-2" ng-if="viewImg2.FileType === 'pdf'"><i class="fas fa-download text-success"></i></a>
                                <a class="btn btn-default btn-sm mr-2" data-dismiss="modal" aria-label="Close">
                                    <i class="fas fa-times text-danger"></i>
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-body p-1">
                    <!-- PDF Viewer -->
                    <iframe ng-if="viewImg2.FileType === 'pdf'" id="pdfViewer2" ng-src="{{viewImg2.ContentPath}}"
                            style="width: 100%; height: 600px; border: none;"></iframe>

                    <!-- Image Viewer -->
                    <img ng-if="viewImg2.FileType === 'image'" ng-src="{{viewImg2.ContentPath}}"
                         alt="Preview Image" style="width: 100%; height: auto;">
                </div>

            </div>
        </div>
    </div>
</div>

