
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Jslib/Creation/ChangePassword.js"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ChangePasswordController" ng-init="LoadData()">
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <section class="iframe-content-starts-here">

                    <!-- form area starts -->
                    <div id="change-password-form ">
                        <div class="card card-default pt-2 ">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label>Current Password</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newChangePassword.CurrentPassword">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newChangePassword.NewPassword">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Conform Password</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newChangePassword.ConformPassword">
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <!-- <button type="button" class="btn btn-sm btn-info" id="back-to-list" style="min-width: 90px;">Back to List</button> -->
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearChangePassword()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateChangePassword()">{{newChangePassword.Mode}}</button>

                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- form area ends -->
        </section>
        <!-- /.row -->
    </div>
</div>

    

