
@{
    ViewBag.Title = "ComplaintAndFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Jslib/Creation/ComplaintandFeedback.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ComplaintAndFeedbackController" ng-init="LoadData()">
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <section class="iframe-content-starts-here">
                    <div class="tab-content" id="pills-tabContent">
                        
                        <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                             aria-labelledby="pills-second-tab">
                            <!-- if-page-have-nav-tabs -->
                            <header class="if-page-have-nav-tabs">
                                <div class="row upper-tab">
                                    <div class="col-md-10">
                                        <!-- <h3 class="menu-title">Class Setup</h3> -->
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                            role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="pills-four-tab" data-toggle="tab"
                                                   href="#pills-four" role="tab" aria-controls="pills-four"
                                                   aria-selected="true">Complaint</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab"
                                                   href="#profile" role="tab" aria-controls="profile"
                                                   aria-selected="false">Feedback</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <!-- col-md-9 -->
                                    <div class="col-md-2">
                                        <!-- <a href="#" class="btn btn-success btn-light btn-sm">Add Class</a> -->
                                    </div>
                                    <!-- col-md-3 -->
                                </div>
                            </header>
                            <!-- end if-page-have-nav-tabs -->
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active main-section" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab">
                                    <div class="complaint-form">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Complaint Type</label>
                                                    <select  class="form-control form-control-sm select2" ng-model="newComplaint.ComplaintType">
                                                        <option value="">Complaint Type</option>
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Complaint Details</label>
                                                    <textarea  cols="30" rows="3" class="form-control form-control-sm" ng-model="newComplaint.ComplaintDetails"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Suggestion</label>
                                                    <textarea cols="30" rows="3" class="form-control form-control-sm" ng-model="newComplaint.Suggestion"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">Attach Document</label>
                                                <input type="file"  class="form-control form-control-sm" style="padding: 1px;" file-model ng-model="newComplaint.attachFile">
                                            </div>

                                            <div class="col-md-4 mt-4">
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearComplaint()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateComplaint()">{{newComplaint.Mode}}</button>
                                            </div>

                                        </div>

                                        <div class="card card-default pt-2 mt-2">
                                            <div class="card-body ">
                                                <header class="row mb-2">
                                                    <div class="col-md-7">
                                                        <div class="clearfix">
                                                            <form class="form-inline">
                                                                <div class="input-group input-group-sm mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text cstm">Show</span>
                                                                    </div>
                                                                    <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                                    <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Complaint">
                                                                        <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Complaint">{{pp.text}}</option>
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text bg-white"><small>entries</small></span>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group input-group-sm table-search-filed">
                                                                    <input class="form-control form-control-navbar" type="search"
                                                                           placeholder="Search" aria-label="Search" ng-model="searchData.Complaint">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-default border-left-0" type="submit">
                                                                            <i class="fas fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group ml-2">
                                                                    <input type="text" placeholder="Date" class="form-control form-control-sm" style="width: 200px;" date-picker date-detail="newComplaint.ComplaintDateDet" ng-model="newComplaint.ComplaintDate_TMP" >
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- end col-md-8 -->
                                                    <div class="col-md-5 text-right">

                                                        <div class="dropdown dnld-file" data-toggle="tooltip"
                                                             data-placement="top" title="Download File">
                                                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-download"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right"
                                                                 aria-labelledby="dropdownMenuButton">
                                                                <span class="dropdown-item">Choose an option:</span>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                            </div>
                                                        </div>
                                                        <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip"
                                                           data-placement="bottom" title="Print">
                                                            <i class="fas fa-print"></i>
                                                        </a>

                                                    </div>
                                                </header>
                                                <div>
                                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                            <thead class=" text-nowrap">
                                                                <tr>
                                                                    <th style="width: 70px;">S.No.</th>
                                                                    <th style="width: 100px;">Complaint Date</th>
                                                                    <th style="width: 150px;">Complaint Type</th>
                                                                    <th style="width: 150px;">Complaint Details</th>
                                                                    <th style="width: 150px;">File</th>
                                                                    <th style="width: 200px;">Suggestion</th>
                                                                    <th style="width: 100px;">Action Taken</th>
                                                                    <th style="width: 150px;">Taken By</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr dir-paginate="cl in ComplaintList | filter:searchData.Complaint | itemsPerPage: perPage.Complaint" current-page="currentPages.Complaint" pagination-id="ComplaintPagination">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>{{cl.ComplaintDate}}</td>
                                                                    <td>{{cl.ComplaintType}}</td>
                                                                    <td>{{cl.ComplaintDetails}}</td>
                                                                    <td>{{cl.File}}</td>
                                                                    <td>{{cl.Suggestion}}</td>
                                                                    <td>{{cl.ActionTaken}}</td>
                                                                    <td>{{cl.TakenBy}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- table end -->
                                                </div>
                                                <footer class="row align-items-center">
                                                    <div class="col-md-12">
                                                        <dir-pagination-controls pagination-id="ComplaintPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                        </dir-pagination-controls>
                                                    </div>
                                                </footer>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <div class="feedback-form">

                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Title</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newFeedback.Title">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Feedback Details</label>
                                                    <textarea cols="30" rows="3" class="form-control form-control-sm" ng-model="newFeedback.FeedbackDetails"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">Attach Document</label>
                                                <input type="file" class="form-control form-control-sm" style="padding: 1px;" file-model ng-model="newFeedback.attachFile">
                                            </div>

                                            <div class="col-md-6 mt-4">
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearFeedback()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateFeedback()">{{newFeedback.Mode}}</button>
                                            </div>

                                        </div>

                                        <div class="card card-default pt-2 mt-2">
                                            <div class="card-body ">
                                                <header class="row mb-2">
                                                    <div class="col-md-7">
                                                        <div class="clearfix">
                                                            <form class="form-inline">
                                                                <div class="input-group input-group-sm mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text cstm">Show</span>
                                                                    </div>
                                                                    <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                                    <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Feedback">
                                                                        <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Feedback">{{pp.text}}</option>
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text bg-white"><small>entries</small></span>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group input-group-sm table-search-filed">
                                                                    <input class="form-control form-control-navbar" type="search"
                                                                           placeholder="Search" aria-label="Search" ng-model="searchData.Feedback">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-default border-left-0" type="submit">
                                                                            <i class="fas fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group ml-2">
                                                                    <input type="text" placeholder="Date" class="form-control form-control-sm" style="width: 200px;" date-picker ng-model="newFeedback.FeedbackDate_TMP" date-detail="newFeedback.FeedbackDateDet">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- end col-md-8 -->
                                                    <div class="col-md-5 text-right">

                                                        <div class="dropdown dnld-file" data-toggle="tooltip"
                                                             data-placement="top" title="Download File">
                                                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-download"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right"
                                                                 aria-labelledby="dropdownMenuButton">
                                                                <span class="dropdown-item">Choose an option:</span>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                                <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                            </div>
                                                        </div>
                                                        <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip"
                                                           data-placement="bottom" title="Print">
                                                            <i class="fas fa-print"></i>
                                                        </a>



                                                    </div>
                                                </header>
                                                <div>
                                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                            <thead class=" text-nowrap">
                                                                <tr>
                                                                    <th style="width: 70px;">S.No.</th>
                                                                    <th style="width: 100px;">Feedback Date</th>
                                                                    <th style="width: 150px;">Title</th>
                                                                    <th style="width: 200px;">Details</th>
                                                                    <th style="width: 150px;">File</th>
                                                                    <th style="width: 200px;">Remarks</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr dir-paginate="fb in FeedbackList | filter:searchData.Feedback | itemsPerPage: perPage.Feedback" current-page="currentPages.Feedback" pagination-id="FeedbackPagination">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>{{fb.FeedbackDate}}</td>
                                                                    <td>{{fb.Title}}</td>
                                                                    <td>{{fb.Details}}</td>
                                                                    <td>{{fb.Files}}</td>
                                                                    <td>{{fb.Remarks}}</td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- table end -->
                                                </div>
                                                <footer class="row align-items-center">
                                                    <div class="col-md-12">
                                                        <dir-pagination-controls pagination-id="FeedbackPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                        </dir-pagination-controls>
                                                    </div>
                                                </footer>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </section>
                <!-- /.row -->

            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>

</div>

    

