
@{
    ViewBag.Title = "LeaveRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Jslib/Creation/ContinueConfirmation.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="CConformationController" ng-init="LoadData()">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <section class="iframe-content-starts-here">                    
                    <div id="leave-request-form" style="margin-top: -10px;">
                        <div class="card card-default p-2">
                            <div class="row">
                                <div class="col-md-12 mt-2">
                                    <h6>Please tick (<i class="fas fa-check"></i>) the appropriate box <span class="text-danger">*</span></h6>
                                    <div>
                                        <label class="checkbox-wrap">
                                            Yes, I will continue at this Institution for the upcoming academic session.
                                            <input type="checkbox" ng-model="newDet.ContinueYes" ng-change="selectContinueOption('yes')" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-wrap">
                                            No, I will not continue at this Institution for the upcoming academic session.
                                            <input type="checkbox" ng-model="newDet.ContinueNo" ng-change="selectContinueOption('no')" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-4 mt-2" ng-show="newDet.ContinueNo">
                                    <h6>If you are not continuing, please select the reason: <span class="text-danger">*</span></h6>
                                    <div>
                                        <select class="form-control form-control-sm select2" ng-model="newDet.NotContinueReasonId">
                                            <option ng-repeat="C in NotContinueReasonList" ng-value="C.id" ng-selected="newDet.NotContinueReasonId==C.id">{{C.text}}</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-5 mt-2" ng-show="newDet.NotContinueReasonId==7">
                                    <div class="form-group">
                                        <label for="">Please specify other reason <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newDet.OtherReason" />
                                    </div>
                                </div>
                                <div class="col-md-9 mt-2">
                                    <h6>Feedback(Optional)</h6>
                                    <p>We value your feedback. Please share any comments or suggestions to help us improve our services:</p>
                                    <textarea type="text" class="form-control form-control-sm" rows="2" ng-model="newDet.Feedback"></textarea>
                                </div>
                            </div>
                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearContinuousConfirmation()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateContinuousConfirmation()">{{newDet.Mode}}</button>
                                </span>
                            </div>
                        </div>

                          
                        </div>
               
                </section>
            </div>
        </section>
    </div>
</div>


