
@{ Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Jslib/Creation/LiveClass.js?dt=@(DateTime.Now.Ticks)"></script>
}
<style>
    .if-page-have-nav-tabs + .tab-content {
        padding-top: 0px;
    }
    .dropdown-item{
        cursor:pointer;
    }
</style>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="LiveClassController" ng-init="LoadData()">
    <div class="wrapper">
        <div class="content-wrapper">


            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <section class="iframe-content-starts-here" style="padding-top: 32px">
                        <div class="root">
                            <div class="card-primary card-tabs">
                                <header class="if-page-have-nav-tabs">
                                    <div class="row upper-tab">
                                        <div class="col-md-10">
                                            <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active"
                                                id="myTab"
                                                role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active">Online Class</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </header>
                                <div class="tab-content" id="add-subject-section">
                                    <div class="tab-content" id="add-subject-section">
                                        <div class="card card-default mt-4">
                                            <div class="card-header" style="background-color: #23a2b8;color: aliceblue;">
                                                <h3 class="card-title"><i class="fas fa-star" style="color: #f9910c;"></i>It's Time To Join Class Now</h3>
                                            </div>
                                            <div class="card-body pt-3">
                                                <div class="row" @*ng-repeat="V in RunningClassesColl"*@>
                                                    <div class="col-md-3">
                                                        <span>
                                                            Subject Name :<span style="color: #23a2b8; margin-left: 10px;">{{ClassRunning.SubjectName}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span>
                                                            Teacher Name :<span style="color: #23a2b8; margin-left: 10px;">{{ClassRunning.TeacherName}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span class="">
                                                            Note :<span style="color: #23a2b8; margin-left: 10px;">{{ClassRunning.Notes}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="">
                                                            Time :<span style="color: #23a2b8; margin-left: 10px;">{{ClassRunning.StartDateTime_AD | date:'h:mm a '}}-{{ClassRunning.EndDateTime_AD | date:'h:mm a '}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-1 text-right">
                                                        <button class="btn btn-sm btn-info mb-2" style="border-radius: 3px;border: none;min-width: 60px;" ng-click="JionClass(ClassRunning)">Join</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card card-default" style="margin-top:-10px">
                                            <div class="card-header">
                                                <h3 class="card-title">Today's Upcoming Classes</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div class="row d-flex align-items-stretch" style="color: aliceblue; overflow-x: auto; white-space: nowrap;">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3 " ng-repeat="cs in ClassScheduleCollList" style="display: inline-block; float: none;">
                                                            <div class="card mb-1" ng-style="{'background-color': colors[$index]}" @*style="background-color: #025a58"*@>
                                                                <div class="card-body" style="padding: 5px;height:140px">
                                                                    <div class="row">
                                                                        <div class="col-12 col-md-10 col-sm-10">
                                                                            <p style="font-size: 18px;">{{cs.TeacherName}}</p>
                                                                        </div>
                                                                        <div class="col-md-2 pr-2">
                                                                            <p><i class="fas fa-home icon-bg-green"></i></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <p class="text-uppercase" style="font-size: 14px; white-space: normal; overflow-wrap: break-word;">{{cs.SubjectName}}</p>
                                                                            <label style="font-size: 14px;margin-top:-10px">{{cs.StartTime}}-{{cs.EndTime}}</label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- Its time to host card starts -->
                                        <!-- It's Time to host card ends -->
                                        <div class="card card-default" style="margin-top: -10px;">
                                            <div class="card-header">
                                                <h3 class="card-title">Past Classes</h3>
                                                <div class="text-center">
                                                    <div class="custom-control custom-checkbox checkbox-lg">
                                                        <input type="checkbox"
                                                               class="custom-control-input"
                                                               id="checkbox-missedClass" ng-value="1" ng-model="newLiveClass.ShowMissedClass" />
                                                        <label class="custom-control-label" for="checkbox-missedClass">
                                                            Show Missed Classes
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <header class="row mb-2">
                                                    <div class="col-md-10">
                                                        <div class="clearfix">
                                                            <form class="form-inline">

                                                                <!--<div class="input-group input-group-sm mr-sm-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cstm">Show</span>
                                                    </div>-->
                                                                <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                                <!--<select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.LiveClass">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.LiveClass">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>-->
                                                                <div class="input-group input-group-sm table-search-filed">
                                                                    <input class="form-control form-control-navbar" type="search"
                                                                           placeholder="Search" aria-label="Search" ng-model="searchData.LiveClass">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-default border-left-0" type="submit">
                                                                            <i class="fas fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="ml-2">FromDate &nbsp;</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm" date-picker ng-model="newPastClass.FromDate_TMP" ng-change="OnChangeDate()" date-detail="newPastClass.FromDateDet">

                                                                </div>
                                                                <div class="form-group ">
                                                                    <label class="ml-2">DateTo &nbsp;</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm" date-picker ng-model="newPastClass.dateTo_TMP" ng-change="OnChangeDate()" date-detail="newPastClass.dateToDet">

                                                                </div>

                                                                <div class="form-group ml-2">
                                                                    <button type="button" class="btn btn-sm btn-default" ng-click="ClearDate()">Reset</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <!-- end col-md-8 -->
                                                    <div class="col-md-2 text-right" ng-Show="newLiveClass.ShowMissedClass==false">

                                                        <div class="dropdown dnld-file" data-toggle="tooltip"
                                                             data-placement="top" title="Download File">
                                                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-download"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right"
                                                                 aria-labelledby="dropdownMenuButton">

                                                                <span class="dropdown-item">Choose an option:</span>

                                                                <a class="dropdown-item " ng-click="exportToExcel('#AttendClass')"><img src="~/StudentLoginFiles/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                                <a class="dropdown-item" ng-click="ExportCSV('#AttendClass')"><img src="~/StudentLoginFiles/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                                <a class="dropdown-item" ng-click="Exportpdf('AttendClass')"><img src="~/StudentLoginFiles/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                                <a class="dropdown-item" ng-click="ExportWord('#AttendClass')"><img src="~/StudentLoginFiles/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                                <a class="dropdown-item" href="#"><img src="~/StudentLoginFiles/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                            </div>
                                                        </div>
                                                        <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip"
                                                           data-placement="bottom" title="Print">
                                                            <i class="fas fa-print"></i>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-2 text-right" ng-Show="newLiveClass.ShowMissedClass==true">

                                                        <div class="dropdown dnld-file" data-toggle="tooltip"
                                                             data-placement="top" title="Download File">
                                                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-download"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right"
                                                                 aria-labelledby="dropdownMenuButton">

                                                                <span class="dropdown-item">Choose an option:</span>

                                                                <a class="dropdown-item" ng-click="exportToExcel('#MissedClass')"><img src="~/StudentLoginFiles/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                                <a class="dropdown-item" ng-click="ExportCSV('#MissedClass')"><img src="~/StudentLoginFiles/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                                <a class="dropdown-item" ng-click="Exportpdf('MissedClass')"><img src="~/StudentLoginFiles/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                                <a class="dropdown-item" ng-click="ExportWord('#MissedClass')"><img src="~/StudentLoginFiles/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                                <a class="dropdown-item" href="#"><img src="~/StudentLoginFiles/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                            </div>
                                                        </div>
                                                        <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip"
                                                           data-placement="bottom" title="Print">
                                                            <i class="fas fa-print"></i>
                                                        </a>

                                                    </div>
                                                </header>
                                                <div id="content" ng-Show="newLiveClass.ShowMissedClass==false">
                                                    <div class="table-scroll-x-y sales-main-table table-scroll table_Data" style="height: calc(100vh - 10rem) ;overflow-x:auto">
                                                        <table id="AttendClass"
                                                               class="table  table-hover table-bordered th-fixed-top bg-white w-100 mb-2 table-head-fixed">
                                                            <thead class=" text-nowrap">
                                                                <tr>
                                                                    <th style="width: 35px;">S.No.</th>
                                                                    <th style="width: 100px;">Date</th>
                                                                    <th style="width: 150px;">Subject Name</th>
                                                                    <th style="width: 150px;">Teacher Name</th>
                                                                    <th style="width: 150px;">Class  Time</th>
                                                                    <th style="width: 100px;">Join Time</th>
                                                                    <th style="width: 150px;">Class Duration</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="cl in PassClassesList | filter:searchData.LiveClass " @*dir-paginate="cl in PassOnlineClassesList | filter:searchData.LiveClass | itemsPerPage: perPage.LiveClass" current-page="currentPages.LiveClass" pagination-id="liveclassPagination"*@>
                                                                    <td>{{$index+1}}</td>
                                                                    <td class="table-Body">{{cl.ForDate | date :  "MM/dd/yyyy"}}</td>
                                                                    <td class="table-Body">{{cl.SubjectName}}</td>
                                                                    <td class="table-Body">{{cl.TeacherName}}</td>
                                                                    <td class="table-Body">{{cl.StartDateTime_AD| date : "h:mm a"}} - {{cl.EndDateTime_AD| date : "h:mm a"}}</td>
                                                                    <td class="table-Body">{{cl.FirstJoinAt}}</td>
                                                                    <td class="table-Body">{{cl.CalcDuration}}</td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- table end -->
                                                </div>
                                                
                                                <div id="missedClassTable" ng-show="newLiveClass.ShowMissedClass==true">
                                                    <span class="bg-white py-2 mb-2" style="font-size: 18px; ">Missed Class</span>
                                                    <div class="table-scroll-x-y sales-main-table table-scroll" style="height: calc(100vh - 10rem) ;overflow-x:auto">
                                                        <table id="MissedClass" class="main-table table table-sm table-bordered bg-white mb-2 table-head-fixed">
                                                            <thead class=" text-nowrap">
                                                                <tr>
                                                                    <th style="width: 35px;">S.No.</th>
                                                                    <th style="width: 100px;">Date</th>
                                                                    <th style="width: 150px;">Subject Name</th>
                                                                    <th style="width: 150px;">Teacher Name</th>
                                                                    <th style="width: 150px;">Class  Time</th>
                                                                    <th style="width: 150px;">Class Duration</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="cl in PassMissedClassesList | filter:searchData.LiveClass">
                                                                    <td>{{$index+1}}</td>
                                                                    <td class="table-Body">{{cl.ForDate | date :  "MM/dd/yyyy"}}</td>
                                                                    <td class="table-Body">{{cl.SubjectName}}</td>
                                                                    <td class="table-Body">{{cl.TeacherName}}</td>
                                                                    <td class="table-Body">{{cl.StartDateTime_AD| date : "h:mm a"}} - {{cl.EndDateTime_AD| date : "h:mm a"}}</td>
                                                                    <td class="table-Body">{{cl.CalcDuration}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- table end -->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    </div>
                                </div>
                            </div>
                    </section>

                </div>
                <!-- form area ends -->
            </section>
            <!-- /.row -->


        </div>
    </div>
</div>
<br>
