

@{ ViewBag.Title = "LMS";
    Layout = "~/Views/Shared/_Layout.cshtml"; } 
<script src="~/Jslib/Creation/MidasLMS.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="midasLMSController">
    <div class="wrapper">
        <div class="content-wrapper" style="height:100%!important;">

            <iframe id="frmLMS" style="width:98%;height:600px;" runat="server">
            </iframe>
        </div>
    </div>

</div>
