
@{
    ViewBag.Title = "TimeTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Jslib/Creation/TimeTable.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="TimeTableController" ng-init="LoadData()">
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
         
            <div class="container-fluid">
                <section class="iframe-content-starts-here">
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                             aria-labelledby="pills-second-tab"> 
                            <header class="if-page-have-nav-tabs">
                                <div class="row upper-tab">
                                    <div class="col-md-12"> 
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                            role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="pills-four-tab" data-toggle="tab"
                                                   href="#pills-four" role="tab" aria-controls="pills-four"
                                                   aria-selected="true">Class Schedule</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab"
                                                   href="#profile" role="tab" aria-controls="profile"
                                                   aria-selected="false">Exam Schedule</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </header>
                            <!-- end if-page-have-nav-tabs -->
                            <div class="tab-content" id="myTabContent">
                              
                                <div class="tab-pane fade show active" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab">
                                    <div class="card card-primary card-tabs" style="margin-top: -30px;">
                                        
                                        <div class="card-header with-gradient-bg p-0 pt-2">
                                            
                                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a ng-class="getFavClassIcon(1)" id="custom-tabs-one-home-tab"
                                                       data-toggle="pill" href="#custom-tabs-one-home" role="tab"
                                                       aria-controls="custom-tabs-one-home" aria-selected="true" ng-click="GetAccodingToMonth(1)" style="padding-left: 2rem;
                                                            padding-right: 2rem;">Sunday</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a ng-class="getFavClassIcon(2)" id="custom-tabs-one-profile-tab" data-toggle="pill" ng-click="GetAccodingToMonth(2)"
                                                       href="#custom-tabs-one-profile" role="tab"
                                                       aria-controls="custom-tabs-one-profile"
                                                       aria-selected="false" style="padding-left: 2rem;
                                                            padding-right: 2rem;">Monday</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a ng-class="getFavClassIcon(3)" id="custom-tabs-one-messages-tab" data-toggle="pill" ng-click="GetAccodingToMonth(3)"
                                                       href="#custom-tabs-one-messages" role="tab"
                                                       aria-controls="custom-tabs-one-messages"
                                                       aria-selected="false" style="padding-left: 2rem;
                                                            padding-right: 2rem;">Tuesday</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a ng-class="getFavClassIcon(4)" id="custom-tabs-one-settings-tab" data-toggle="pill" ng-click="GetAccodingToMonth(4)"
                                                       href="#custom-tabs-one-settings" role="tab"
                                                       aria-controls="custom-tabs-one-settings"
                                                       aria-selected="false" style="padding-left: 2rem;
                                                            padding-right: 2rem;">Wednesday</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a ng-class="getFavClassIcon(5)" id="custom-tabs-one-thrusday-tab" data-toggle="pill" ng-click="GetAccodingToMonth(5)"
                                                       href="#custom-tabs-one-thrusday" role="tab"
                                                       aria-controls="custom-tabs-one-thrusday"
                                                       aria-selected="false" style="padding-left: 2rem;
                                                            padding-right: 2rem;">Thrusday</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a ng-class="getFavClassIcon(6)" id="custom-tabs-one-friday-tab" data-toggle="pill" ng-click="GetAccodingToMonth(6)"
                                                       href="#custom-tabs-one-friday" role="tab"
                                                       aria-controls="custom-tabs-one-friday"
                                                       aria-selected="false" style="padding-left: 2rem;
                                                            padding-right: 2rem;">Friday</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a ng-class="getFavClassIcon(7)" id="custom-tabs-one-sat-tab" data-toggle="pill" ng-click="GetAccodingToMonth(7)"
                                                       href="#custom-tabs-one-sat" role="tab"
                                                       aria-controls="custom-tabs-one-sat"
                                                       aria-selected="false" style="padding-left: 2rem;
                                                            padding-right: 2rem;">Saturday</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">

                                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                                <div class="tab-pane fade show active" id="custom-tabs-one-home"
                                                     role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">

                                                    <div class="pt-3" ng-repeat="C in ClassShiftList">
                                                        <label class="btn btn-sm btn-info" style="min-width: 90px;">{{C}}</label>
                                                        <table id="dt-basic-example"
                                                               class="table table-hover table-bordered table-sm bg-white">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:80px">Period Name</th>
                                                                    <th style="width:100px">Time Duration</th>
                                                                    <th style="width:130px">Subject Name</th>
                                                                    <th style="width:180px">Teacher's Name (Contact No.)</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="C in ClassScheduleCollList | filter:C">
                                                                    <td>{{C.Period}}</td>
                                                                    <td>{{C.StartTime}} - {{C.EndTime}}</td>
                                                                    <td>{{C.SubjectName}}</td>
                                                                    <td>{{C.TeacherName}}({{C.TeacherContactNo}})</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                        <!-- table end -->
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                                <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <div id="exam-schedule">
                                        <form action="">
                                            <div class="row">
                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label>Exam Type</label>
                                                    <div class="form-group">
                                                        <select class="form-control form-control-sm " ng-change="OnChnageExamType(newExamSchedule.ExamTypeId)" ng-model="newExamSchedule.ExamTypeId">
                                                            <option ng-value="0">**Select ExamType**</option>
                                                            <option ng-value="cl" ng-repeat="cl in ExamTypeColl" ng-selected="cl.ExamTypeId==newExamSchedule.ExamTypeId">{{cl.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>


                                            </div>
                                        </form>
                                        <div class="card p-2 ">
                                            <div class="table-scroll-x-y sales-main-table table-scroll ">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 100px;">Date</th>
                                                            <th style="width: 80px;">Day</th>
                                                            <th style="width: 100px;">Time Duration</th>
                                                            <th style="width: 150px;">Subject Name </th>
                                                            <th style="width: 150px;">Paper Type </th>
                                                            <th style="width: 250px;">Remarks </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="es in ExamScheduleList" @*dir-paginate="es in ExamScheduleList | filter:searchData.ExamSchedule | itemsPerPage: perPage.ExamSchedule" current-page="currentPages.ExamSchedule" pagination-id="ExamSchedulePagination"*@>

                                                            <td>{{es.ExamDate_BS}}</td>
                                                            <td>{{ Days(es.ExamDate_AD) }}</td>
                                                            <td>{{es.StartTime}}-{{es.EndTime}}</td>
                                                            <td>{{es.SubjectName}}</td>
                                                            <td>{{es.PaperType}}</td>
                                                            <td>{{es.Remarks}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- table end -->
                                            </div>

                                            @*<footer class="row align-items-center">
                        <div class="col-md-12">
                            <dir-pagination-controls pagination-id="ExamSchedulePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </footer>*@
                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </section>
                <!-- /.row -->

            </div>
            <!--/. container-fluid -->
        </section>

        <!-- /.content -->
    </div>
</div>


<style>
    .dadwa {
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        background: #bbb;
        z-index: 2;
        height: 20px;
    }
</style>