
<style>
    .Heading {
        color: #00A85A;
        font-weight: 700;
        font-size: 26px;
    }

    .HeadingTwo {
        color: #00A85A;
        font-weight: 700;
        font-size: 26px;
    }

    .TopHeadLine {
        border-bottom: 3px Solid #cdf8b4;
        margin-top: 7px !important;
        margin-bottom: 7px !important;
    }

    .hrFirstTop {
        border-bottom: 3px dashed #025D59;
        margin-bottom: 25px;
    }

    .TableTopHead {
        font-size: 19px;
        font-weight: 500;
    }
</style>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">

            <section class="iframe-content-starts-here">
                <div class="p-2 my-2 demo">

                    <div class="p-3 hrFirstTop">
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="~/wwwroot/dynamic/images/client18 1.png" alt="" style="width: auto; height: 100px;">
                                </div>
                                <div class="col-md-4">
                                    <h3 class="Heading mb-0">Dynamic Technosoft Pvt. Ltd</h3>
                                    <h6 class="mb-0" style="font-weight: 600; font-size: 15px; padding-left: 4rem;">Birgunj, Parsa, Nepal</h6>
                                </div>
                                <div class="col-md-4" style="text-align: right;">
                                    <p class="mb-2" style="font-weight: 600; font-size: 15px;">Email: <span>info@dynamic.net.np</span></p>
                                    <p class="mb-0" id="Details" style="font-weight: 600; font-size: 15px;">Phone No.: 9801087091, 9851163652</p>

                                </div>
                            </div>
                            <div class="row mb-1" id="DailyReport">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <h3 class="HeadingTwo mb-0">Daily Report Summary</h3>
                                </div>
                                <div class="col-md-4">
                                    <p class="mb-0" style="text-align: right; font-size: 15px; font-weight: 600;" id="ReportDate">Date:2080/12/28</p>
                                </div>

                            </div>

                        </div>

                    </div>


                    <!-- Overall Student Strength start -->

                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Overall Student Strength</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-sm table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;"> Running Student(s)</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Left Student(s) </th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Transport Student(s)</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Hostel Student(s)</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        <tr>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Boys</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Girls</p>

                                                </div>
                                            </th>


                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Boys</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Girls</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Boys</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Girls</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Boys</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Girls</p>

                                                </div>

                                            </th>

                                        </tr>

                                        <tr>
                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>

                                            </th>
                                        </tr>


                                    </tbody>

                                </table>

                            </div>
                        </div>



                    </div>

                    <!-- Overall Student Strength End -->
                    <!-- Student Attendance Overview  start-->
                    <div class="row p-2">

                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Students Attendance Overview</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Total Student (500)</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Today's Present (200) </th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Today's Absent (50)</th>

                                        </tr>

                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Boys</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Girls</p>

                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Boys</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Girls</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Boys</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Girls</p>

                                                </div>
                                            </th>


                                        </tr>

                                        <tr>
                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>
                                            </th>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>



                    </div>

                    <!-- Student Attendance Overview End -->
                    <!-- Overall Staff Strength start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Overall Staff Strength</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Teaching Staff(s)</th>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Non-Teaching Staff(s)</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                    <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                        <div class="d-flex">
                                            <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                            <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 110px;">Men <span class="ml-3">60</span></p>

                                            <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                            <p class="mb-0" style="font-weight: 400; font-size: 13px;">Women 440</p>

                                        </div>
                                    </th>

                                    <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                        <div class="d-flex">
                                            <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                            <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 110px;">Men <span class="ml-3">60</span></p>

                                            <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                            <p class="mb-0" style="font-weight: 400; font-size: 13px;">Women 440</p>

                                        </div>
                                    </th>

                                    </tbody>

                                </table>

                            </div>
                        </div>

                    </div>
                    <!-- Overall Staff Strength End -->
                    <!-- Staff Attendance Overview  Start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Staff Attendance Overview</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Total Staff (500)</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Today's Present (200) </th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Today's Absent (50)</th>

                                        </tr>

                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Men</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Women</p>

                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Men</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Women</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">Men</p>

                                                    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">Women</p>

                                                </div>

                                            </th>


                                        </tr>


                                        <tr>
                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>

                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #FFFFFF !important">
                                                <div class="d-flex">
                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 90px;">440</p>

                                                    <p class="mb-0" style="font-weight: 400; font-size: 13px;">60</p>

                                                </div>
                                            </th>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>


                    </div>
                    <!-- Staff  Attendance Overview End -->
                    <!-- Today's Accounts Status start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead ">Today's Accounts Status</p>
                            <!-- <hr class="mb-2"> -->
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-sm table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Fees Collected</th>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Expense Sent </th>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Discount Given</th>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Total Dues</th>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Running Dues</th>

                                        </tr>


                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="align-middle" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #35D035;"><span style="text-align: end;">0.00</span></th>
                                            <td class="align-middle" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #E90303;">0.00</th>
                                            <td class="align-middle" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #3836C2;">0.00</th>
                                            <td class="align-middle" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #666666;">2,491,298.43</th>
                                            <td class="align-middle" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #666666;">2,491,298.43</th>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>


                    </div>
                    <!-- Today's Accounts Status End -->
                    <!-- Class Wise Fee Summary start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Class Wise Fee Summary</p>
                            <p for="" class="TopHeadLine"></p>

                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Class Name</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">No. of Student(s)</th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Total Fee</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Fee Collected</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Discount Given</th>
                                            <th style="width: 90px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Balance Amount</th>

                                        </tr>


                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">Class 10</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #35D035;">2900</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #E90303;">29,000,00</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #3836C2;">297</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #666666;">50</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #666666;">
                                                29,000,00
                                            </th>

                                        </tr>

                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;  background-color:F8FCF7;">Class 10</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;  background-color:F8FCF7; color: #35D035;">200</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;  background-color:F8FCF7; color: #E90303;">29,000,00</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;  background-color:F8FCF7; color: #3836C2;">297</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;  background-color:F8FCF7; color: #666666;">50</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;  background-color:F8FCF7; color: #666666;">
                                                28,000,00
                                            </th>

                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>



                    </div>
                    <!-- Class Wise Fee Summary End -->
                    <!-- Cash and Bank Summary start -->
                    <div class="row p-2">

                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Cash And Bank Summary</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Particular(s)</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Opening </th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Transaction</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Closing</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">Cash</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">0.00</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">0.00</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">2,419,3</th>
                                        </tr>

                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; background-color:F8FCF7; font-weight: 400; width: 200px; z-index: 3;">Cash</th>
                                            <th class="align-middle" style="font-size: 13px !important; background-color:F8FCF7; font-weight: 400; width: 200px; z-index: 3;">0.00</th>
                                            <th class="align-middle" style="font-size: 13px !important; background-color:F8FCF7; font-weight: 400; width: 200px; z-index: 3;">0.00</th>
                                            <th class="align-middle" style="font-size: 13px !important; background-color:F8FCF7; font-weight: 400; width: 200px; z-index: 3;">2,419,3</th>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>
                    <!-- Cash and Bank Summary End -->
                    <!-- Income Expenditure start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Income Expenditure</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-sm table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Expenses</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Amount</th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Income</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Amount</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">22879</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">12176</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">78900</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">65900</th>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>



                    </div>
                    <!-- Income Expenditure End -->



                    <div class="row p-2 ">
                        <!-- SMS Balance start -->
                        <div class="col-md-6">
                            <p class="mb-0 TableTopHead">SMS Balance</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Available Balance</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Last Transaction</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">Active : 2080-12-28</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">Date: 2080-12-28</th>
                                        </tr>

                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">Remaining SMS: 2321</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">No.of SMS Sent: 2333</th>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>
                        <!-- SMS Balance End -->
                        <!-- User Account Activity start -->
                        <div class="col-md-6">
                            <p class="mb-0 TableTopHead">User Account Activity</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Last Login</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Current Login</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">2080-12-28, 12:40Pm</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">2080-12-28, 12:40Pm</th>
                                        </tr>

                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">IP: 192.168.1.254</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">IP: 192.168.1.254</th>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>
                        <!-- User Account Activity End -->

                    </div>



                </div>
            </section>


        </div>
        <!--/. container-fluid -->
    </section>

</div>




