<style>
    .ui-grid-cell-contents {
        height: auto !important;
    }

    .ui-grid-header {
        height: 60px;
    }

    .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
        position: absolute;
        top: 80%;
    }
</style>
<script src="~/jslib/attendance/EmployeeAttendanceSummary.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="EmployeeAttendanceController" @*ng-init="LoadData()"*@>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab" role="tablist">


                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="student-tab" data-toggle="tab" href="#student" role="tab"
                                               aria-controls="student" aria-selected="false">Monthly Attendance</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="medium-tab" data-toggle="tab" href="#medium" role="tab"
                                               aria-controls="medium" aria-selected="false">Employee Attendance</a>
                                        </li>

                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="inoutdet-tab" data-toggle="tab" href="#inoutdet" role="tab"
                                               aria-controls="inoutdet" aria-selected="false">InOut Details</a>
                                        </li>
                                        <!--New Tab Added-->
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="summary-tab" data-toggle="tab" href="#summary" role="tab"
                                               aria-controls="inoutdet" aria-selected="false">Attendance Summary</a>
                                        </li>
                                        <!--Ends-->
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <!-- Attendance Summary Starts -->
                            <div class="tab-pane fade main-section show active" id="student" role="tabpanel" aria-labelledby="student-tab">
                                <div class="tab-content">
                                    <div id="day-book-section">
                                        <div class="row mt-2">
                                            <div class="col-md-3">
                                                <div class="form-group d-flex">
                                                    <label class="mt-1 mr-2">Year</label>
                                                    <select name="class-group" id="" form="" class="form-control form-control-sm " ng-model="newMonthly.YearId">
                                                        <option ng-value="cl.id" ng-repeat="cl in YearList" ng-selected="cl.id==newMonthly.YearId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group d-flex">
                                                    <label class="mt-1" style="width:85px;">For Month</label>
                                                    <select name="class-group" id="" form="" class="form-control form-control-sm " ng-model="newMonthly.MonthId">
                                                        <option ng-value="cl.id" ng-repeat="cl in MonthList" ng-selected="cl.id==newMonthly.MonthId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group d-flex" ng-show="BranchList.length>1">
                                                    <label class="mt-1 mr-2"> Branch</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newMonthly.BranchId">
                                                        <option ng-value="0" selected>All</option>
                                                        <option ng-value="brc.BranchId" ng-repeat="brc in BranchList">{{brc.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="float-right">
                                                    <button class="btn btn-sm btn-success" style="min-width: 70px;" type="button" ng-click="GetMonthAttendance()"><i class="fas fa-sync-alt mr-2"></i>Load</button>
                                                    <div class="dropdown dnld-file" data-toggle="tooltip"
                                                         data-placement="top" title="Download File">
                                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-download py-1"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                             aria-labelledby="dropdownMenuButton">
                                                            <span class="dropdown-item">Choose an option:</span>
                                                            <a class="dropdown-item" href="#">
                                                                <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                                     class="img-fluid exports-icon" alt="Excel image">
                                                                Excel
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                                     class="img-fluid exports-icon" alt="Excel image">
                                                                CSV
                                                            </a>

                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                       data-toggle="tooltip" data-placement="bottom" title="Print">
                                                        <i class="fas fa-print py-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div ui-grid="gridOptions2"
                                                 ui-grid-resize-columns
                                                 ui-grid-auto-resize
                                                 ui-grid-move-columns
                                                 ui-grid-selection
                                                 ui-grid-exporter
                                                 ui-grid-pinning
                                                 ui-grid-filtering
                                                 ui-grid-save-state style="height: calc(100vh - 160px); max-width: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Attendance Summary Ends -->
                            <!-- Employee Attendance Starts -->
                            <div class="tab-pane fade main-section" id="medium" role="tabpanel" aria-labelledby="medium-tab">
                                <div class="tab-content">
                                    <div id="day-book-section">
                                        <div class="row mt-1">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> Date From</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newEmp.DateFrom_TMP" date-detail="newEmp.DateFromDet">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> Date To</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newEmp.DateTo_TMP" date-detail="newEmp.DateToDet">
                                                </div>
                                            </div>
                                            <div class="col-md-5 mt-4" id="selectStu">
                                                <label class="sr-only"
                                                       for="inlineFormInputGroup">Select Employee</label>
                                                <div class="input-group-prepend">
                                                    <select class="input-group-text dropdown-toggle p-0"
                                                            style="outline: none;
                                                            border-top-right-radius: unset;
                                                            border-bottom-right-radius: unset;
                                                            margin-right: -3px;
                                                            z-index: 1;
                                                            font-size: 13px;
                                                    " ng-model="newEmp.SelectEmployee">
                                                        <option ng-repeat="ss in EmployeeSearchOptions" ng-value="ss.value" ng-selected="ss.value==newEmp.SelectEmployee">
                                                            {{ss.text}}
                                                        </option>
                                                    </select>
                                                    <select class="form-control select2 form-control-sm" all-employee ng-model="newEmp.EmployeeId" employee-detail="newEmp.EmployeeDetails" side-bar-data="newEmp.EmpSideBarData" search-by="newEmp.SelectEmployee" style="width: 100%;" confirm-action="getEmpBIOAttendance()">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-4">
                                                <div class="float-right">
                                                    <button class="btn btn-sm btn-success" style="min-width: 70px;" ng-click="getEmpBIOAttendance()"><i class="fas fa-sync-alt mr-2"></i>Load</button>
                                                    @*<div class="dropdown dnld-file" data-toggle="tooltip"
                                                         data-placement="top" title="Download File">
                                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-download py-1"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                             aria-labelledby="dropdownMenuButton">
                                                            <span class="dropdown-item">Choose an option:</span>
                                                            <a class="dropdown-item" href="#">
                                                                <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                                     class="img-fluid exports-icon" alt="Excel image">
                                                                Excel
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                                     class="img-fluid exports-icon" alt="Excel image">
                                                                CSV
                                                            </a>
                                                        </div>
                                                    </div>*@
                                                    <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                       data-toggle="tooltip" data-placement="bottom" title="Print">
                                                        <i class="fas fa-print py-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <label><b>Total Days: {{newEmp.TotalDays}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label><b>Present: {{newEmp.TotalPresent}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label><b>Absent: {{newEmp.TotalAbsent}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label><b>Weekend: {{newEmp.TotalWeekEnd}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label><b>Holiday: {{newEmp.TotalHoliday}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label><b>Leave: {{newEmp.TotalLeave}}</b></label>
                                            </div>
                                        </div>
                                        <div class="card ">
                                            <div ui-grid="gridOptions3"
                                                 ui-grid-resize-columns
                                                 ui-grid-auto-resize
                                                 ui-grid-move-columns
                                                 ui-grid-selection
                                                 ui-grid-exporter
                                                 ui-grid-pinning
                                                 ui-grid-filtering
                                                 ui-grid-save-state style="height: calc(100vh - 200px); max-width: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Employee Attendance Ends -->
                            <!-- Date Wise In Out Details Starts -->
                            <div class="tab-pane fade show main-section" id="inoutdet" role="tabpanel"
                                 aria-labelledby="inoutdet-tab">
                                <div class="tab-content">
                                    <div id="day-book-section">
                                        <div class="row mt-1">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> From Date</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newInOutDet.FromDate_TMP" date-detail="newInOutDet.FromDateDet">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> To Date</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newInOutDet.ToDate_TMP" date-detail="newInOutDet.ToDateDet">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Select Report </label>
                                                <select name="comment-group" id="" form="" class="form-control form-control-sm select2" ng-change="PrintInOutDet()" ng-model="newInOutDet.RptTranId">
                                                    <option ng-value="0" ng-selected="true">Select Report</option>
                                                    <option ng-value="rt.RptTranId" ng-repeat="rt in newInOutDet.TemplatesColl">{{rt.ReportName}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 mt-4">
                                                <div class="float-right">
                                                    <button class="btn btn-sm btn-success" style="min-width: 70px;" type="button" ng-click="PrintInOutDet()"><i class="fas fa-sync-alt mr-2"></i>Load</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card p-2 ">
                                            <div class="row">
                                                <iframe id="frmRptTabulation" style='width: 100%;height:calc(100vh - 200px);background-color: white;visibility: visible;' frameborder='0' scrolling='yes'></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Daily Biometric Attendance ends -->
                            <!-- Attendance Summary Starts -->
                            <div class="tab-pane fade show main-section" id="summary" role="tabpanel"
                                 aria-labelledby="summary-tab">
                                <div class="tab-content">
                                    <div id="day-book-section">

                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="row mt-1">
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label> From Date</label>
                                                            <input type="text"
                                                                   class="form-control form-control-sm" date-picker ng-model="newAttSummary.FromDate_TMP" date-detail="newAttSummary.FromDateDet">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label> To Date</label>
                                                            <input type="text"
                                                                   class="form-control form-control-sm" date-picker ng-model="newAttSummary.ToDate_TMP" date-detail="newAttSummary.ToDateDet">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2" ng-show="BranchList.length>1">
                                                        <div class="form-group">
                                                            <label> Branch</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newAttSummary.BranchId">
                                                                <option ng-value="0" selected>All</option>
                                                                <option ng-value="brc.BranchId" ng-repeat="brc in BranchList">{{brc.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label> Department</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newAttSummary.DepartmentId">
                                                                @*<option ng-value="0" selected>All</option>*@
                                                                <option ng-value="brc.DepartmentId" ng-repeat="brc in DepartmentList">{{brc.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label> Employee Type</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newAttSummary.EmpType">
                                                                <option ng-value="brc.id" ng-repeat="brc in EmpTypeList">{{brc.text}}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    @*<div class="col-md-2">
                                                        <div class="form-group">
                                                            <label> Shift</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newAttSummary.ClassShiftId">
                                                                <option ng-value="0" selected>All</option>
                                                                <option ng-value="brc.ClassShiftId" ng-repeat="brc in ClassShiftList">{{brc.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>*@
                                                </div>
                                            </div>
                                            <div class="col-md-2">                                               
                                                <div class="float-right mt-4">
                                                    <button class="btn btn-sm btn-success" style="min-width: 70px;" ng-click="GetAttendanceSummary()"><i class="fas fa-sync-alt mr-2"></i>Load</button>
                                                    <div class="dropdown dnld-file" data-toggle="tooltip"
                                                         data-placement="top" title="Download File">
                                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-download py-1"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                             aria-labelledby="dropdownMenuButton">
                                                            <span class="dropdown-item">Choose an option:</span>
                                                            <a class="dropdown-item" href="#">
                                                                <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                                     class="img-fluid exports-icon" alt="Excel image">
                                                                Excel
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                                     class="img-fluid exports-icon" alt="Excel image">
                                                                CSV
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                       data-toggle="tooltip" data-placement="bottom" title="Print">
                                                        <i class="fas fa-print py-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="card ">
                                            <div ui-grid="gridOptions4"
                                                 ui-grid-resize-columns
                                                 ui-grid-auto-resize
                                                 ui-grid-move-columns
                                                 ui-grid-selection
                                                 ui-grid-exporter
                                                 ui-grid-pinning
                                                 ui-grid-filtering
                                                 ui-grid-save-state style="height: calc(100vh - 170px); max-width: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Attendance Summary ends -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>

