<script src="~/jslib/Attendance/LeaveType.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="LeaveTypeController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="tab-content" id="leaveType-section">
                    <div class="card py-2">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.LeaveType">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.LeaveType">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search" placeholder="Search" ng-model="searchData.LeaveType"
                                                   aria-label="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-md-5 text-right">
                                <div class="dropdown dnld-file ml-2" data-toggle="tooltip"
                                     data-placement="top" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item wait" export-excel table-id="'#LeaveType'" sheet-name="'LeaveTypeList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item wait" onClick="$('#LeaveType').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                       
                                    </div>
                                </div>
                                <a print-tbl table-id="'#LeaveType'" href="#" class="btn btn-secondary btn-light btn-sm"
                                   data-toggle="tooltip" data-placement="top" title="Print">
                                    <i class="fas fa-print"></i>
                                </a>
                                <button type="button" class="btn btn-sm btn-success" id="add-leaveType"
                                        style="min-width: 90px">
                                    <i class="fas fa-plus w-t"></i> Add LeaveType
                                </button>
                            </div>
                        </header>
                        <div>
                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="LeaveType"
                                       class="main-table table table-sm table-bordered bg-white">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 70px">S.No</th>
                                            <th style="width: 170px">Name</th>
                                            <th style="width: 90px">Code</th>
                                            <th style="width: 130px">Applicable For</th>
                                            <th style="width: 130px">Include Weekly Off</th>
                                            <th style="width: 120px">Include Holiday</th>
                                            <th style="width: 120px">Paid Leave</th>
                                            <th style="width: 130px">Carried Forward</th>
                                            <th style="width: 150px">Remarks</th>
                                            <th style="width: 80px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="cl in LeaveTypeList | filter:searchData.LeaveType | itemsPerPage: perPage.LeaveType" current-page="currentPages.LeaveType" pagination-id="LeaveTypePagination">
                                            <td>{{$index+1}}</td>
                                            <td>{{cl.Name}}</td>
                                            <td>{{cl.Code}}</td>
                                            <td>{{cl.ApplicableForId}}</td>
                                            <td>{{cl.IncludeWeeklyOff}}</td>
                                            <td>{{cl.IncludeHoliday}}</td>
                                            <td>{{cl.PaidLeave}}</td>
                                            <td>{{cl.CarriedForward}}</td>
                                            <td>{{cl.Remarks}}</td>
                                            <td>
                                                <a class="p-1" href="#" ng-click="GetLeaveTypeById(cl)" data-toggle="tooltip"
                                                   data-placement="top" title="Edit">
                                                    <i class="fas fa-edit text-info"></i>
                                                </a>
                                                <a class="p-1" href="#" ng-click="DelLeaveTypeById(cl)" data-toggle="tooltip"
                                                   data-placement="top" title="Delete">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table end -->
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="LeaveTypePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- form area starts -->
                <div id="LeaveType-form">
                    <div class="card ">
                        <div class="card-body px-0 py-2">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newLeaveType.Name" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label for="name">Code</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newLeaveType.Code" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label for="">Applicable For</label>
                                        <select class="form-control form-control-sm select2" ng-model="newLeaveType.ApplicableForId">                                            
                                            <option ng-value="ap.id" ng-repeat="ap in ApplicableForList">{{ap.text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label for="name">S.No.</label>
                                        <input type="number" class="form-control form-control-sm" ng-model="newLeaveType.SNo" />
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox"
                                               id="customCheckbox1" ng-model="newLeaveType.IncludeWeeklyOff">
                                        <label for="customCheckbox1"
                                               class="custom-control-label">
                                            Include Weekly Off
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox"
                                               id="customCheckbox2" ng-model="newLeaveType.IncludeHoliday">
                                        <label for="customCheckbox2"
                                               class="custom-control-label">
                                            Include Holiday
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox"
                                               id="customCheckbox3" ng-model="newLeaveType.PaidLeave">
                                        <label for="customCheckbox3"
                                               class="custom-control-label">
                                            Paid Leave
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox"
                                               id="customCheckbox4" ng-model="newLeaveType.CarriedForward">
                                        <label for="customCheckbox4"
                                               class="custom-control-label">
                                            Carried Forward
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <textarea class="form-control form-control-sm" rows="1" placeholder="" ng-model="newLeaveType.Remarks"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <button type="button" class="btn btn-sm btn-info" id="LeaveType-btn"
                                            style="min-width: 90px">
                                        Back to List
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearLeaveType()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateLeaveType()">{{newLeaveType.Mode}}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form area ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>