
<script src="~/jslib/Attendance/Report.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ReportController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-pane fade show active"
                         id="pills-second"
                         role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active"
                                        id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active"
                                               id="home-tab"
                                               data-toggle="tab"
                                               href="#home"
                                               role="tab"
                                               aria-controls="home"
                                               aria-selected="true">Student Attendance Log</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link"
                                               id="profile-tab"
                                               data-toggle="tab"
                                               href="#profile"
                                               role="tab"
                                               aria-controls="profile"
                                               aria-selected="false">Online Class Attendance</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link"
                                               id="student-tab"
                                               data-toggle="tab"
                                               href="#student"
                                               role="tab"
                                               aria-controls="student"
                                               aria-selected="false">Last Attendance Log</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link"
                                               id="medium-tab"
                                               data-toggle="tab"
                                               href="#medium"
                                               role="tab"
                                               aria-controls="medium"
                                               aria-selected="false">Student Daily Attendance</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link"
                                               id="shift-tab"
                                               data-toggle="tab"
                                               href="#shift"
                                               role="tab"
                                               aria-controls="shift"
                                               aria-selected="false">Student Attendance Summary</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- col-md-9 -->
                                <!-- col-md-3 -->
                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active main-section"
                                 id="home"
                                 role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="student-attendance-log-section">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <label>For Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" date-picker ng-model="newStudentAttendanceLog.Date_TMP" date-detail="newStudentAttendanceLog.DateDet" />
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card p-2 mt-2">
                                        <header class="row mb-2">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <label class="input-group-text cstm">Show</label>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.StudentAttendanceLog">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.StudentAttendanceLog">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search"
                                                                   placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.StudentAttendanceLog" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown no-caret d-inline-block">
                                                    <button type="button"
                                                            class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                            data-toggle="dropdown">
                                                        <i class="fas fa-sync-alt"></i>
                                                    </button>
                                                </div>
                                                <a href="#"
                                                   class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <div class="dropdown dnld-file"
                                                     data-toggle="tooltip"
                                                     data-placement="top"
                                                     title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                            type="button"
                                                            id="dropdownMenuButton"
                                                            data-toggle="dropdown"
                                                            aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            Excel
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            CSV
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/pdf.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            PDF
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/word.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            Word
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/gmail.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            Mail
                                                        </a>
                                                    </div>
                                                </div>
                                                <button class="btn btn-secondary btn-light btn-sm"
                                                        data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Message"
                                                        type="button">
                                                    <i class="fas fa-envelope"></i>
                                                </button>
                                                <button class="btn btn-secondary btn-light btn-sm"
                                                        data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Notification"
                                                        type="button">
                                                    <i class="fas fa-bell"></i>
                                                </button>
                                            </div>
                                        </header>
                                        <div class="table-scroll-x-y sales-main-table table-scroll ag-theme-alpine"
                                             id="myGrid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade main-section"
                                 id="profile"
                                 role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div id="online-class-attendance-section">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label>From Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       ng-model="newOnlineClassAttendance.FromDate_TMP" date-picker date-detail="newOnlineClassAttendance.FromDateDet" />
                                            </div>
                                            <div class="col-md-1">
                                                <label>To Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       ng-model="newOnlineClassAttendance.ToDate_TMP" date-picker date-detail="newOnlineClassAttendance.ToDateDet" />
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <label>Class</label>
                                                <select class="form-control form-control-sm select2" ng-model="newOnlineClassAttendance.ClassId">
                                                    <option ng-value="0">**Select Class**</option>
                                                    <option ng-value="cl.id" ng-repeat="cl in ClassList" ng-selected="cl.id==newOnlineClassAttendance.ClassId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <label>Subject</label>
                                                <select class="select2 form-control-sm"
                                                        data-placeholder="Select Subject"
                                                        style="width: 100%" ng-model="newOnlineClassAttendance.Subject">
                                                    <option value="">Select Subject</option>
                                                    <option>A</option>
                                                    <option>B</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 col-lg-4 col-md-4 mt-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend dropdown">
                                                        <select class="input-group-text dropdown-toggle p-0"
                                                                id="dropdownMenuButton"
                                                                data-toggle="dropdown"
                                                                aria-haspopup="true"
                                                                aria-expanded="false"
                                                                style="outline: none; font-size: 14px" ng-model="newOnlineClassAttendance.SelectStudent">
                                                            <div class="dropdown-menu"
                                                                 aria-labelledby="dropdownMenuButton">
                                                                <option class="dropdown-item">
                                                                    Name
                                                                </option>
                                                                <option class="dropdown-item">
                                                                    RegdNo.
                                                                </option>
                                                                <option class="dropdown-item">
                                                                    Roll No.
                                                                </option>
                                                                <option class="dropdown-item">Id</option>
                                                            </div>
                                                        </select>
                                                    </div>
                                                    <select class="form-control select2bs4 form-control-sm">
                                                        <option selected="selected">
                                                            Select Student
                                                        </option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <label>Teacher</label>
                                                <select class="select2 form-control-sm"
                                                        data-placeholder="Select Teacher"
                                                        style="width: 100%" ng-model="newOnlineClassAttendance.Teacher">
                                                    <option value="">Select Teacher</option>
                                                    <option>Teacher A</option>
                                                    <option>B</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card p-2 mt-2">
                                        <header class="row mb-2">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <label class="input-group-text cstm">Show</label>
                                                            </div>

                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.OnlineClassAttendance">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.OnlineClassAttendance">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search"
                                                                   placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.OnlineClassAttendance" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown no-caret d-inline-block">
                                                    <button type="button"
                                                            class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                            data-toggle="dropdown">
                                                        <i class="fas fa-sync-alt"></i>
                                                    </button>
                                                </div>
                                                <a href="#"
                                                   class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <div class="dropdown dnld-file"
                                                     data-toggle="tooltip"
                                                     data-placement="top"
                                                     title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                            type="button"
                                                            id="dropdownMenuButton"
                                                            data-toggle="dropdown"
                                                            aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            Excel
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            CSV
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/pdf.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            PDF
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/word.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            Word
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/gmail.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            Mail
                                                        </a>
                                                    </div>
                                                </div>
                                                <button class="btn btn-secondary btn-light btn-sm"
                                                        data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Message"
                                                        type="button">
                                                    <i class="fas fa-envelope"></i>
                                                </button>
                                                <button class="btn btn-secondary btn-light btn-sm"
                                                        data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Notification"
                                                        type="button">
                                                    <i class="fas fa-bell"></i>
                                                </button>
                                            </div>
                                        </header>
                                        <div class="table-scroll-x-y sales-main-table table-scroll ag-theme-alpine"
                                             id="myGridnew"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade main-section"
                                 id="student"
                                 role="tabpanel"
                                 aria-labelledby="student-tab">
                                <div id="last-attendance-log-section">
                                    <div class="card p-2 mt-2">
                                        <header class="row mb-2">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <label class="input-group-text cstm">Show</label>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.LastAttendanceLog">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.LastAttendanceLog">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search"
                                                                   placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.LastAttendanceLog" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown no-caret d-inline-block">
                                                    <button type="button"
                                                            class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                            data-toggle="dropdown">
                                                        <i class="fas fa-sync-alt"></i>
                                                    </button>
                                                </div>
                                                <a href="#"
                                                   class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <div class="dropdown dnld-file"
                                                     data-toggle="tooltip"
                                                     data-placement="top"
                                                     title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                            type="button"
                                                            id="dropdownMenuButton"
                                                            data-toggle="dropdown"
                                                            aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            Excel
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            CSV
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/pdf.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            PDF
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/word.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            Word
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/gmail.png"
                                                                 class="img-fluid exports-icon"
                                                                 alt="Excel image" />
                                                            Mail
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="table-scroll-x-y sales-main-table table-scroll ag-theme-alpine"
                                             id="myGridlast"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade main-section"
                                 id="medium"
                                 role="tabpanel"
                                 aria-labelledby="medium-tab">
                                <div id="student-daily-attendance-section">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <label>From Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       date-picker ng-model="newStudentDailyAttendance.FromDate_TMP" date-detail="newStudentDailyAttendance.FromDateDet" />
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <label>To Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       date-picker ng-model="newStudentDailyAttendance.ToDate_TMP" date-detail="newStudentDailyAttendance.ToDateDet" />
                                            </div>
                                            <div class="col-sm-3 col-lg-3 col-md-3">
                                                <label>Class</label>
                                                <select class="form-control form-control-sm select2" ng-model="newStudentDailyAttendance.ClassId">
                                                    <option ng-value="0">**Select Class**</option>
                                                    <option ng-value="cl.id" ng-repeat="cl in ClassList" ng-selected="cl.id==newStudentDailyAttendance.ClassId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 col-lg-3 col-md-3">
                                                <label>Section</label>
                                                <select class="form-control form-control-sm select2" data-placeholder="Select Section" ng-model="newStudentDailyAttendance.SectionId">
                                                    <option ng-value="0">**Select Section**</option>
                                                    <option ng-value="cl.id" ng-repeat="cl in SectionList" ng-selected="cl.id==newStudentDailyAttendance.SectionId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <label>Attendance Type</label>
                                                <select class="select2 form-control-sm"
                                                        data-placeholder="Attendance Type"
                                                        style="width: 100%" ng-model="newStudentDailyAttendance.AttendanceType">
                                                    <option value="">Attendance Type</option>
                                                    <option>Attendance A</option>
                                                    <option>B</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card p-2 mt-2">
                                        <header class="row mb-2">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <label class="input-group-text cstm">Show</label>
                                                            </div>

                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.StudentDailyAttendance">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.StudentDailyAttendance">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search"
                                                                   placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.StudentDailyAttendance" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown no-caret d-inline-block">
                                                    <button type="button"
                                                            class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                            data-toggle="dropdown">
                                                        <i class="fas fa-sync-alt"></i>
                                                    </button>
                                                </div>

                                                <button class="btn btn-secondary btn-light btn-sm"
                                                        data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Message"
                                                        type="button">
                                                    <i class="fas fa-print"></i>
                                                </button>
                                            </div>
                                        </header>
                                        <div class="table-scroll-x-y sales-main-table table-scroll ag-theme-alpine"
                                             id="myGrid-daily"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade main-section"
                                 id="shift"
                                 role="tabpanel"
                                 aria-labelledby="shift-tab">
                                <div id="student-attendance-summary-section">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-sm-3 col-lg-3 col-md-3">
                                                <label>From Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       date-picker ng-model="newStudentAttendanceSummary.FromDate_TMP" date-detail="newStudentAttendanceSummary.FromDateDet" />
                                            </div>

                                            <div class="col-sm-3 col-lg-3 col-md-3">
                                                <label>To Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       date-picker ng-model="newStudentAttendanceSummary.ToDate_TMP" date-detail="newStudentAttendanceSummary.ToDateDet" />
                                            </div>

                                            <div class="col-sm-4 col-lg-4 col-md-4 mt-4">
                                                <div class="input-group input-group-sm table-search-filed">
                                                    <input class="form-control form-control-navbar"
                                                           type="search"
                                                           placeholder="Search"
                                                           aria-label="Search" ng-model="searchData.StudentAttendanceSummary" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default border-left-0"
                                                                type="submit">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="card p-2 mt-2">
                                        <div class="table-scroll-x-y sales-main-table table-scroll ag-theme-alpine"
                                             id="myGridsummary"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>
