<script src="~/jslib/Attendance/WorkingShift.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="WorkingShiftController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active"
                         id="pills-second"
                         role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active"
                                        id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active"
                                               id="home-tab"
                                               data-toggle="tab"
                                               href="#home"
                                               role="tab"
                                               aria-controls="home"
                                               aria-selected="true">Create Shift</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link"
                                               id="profile-tab"
                                               data-toggle="tab"
                                               href="#profile"
                                               role="tab"
                                               aria-controls="profile"
                                               aria-selected="false">Shift Mapping</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <!--Create Shift Tab Starts-->
                            <div class="tab-pane fade show active main-section"
                                 id="home"
                                 role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="create-shift-table">
                                    <div class="card py-2">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Create">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Create">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search" ng-model="searchData.Create"
                                                                   aria-label="Search">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0" type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">

                                                <div class="dropdown dnld-file ml-2" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#createShift'" sheet-name="'createShiftList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" onClick="$('#createShift').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                        @*<a class="dropdown-item wait" onClick="$('#createShift').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                        <a class="dropdown-item wait" onClick="$('#createShift').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                        <a class="dropdown-item wait" onClick="$('#createShift').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>*@
                                                    </div>
                                                </div>
                                                <a print-tbl table-id="'#createShift'" href="#" class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-shift-form" style="min-width: 90px">
                                                    <i class="fas fa-plus w-t"></i> Add Working Shift
                                                </button>
                                            </div>
                                        </header>
                                        <div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="createShift" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 60px">S.No.</th>
                                                            <th style="width: 200px">Name</th>
                                                            <th style="width: 130px">Code</th>
                                                            <th style="width: 130px">OnDuty Time</th>
                                                            <th style="width: 130px">OffDuty Time</th>
                                                            <th style="width: 130px">Shift Duration(minute)</th>
                                                            <th style="width: 100px">Is Default</th>
                                                            <th style="width: 80px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="cl in WorkingShiftList | filter:searchData.Create | itemsPerPage: perPage.Create" current-page="currentPages.Create" pagination-id="CreatePagination">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{cl.Name}}</td>
                                                            <td>{{cl.Code}}</td>
                                                            <td>{{cl.OnDutyTime |timeFormat}}</td>
                                                            <td>{{cl.OffDutyTime |timeFormat}}</td>
                                                            <td>{{cl.ShiftDuration}}</td>
                                                            <td>{{cl.IsDefault}}</td>
                                                            <td>
                                                                <a class="p-1" href="#" ng-click="GetCreateById(cl)">
                                                                    <i class="fas fa-edit text-info"></i>
                                                                </a>
                                                                <a class="p-1" href="#" ng-click="DelCreateById(cl)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- table end -->
                                            </div>
                                        </div>
                                        <footer class="row align-items-center mt-1">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="CreatePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                                <!--Crate Shift Form Starts-->
                                <div id="create-shift-form">
                                    <div class="card py-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newWorkingShift.Name" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">Code</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newWorkingShift.Code" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">OnDuty Time</label>
                                                    <input type="time" class="form-control form-control-sm" ng-model="newWorkingShift.OnDutyTime" ng-change="CalculateDuration()" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">OffDuty Time</label>
                                                    <input type="time" class="form-control form-control-sm" ng-model="newWorkingShift.OffDutyTime" ng-change="CalculateDuration()" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">ShiftDuration(minute):</label>
                                                    <input type="number" class="form-control form-control-sm" ng-model="newWorkingShift.ShiftDuration" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox mt-4">
                                                        <input class="custom-control-input" type="checkbox"
                                                               id="chkIsDefault" ng-model="newWorkingShift.IsDefault">
                                                        <label for="chkIsDefault"
                                                               class="custom-control-label">
                                                            Is Default
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="border: 1px solid #d4e1db;">
                                            
                                            <div class="card-header p-2" style="background-color: #e9f2ee;">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>Shift Break Detail</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox1" ng-model="newWorkingShift.EnableTwoShiftInADay">
                                                            <label for="customCheckbox1"
                                                                   class="custom-control-label">
                                                                Enable Two Shift In A Day
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="custom-control custom-checkbox mt-4">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxbreak1" ng-model="newWorkingShift.Break1">
                                                            <label for="customCheckboxbreak1"
                                                                   class="custom-control-label">
                                                                Break1
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Start Time</label>
                                                            <input type="time" class="form-control form-control-sm" ng-model="newWorkingShift.Break1StartTime" ng-change="CalculateDuration()" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">End Time</label>
                                                            <input type="time" class="form-control form-control-sm" ng-model="newWorkingShift.Break1EndTime" ng-change="CalculateDuration()" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Duration(minute):</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newWorkingShift.Break1Duration" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="custom-control custom-checkbox mt-4">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxbreak2" ng-model="newWorkingShift.Break2">
                                                            <label for="customCheckboxbreak2"
                                                                   class="custom-control-label">
                                                                Break2
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Start Time</label>
                                                            <input type="time" class="form-control form-control-sm" ng-model="newWorkingShift.Break2StartTime" ng-change="CalculateDuration()" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">End Time</label>
                                                            <input type="time" class="form-control form-control-sm" ng-model="newWorkingShift.Break2EndTime" ng-change="CalculateDuration()" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Duration(minute):</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newWorkingShift.Break2Duration" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="custom-control custom-checkbox mt-4">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxbreakhalf" ng-model="newWorkingShift.HalfDay">
                                                            <label for="customCheckboxbreakhalf"
                                                                   class="custom-control-label">
                                                                Half Day
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Start Time</label>
                                                            <input type="time" class="form-control form-control-sm" ng-model="newWorkingShift.HalfDayStartTime" ng-change="CalculateDuration()" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">End Time</label>
                                                            <input type="time" class="form-control form-control-sm" ng-model="newWorkingShift.HalfDayEndTime" ng-change="CalculateDuration()" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Duration(minute):</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newWorkingShift.HalfDayDuration" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="border: 1px solid #d4e1db;">
                                            <div class="card-header p-2" style="background-color: #e9f2ee;">
                                                <label>Weekly off days Condiditon</label>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>First Weekly Off</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newWorkingShift.FirstWeeklyOff">
                                                                <option ng-repeat="ct in FirstWeeklyOffList track by ct.id" ng-value="{{ ct.id }}" ng-selected="ct.id==newWorkingShift.FirstWeeklyOff">
                                                                    {{ct.text}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Second Weekly Off</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newWorkingShift.SecondWeeklyOff">
                                                                <option ng-repeat="ct in FirstWeeklyOffList track by ct.id" ng-value="{{ ct.id }}" ng-selected="ct.id==newWorkingShift.SecondWeeklyOff">
                                                                    {{ct.text}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Second Weekly Off Type</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newWorkingShift.SecondWeeklyOffType">
                                                                <option ng-repeat="ct in SecondWeeklyOffTypeList track by ct.id" ng-value="{{ ct.id }}" ng-selected="ct.id==newWorkingShift.SecondWeeklyOffType">
                                                                    {{ct.text}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Remove Duplicate Punch(minutes)</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newWorkingShift.RemoveDuplicatePunch" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Single Punch Policy</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newWorkingShift.SinglePunchPolicy">
                                                                <option ng-repeat="ct in SinglePunchPolicyList track by ct.id" ng-value="{{ ct.id }}" ng-selected="ct.id==newWorkingShift.SinglePunchPolicy">
                                                                    {{ct.text}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Max Early Hour Allow (minutes)</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newWorkingShift.MaxEarlyMinutesAllow" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Max OT Allow (minutes)</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newWorkingShift.MaxOTAllow" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">No of Present for Weekly Off</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newWorkingShift.NoofPresentforWeeklyOff" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header p-2" style="background-color: #e9f2ee;border:1px solid #ccc">
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2">
                                                        <label class="float-right mt-1">OT Calculation</label>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <select class="form-control form-control-sm" name="OTCalculation" id="txtOTCalculation" ng-model="newWorkingShift.OTCalculation">
                                                            <option ng-repeat="ct in OTCalculationList track by ct.id" ng-value="{{ct.id}}" ng-selected="ct.id==newWorkingShift.OTCalculation">
                                                                {{ct.text}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1 col-sm-1">
                                                        <label>/ WAWAbsent </label>
                                                    </div>
                                                    <div class="col-md-1 col-sm-1">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="waw" ng-model="newWorkingShift.WAWAbsent">
                                                            <label for="waw"
                                                                   class="custom-control-label">
                                                                W-A-W
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 col-sm-1">
                                                        <label>/ LWL Absent  </label>
                                                    </div>
                                                    <div class="col-md-1 col-sm-1">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="lwl" ng-model="newWorkingShift.LWLAbsent">
                                                            <label for="lwl"
                                                                   class="custom-control-label">
                                                                L-W-L
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!--New Field Added by suresh on 4 Ashwin-->
                                            <div class="col-sm-2 col-lg-2  col-md-2">
                                                <div class="form-group">
                                                    <label>Absent Notification Time</label>
                                                    <input type="time"
                                                           class="form-control form-control-sm"
                                                           placeholder="" ng-model="newWorkingShift.AbsentNoticeTime_TMP" />
                                                </div>
                                            </div>
                                            <!--Ends-->
                                        </div>

                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-to-createlist" style="min-width: 90px">
                                                    Back to List
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearCreate()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateCreate()">{{newWorkingShift.Mode}}</button>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <!--Crate Shift Form Ends-->
                            </div>
                            <!--Working Shift Tab Ends-->
                            <!--Shift Mapping Tab Starts-->
                            <div class="tab-pane fade main-section"
                                 id="profile"
                                 role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div id="shift-mapping-table">
                                    <div class="card py-2">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Mapping">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Mapping">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search" ng-model="searchData.Mapping"
                                                                   aria-label="Search">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0" type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">

                                                <div class="dropdown dnld-file ml-2" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#ShiftMapping'" sheet-name="'ShiftMappingList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" onClick="$('#ShiftMapping').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                        @*<a class="dropdown-item wait" onClick="$('#ShiftMapping').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                        <a class="dropdown-item wait" onClick="$('#ShiftMapping').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                        <a class="dropdown-item wait" onClick="$('#ShiftMapping').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>*@
                                                    </div>
                                                </div>
                                                <a print-tbl table-id="'#ShiftMapping'" href="#" class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-shift-mapping" style="min-width: 90px">
                                                    <i class="fas fa-plus w-t"></i> Add Shift Mapping
                                                </button>
                                            </div>
                                        </header>
                                        <div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="ShiftMapping" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 60px">S.No.</th>
                                                            <th style="width: 200px">Department</th>
                                                            <th style="width: 230px">Employee Name</th>
                                                            <th style="width: 130px">Emp.Code</th>
                                                            <th style="width: 150px">Working Shift</th>
                                                            <th style="width: 130px">Date From</th>
                                                            <th style="width: 130px">Date To</th>
                                                            <th style="width: 80px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="cl in MappingList | filter:searchData.Mapping | itemsPerPage: perPage.Mapping" current-page="currentPages.Mapping" pagination-id="MappingPagination">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{cl.Department}}</td>
                                                            <td>{{cl.EmpName}}</td>
                                                            <td>{{cl.EmpCode}}</td>
                                                            <td>{{cl.WorkingShiftName}}</td>
                                                            <td>{{cl.DateFrom_BS}}</td>
                                                            <td>{{cl.DateTo_BS}}</td>
                                                            <td>
                                                                @*<a class="p-1" href="#" ng-click="GetMappingById(cl)">
                                                                        <i class="fas fa-edit text-info"></i>
                                                                    </a>*@
                                                                <a class="p-1" href="#" ng-click="DelMappingById(cl)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- table end -->
                                            </div>
                                        </div>
                                        <footer class="row align-items-center mt-1">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="MappingPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                                <!--Crate Shift Mapping Form Starts-->
                                <div id="shift-mapping-form">
                                    <div class="card py-2">
                                        <div class="row">
                                            <div class="col-sm-8 col-lg-8 col-md-8 mb-2"
                                                 id="meet-employee">
                                                <label for="inlineFormInputGroup">Select Employee</label>
                                                <div class="input-group-prepend">
                                                    <select class="input-group-text dropdown-toggle p-0"
                                                            style="outline: none;
                                                                            border-top-right-radius: unset;
                                                                            border-bottom-right-radius: unset;
                                                                            margin-right: -3px;
                                                                            z-index: 1;
                                                                    " ng-model="newMapping.SelectEmployee">

                                                        <option class="dropdown-item" ng-repeat="ss in EmployeeSearchOptions" ng-value="ss.value" ng-selected="ss.value==newMapping.EmployeeSearchBy">
                                                            {{ss.text}}
                                                        </option>
                                                    </select>
                                                    <select class="form-control select2bs4 form-control-sm" all-employee ng-model="newMapping.EmployeeId" student-detail="newMapping.EmployeeDetails" side-bar-data="newMapping.EmpSideBarData" search-by="newMapping.EmployeeSearchBy">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Working Shift</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newMapping.WorkingShiftId">
                                                        <option ng-value="ws.WorkingShiftId" ng-repeat="ws in WorkingShiftList">{{ws.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="">Date From</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newMapping.DateFrom_TMP" date-detail="newMapping.DateFromDet">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="">Date To</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newMapping.DateTo_TMP" date-detail="newMapping.DateToDet">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-to-mappinglist" style="min-width: 90px">
                                                    Back to List
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearMapping()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateMapping()">{{newMapping.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!--Crate Shift Mapping Form Ends-->
                            </div>
                            <!--Shift Mapping Tab Ends-->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
