
<script src="~/jslib/export/tableExport.js"></script>
<script src="~/jslib/export/jquery.base64.js"></script>

<script src="~/jslib/export/jspdf/libs/sprintf.js"></script>
<script src="~/jslib/export/jspdf/jspdf.js"></script>
<script src="~/jslib/export/jspdf/libs/base64.js"></script>

<script src="~/jslib/admission/setup.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="SetupController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <header class="if-page-have-nav-tabs px-2">
                                <div class="row upper-tab">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                                   aria-controls="profile" aria-selected="false">Enquiry Source</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                                   aria-controls="contact" aria-selected="false">Followup Communication Type</a>
                                            </li>

                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="Voucher-tab" data-toggle="tab" href="#Voucher" role="tab"
                                                   aria-controls="Voucher" aria-selected="false">Voucher No Configuration</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link"
                                                   id="class-tab"
                                                   data-toggle="tab"
                                                   href="#online-class"
                                                   role="tab"
                                                   aria-controls="onlineclass"
                                                   aria-selected="false">Class</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade main-section active show" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">

                                    <div id="source-section" class="card py-2">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0"
                                                                    id="exampleFormControlSelect1" ng-model="perPage.Source">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Source">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.Source">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0" type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#source-table'" sheet-name="'user'" file-type="'excel'" report-name="'user List'"  ><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" export-excel table-id="'#source-table'" sheet-name="'user'" file-type="'csv'" report-name="'user List'"  ><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                      
                                                    </div>
                                                </div>
                                                <a print-tbl table-id="'#source-table'" class="btn btn-secondary btn-light btn-sm wait"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-source"
                                                        style="min-width: 90px">
                                                    <i class="fas fa-plus w-t"></i> Add Enquiry Source
                                                </button>
                                            </div>
                                        </header>
                                        <div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="source-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 80px">Order No</th>
                                                            <th style="width: 200px">Name</th>
                                                            <th style="width: 300px">Description</th>
                                                            <th style="width: 120px">Status</th>
                                                            <th style="width: 80px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="cl in SourceList | filter:searchData.Source | itemsPerPage: perPage.Source" current-page="currentPages.Source" pagination-id="SourceNamePagination">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{cl.Name}}</td>
                                                            <td>{{cl.Description}}</td>
                                                            <td>
                                                                {{(StatusColl | findById:'id':cl.Status).text}}
                                                            </td>
                                                            <td>
                                                                <a class="p-1" href="#" ng-click="GetSourceById(cl)">
                                                                    <i class="fas fa-edit text-info"></i>
                                                                </a>
                                                                <a class="p-1" href="#" ng-click="GetSourceById(cl)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- table end -->
                                        </div>
                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="SourceNamePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>
                                    <!-- source form starts -->
                                    <div id="source-form" class="card">
                                        <div class="row card-body py-2 px-0">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newSource.Name" />
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select class="form-control form-control-sm select2" style="width: 100%" ng-model="newSource.Status">
                                                        <option ng-repeat="s in StatusColl" ng-value="s.id" ng-selected="s.id==newSource.Status">
                                                            {{s.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="">Order No.</label>
                                                    <input type="number" class="form-control form-control-sm" ng-model="newSource.OrderNo" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control form-control-sm" rows="3"
                                                              placeholder="Enter ..." ng-model="newSource.Description"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="sourceback-btn"
                                                        style="min-width: 90px">
                                                    Back to List
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px" ng-click="ClearSource()">
                                                    Reset
                                                </button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px" ng-click="SaveUpdateSource()">
                                                    {{newCommunicationType.Mode}}
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- source form ends -->
                                </div>
                                <div class="tab-pane fade main-section" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <div id="setup-complain-section" class="card py-2">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0"
                                                                    id="exampleFormControlSelect1" ng-model="perPage.CommunicationType">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.CommunicationType">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.CommunicationType">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0" type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">

                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#communicationtype-table'" sheet-name="'ClassWiseSubject'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" onClick="$('#communicationtype-table').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                       
                                                    </div>
                                                </div>
                                                <a print-tbl table-id="'#communicationtype-table'" class="btn btn-secondary btn-light btn-sm wait"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-setup-complain"
                                                        style="min-width: 90px">
                                                    <i class="fas fa-plus w-t"></i> Add Communication
                                                </button>
                                            </div>
                                        </header>
                                        <div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="communicationtype-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 80px">Order No</th>
                                                            <th style="width: 200px">Name</th>
                                                            <th style="width: 300px">Description</th>
                                                            <th style="width: 120px">Status</th>
                                                            <th style="width: 80px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="cl in CommunicationTypeList | filter:searchData.CommunicationType | itemsPerPage: perPage.CommunicationType" current-page="currentPages.CommunicationType" pagination-id="CommunicationTypePagination">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{cl.Name}}</td>
                                                            <td>{{cl.Description}}</td>
                                                            <td>
                                                                {{(StatusColl | findById:'id':cl.Status).text}}
                                                            </td>
                                                            <td>
                                                                <a class="p-1" href="#" ng-click="GetCommunicationTypeById(cl)">
                                                                    <i class="fas fa-edit text-info"></i>
                                                                </a>
                                                                <a class="p-1" href="#" ng-click="GetCommunicationTypeById(cl)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- table end -->
                                        </div>
                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="CommunicationTypePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>
                                    <!-- COMMUNICATION TYPE Form Starts -->
                                    <div id="setup-complain-form" class="card">
                                        <div class="row card-body py-2 px-0">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newCommunicationType.Name" />
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select class="form-control form-control-sm select2" style="width: 100%" ng-model="newCommunicationType.Status">
                                                        <option ng-repeat="s in StatusColl" ng-value="s.id" ng-selected="s.id==newCommunicationType.Status">
                                                            {{s.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="">Order No.</label>
                                                    <input type="number" class="form-control form-control-sm" ng-model="newCommunicationType.OrderNo" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control form-control-sm" rows="3"
                                                              placeholder="Enter ..." ng-model="newCommunicationType.Description"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="setup-complainback-btn"
                                                        style="min-width: 90px">
                                                    Back to List
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px" ng-click="ClearCommunicationType()">
                                                    Reset
                                                </button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px" ng-click="SaveUpdateCommunicationType()">
                                                    {{newCommunicationType.Mode}}
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- COMMUNICATION TYPE Form Ends -->
                                </div>

                                <div class="tab-pane fade main-section" id="Voucher" role="tabpanel" aria-labelledby="contact-tab">

                                    <div class="card border mt-2">
                                        <div class="p-2 card-header" style="background-color: #bdddab63">
                                            <h6 class="mb-0">Enquiry</h6>
                                        </div>
                                        <div class="p-2 card-body mt-2">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>For Branch</label>
                                                                <select class="form-control form-control-sm select" ng-model="newEnquiry.BranchId" ng-change="GetEnquiryConfig()">
                                                                    <option ng-value="0">**Select Branch**</option>
                                                                    <option ng-value="brc.BranchId" ng-repeat="brc in BranchList" ng-selected="brc.BranchId==newEnquiry.BranchId">{{brc.Name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                @*<label>
                                                                    Active Admission
                                                                    <input type="checkbox" class="form-control form-control-sm" ng-model="newEnquiry.ActiveAdmission" />
                                                                </label>*@

                                                                <label class="checkbox-wrap mt-4">
                                                                    Active Admission
                                                                    <input type="checkbox"
                                                                           name="ActiveAdmission" ng-model="newEnquiry.ActiveAdmission" />
                                                                    <span class="checkmark"></span>
                                                                </label>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Numbering Method</label>
                                                                <select class="form-control form-control-sm select2" ng-model="newEnquiry.NumberingMethod" style="width: 100%">
                                                                    <option ng-value="nm.value" ng-repeat="nm in numberingMethods" ng-selected="nm.value==newEnquiry.NumberingMethod">{{nm.text}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Prefix</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="newEnquiry.Prefix" />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Suffix</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="newEnquiry.Suffix" />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label for="">Start No.</label>
                                                                <input type="number" class="form-control form-control-sm" ng-model="newEnquiry.StartNo" />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label for="">Number Pad Width</label>
                                                                <input type="number" class="form-control form-control-sm" ng-model="newEnquiry.NumericalPartWidth" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="form-group">
                                                                <label for="">Allow Referral Code For User</label>
                                                                <select ng-model="newEnquiry.AllowReferralForUserIdColl_TMP" class="form-control input-sm select2" multiple="multiple" id="cboUserEnquiry">
                                                                    <option ng-repeat="cl in UserList track by cl.UserId" value="{{cl.UserId}}" ng-selected="{{newEnquiry.AllowReferralForUserIdColl_TMP.containt(cl.UserId)}}">
                                                                        {{cl.UserName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="">Declaration</label>
                                                                <textarea class="textarea" placeholder="Place some text here"
                                                                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" ng-model="newEnquiry.Declaration" html-editor></textarea>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label><b>Fields</b></label>
                                                    <form action="#">
                                                        <select class="form-control p-0" name="languages" id="lang" size="18">
                                                            <option value="TranId">TranId</option>
                                                            <option value="AutoVoucherNo">Auto Voucher No</option>
                                                            <option value="ManualVoucherNo">Manual Voucher No</option>
                                                            <option value="VoucherId">Voucher Id</option>
                                                            <option value="CostClassId">Cost Class Id</option>
                                                            <option value="VoucherDate">Voucher Date</option>
                                                            <option value="PartyLedgerId">Party Ledger Id</option>
                                                            <option value="PartyName">Party Name</option>
                                                            <option value="Narration">Narration</option>
                                                            <option value="IsCancel">IsCancel</option>
                                                            <option value="TranId">TranId</option>
                                                            <option value="AutoVoucherNo">Auto Voucher No</option>
                                                            <option value="ManualVoucherNo">Manual Voucher No</option>
                                                            <option value="VoucherId">Voucher Id</option>
                                                            <option value="CostClassId">Cost Class Id</option>
                                                            <option value="VoucherDate">Voucher Date</option>
                                                            <option value="PartyLedgerId">Party Ledger Id</option>
                                                            <option value="PartyName">Party Name</option>
                                                            <option value="Narration">Narration</option>
                                                            <option value="IsCancel">IsCancel</option>
                                                        </select>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="card border">
                                        <div class="p-2 card-header" style="background-color: #bdddab63;">
                                            <h6 class="mb-0">Registration</h6>
                                        </div>
                                        <div class="p-2 card-body">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>For Branch</label>
                                                                <select class="form-control form-control-sm select" ng-model="newRegistration.BranchId" ng-change="GetRegistrationConfig()">
                                                                    <option ng-value="0">**Select Branch**</option>
                                                                    <option ng-value="brc.BranchId" ng-repeat="brc in BranchList" ng-selected="brc.BranchId==newRegistration.BranchId">{{brc.Name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                @*<label>
                                                                    Active Admission
                                                                    <input type="checkbox" class="form-control form-control-sm" ng-model="newRegistration.ActiveAdmission" />
                                                                </label>*@

                                                                <label class="checkbox-wrap mt-4">
                                                                    Active Admission
                                                                    <input type="checkbox"
                                                                           name="ActiveAdmission1"  ng-model="newRegistration.ActiveAdmission" />
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Numbering Method</label>
                                                                <select class="form-control form-control-sm select2" ng-model="newRegistration.NumberingMethod" style="width: 100%">
                                                                    <option ng-value="nm.value" ng-repeat="nm in numberingMethods" ng-selected="nm.value==newRegistration.NumberingMethod">{{nm.text}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Prefix</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="newRegistration.Prefix" />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Suffix</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="newRegistration.Suffix" />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label for="">Start No.</label>
                                                                <input type="number" class="form-control form-control-sm" ng-model="newRegistration.StartNo" />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label for="">Number Pad Width</label>
                                                                <input type="number" class="form-control form-control-sm" ng-model="newRegistration.NumericalPartWidth" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="form-group">
                                                                <label for="">Allow Referral Code For User</label>
                                                                <select ng-model="newRegistration.AllowReferralForUserIdColl_TMP" class="form-control input-sm select2" multiple="multiple" id="cboUserRegistration">
                                                                    <option ng-repeat="cl in UserList track by cl.UserId" value="{{cl.UserId}}" ng-selected="{{newRegistration.AllowReferralForUserIdColl_TMP.containt(cl.UserId)}}">
                                                                        {{cl.UserName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="">Declaration</label>
                                                                <textarea class="textarea" placeholder="Place some text here"
                                                                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" ng-model="newRegistration.Declaration" html-editor></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label><b>Fields</b></label>
                                                    <form action="#">
                                                        <select class="form-control p-0" name="languages" id="lang" size="18">
                                                            <option value="TranId">TranId</option>
                                                            <option value="AutoVoucherNo">Auto Voucher No</option>
                                                            <option value="ManualVoucherNo">Manual Voucher No</option>
                                                            <option value="VoucherId">Voucher Id</option>
                                                            <option value="CostClassId">Cost Class Id</option>
                                                            <option value="VoucherDate">Voucher Date</option>
                                                            <option value="PartyLedgerId">Party Ledger Id</option>
                                                            <option value="PartyName">Party Name</option>
                                                            <option value="Narration">Narration</option>
                                                            <option value="IsCancel">IsCancel</option>
                                                            <option value="TranId">TranId</option>
                                                            <option value="AutoVoucherNo">Auto Voucher No</option>
                                                            <option value="ManualVoucherNo">Manual Voucher No</option>
                                                            <option value="VoucherId">Voucher Id</option>
                                                            <option value="CostClassId">Cost Class Id</option>
                                                            <option value="VoucherDate">Voucher Date</option>
                                                            <option value="PartyLedgerId">Party Ledger Id</option>
                                                            <option value="PartyName">Party Name</option>
                                                            <option value="Narration">Narration</option>
                                                            <option value="IsCancel">IsCancel</option>
                                                        </select>
                                                    </form>

                                                </div>
                                            </div>
                                            <div class="time-label">
                                                <span class="d-block border-0 p-3 text-center">
                                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px">
                                                        Reset
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px" ng-click="SaveUpdateConfiguration()">
                                                        Save
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="tab-pane fade main-section"
                                     id="online-class"
                                     role="tabpanel"
                                     aria-labelledby="class-tab">

                                    <div id="source-section" class="card py-2 px-0">

                                        <div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="main-table"
                                                       class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 100px">S.No.</th>
                                                            <th>Name</th>
                                                            <th>Display Name</th>
                                                            <th>For Registration</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cl in ClassList">
                                                            <td>{{cl.OrderNo}}</td>
                                                            <td>{{cl.Name}}</td>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control form-control-sm" ng-model="cl.DisplayName" />
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" ng-model="cl.ForOnlineRegistration" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- table end -->

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-center my-3">
                                                        <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveForOnlineRegistration()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>