
@{ ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    .card-head {
        padding: 0px 15px !important;
        background-color:#fff;
    }
</style>
<link href="~/teacherloginFiles/dynamic/css/lessonplan.css" rel="stylesheet" />
<script src="~/AngularJs/Creation/LessonPlan.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="LessonPlanController" ng-init="LoadData()">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <section class="iframe-content-starts-here">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                             aria-labelledby="pills-second-tab">
                            <header class="if-page-have-nav-tabs">
                                <div class="row upper-tab">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                            role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                   href="#home" role="tab" aria-controls="home"
                                                   aria-selected="true">Add Lesson</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab"
                                                   href="#profile" role="tab" aria-controls="profile"
                                                   aria-selected="false">List Of Lessons</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="contact-tab" data-toggle="tab"
                                                   href="#contact" role="tab" aria-controls="contact"
                                                   aria-selected="false">Add Lesson Plan</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="board-tab" data-toggle="tab" href="#board"
                                                   role="tab" aria-controls="board" aria-selected="false">
                                                    List Of
                                                    Lesson Plan
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                            <!-- end if-page-have-nav-tabs -->
                            <div class="tab-content" id="myTabContent">
                                <!--Add Lesson Starts-->
                                <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="timeline registration-form">
                                        <!-- new container added -->
                                        <div class="container1">
                                            <div class="accordion" id="accordionExample" style="margin-top: 0;">
                                                <div class="card">
                                                    <div class="card-head" id="headingOne">
                                                        <h2 class="mb-0" data-toggle="collapse"
                                                            data-target="#collapseOne" aria-expanded="true"
                                                            aria-controls="collapseOne">
                                                            <span class="acc_open">Class Details</span>
                                                        </h2>
                                                    </div>
                                                    <div id="collapseOne" class="collapse show"
                                                         aria-labelledby="headingOne"
                                                         data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div class="timeline-item">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label>Class</label>
                                                                            <select class="form-control form-control-sm select2" ng-model="newAddLesson.ClassId" ng-change="GetClassWiseSubjectList(newAddLesson.ClassId)">
                                                                                <option ng-value="0">**Select Class**</option>
                                                                                <option ng-value="cl.ClassId" ng-repeat="cl in ClassSection">{{cl.Name}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label>Subject</label>
                                                                            <select class="form-control form-control-sm select2" ng-model="newAddLesson.SubjectId" ng-change="GetLessonPlanByClassSubject(newAddLesson.ClassId,newAddLesson.SubjectId)">
                                                                                <option ng-value="cl.SubjectId" ng-repeat="cl in SubjectList" ng-selected="cl.SubjectId==newAddLesson.SubjectId">{{cl.Name}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="quantity">
                                                                            <label>Number of Lessons</label>
                                                                            <div class="input-group">
                                                                                <input type="number" id="quantity" name="quantity" class="input-number form-control form-control-sm addsubtip" ng-model="newAddLesson.NoOfLesson" min="1" max="100" ng-change="ChangeNoOfLesson()">
                                                                                <span class="input-group-btn">
                                                                                    <button class="quantity-left-minus btn  btn-sm btn btn-number" data-type="plus" data-field="" ng-click="addNL(-1)">
                                                                                        <i class="fas fa-minus subt"></i>
                                                                                    </button>
                                                                                </span>
                                                                                <span class="input-group-btn">
                                                                                    <button class="quantity-right-plus btn btn-number btn-sm btn" data-type="minus" data-field="" ng-click="addNL(1)">
                                                                                        <i class="fas fa-plus add"></i>
                                                                                    </button>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="addfile">
                                                                            <div class="upload-btn-wrapper">
                                                                                <button class="btn"><i class="fas fa-link"></i><br>Book Cover</button>
                                                                                <input id="bookCover" type="file" accept=".jpg,.jpeg,.png" file-model ng-model="newAddLesson.Files_TMP" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion" id="accordionExample2" style="margin-top: 0;">
                                                <div class="card">
                                                    <div class="card-head" id="headingTwo">
                                                        <h2 class="mb-0 collapsed" data-toggle="collapse"
                                                            data-target="#collapseTwo" aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                            <span class="acc_open">Lesson Details</span>

                                                        </h2>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse show"
                                                         aria-labelledby="headingTwo"
                                                         data-parent="#accordionExample2">
                                                        <div class="card-body">
                                                            <div class="timeline-item">
                                                                <div class="row">
                                                                    <div class="col-md-4 addtopic">
                                                                        <label>Add {{newAddLesson.NoOfLesson}} Lessons & Its Topics</label>
                                                                        <div class="lesson" ng-repeat="ld in newAddLesson.DetailsColl" @*ng-class="{{ld.SNo==1 ? 'activetopic':''}}"*@>
                                                                            <div class="d-flex">
                                                                                <i class="fas fa-caret-right mr-3"></i>
                                                                                <div><label class="numbering">{{ld.SNo}}</label></div>
                                                                                <div class="titleName">
                                                                                    <input class="form-control form-control-sm txtip" placeholder="lesson name" ng-model="ld.LessonName" ng-focus="ChangeCurrentLesson(ld)">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <div class="one-lesson-subtopic" ng-repeat="tc in CurrentLesson.TopicColl">
                                                                            <div class="lesson">
                                                                                <div class="d-flex">
                                                                                    <div><label class="numbering">{{CurrentLesson.SNo}}.{{tc.SNo}}</label></div>
                                                                                    <div class="titleName">
                                                                                        <input type="text" class="form-control form-control-sm txtip" placeholder="lesson topic name" ng-model="tc.TopicName">
                                                                                    </div>
                                                                                    <i class="fas fa-plus addicon ml-2" ng-show="tc.SNo==CurrentLesson.TopicColl.length" ng-click="AddTopic($index)"></i>
                                                                                    <i class="far fa-trash-alt delete-icon ml-2" ng-show="tc.SNo>1" ng-click="DelTopic($index)"></i>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="time-label">
                                                <span class="d-block border-0 p-3 text-center">
                                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px" ng-click="ClearAddLesson()">
                                                        Reset
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px" ng-click="CallSaveUpdateLessonPlan()">
                                                        Save
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Add Lesson Ends-->
                                <!--List Of Lessons Starts-->
                                <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <div class="container1">
                                        <div class="accordion" id="accordionExample3" style="margin-top: 0;">
                                            <div class="card">
                                                <div class="card-head" id="headingthree">
                                                    <h2 class="mb-0" data-toggle="collapse"
                                                        data-target="#collapsethree" aria-expanded="true"
                                                        aria-controls="collapsethree">
                                                        <span class="acc_open">Class Details</span>

                                                    </h2>
                                                </div>
                                                <div id="collapsethree" class="collapse show"
                                                     aria-labelledby="headingthree"
                                                     data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Class</label>
                                                                        <select class="form-control form-control-sm select2" ng-model="newListOfLessons.ClassId" ng-change="GetClassWiseSubjectListForLP(newListOfLessons.ClassId)">
                                                                            <option ng-value="0">**Select Class**</option>
                                                                            <option ng-value="cl.ClassId" ng-repeat="cl in ClassSection" ng-selected="cl.ClassId==newListOfLessons.ClassId">{{cl.Name}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Subject</label>
                                                                        <select class="form-control form-control-sm select2" ng-model="newListOfLessons.SubjectId" ng-change="GetLessonPlanByClassSubjectLP(newListOfLessons.ClassId,newListOfLessons.SubjectId)">
                                                                            <option ng-value="0">**Select Subject**</option>
                                                                            <option ng-value="cl.SubjectId" ng-repeat="cl in SubjectListLP" ng-selected="cl.SubjectId==newListOfLessons.SubjectId">{{cl.Name}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion" id="accordionExample4" style="margin-top: 0;">
                                            <div class="card">
                                                <div class="card-head" id="headingfour">
                                                    <h2 class="mb-0 collapsed" @*data-toggle="collapse"
                                                    data-target="#collapsefour" aria-expanded="false"
                                                    aria-controls="collapsefour"*@>
                                                        <span class="acc_open">{{newListOfLessonPlan.SubjectName}}</span>
                                                    </h2>
                                                </div>
                                                <div id="collapsefour" class="collapse show"
                                                     aria-labelledby="headingfour"
                                                     data-parent="#accordionExample2">
                                                    <div class="card" style="border:1px solid #cad8d2;margin-left:40px;">
                                                        <div class="card-header" style="background-color: #e9f2ee; padding:4px 20px;">
                                                            <div class="row">
                                                                <div class="col-md-11">
                                                                    <h6># Lessons and Topics</h6>
                                                                </div>
                                                                @*<div class="col-md-1">
                                                                <div class="text-center">
                                                                    <h6>Action</h6>
                                                                </div>
                                                            </div>*@
                                                            </div>
                                                        </div>
                                                        <div class="card-body" style="padding-left: 20px;">
                                                            <div class="row">
                                                                <div class="col-md-11">
                                                                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                                                        <div id="listing" ng-repeat="ld in newListOfLessons.DetailsColl">
                                                                            <p class="topic">{{ld.SNo}}. {{ld.LessonName}}</p>
                                                                            <ul class="topic_section pl-2">
                                                                                <li class="past_section" ng-repeat="td in ld.TopicColl"><span style="top: -10px;">----</span><a href="#">{{ld.SNo}}.{{td.SNo}}. {{td.TopicName}} </a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--List Of Lessons Ends-->
                                <!--Add Lesson Plan Starts-->
                                <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                     aria-labelledby="contact-tab">
                                    <div class="container1">
                                        <div class="accordion" id="accordionExample5" style="margin-top: 0;">
                                            <div class="card">
                                                <div class="card-head" id="headingfive">
                                                    <h2 class="mb-0" @*data-toggle="collapse"
                                                    data-target="#collapsefive" aria-expanded="true"
                                                    aria-controls="collapsefive"*@>
                                                        <span class="acc_open">Class Details</span>
                                                    </h2>
                                                </div>
                                                <div id="collapsefive" class="collapse show"
                                                     aria-labelledby="headingfive"
                                                     data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <div class="timeline-item">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Class</label>
                                                                        <select class="form-control form-control-sm select2" ng-model="newAddLessonPlan.ClassId" ng-change="GetClassWiseSubjectListForALP(newAddLessonPlan.ClassId)">
                                                                            <option ng-value="0">**Select Class**</option>
                                                                            <option ng-value="cl.ClassId" ng-repeat="cl in ClassSection" ng-selected="cl.ClassId==newAddLessonPlan.ClassId">{{cl.Name}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Subject</label>
                                                                        <select class="form-control form-control-sm select2" ng-model="newAddLessonPlan.SubjectId" ng-change="GetLessonPlanByClassSubjectALP(newAddLessonPlan.ClassId,newAddLessonPlan.SubjectId)">
                                                                            <option ng-value="0">Select Subject</option>
                                                                            <option ng-value="cl.SubjectId" ng-repeat="cl in SubjectListALP" ng-selected="cl.SubjectId==newAddLessonPlan.SubjectId">{{cl.Name}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="float-right mt-4">
                                                                        <button type="button" class="btn btn-sm btn-default" style="min-width: 90px" ng-click="ClearLessonPlan()">
                                                                            Reset
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-success" style="min-width: 90px" ng-click="CallSaveUpdateLessonPlanDate()">
                                                                            Save
                                                                        </button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion" id="accordionExample6" style="margin-top: 0;">
                                            <div class="card">
                                                <div class="card-head" id="headingsix">
                                                    <h2 class="mb-0 collapsed" @*data-toggle="collapse"
                                                    data-target="#collapsesix" aria-expanded="false"
                                                    aria-controls="collapsesix"*@>
                                                        <span class="acc_open">{{newAddLessonPlan.SubjectName}}</span>

                                                    </h2>
                                                </div>
                                                <div id="collapsesix" class="collapse show"
                                                     aria-labelledby="headingsix" data-parent="#accordionExample2">
                                                    <div class="card"
                                                         style="border:1px solid #cad8d2;margin-left:40px;">
                                                        <div class="card-header"
                                                             style="background-color: #e9f2ee; padding:4px 20px;">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <h6># Lessons and Topics</h6>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="text-center">
                                                                        <h6>From Date</h6>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="text-center">
                                                                        <h6>To Date</h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body" style="padding-left: 20px;">
                                                            <div class="tab-pane active" id="tabs-1"
                                                                 role="tabpanel" ng-repeat-start="ald in newAddLessonPlan.DetailsColl">
                                                                <p class="topic">
                                                                    {{ald.SNo}}. {{ald.LessonName}}
                                                                </p>
                                                            </div>
                                                            <ul class="topic_section pl-2" ng-repeat-end>

                                                                <li class="past_section" ng-repeat="atd in ald.TopicColl">
                                                                    <div class="row">
                                                                        <div class="col-md-9">
                                                                            <span style="top: -10px;">----</span><a href="#">{{ald.SNo}}.{{atd.SNo}}. {{atd.TopicName}} </a>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="d-flex float-right ">
                                                                                <div id="lessondateip">
                                                                                    <div class="row">
                                                                                        <div class="col-md-6">
                                                                                            <div class="d-flex">
                                                                                                <label class="mr-1 mt-1"></label>
                                                                                                <input type="text"
                                                                                                       class="form-control form-control-sm" date-picker ng-model="atd.PlanStartDate_TMP" date-detail="atd.PlanStartDateDet">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="d-flex">
                                                                                                <label class="mr-1 mt-1"></label>
                                                                                                <input type="text"
                                                                                                       class="form-control form-control-sm" date-picker ng-model="atd.PlanEndDate_TMP" date-detail="atd.PlanEndDateDet">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <i class="far fa-calendar-alt ml-2 mt-2" id="topiccalender"
                                                                                   @*data-toggle="modal" data-target="#modal-xl"*@ ng-click="ClickOnTopic(ald,atd)"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--Add Lesson Plan Ends-->
                                <!--List Of Lesson Plan Starts-->
                                <div class="tab-pane fade main-section" id="board" role="tabpanel"
                                     aria-labelledby="board-tab">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Class</label>
                                                <select class="form-control form-control-sm select2" ng-model="newListOfLessonPlan.ClassId" ng-change="GetClassWiseSubjectListForLLP(newListOfLessonPlan.ClassId)">
                                                    <option ng-value="0">**Select Class**</option>
                                                    <option ng-value="cl.ClassId" ng-repeat="cl in ClassSection" ng-selected="cl.ClassId==newListOfLessonPlan.ClassId">{{cl.Name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <select class="form-control form-control-sm select2" ng-model="newListOfLessonPlan.SubjectId" ng-change="GetLessonPlanByClassSubjectLLP(newListOfLessonPlan.ClassId,newListOfLessonPlan.SubjectId)">
                                                    <option ng-value="0">Select Subject</option>
                                                    <option ng-value="cl.SubjectId" ng-repeat="cl in SubjectListLLP" ng-selected="cl.SubjectId==newListOfLessonPlan.SubjectId">{{cl.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tree">
                                        <ul class="card p-0" style="padding-left: 0px;margin-bottom: 6px;">
                                            <!--First Lesson Starts-->
                                            <li ng-repeat="ld in newListOfLessonPlan.DetailsColl">
                                                <span data-toggle="collapse" style=" background-color: #ccecc4;">
                                                    <div style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                         href="#topic{{$index}}" aria-expanded="true" aria-controls="topic1">
                                                        <i class="collapsed"><i class="fas fa-folder"></i></i>
                                                        <i class="expanded"><i class="far fa-folder-open"></i></i>
                                                        {{ld.SNo}}. {{ld.LessonName}}<label class="updateDate"><b>&rarr;</b><i> ({{ld.PlanStartDate_BS}} - {{ld.PlanEndDate_BS}})</i> - <b>{{ ld.TotalDays }} Days</b></label>

                                                    </div>
                                                </span>
                                                <div id="topic{{$index}}" class="collapse show">
                                                    <ul class="pb-3">
                                                        <li ng-repeat="tc in ld.TopicColl">
                                                            <span data-toggle="collapse" style=" background-color: #e7f0e6;">
                                                                <a style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                                   href="#subtopic1-{{ld.SNo}}-{{$index}}" aria-expanded="false"
                                                                   aria-controls="subtopic1">
                                                                    <i class="collapsed"><i class="fas fa-folder"></i></i>
                                                                    <i class="expanded"><i class="far fa-folder-open"></i></i>
                                                                    {{ld.SNo}}.{{tc.SNo}}. {{tc.TopicName}} <label class="updateDate"><b>&rarr;</b><i> ({{tc.PlanStartDate_BS}} - {{tc.PlanEndDate_BS}})</i>  - <b>{{tc.TotalDays}} Days</b></label>
                                                                </a>

                                                            </span>
                                                            <div id="subtopic1-{{ld.SNo}}-{{$index}}" class="collapse">
                                                                <ul class="pb-3">
                                                                    <li ng-repeat="CTTL in tc.ContentsColl">
                                                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                            <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="width: 100px;">{{CTTL.ForDateBS}}</td>
                                                                                        <td>
                                                                                            <div class="card-body" ng-bind-html="CTTL.Contents | unsafe">
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <!--List Of Lesson Plan Ends-->
                            </div>
                        </div>

                    </div>
                </section>
                <!-- /.row -->

            </div>
            <!--/. container-fluid -->
            <!--New Modal Code Added by Suresh on chaitra-30-->
            <div class="modal fade" id="modal-xl">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">Lesson Plan Detail</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height:500px;overflow-y:auto">
                            <div ng-repeat="gDet in CurrentLessionTopic.ContentsColl">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group d-flex">
                                            <label class="mr-2"><b><span>Date </span></b></label>
                                            <input type="text" date-picker
                                                   class="form-control form-control-sm" ng-model="gDet.ForDate_TMP" date-detail="gDet.ForDateDet">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label><b>Teaching Content</b></label>
                                            <textarea  placeholder="Place some text here" style="
                                                                          width: 100%;
                                                                          height:150px!important;
                                                                          font-size: 14px;
                                                                          line-height: 18px;
                                                                          border: 1px solid #dddddd;
                                                                          padding: 10px;" ng-model="gDet.Contents" html-editor></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-0 mb-2">
                                    <button class="btn btn-sm btn-success" ng-click="AddContentDetails($index)">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="delContentDetails($index)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">

                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="CallSaveUpdateLessonTopicTeacherContent()">Save</button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>


            <!--New Modal Code Added by Suresh on chaitra-30-->
            <div class="modal fade" id="modal-xl-1">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">Lesson Plan Detail</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height:500px;overflow-y:auto">
                            <div ng-repeat="gDet in CurrentLessonC.ContentsColl">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group d-flex">
                                            <label class="mr-2"><b><span>Date </span></b></label>
                                            <input type="text" date-picker
                                                   class="form-control form-control-sm" ng-model="gDet.ForDate_TMP" date-detail="gDet.ForDateDet">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label><b>Teaching Content(s)</b></label>
                                            <textarea  placeholder="Place some text here" style="
                                                                          width: 100%;
                                                                          height:150px!important;
                                                                          font-size: 14px;
                                                                          line-height: 18px;
                                                                          border: 1px solid #dddddd;
                                                                          padding: 10px;
                                                                        " ng-model="gDet.Contents" html-editor></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="mt-0 mb-2">
                                    <button class="btn btn-sm btn-success" ng-click="AddContentDetails1($index)">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="delContentDetails1($index)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">

                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="CallSaveUpdateLessonTeacherContent()">Save</button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>

</div>
 