
@{
    ViewBag.Title = "SyllabusStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .info {
        background-color: #4e8b89;
        color:#fff;
        padding: 8px;
    }
    .table-scroll-x-y table thead th, .table.table-head-fixed thead tr th {
        background-color: #0b605f !important;
        color: aliceblue !important;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #e5f2ff;
        font-weight: 500;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #eef9f4;
        font-weight: 500;
    }

    .statustable {
        background-color: #76be4e3b;
        color: #51623f;
        border-radius: 5px;
    }
</style>
<link href="~/teacherloginFiles/dynamic/css/lms.css" rel="stylesheet" />
<script src="~/AngularJs/Creation/SyllabusStatus.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="SyllabusStatusController" ng-init="LoadData()">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <section class="iframe-content-starts-here">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                             aria-labelledby="pills-second-tab">                           
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div id="classwiseList">                                        
                                        <div class="card p-2">                                           
                                            <div>
                                                <div class="table-scroll-x-y sales-main-table table-scroll">
                                                    <table id="main-table" class="main-table table table-sm table-bordered table-striped">
                                                        <thead class=" text-nowrap">
                                                            <tr>
                                                                <th style="width: 200px;">Class/Sec</th>
                                                                <th style="width: 200px;">Subject Name</th>
                                                                <th style="width: 150px;">Status</th>
                                                                <th style="width: 150px;">View Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>XII-A</td>
                                                                <td>Mathematics (001A)</td>
                                                                <td> <label class="statustable px-2 py-1 mt-1"><strong>70% Completed</strong></label></td>
                                                                <td><button class="btn btn-sm btn-info" id="classwisedetail" style="padding:1px 7px;">Detail</button></td>
                                                            </tr>                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>                                           
                                        </div>
                                    </div>
                                    <div id="classwisestatus-form">
                                        <div class="info mt-4">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6><b>Class : XII- A</b></h6>

                                                </div>
                                                <div class="col-md-3">
                                                    <h6><b>Subject : Social Studies</b></h6>

                                                </div>
                                                <div class="col-md-4">
                                                    <h6><b>Teacher Name: Devraj Sharma</b></h6>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="text-center">
                                                        <button class="btn btn-sm statusblue px-3 statusbtn" style="padding:2px 10px">70% Completed</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tree">
                                            <ul class="card p-0" style="padding-left: 0px;margin-bottom: 6px;">
                                                <!--First Lesson Starts-->
                                                <li>
                                                    <span data-toggle="collapse" style=" background-color: #ccecc4;">
                                                        <div style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                             href="#topic1" aria-expanded="true" aria-controls="topic1">
                                                            <i class="collapsed"><i class="fas fa-folder"></i></i>
                                                            <i class="expanded"><i class="far fa-folder-open"></i></i>
                                                            1. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis<label class="updateDate"><b>&rarr;</b><i> (3/11/2022 - 5/11/2022)</i> - <b>4 Days</b></label>
                                                            <label class="float-right px-2 statusgreen"><b>75% complete</b></label>
                                                        </div>
                                                    </span>
                                                    <div id="topic1" class="collapse show">
                                                        <ul class="pb-3">
                                                            <li>
                                                                <span data-toggle="collapse" style=" background-color: #e7f0e6;">
                                                                    <div style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                                         href="#subtopic1" aria-expanded="false"
                                                                         aria-controls="subtopic1">
                                                                        <i class="collapsed"><i class="fas fa-folder"></i></i>
                                                                        <i class="expanded"><i class="far fa-folder-open"></i></i>
                                                                        1.1 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                                        <div class="p-1 mt-2" style="background-color: #ffffffd9; border: 1px solid #ccecc4 ">
                                                                            <label class="ml-4 text-col">
                                                                                <i class="far fa-calendar-alt"></i>16-Apr-2021 - 26-Apr-2021
                                                                            </label>
                                                                            <label class="ml-3 text-success"><i class="fas fa-circle"></i>Completed</label>
                                                                            <label class="ml-3">Before 9 days</label>
                                                                            <label class="ml-3"><i><i class="fas fa-user"></i>: Arjun</i></label>
                                                                            <label class="ml-3"><i>On17-Apr-2021</i> </label>
                                                                            <label class="ml-3"><i class="fas fa-pen-alt"></i> Remarks of the user goes here.</label>
                                                                        </div>
                                                                    </div>
                                                                </span>

                                                                <div id="subtopic1" class="collapse">
                                                                    <ul class="pb-3">
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis

                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table"
                                                                                       class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <span data-toggle="collapse" style=" background-color: #e7f0e6;">
                                                                    <div style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                                         href="#subtopic2" aria-expanded="false"
                                                                         aria-controls="subtopic2">
                                                                        <i class="collapsed">
                                                                            <i class="fas fa-folder"></i>
                                                                        </i>
                                                                        <i class="expanded"><i class="far fa-folder-open"></i></i> 1.2
                                                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                                        blanditiis
                                                                        <div class="p-1 mt-2" style="background-color: #ffffffd9; border: 1px solid #ccecc4 ">
                                                                            <label class="ml-4 text-col">
                                                                                <i class="far fa-calendar-alt"></i>16-Apr-2021 - 26-Apr-2021
                                                                            </label>
                                                                            <label class="ml-3 text-success"><i class="fas fa-circle"></i>Completed</label>
                                                                            <label class="ml-3">Before 9 days</label>
                                                                            <label class="ml-3"><i><i class="fas fa-user"></i>: Arjun</i></label>
                                                                            <label class="ml-3"><i>On17-Apr-2021</i> </label>
                                                                            <label class="ml-3"><i class="fas fa-pen-alt"></i> Remarks of the user goes here.</label>
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                                <div id="subtopic2" class="collapse">
                                                                    <ul class="pb-3">
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table"
                                                                                       class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table"
                                                                                       class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table"
                                                                                       class="main-table table table-sm table-bordered bg-white">

                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>


                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table"
                                                                                       class="main-table table table-sm table-bordered bg-white">

                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>


                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <span data-toggle="collapse" style=" background-color: #e7f0e6;">
                                                                    <div style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                                         href="#subtopic3" aria-expanded="false"
                                                                         aria-controls="subtopic3">
                                                                        <i class="collapsed">
                                                                            <i class="fas fa-folder"></i>
                                                                        </i>
                                                                        <i class="expanded"><i class="far fa-folder-open"></i></i> 1.3 At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                                        blanditiis
                                                                        <div class="p-1 mt-2" style="background-color: #ffffffd9; border: 1px solid #ccecc4 ">
                                                                            <label class="ml-4 text-col">
                                                                                <i class="far fa-calendar-alt"></i>16-Apr-2021 - 26-Apr-2021
                                                                            </label>
                                                                            <label class="ml-3 text-success"><i class="fas fa-circle"></i>Completed</label>
                                                                            <label class="ml-3">Before 9 days</label>
                                                                            <label class="ml-3"><i><i class="fas fa-user"></i>: Arjun</i></label>
                                                                            <label class="ml-3"><i>On17-Apr-2021</i> </label>
                                                                            <label class="ml-3"><i class="fas fa-pen-alt"></i> Remarks of the user goes here.</label>
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                                <div id="subtopic3" class="collapse">
                                                                    <ul class="pb-3">
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <!--Second Lesson Starts-->
                                                <li>
                                                    <span data-toggle="collapse" style=" background-color: #ccecc4;">
                                                        <div style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                             href="#topic2" aria-expanded="true" aria-controls="topic2">
                                                            <i class="collapsed"><i class="fas fa-folder"></i></i>
                                                            <i class="expanded"><i class="far fa-folder-open"></i></i>
                                                            2. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                            <label class="updateDate"><b>&rarr;</b><i> (3/11/2022 - 5/11/2022)</i> - <b>4 Days</b></label>
                                                            <label class="float-right px-2 statusgreen"><b>75% complete</b></label>
                                                        </div>
                                                    </span>
                                                    <div id="topic2" class="collapse show">
                                                        <ul class="pb-3">
                                                            <li>
                                                                <span data-toggle="collapse" style=" background-color: #e7f0e6;">
                                                                    <div style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                                         href="#subtopict2-1" aria-expanded="false"
                                                                         aria-controls="subtopict2-1">
                                                                        <i class="collapsed"><i class="fas fa-folder"></i></i>
                                                                        <i class="expanded"><i class="far fa-folder-open"></i></i>
                                                                        2.1 At vero eos et accusamus et iusto odio dignissimos ducimus
                                                                        qui blanditiis
                                                                        <div class="p-1 mt-2" style="background-color: #ffffffd9; border: 1px solid #ccecc4 ">
                                                                            <label class="ml-4 text-col">
                                                                                <i class="far fa-calendar-alt"></i>16-Apr-2021 - 26-Apr-2021
                                                                            </label>
                                                                            <label class="ml-3 text-success"><i class="fas fa-circle"></i>Completed</label>
                                                                            <label class="ml-3">Before 9 days</label>
                                                                            <label class="ml-3"><i><i class="fas fa-user"></i>: Arjun</i></label>
                                                                            <label class="ml-3"><i>On17-Apr-2021</i> </label>
                                                                            <label class="ml-3"><i class="fas fa-pen-alt"></i> Remarks of the user goes here.</label>
                                                                        </div>
                                                                    </div>

                                                                </span>
                                                                <div id="subtopict2-1" class="collapse">
                                                                    <ul class="pb-3">
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                                At vero eos et accusamus et iusto odio

                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <span data-toggle="collapse" style=" background-color: #e7f0e6;">
                                                                    <div style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                                         href="#subtopic2-2" aria-expanded="false"
                                                                         aria-controls="subtopic2-2">
                                                                        <i class="collapsed">
                                                                            <i class="fas fa-folder"></i>
                                                                        </i>
                                                                        <i class="expanded"><i class="far fa-folder-open"></i></i> 2.2
                                                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                                        blanditiist
                                                                        <div class="p-1 mt-2" style="background-color: #ffffffd9; border: 1px solid #ccecc4 ">
                                                                            <label class="ml-4 text-col">
                                                                                <i class="far fa-calendar-alt"></i>16-Apr-2021 - 26-Apr-2021
                                                                            </label>
                                                                            <label class="ml-3 text-success"><i class="fas fa-circle"></i>Completed</label>
                                                                            <label class="ml-3">Before 9 days</label>
                                                                            <label class="ml-3"><i><i class="fas fa-user"></i>: Arjun</i></label>
                                                                            <label class="ml-3"><i>On17-Apr-2021</i> </label>
                                                                            <label class="ml-3"><i class="fas fa-pen-alt"></i> Remarks of the user goes here.</label>
                                                                        </div>
                                                                    </div>

                                                                </span>
                                                                <div id="subtopic2-2" class="collapse">
                                                                    <ul class="pb-3">
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table"
                                                                                       class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table"
                                                                                       class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>


                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <span data-toggle="collapse" style=" background-color: #e7f0e6;">
                                                                    <div style="color:#000; text-decoration:none;" data-toggle="collapse"
                                                                         href="#subtopic2-3" aria-expanded="false"
                                                                         aria-controls="subtopic2-3">
                                                                        <i class="collapsed">
                                                                            <i class="fas fa-folder"></i>
                                                                        </i>
                                                                        <i class="expanded"><i class="far fa-folder-open"></i></i> 2.3
                                                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                                        blanditiis
                                                                        <div class="p-1 mt-2" style="background-color: #ffffffd9; border: 1px solid #ccecc4 ">
                                                                            <label class="ml-4 text-col">
                                                                                <i class="far fa-calendar-alt"></i>16-Apr-2021 - 26-Apr-2021
                                                                            </label>
                                                                            <label class="ml-3 text-success"><i class="fas fa-circle"></i>Completed</label>
                                                                            <label class="ml-3">Before 9 days</label>
                                                                            <label class="ml-3"><i><i class="fas fa-user"></i>: Arjun</i></label>
                                                                            <label class="ml-3"><i>On17-Apr-2021</i> </label>
                                                                            <label class="ml-3"><i class="fas fa-pen-alt"></i> Remarks of the user goes here.</label>
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                                <div id="subtopic2-3" class="collapse">
                                                                    <ul class="pb-3">
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table"
                                                                                       class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 100px;">21-12-2022</td>
                                                                                            <td>
                                                                                                At vero eos et accusamus et iusto odio
                                                                                                dignissimos ducimus qui blanditiis
                                                                                                accusamus et iusto odio dignissimos
                                                                                                ducimus qui blanditiis
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" id="backclasswiselist" class="btn btn-sm btn-info" style="min-width: 90px">
                                                   Back to List
                                                </button>
                                                
                                            </span>
                                        </div>
                                       
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
