
<style>
    .ag-ltr .ag-header-cell-resize {
        right: 0px !important;
    }
</style>
<script src="~/jslib/payroll/PeriodSalarySheet.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="PeriodSalarySheetController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top: 50px !important;">
                <div class="card p-0 mb-0">
                    <div class="row mt-1">

                        <div class="col-md-3">
                            <div class="form-group d-flex">
                                <label class="mt-1" style="min-width: 75px">From Year</label>
                                <select class="form-control form-control-sm" ng-model="newPeriodSalary.FromYearId" style="width:100%">
                                    <!--<option ng-value="A.Name" ng-repeat="A in AcademicYearList"--> @*ng-selected="A.AcademicYearId==newPeriodSalary.FromYearId"*@<!-->{{A.Name}}</option>-->
                                    <option ng-value="A.id" ng-repeat="A in AcademicYearColl" ng-selected="A.id==newPeriodSalary.FromYearId">{{A.text}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group d-flex">
                                <label class="mt-1" style="min-width:75px">From Month</label>
                                <select class="form-control form-control-sm select2" ng-model="newPeriodSalary.FromMonthId" style="width:100%">
                                    <option ng-value="cl.id" ng-repeat="cl in MonthList" ng-selected="cl.id==newPeriodSalary.FromMonthId">{{cl.text}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group d-flex">
                                <label style="min-width: 55px">To Year</label>
                                <select class="form-control form-control-sm" ng-model="newPeriodSalary.ToYearId" style="width:100%">
                                    <option ng-value="A.Name" ng-repeat="A in AcademicYearList" @*ng-selected="A.AcademicYearId==newPeriodSalary.ToYearId"*@>{{A.Name}}</option>
                                    <option ng-value="A.id" ng-repeat="A in AcademicYearColl" ng-selected="A.id==newPeriodSalary.ToYearId">{{A.text}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group d-flex">
                                <label style="min-width: 75px">To Month</label>
                                <select class="form-control form-control-sm select2" ng-model="newPeriodSalary.ToMonthId" style="width:100%">
                                    <option ng-value="cl.id" ng-repeat="cl in MonthList" ng-selected="cl.id==newPeriodSalary.ToMonthId">{{cl.text}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group d-flex">
                                <label style="min-width:75px" class="mt-1">Branch</label>
                                <select class="form-control form-control-sm" ng-model="newPeriodSalary.BranchId" style="width:100%">
                                    <option ng-value="A.BranchId" ng-repeat="A in BranchList" ng-selected="A.BranchId==newPeriodSalary.BranchId">{{A.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group d-flex">
                                <label class="mt-1" style="min-width:75px">Department</label>
                                <select class="form-control form-control-sm select2" ng-model="newPeriodSalary.DepartmentId" style="width:100%">
                                    <option ng-value="0">**Select All**</option>
                                    <option ng-value="c.id" ng-repeat="c in DepartmentList" ng-selected="c.id==newPeriodSalary.DepartmentId">{{c.text}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group d-flex">
                                <label style="min-width:75px">Category</label>
                                <select class="form-control form-control-sm select2" ng-model="newPeriodSalary.CategoryId" style="width:100%">
                                    <option ng-value="0">**Select All**</option>
                                    <option ng-value="c.id" ng-repeat="c in CategoryList" ng-selected="c.id==newPeriodSalary.CategoryId">{{c.text}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <form class="d-flex float-right">
                                <div class="input-group input-group-sm" style="min-width: 67px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">

                                </div>

                                <div class="dropdown dnld-file mx-1" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download py-1"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        @*<a class="dropdown-item" href="#" ng-click="DownloadAsXls()">
                                                <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                     class="img-fluid exports-icon" alt="Excel image">
                                                Excel
                                            </a>*@
                                        <a class="dropdown-item" href="#" ng-click="ExportPeriodSalarySheetExcel()"><img src="/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item" href="#" ng-click="onBtExportCSV()">
                                            <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                 class="img-fluid exports-icon">
                                            CSV
                                        </a>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-success" style="width:100px" ng-click="GetPeriodSalarySheet()"><i class="fas fa-sync-alt pr-1"></i>Load</button>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <div class="">

                            </div>
                        </div>
                    </div>

                    <div id="phg-section" class="cardmb-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="datatable" style="height: calc(100vh - 10rem); width: 100%;" class="ag-theme-alpine" ag-grid="gridOptions"></div>
                                @*<div id="myGridBottom" style="height: 65px;" class="ag-theme-alpine"></div>*@
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </section>

</div>