<script src="~/jslib/Support/AccountStatement.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="AccountStatementController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="table-listing" style="margin-top: -10px;">
                    <!-- Second Tab Content -->
                    <div class="card p-2">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline mb-2">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.AccountStatement">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.AccountStatement">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search" placeholder="Search"
                                                   aria-label="Search" ng-model="searchData.AccountStatement">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0"
                                                        type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end col-md-8 -->
                            <div class="col-md-5 text-right">
                                <div class="dropdown dnld-file"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item" href="#">
                                            <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                 class="img-fluid exports-icon"
                                                 alt="Excel image" />
                                            Excel
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                 class="img-fluid exports-icon"
                                                 alt="Excel image" />
                                            CSV
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="~/wwwroot/dynamic/images/flaticons/pdf.png"
                                                 class="img-fluid exports-icon"
                                                 alt="Excel image" />
                                            PDF
                                        </a>
                                        
                                    </div>
                                </div>
                                <a href="#"
                                   class="btn btn-secondary btn-light btn-sm"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title="Print">
                                    <i class="fas fa-print"></i>
                                </a>
                                
                            </div>
                        </header>
                        <div>
                            <div class="table-scroll-x-y sales-main-table table-scroll mb-2" style="max-height: calc(100Vh - 12rem) !important; overflow: auto;">
                                <table id="main-table"
                                       class="main-table table table-sm table-bordered bg-white">
                                    <thead>
                                        <tr>
                                            <th style="width: 90px">Date A.D</th>
                                            <th style="width: 90px">Date B.S</th>
                                            <th style="width: 280px">Particulars</th>
                                            <th class="text-center" style="width: 100px">Debit Amount</th>
                                            <th class="text-center" style="width: 100px">Credit Amount</th>
                                            <th class="text-center" style="width: 100px">Balance Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr @*dir-paginate="cl in AccountStatementList | filter:searchData.AccountStatement | itemsPerPage: perPage.AccountStatement" current-page="currentPages.AccountStatement" pagination-id="AccountStatementPagination"*@>
                                            <td>12 10-2080</td>
                                            <td>05-14-2023</td>
                                            <td>Particulars name here</td>
                                            <td class="text-right">12,313</td>
                                            <td class="text-right">12,313</td>
                                            <td class="text-right">12,313</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="AccountStatementPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                        </footer>
                    </div>
                </div>
                
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
   

</div>


