
<script src="~/jslib/Infirmary/GeneralCheckupInfirmary.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="GCInfirmaryController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:55px!important">
                <div class="tab-content">
                    <div id="Nametable">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline mb-2">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.GHealthCInfirmary">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.GHealthCInfirmary">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="searchData.GHealthCInfirmary" />
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end col-md-8 -->
                            <div class="col-md-5 text-right">
                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                     data-placement="top" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item wait" export-excel table-id="'#GCInfirmary'" sheet-name="'GCInfirmaryList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item wait" onClick="$('#GCInfirmary').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                        <a class="dropdown-item wait" onClick="$('#GCInfirmary').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>

                                    </div>
                                </div>
                                <a href="#" class="btn btn-secondary btn-light btn-sm"
                                   data-toggle="tooltip" data-placement="top" title="Print">
                                    <i class="fas fa-print"></i>
                                </a>

                                <button type="button"
                                        class="btn btn-sm btn-success"
                                        id="add-hci-btn"
                                        style="min-width: 90px" ng-click="ClearGCInfirmary()">
                                    <i class="fas fa-plus w-t"></i> Add General Checkup Infirmary
                                </button>
                            </div>
                        </header>
                        <div ng-repeat="M in GeneralChkupInfirmaryList">
                            <div class="row">
                                @*<label><b>{{M.Month}}</b></label>*@

                                <div class="col-md-4">
                                    <label> <b>{{M.Month}}</b></label>
                                </div>
                                <div class="col-md-4">
                                    <label>Health Issue/Disease : <b>Polio</b></label>
                                </div>
                                <div class="col-md-4">
                                    <label>Test Name :<b>Blood Test</b></label>
                                </div>

                            </div>

                            <div class="table-scroll-x-y sales-main-table table-scroll mb-3">
                                <table id="GCInfirmary-" class="main-table table table-sm table-bordered bg-white">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px;">S.No.</th>
                                            <th style="width: 100px;">Date</th>
                                            <th style="width: 120px;">Class/Section</th>
                                            <th style="width: 240px;">Remarks</th>
                                            <th style="width: 105px;">Total Student</th>
                                            <th style="width: 60px;">Present</th>
                                            <th style="width: 60px;">Absent</th>
                                            <th style="width: 80px;">Status</th>
                                            <th class="text-center" style="width: 90px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="hhC in M.ChieldColl | filter:searchData.HCInfirmary">

                                            <td>{{$index+1}}</td>
                                            <td>{{hhC.CheckupDate}}</td>
                                            <td>{{hhC.ClassName}}</td>
                                            <td>{{hhC.Remarks}}</td>
                                            <td>50</td>
                                            <td>40</td>
                                            <td>10</td>

                                            <td>
                                                <span class="text-warning"><b>Pending</b></span>
                                                <span class="text-success"><b>Success</b></span>
                                            </td>
                                            <td class="text-center">
                                                <a class="p-1" href="#" id="detailopen" ng-click="GetGChkupInfirmaryDetailById(hhC)">
                                                    <i class="fas fa-hand-point-right text-default"></i>
                                                </a>
                                                <a class="p-1" href="#" ng-click="GetGChkupInfirmaryById(hhC)">
                                                    <i class="fas fa-edit text-info"></i>
                                                </a>
                                                <a class="p-1" href="#" ng-click="DelGeneralChkupInfirmaryById(hhC,$index)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                       
                        @*<footer class="row align-items-center">
            <div class="col-md-12">
                <dir-pagination-controls pagination-id="GCInfirmaryPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
            </div>
        </footer>*@
                    </div>

                    <div id="detailform">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="form-group" for="">Campaign Name :<b> {{newDet.HealthCampaignName}}</b></label>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="" class="form-group">Examiner Names : <b>{{newDet.ExaminerName}}</b></label>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-group" for="">Date :<b>{{newDet.CheckupMiti}}</b> </label>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-group" for="">Class: <b>{{newDet.ClassName}}</b></label>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="" class="form-group">Total Students : {{newDet.TotalStudents}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="form-group" for="">Remarks :<b> {{newDet.Remarks}}</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-primary card-tabs mt-2" style="border:1px solid #ccc">
                            <div class="card-header with-gradient-bg p-0 pt-2">
                                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-one-home-tab"
                                           data-toggle="pill" href="#custom-tabs-one-home" role="tab"
                                           aria-controls="custom-tabs-one-home" aria-selected="true" style="padding-left: 3rem;
                                          padding-right: 3rem;">Present({{newDet.PresentStudents}})</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                                           href="#custom-tabs-one-profile" role="tab"
                                           aria-controls="custom-tabs-one-profile"
                                           aria-selected="false" style="padding-left: 3rem;
                                          padding-right: 3rem;">Absent({{newDet.TotalStudents - newDet.PresentStudents}})</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body p-2">
                                <div class="tab-content" id="custom-tabs-one-tabContent">
                                    <div class="tab-pane fade show active" id="custom-tabs-one-home"
                                         role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="float-right mb-2">
                                                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#sendsms" style="min-width: 90px;">
                                                            <i class="fas fa-sms w-t"></i>
                                                            Send SMS
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#sendemail" style="min-width: 90px;">
                                                            <i class="fas fa-envelope w-t"></i>
                                                            Send Email
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll mb-2">
                                                <table class="table table-bordered table-head-fixed text-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 60px">S.No.</th>
                                                            <th style="width: 200px">Name</th>
                                                            <th style="width: 200px">Remarks</th>
                                                            <th class="text-center" style="width: 100px" ng-If="CurrentGeneralCheckup.IsVaccination==true" ng-repeat="v in CurrentGeneralCheckup.VaccinesList">
                                                                {{v.VaccineName}}
                                                            </th>
                                                            <th class="text-center" style="width: 100px" ng-If="CurrentGeneralCheckup.IsVaccination==false" ng-repeat="v in CurrentGeneralCheckup.TestsList">
                                                                {{v.TestName}}
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       <tr dir-paginate="s in CurrentGeneralCheckup.PresentStudentList | itemsPerPage: perPage.GCInfirmaryStudentDetailPresent" current-page="currentPages.GCInfirmaryStudentDetailPresent" pagination-id="GCInfirmaryStudentDetailPresentPagination">
                                                            <td>{{$index+1}}</td>
                                                            <td>
                                                                <p class="mb-0"><b>{{s.FirstName +" " +s.LastName}}</b></p>
                                                                <label>Adm.No: <i>{{s.RegNo}}</i></label>
                                                                <label class="ml-3">Roll No: <i>{{s.RollNo}}</i></label>
                                                            </td>
                                                            <td>{{s.MedicalRemarks}}</td>
                                                            <td class="text-center" ng-repeat="v in s.ResultDetails">
                                                                <div class="custom-control custom-checkbox" ng-If="CurrentGeneralCheckup.IsVaccination==true">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                           id="Vaccine{{s.StudentId}}-{{v.Id}}-Details" readonly ng-model="v.Value" ng-disabled="true" value="{{v.Value}}">
                                                                    <label for="Vaccine{{s.StudentId}}-{{v.Id}}-Details"
                                                                           class="custom-control-label">
                                                                    </label>
                                                                </div>
                                                                <div ng-If="CurrentGeneralCheckup.IsVaccination==false">
                                                                    {{v.Value}}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <footer class="row align-items-center">
                                                <div class="col-md-12">
                                                    <dir-pagination-controls pagination-id="GCInfirmaryStudentDetailPresentPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel"
                                         aria-labelledby="custom-tabs-one-profile-tab">
                                        <div class="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="float-right mb-2">
                                                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#sendsms" style="min-width: 90px;">
                                                            <i class="fas fa-sms w-t"></i>
                                                            Send SMS
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#sendemail" style="min-width: 90px;">
                                                            <i class="fas fa-envelope w-t"></i>
                                                            Send Email
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll mb-2 mt-2">
                                                <table class="table table-bordered table-head-fixed text-nowrap">

                                                    <thead>
                                                        <tr>
                                                            <th style="width: 60px">S.No.</th>
                                                            <th style="width: 200px">Name</th>
                                                            <th style="width: 200px">Remarks</th>
                                                            <th class="text-center" style="width: 100px" ng-If="CurrentGeneralCheckup.IsVaccination==true" ng-repeat="v in CurrentGeneralCheckup.VaccinesList">
                                                                {{v.VaccineName}}
                                                            </th>
                                                            <th class="text-center" style="width: 100px" ng-If="CurrentGeneralCheckup.IsVaccination==false" ng-repeat="v in CurrentGeneralCheckup.TestsList">
                                                                {{v.TestName}}
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr dir-paginate="s in CurrentGeneralCheckup.AbsentStudentList | itemsPerPage: perPage.GCInfirmaryStudentDetailAbsent" current-page="currentPages.GCInfirmaryStudentDetailAbsent" pagination-id="GCInfirmaryStudentDetailAbsentPagination">
                                                            <td>{{$index+1}}</td>
                                                            <td>
                                                                <p class="mb-0"><b>{{s.FirstName +" " +s.LastName}}</b></p>
                                                                <label>Adm.No: <i>{{s.RegNo}}</i></label>
                                                                <label class="ml-3">Roll No: <i>{{s.RollNo}}</i></label>
                                                            </td>
                                                            <td>{{s.MedicalRemarks}}</td>

                                                            <td class="text-center" ng-repeat="v in s.ResultDetails">
                                                                <div class="custom-control custom-checkbox" ng-If="CurrentGeneralCheckup.IsVaccination==true">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                           id="Vaccine{{s.StudentId}}-{{v.Id}}-Details" readonly ng-model="v.Value" ng-disabled="true" value="{{v.Value}}">
                                                                    <label for="Vaccine{{s.StudentId}}-{{v.Id}}-Details"
                                                                           class="custom-control-label">
                                                                    </label>
                                                                </div>
                                                                <div ng-If="CurrentGeneralCheckup.IsVaccination==false">
                                                                    {{v.Value}}
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Pagination -->
                                            <footer class="row align-items-center">
                                                <div class="col-md-12">
                                                    <dir-pagination-controls pagination-id="GCInfirmaryStudentDetailAbsentPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                                </div>
                                            </footer>
                                            <!-- Pagniation End -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Submitted and Not Submitted Tab ends -->
                        <div class="d-flex justify-content-center">
                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <button type="button" id="backtolisttable"
                                            class="btn btn-sm btn-info"
                                            style="min-width: 90px">
                                        Back to List
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearInfirmaryDetailList()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateInfirmaryDetailList()">@*{{newInfirmaryDetail.Mode}}*@Save</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="formname">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Health Campaign</label><span style="color:red">*</span>
                                    <select class="form-control  form-control-sm select2" ng-model="newGeneralChkup.HealthCampaignId" ng-change="GetGeneralCheckUpId()">
                                        <option ng-repeat="s in HealthCampaignList" ng-value="s.GeneralCheckUpId" ng-selected="newGeneralChkup.HealthCampaignId==s.GeneralCheckUpId">{{s.Name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Month</label>
                                    <select class="form-control select2 form-control-sm" disabled ng-model="newGeneralChkup.MonthId">
                                        <option ng-repeat="s in MonthList" ng-value="s.id" ng-selected="newGeneralChkup.MonthId==s.id">{{s.text}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="text" class="form-control  form-control-sm" date-picker ng-model="newGeneralChkup.CheckupDate_TMP" date-detail="newGeneralChkup.CheckupDateDet">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Class/Section</label>
                                    <select class="form-control select2  form-control-sm" ng-model="newGeneralChkup.ClassId" ng-change="GetStudentForGChkupInfirmary()">
                                        <option ng-repeat="s in ClassList" ng-value="s.ClassId" ng-selected="newGeneralChkup.ClassSectionId==s.ClassId">{{s.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Examiner Name</label>
                                    <select class="form-control  form-control-sm" ng-model="newGeneralChkup.ExaminerId">
                                        <option ng-repeat="s in ExaminerList" ng-value="s.ExaminerId" ng-selected="newGeneralChkup.ExaminerId==s.ExaminerId">{{s.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mt-3">
                                    <label class="checkbox-wrap">
                                        Is Vaccination ?
                                        <input type="checkbox" id="vaccination" disabled ng-model="newGeneralChkup.IsVaccination" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <textarea class="form-control form-control-sm" rows="1" ng-model="newGeneralChkup.Remarks"></textarea>
                                </div>
                            </div>
                        </div>                       

                        <div class="" ng-hide="newGeneralChkup.IsVaccination==true">
                            <div class="table-scroll-x-y sales-main-table table-scroll" style="height: calc(100vh - 16rem) !important">
                                <table id="#GeneralCheckup" class="main-table table table-sm table-bordered bg-white">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 60px">S.No.</th>
                                            <th style="width: 200px">Name</th>
                                            <th style="width: 140px" ng-repeat="Ph in TestNameList">
                                                <label>{{Ph.Name}}</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="W in StudentForTestValue">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <p class="mb-0"><b>{{W.StudentName}}</b></p>
                                                <label>Adm.No: <i>{{W.RegNo}}</i></label>
                                                <label class="ml-3">Roll No: <i>{{W.RollNo}}</i></label>
                                            </td>
                                            <td class="text-center" ng-repeat="Ph in W.TestNameColl">
                                                <input class="form-control form-control-sm" type="text" ng-model="Ph.Value">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="" ng-show="newGeneralChkup.IsVaccination==true"> 
                            <div class="table-scroll-x-y sales-main-table table-scroll" style="height: calc(100vh - 16rem) !important">
                                <table id="#GeneralCheckup" class="main-table table table-sm table-bordered bg-white">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 60px">S.No.</th>
                                            <th style="width: 200px">Name</th>
                                            <th style="width: 200px">Remarks</th>
                                            <th style="width:120px; text-align:center;z-index:3" ng-repeat="Ph in TestNameList">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox"
                                                           id="customCheckbox{{$index}}" value="option1"  ng-model="Ph.IsAllow" ng-change="CheckUnCheckAll(Ph)">
                                                    <label for="customCheckbox{{$index}}"
                                                           class="custom-control-label">
                                                        {{Ph.Name}}
                                                    </label>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="W in StudentForTestValue">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <p class="mb-0"><b>{{W.StudentName}}</b></p>
                                                <label>Adm.No: <i>{{W.RegNo}}</i></label>
                                                <label class="ml-3">Roll No: <i>{{W.RollNo}}</i></label>
                                            </td>
                                            <td><textarea class="form-control form-control-sm" rows="1" ng-model="W.Remarks"></textarea></td>
                                            <td ng-repeat="Ph in W.IsVaccinationColl">
                                                <div class="custom-control custom-checkbox text-center">
                                                    <input class="custom-control-input" type="checkbox"
                                                           id="customCheckbox{{W.StudentId}}{{Ph.TestNameId}}" ng-model="Ph.IsAllow">
                                                    <label for="customCheckbox{{W.StudentId}}{{Ph.TestNameId}}"
                                                           class="custom-control-label">
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*<footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="GCInfirmaryStudentListPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                            </div>
                        </footer>*@
                        <div class="time-label">
                            <span class="d-block border-0 p-3 text-center">
                                <button type="button"
                                        class="btn btn-sm btn-info"
                                        id="back-hci-list"
                                        style="min-width: 90px">
                                    Back to List
                                </button>
                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearGCInfirmary()">Reset</button>
                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveGeneralChkupInfirmry()">Save</button>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!--SMS modal Starts-->
    <div class="modal fade" id="sendsms" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header p-2">
                    <h6 class="modal-title">Send SMS</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-2">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="" class="mr-2">SMS Template: </label>
                                <select class="form-control form-control-sm select2" style="width: 100%">
                                    <option selected="selected">
                                        -- Select SMS Template --
                                    </option>
                                    <option>option</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="" class="mr-2">Message: </label>
                                <textarea class="form-control form-control-sm" rows="3"
                                          placeholder="Enter ..."></textarea>
                            </div>
                        </div>

                        <div class="col-12 d-flex">
                            <div class="custom-control custom-checkbox mr-2">
                                <input class="custom-control-input" type="checkbox"
                                       id="customCheckbox2" checked>
                                <label for="customCheckbox2"
                                       class="custom-control-label">Primary No.</label>
                            </div>

                            <div class="custom-control custom-checkbox mr-2">
                                <input class="custom-control-input" type="checkbox"
                                       id="customCheckbox3">
                                <label for="customCheckbox3"
                                       class="custom-control-label">Father No.</label>
                            </div>

                            <div class="custom-control custom-checkbox mr-2">
                                <input class="custom-control-input" type="checkbox"
                                       id="customCheckbox4">
                                <label for="customCheckbox4"
                                       class="custom-control-label">Mother No.</label>
                            </div>
                        </div>


                        <div class="col-12 mt-4">
                            <div class="form-group">
                                <label>Total numbers of selected student: 20</label>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center mb-2">

                    <button type="button" class="btn btn-success  btn-sm" style="width:70px;">Send</button>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!--Email modal Starts-->
    <div class="modal fade" id="sendemail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header p-2">
                    <h6 class="modal-title">Send Email</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-2">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="form-group d-flex">
                                <label class="mr-2 mt-1" style="min-width:90px;">SMS Template: </label>
                                <select class="form-control form-control-sm select2" style="width: 100%">
                                    <option>option</option>
                                </select>
                            </div>
                        </div>



                        <div class="col-12">
                            <div class="form-group d-flex">
                                <label class="mr-2 mt-1" style="min-width:90px;">Email Send To</label>
                                <div class="checkbox-wrapper  d-flex">
                                    <div class="custom-control custom-checkbox mr-2">

                                        <input class="custom-control-input" type="checkbox"
                                               id="customCheckbox23" checked>
                                        <label for="customCheckbox23"
                                               class="custom-control-label">Primary Email Id.</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mr-2">
                                        <input class="custom-control-input" type="checkbox"
                                               id="customCheckbox35">
                                        <label for="customCheckbox35"
                                               class="custom-control-label">Guardian</label>
                                    </div>

                                    <div class="custom-control custom-checkbox mr-2">
                                        <input class="custom-control-input" type="checkbox"
                                               id="customCheckbox33">
                                        <label for="customCheckbox33"
                                               class="custom-control-label">Father</label>
                                    </div>

                                    <div class="custom-control custom-checkbox mr-2">
                                        <input class="custom-control-input" type="checkbox"
                                               id="customCheckbox43">
                                        <label for="customCheckbox43"
                                               class="custom-control-label">Mother</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="form-group d-flex">
                                <label class="mr-2 mt-1" style="min-width:90px;">CC Employee </label>
                                <select class="form-control form-control-sm select2" multiple style="width:100%">
                                    <option>Employee1</option>
                                    <option>Employee2</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group d-flex">
                                <label class="mr-2 mt-1" style="min-width:90px;">Subject <span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm" />
                            </div>
                        </div>



                        <div class="col-12">
                            <div class="form-group mb-0">
                                <label for="" class="mr-2">Message <span class="text-danger">*</span> </label>
                                <textarea class="textarea" placeholder="Place some text here" style="
                                                                          width: 100%;
                                                                          height: 130px!important;
                                                                          font-size: 14px;
                                                                          line-height: 18px;
                                                                          border: 1px solid #dddddd;
                                                                          padding: 10px;
                                                                        " ng-model="newHomeworkType.Description" html-editor></textarea>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="">Attach File</label>
                            <div class="row">
                                <div class="col-md-1">
                                    <form class="avatar mt-2">
                                        <p style=" text-align: center; color: #76be4e; font-size: 30px; position: absolute; top: 30%; left: 31%;"><i class="fas fa-plus w-t"></i></p>
                                        <input type="file" name="avatar" />
                                    </form>
                                </div>
                                <div class="col-md-11">
                                    <div class="attachpreview">
                                        <a class="user-img-box">
                                            <img class="previewimg" src="~/wwwroot/dynamic/images/attach-img.png" alt="Cinque Terre" width="600" height="400">
                                            <span class="cross-btn"><span class="crossicon">&#935;</span></span>
                                        </a>
                                    </div>
                                    <div class="attachpreview">
                                        <a class="user-img-box">
                                            <img class="previewimg" src="~/wwwroot/dynamic/images/attach-img.png" alt="Cinque Terre" width="600" height="400">
                                            <span class="cross-btn"><span class="crossicon">&#935;</span></span>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-12 mt-2">
                            <div class="form-group">
                                <label>Total numbers of selected student: 20</label>
                            </div>
                        </div>

                    </div>
                    <div class="text-center mb-3">
                        <button type="button" class="btn btn-success  btn-sm" style="width:80px">Send</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
