<script src="~/jslib/inventory/creation/ProductScheme.js?v=20251012"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="ProductSchemeController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">

                <div id="ledger-group-section">
                    <div class="card card-default">
                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newProductScheme.Name">
                                    </div>

                                </div>
                                <div class="col-md-8">
                                    <label>Notes</label>
                                    <textarea class="form-control form-control-sm" ng-model="newProductScheme.Notes" rows="1"></textarea>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label> Voucher</label>
                                        <select class="form-control form-control-sm select2" ng-model="newProductScheme.VoucherId">
                                            <option ng-value="0">**Select Voucher**</option>
                                            <option ng-value="pl.id" ng-repeat="pl in VoucherList" ng-selected="pl.id==newProductScheme.VoucherId">{{pl.text}}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-2">

                                    <div class="form-group">
                                        <label for="">Date From</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newProductScheme.DateFrom_TMP" date-picker date-detail="newProductScheme.DateFromDet">
                                    </div>

                                </div>
                                <div class="col-md-2">

                                    <div class="form-group">
                                        <label for="">Date To</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newProductScheme.DateTo_TMP" date-picker date-detail="newProductScheme.DateToDet">
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <label>Description</label>
                                    <textarea class="form-control form-control-sm" ng-model="newProductScheme.Description" rows="1"></textarea>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label> Area</label>
                                        <select class="form-control form-control-sm select2" ng-model="newProductScheme.AreaId">
                                            <option ng-value="0">**Select Area**</option>
                                            <option ng-value="pl.id" ng-repeat="pl in AreaList" ng-selected="pl.id==newProductScheme.AreaId">{{pl.text}}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label> Agent</label>
                                        <select class="form-control form-control-sm select2" ng-model="newProductScheme.AgentId">
                                            <option ng-value="0">**Select Agent**</option>
                                            <option ng-value="pl.id" ng-repeat="pl in AgentList" ng-selected="pl.id==newProductScheme.AgentId">{{pl.text}}</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label> Ledger Group</label>
                                        <select class="form-control form-control-sm select2" ng-model="newProductScheme.LedgerGroupId">
                                            <option ng-value="0">**Select Ledger Group**</option>
                                            <option ng-value="pl.id" ng-repeat="pl in LedgerGroupList" ng-selected="pl.id==newProductScheme.LedgerGroupId">{{pl.text}}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label> Ledger</label>
                                        <select class="form-control form-control-sm select2" ng-model="newProductScheme.LedgerId">
                                            <option ng-value="0">**Select Ledger**</option>
                                            <option ng-value="pl.id" ng-repeat="pl in LedgerList" ng-selected="pl.id==newProductScheme.LedgerId">{{pl.text}}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label> Product Group</label>
                                        <select class="form-control form-control-sm select2" ng-model="newProductScheme.ProductGroupId">
                                            <option ng-value="0">**Select ProductGroup**</option>
                                            <option ng-value="pl.id" ng-repeat="pl in ProductGroupList" ng-selected="pl.id==newProductScheme.ProductGroupId">{{pl.text}}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label> Product</label>
                                        <select class="form-control form-control-sm select2" ng-model="newProductScheme.ProductId">
                                            <option ng-value="0">**Select Product**</option>
                                            <option ng-value="pl.id" ng-repeat="pl in ProductList" ng-selected="pl.id==newProductScheme.ProductId">{{pl.text}}</option>
                                        </select>

                                    </div>
                                </div>

                            </div>




                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead class=" text-nowrap">
                                        <tr>
                                            <th rowspan="2" class="text-center align-middle" style="width: 80px;">S.No</th>
                                            <th rowspan="2" class="text-center align-middle" style="width: 100px;">Sales Qty.</th>
                                            <th rowspan="2" class="text-center align-middle" style="width: 100px;">Free Qty.</th>
                                            <th rowspan="2" class="text-center align-middle" style="width: 150px;">Alternet Product</th>
                                            <th colspan="2" scope="colgroup" class="text-center" style="width: 200px;">Discount</th>
                                            <th colspan="2" scope="colgroup" class="text-center" style="width: 200px;">Scheme</th>

                                            <th rowspan="2" class="text-center align-middle" style="width: 300px;">Description</th>

                                        </tr>
                                        <tr class="text-center">
                                            <th scope="col" style="top: 35px;width: 90px;">Amt.</th>
                                            <th scope="col" style="top: 35px;width: 90px;">Per(%)</th>
                                            <th scope="col" style="top: 35px;width: 90px;">Amt.</th>
                                            <th scope="col" style="top: 35px;width: 90px;">Per(%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ps in newProductScheme.ProductSchemeDetailsColl">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" ng-model="ps.SalesQty" value="0.00" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" ng-model="ps.FreeQty" value="0.00" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-model="ps.AlternateProduct" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" ng-model="ps.Discount_Amt" value="0.00" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" ng-model="ps.Discount_Per" value="0.00" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" ng-model="ps.Scheme_Amt" value="0.00" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" ng-model="ps.Scheme_Per" value="0.00" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-model="ps.Description" />
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        </div>


                        <div class="time-label">
                            <span class="d-block border-0 p-3 text-center">

                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearProductScheme()">Reset</button>
                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateProductScheme()">{{newProductScheme.Mode}}</button>

                            </span>
                        </div>
                    </div>
                </div>

                <!-- form area ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>




