
<script src="~/jslib/inventory/creation/ProductBundle.js?v=20251012"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="ProductBundleController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div class="card card-default">
                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Name</label>
                                        <input type="text" class="form-control form-control-sm " ng-model="newProductBundle.Name" />

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Description</label>
                                        <textarea rows="1" class="form-control form-control-sm" ng-model="newProductBundle.Description"></textarea>

                                    </div>
                                </div>
                            </div>

                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead class=" text-nowrap">
                                        <tr>
                                            <th style="width: 80px;">S.No</th>
                                            <th style="width: 200px;">Particulars</th>
                                            <th style="width: 100px;">Quantity</th>
                                            <th style="width: 100px;">Rate</th>
                                            <th style="width: 100px;">Per</th>
                                            <th style="width: 100px;">Amount</th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cl in newProductBundle.ProductBundleDetailsColl">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <select class="form-control form-control-sm select2" ng-model="cl.ParticularsId">
                                                    <option ng-value="0">**Select Particulars**</option>
                                                    <option ng-value="pl.id" ng-repeat="pl in ParticularsList" ng-selected="pl.id==cl.ParticularsId">{{pl.text}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-value="0.00" ng-model="cl.Quantity" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-value="0.00" ng-model="cl.Rate" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-value="0.00" ng-model="cl.Per" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-value="0.00" ng-model="cl.Amount" disabled>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="time-label">
                            <span class="d-block border-0 p-3 text-center">

                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearProductBundle()">Reset</button>
                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateProductBundle()">{{newProductBundle.Mode}}</button>

                            </span>
                        </div>
                    </div>

                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>




