
<script src="~/jslib/export/tableExport.js"></script>
<script src="~/jslib/export/jquery.base64.js"></script>

<script src="~/jslib/export/jspdf/libs/sprintf.js"></script>
<script src="~/jslib/export/jspdf/jspdf.js"></script>
<script src="~/jslib/export/jspdf/libs/base64.js"></script>

<script src="~/jslib/inventory/creation/ProductCategories.js?v=20251012"></script>
<div ng-app="myApp" ng-controller="ProductCategories" ng-class="{waiting: loadingstatus=='running'}" ng-init="GetProductCategories()" ng-cloak>
    <div class="container-fluid">
        <section class="iframe-content-starts-here" style="padding-top:50px!important">
            <div class="tab-content">
                <div class="card-primary card-tabs">
                    <div class="card-header with-gradient-bg p-0 border-bottom-0">
                        <div class="card-header p-0 border-bottom-0">
                            <ul class="nav nav-tabs pt-1" id="custom-tabs-four-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Product Category</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                    <header class="row">
                                        <div class="col-md-8">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm  mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.ProductCategories">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.ProductCategories">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search"
                                                               placeholder="Search" aria-label="Search" ng-model="searchData.ProductCategories">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-4 text-right">
                                            <div class="dropdown dnld-file"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                   
                                                </div>
                                                <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                            </div>


                                        </div>
                                    </header>
                                    <div class="search-toolbar">
                                        <table cellpadding="12" class="table table-bordered table-striped table-hover table-sm" id="datatable">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;width:10%">

                                                        S.No
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='ProductCategoriesId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>

                                                    <th ng-click="sort('Name')" style="text-align:left;width: 25% ">
                                                        Name
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>

                                                    <th ng-click="sort('Alias')" style="text-align:left;width: 15%;">
                                                        Alias
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='Alias'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th ng-click="sort('Code')" style="text-align:left;width: 15%;">

                                                        Code
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='Code'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>

                                                    <th style="text-align:center;width:10%">Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="newProductCategories in CategoriesColl|orderBy:sortKey:reverse|filter:searchData.ProductCategories|itemsPerPage:perPage.ProductCategories" current-page="currentPages.ProductCategories" pagination-id="ProductCategoriesPagination">


                                                    <td style="text-align:center;margin:auto">
                                                        {{$index+1}}
                                                    </td>
                                                    <td style="text-align:left;margin:auto">
                                                        {{newProductCategories.Name}}
                                                    </td>

                                                    <td style="text-align:left;margin:auto">
                                                        {{newProductCategories.Alias}}
                                                    </td>

                                                    <td style="text-align:left;margin:auto">
                                                        {{newProductCategories.Code}}
                                                    </td>
                                                    <td class="project-actions" style="text-align:center">
                                                        <div class="btn-group-sm">
                                                            <a href="#" class="btn btn-info btn-sm" ng-click="getProductCategoriesById(newProductCategories)"><i class="fas fa-pencil-alt"></i></a>
                                                            <a href="#" class="btn btn-danger btn-sm" ng-click="deleteProductCategories(newProductCategories,$index)"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="ProductCategoriesPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">

                                    <div class="p-2">
                                        <form>
                                            <div class="row">
                                                @*
                                                       <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>S.No.</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newProductCategories.SNo">
                                                        </div>
                                                    </div>
                                                *@
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Name<span style="color:red">*</span></label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newProductCategories.Name">
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Alias</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newProductCategories.Alias">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Code</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newProductCategories.Code" style="width:100%">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Categories</label>
                                                        <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="newProductCategories.ParentCategoriesId" data-placeholder="**select Parent Category**">
                                                            <option ng-value="pg.ProductCategoriesId" ng-repeat="pg in CategoriesColl" ng-selected="pg.ProductCategoriesId==newProductCategories.ParentCategoriesId">{{pg.Name}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <footer class="mt-4">
                                            <div class="text-center control-btns">
                                                <button type="button" class="btn btn-sm btn-default"  style="min-width:90px" ng-click="ClearProductCategories()">Cancel</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width:90px" ng-click="SaveProductCategories()">Save</button>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.container-fluid -->
            </section>




    </div>
</div>

@*<style>

    .table table-bordered table-striped table-hover table-sm td {
        font-size: x-small;
        line-height: 10px;
    }
</style>*@
