
<script src="~/jslib/inventory/creation/VoucherChargeSetup.js?v=20251012"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="VoucherChargeSetupController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div class="card card-default">
                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label> Select Voucher</label>
                                        <select class="form-control form-control-sm select2" ng-model="newVoucherChargeSetup.VoucherId">
                                            <option ng-value="0">**Select Voucher**</option>
                                            <option ng-value="pl.id" ng-repeat="pl in VoucherList" ng-selected="pl.id==newVoucherChargeSetup.VoucherId">{{pl.text}}</option>
                                        </select>

                                    </div>
                                </div>

                            </div>

                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead class=" text-nowrap">
                                        <tr>
                                            <th style="width: 80px;">S.No</th>
                                            <th style="width: 200px;">Ledger Name</th>
                                            <th style="width: 100px;">Sign</th>
                                            <th style="width: 100px;">Rate</th>
                                            <th style="width: 100px;">Amount</th>
                                            <th style="width: 100px;">Can Edit</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cl in newVoucherChargeSetup.VoucherChargeSetupDetailsColl">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <select class="form-control form-control-sm select2" ng-model="cl.LedgerNameId">
                                                    <option ng-value="0">**Select LedgerName**</option>
                                                    <option ng-value="pl.id" ng-repeat="pl in LedgerNameList" ng-selected="pl.id==cl.LedgerNameId">{{pl.text}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control form-control-sm select2" ng-model="cl.SignId">
                                                    <option ng-value="0">**Select Sign**</option>
                                                    <option ng-value="pl.id" ng-repeat="pl in SignList" ng-selected="pl.id==cl.SignId">{{pl.text}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-value="0.00" ng-model="cl.Rate">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-value="0.00" ng-model="cl.Amount" number-input>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox checkbox-lg ml-3">
                                                    <input type="checkbox"
                                                           class="custom-control-input"
                                                           id="checkbox-3"
                                                           value="" ng-model="cl.CanEdit" />
                                                    <label class="custom-control-label"
                                                           for="checkbox-3"></label>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="time-label">
                            <span class="d-block border-0 p-3 text-center">

                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearVoucherChargeSetup()">Reset</button>
                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateVoucherChargeSetup()">{{newVoucherChargeSetup.Mode}}</button>

                            </span>
                        </div>
                    </div>

                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>




