<script src="~/jslib/canteen/CanteenMaster.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="CanteenMasterController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Create Canteen</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">Food Category</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab"
                                               href="#contact" role="tab" aria-controls="contact"
                                               aria-selected="false">Create Food</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="medium-tab" data-toggle="tab"
                                               href="#medium" role="tab" aria-controls="medium"
                                               aria-selected="false">Time Slot Master</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <!-- Create Canteen Starts -->
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="canteen-name-section" class="card p-2">
                                    <header class="row mb-3">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.CreateCanteen">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.CreateCanteen">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search" ng-model="searchData.CreateCanteen"
                                                               aria-label="Search">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm" id="add-canteen">
                                                <i class="fas fa-plus w-t"></i> Add New Canteen
                                            </a>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">

                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 90px;">S.No.</th>
                                                    <th style="width: 200px;">Canteen Name</th>
                                                    <th style="width: 350px;">Description</th>
                                                    <th style="width: 90px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in CreateCanteenList | filter:searchData.CreateCanteen | itemsPerPage: perPage.CreateCanteen" current-page="currentPages.CreateCanteen" pagination-id="CreateCanteenPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.CanteenName}}</td>
                                                    <td>{{cl.Description}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetCreateCanteenById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelCreateCanteenById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="CreateCanteenPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>

                                <div id="create-canteen-form" class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" placeholder="" class="form-control form-control-sm" ng-model="newCreateCanteen.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control form-control-sm" rows="1" ng-model="newCreateCanteen.Description"
                                                              placeholder=""></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-canteen-list" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearCreateCanteen()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateCreateCanteen()">{{newCreateCanteen.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- Create Canteen Ends -->
                            <!-- Food Category Starts -->
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div id="food-category-section" class="card p-2">
                                    <header class="row mb-3">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.FoodCategory">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.FoodCategory">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search" ng-model="searchData.FoodCategory"
                                                               aria-label="Search">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success" id="add-food-category" style="min-width: 90px;">
                                                <i class="fas fa-plus w-t"></i> Add
                                                Food Category
                                            </button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">

                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 90px;">S.No.</th>
                                                    <th style="width: 200px;">Name</th>
                                                    <th style="width: 350px;">Description</th>
                                                    <th style="width: 90px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in FoodCategoryList | filter:searchData.FoodCategory | itemsPerPage: perPage.FoodCategory" current-page="currentPages.FoodCategory" pagination-id="FoodCategoryPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.CanteenName}}</td>
                                                    <td>{{cl.Description}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetFoodCategoryById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelFoodCategoryById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="FoodCategoryPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- Food Category starts -->
                                <div id="food-category-form" class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" name="" id="" class="form-control form-control-sm" ng-model="newFoodCategory.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control form-control-sm" rows="1" ng-model="newFoodCategory.Description"
                                                              placeholder=""></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-food-category-list" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearFoodCategory()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateFoodCategory()">{{newFoodCategory.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!-- house-dress-form ends -->
                            </div>
                            <!-- Food Category Ends -->
                            <!-- Create Food Starts -->
                            <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                 aria-labelledby="contact-tab">
                                <div id="food-section" class="card p-2">
                                    <header class="row mb-3">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.CreateFood">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.CreateFood">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search" ng-model="searchData.CreateFood"
                                                               aria-label="Search">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm" id="add-food">
                                                <i class="fas fa-plus w-t"></i> Add
                                                New Food
                                            </a>

                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">

                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 70px;">S.No.</th>
                                                    <th style="width: 200px;">Food Name</th>
                                                    <th style="width: 100px;">Price</th>
                                                    <th style="width: 100px;">Volume</th>
                                                    <th style="width: 250px;">Description</th>
                                                    <th style="width: 120px;">Image</th>
                                                    <th style="width: 80px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in CreateFoodList | filter:searchData.CreateFood | itemsPerPage: perPage.CreateFood" current-page="currentPages.CreateFood" pagination-id="CreateFoodPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.FoodName}}</td>
                                                    <td>{{cl.Price}}</td>
                                                    <td>{{cl.Volume}}</td>
                                                    <td>{{cl.Description}}</td>
                                                    <td>{{cl.Image}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetCreateFoodById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelCreateFoodById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="CreateFoodPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- create-food-form  Starts -->
                                <div id="create-food-form" class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Food Category</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newCreateFood.FoodCategoryId">
                                                                <option value="1">Catgory 1</option>
                                                                <option value="2">Catgory 2</option>
                                                                <option value="3">Catgory 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Food Name</label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newCreateFood.FoodName">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label>Price</label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newCreateFood.Price">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label>Volume</label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newCreateFood.Volume">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <textarea class="form-control form-control-sm" rows="2"
                                                                      placeholder="" ng-model="newCreateFood.Description"></textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="person-photo-attachment-wrap text-center">
                                                    <div class="img-wrap mx-auto">
                                                        <img ng-src="{{newCreateFood.PhotoData}}" class="img-fluid" alt="" id="imgPhoto1">
                                                    </div>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updatePhoto">
                                                        <i class="fas fa-camera w-t"></i> Upload Image
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-food-list" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearCreateFood()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateCreateFood()">{{newCreateFood.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!-- create-food-form Ends -->
                            </div>
                            <!-- Create Food Ends -->
                            <!-- Time Slot Master Starts -->
                            <div class="tab-pane fade main-section" id="medium" role="tabpanel"
                                 aria-labelledby="medium-tab">
                                <div id="time-slot-section" class="card p-2">
                                    <header class="row mb-3">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.TimeSlotMaster">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.TimeSlotMaster">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search" ng-model="searchData.TimeSlotMaster"
                                                               aria-label="Search">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success" id="add-time-slot" style="min-width: 90px;">
                                                <i class="fas fa-plus w-t"></i> Add
                                                Time Slot
                                            </button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">

                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20px;">S.No.</th>
                                                    <th style="width: 100px;">Time Slot Name</th>
                                                    <th style="width: 150px;">Description</th>
                                                    <th style="width: 20px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in TimeSlotMasterList | filter:searchData.TimeSlotMaster | itemsPerPage: perPage.TimeSlotMaster" current-page="currentPages.TimeSlotMaster" pagination-id="TimeSlotMasterPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.TimeSlotName}}</td>
                                                    <td>{{cl.Description}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetTimeSlotMasterById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelTimeSlotMasterById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="TimeSlotMasterPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!--Time Slot Starts -->
                                <div id="time-slot-form" class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Time Slot Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newTimeSlotMaster.TimeSlotName">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control form-control-sm" rows="1" ng-model="newTimeSlotMaster.Description"
                                                              placeholder=""></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-time-slot-list" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearTimeSlotMaster()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateTimeSlotMaster()">{{newTimeSlotMaster.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Time Slot Master Ends -->
                        </div>
                    </div>

                </div>
            </section>
            <!-- /.row -->

        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->

    <div class="modal fade" id="updatePhoto" tabindex="-1" aria-labelledby="updatePhotoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePhotoLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>

                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newCreateFood.Photo_TMP" @*after-selected="AddCreateFoodPhoto()"*@ fileread="newCreateFood.PhotoData">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newCreateFood.PhotoData}}" class="img-fluid" id="imgPhoto">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-file" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-file" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newCreateFood.Photo_TMP" @*after-selected="AddCreateFoodPhoto()"*@ fileread="newCreateFood.PhotoData" />
                    <a ng-click="ClearCreateFoodPhoto()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAuthorImage()">Save</button>*@
                </div>
            </div>
        </div>
    </div>
</div>