
<script src="~/jslib/homework/Configuration.js?v=20251115"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="ConfigurationController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid" style="margin-top: -10px;">
            <section class="iframe-content-starts-here">
                <div>
                    <div class="card p-2">
                        <div class="card border">
                            <div class="p-2 card-header" style="background-color: #bdddab63">
                                <h6 class="mb-0">Homework</h6>
                            </div>
                            <div class="p-2 card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Get Lesson From  Master </label>
                                    </div>
                                    <div class="col-md-6 ml-2">
                                        <div class="form-group clearfix">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="HL-yes" name="HL" ng-value="true" ng-model="newConfiguration.HomeworkLesson">
                                                <label class="form-check-label" for="HL-yes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="HL-no" name="HL" ng-value="false" ng-model="newConfiguration.HomeworkLesson">
                                                <label class="form-check-label" for="HL-no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Get Topic From  Master</label>
                                    </div>
                                    <div class="col-md-6 ml-2">
                                        <div class="form-group clearfix">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="HT-yes" name="HT" ng-value="true" ng-model="newConfiguration.HomeworkTopic">
                                                <label class="form-check-label" for="HT-yes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="HT-no" name="HT" ng-value="false" ng-model="newConfiguration.HomeworkTopic">
                                                <label class="form-check-label" for="HT-no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border">
                            <div class="p-2 card-header" style="background-color: #bdddab63">
                                <h6 class="mb-0">Asisgnment</h6>
                            </div>
                            <div class="p-2 card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Get Lesson From  Master </label>
                                    </div>
                                    <div class="col-md-6 ml-2">
                                        <div class="form-group clearfix">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="AL-yes" name="AL" ng-value="true" ng-model="newConfiguration.AssignmentLesson">
                                                <label class="form-check-label" for="AL-yes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="AL-no" name="AL" ng-value="false" ng-model="newConfiguration.AssignmentLesson">
                                                <label class="form-check-label" for="AL-no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="time-label pb-3">
                            <span class="d-block border-0 text-center">
                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearConfiguration()">Reset</button>
                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateConfiguration()">Save</button>
                            </span>
                        </div>
                    </div>
                </div>    
            </section>
        </div>
    </section>
</div>