<style>
    .table thead th {
        background-color: #e9f2ee;
    }
    .ui-grid-cell-contents {
        height: auto !important;
    }

    .ui-grid-header {
        height: 60px;
    }

    .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
        position: absolute;
        top: 80%;
    }
    #chart-container {
        max-height: 300px;
        margin: auto;
    }

    canvas {
        max-height: 100%;
    }
    canvas {
        min-height: 300px;
    }
    .chart-container {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="~/jslib/library/LibraryDashboard.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="LibDashboard" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="card mb-2" style="border: 1px solid #76be4e7a; border-radius: 12px;">
                    <div class="card-header p-2" style="background-color: #76bf4e33">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.SubjectIdColl">
                                                <option ng-repeat="S in SubjectList" ng-value="S.SubjectId">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Author</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.AuthorIdColl">
                                                <option ng-repeat="S in AuthorList" value="{{S.AuthorId}}">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Publication</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.PublicationIdColl">
                                                <option ng-repeat="S in PublicationList" value="{{S.PublicationId}}">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Edition</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.EditionIdColl">
                                                <option ng-repeat="S in EditionList" value="{{S.EditionId}}">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.CategoryIdColl">
                                                <option ng-repeat="S in BookCategoryList" value="{{S.BookCategoryId}}">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Class</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.ClassIdColl">
                                                <option ng-repeat="S in ClassList" value="{{S.ClassId}}">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Faculty</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.FacultyIdColl">
                                                <option ng-repeat="S in FacultyList" value="{{S.FacultyId}}">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Level</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.LevelIdColl">
                                                <option ng-repeat="S in LevelList" value="{{S.LevelId}}">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Semester</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.SemesterIdColl">
                                                <option ng-repeat="S in SemesterList" value="{{S.SemesterId}}">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Class Year</label>
                                            <select class="form-control form-control-sm select2" multiple ng-model="newDet.ClassYearIdColl">
                                                <option ng-repeat="S in ClassYearList" value="{{S.ClassYearId}}">{{S.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-2" style="background-color: #76bf4e1a">
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <div class="card p-2 mb-2" style="background-color: #2F5597">
                                    <a>
                                        <div class="sub_no">
                                            <h5 style="color:#ffffff">Total Books</h5>
                                        </div>
                                        <h3 class="mt-2 mb-4" data-toggle="modal" data-target="#total" style="color:aliceblue" ng-click="GetTotalBookList(0)">{{totalBookCount}}<span class="float-right"><i class="fas fa-info-circle"></i></span></h3>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="card p-2 mb-2" style="background-color: #5B9BD5">
                                    <a>
                                        <div class="sub_no">
                                            <h5 style="color:#ffffff">Books Taken</h5>
                                        </div>
                                        <h3 class="mt-2 mb-4" style="color:aliceblue" data-toggle="modal" data-target="#Taken" ng-click="GetAllBooksTaken(false)">{{allTakenCount}}<span class="float-right"><i class="fas fa-info-circle"></i></span></h3>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="card p-2 mb-2" style="background-color: #70AD47">
                                    <a>
                                        <div class="sub_no">
                                            <h5 style="color:#ffffff">Returned</h5>
                                        </div>
                                        <h3 class="mt-2 mb-4" style="color:aliceblue">{{allReturnedCount}}<span class="float-right" data-toggle="modal" data-target="#Returned" ng-click="GetAllBooksReturned()"><i class="fas fa-info-circle"></i></span></h3>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="card p-2 mb-2" style="background-color: #ED7D31">
                                    <a>
                                        <div class="sub_no">
                                            <h5 style="color:#ffffff">Yet to Return</h5>
                                        </div>
                                        <h3 class="mt-2 mb-4" style="color:aliceblue" data-toggle="modal" data-target="#Taken" ng-click="GetAllBooksTaken(true)">{{yetToReturnCount}}<span class="float-right"><i class="fas fa-info-circle"></i></span></h3>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="card p-2 mb-2" style="background-color: #C00000">
                                    <a>
                                        <div class="sub_no">
                                            <h5 style="color:#ffffff">Lost Books</h5>
                                        </div>
                                        <h3 class="mt-2 mb-4" style="color:aliceblue" data-toggle="modal" data-target="#Lost">00<span class="float-right"><i class="fas fa-info-circle"></i></span></h3>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="card p-2 mb-2" style="background-color: #00B0F0">
                                    <a>
                                        <div class="sub_no">
                                            <h5 style="color:#ffffff">Remaining Books</h5>
                                        </div>
                                        <h3 class="mt-2 mb-4" style="color:aliceblue" data-toggle="modal" data-target="#total" ng-click="GetTotalBookList(1)">
                                            {{remainingBookCount}}<span class="float-right"><i class="fas fa-info-circle"></i></span>
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="border: 1px solid #76be4e7a; border-radius: 12px;">
                            <div class="card-header p-2">
                                <h4 class="text-secondary mb-0"> Books Status Summary</h4>
                            </div>
                            <div class="card-body p-2">
                                <div id="chart-container">
                                    <canvas id="bookChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="border: 1px solid #76be4e7a; border-radius: 12px;">
                            <div class="card-header p-2">
                                <h4 class="text-secondary mb-0"> Student Borrow Summary</h4>
                            </div>
                            <div class="card-body p-2">
                                <div class="chart-container">
                                    <canvas id="borrowerChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="border: 1px solid #76be4e7a; border-radius: 12px;">
                            <div class="card-header p-2">
                                <h4 class="text-secondary mb-0"> Employee Borrow Summary</h4>
                            </div>
                            <div class="card-body p-2">
                                <div class="chart-container">
                                    <canvas id="borrowerChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <!-- Modal -->
    <div class="modal fade" id="total" style="margin-top: 30px!important">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">{{modalTitle}}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-1">
                    <div class="card p-0">
                        <div id="grid1" ui-grid="gridOptions1"
                             ui-grid-auto-resize
                             ui-grid-resize-columns
                             ui-grid-move-columns
                             ui-grid-selection
                             ui-grid-exporter
                             ui-grid-pinning
                             ui-grid-filtering
                             ui-grid-save-state style="height: calc(100vh - 170px);">
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>


    <!--Books Taken Modal Starts-->
    <div class="modal fade" id="Taken" style="margin-top: 30px!important">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Total Books Taken</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-1">
                    <div class="card p-0">
                        <div id="grid2" ui-grid="gridOptions2"
                             ui-grid-auto-resize
                             ui-grid-resize-columns
                             ui-grid-move-columns
                             ui-grid-selection
                             ui-grid-exporter
                             ui-grid-pinning
                             ui-grid-filtering
                             ui-grid-save-state style="height: calc(100vh - 170px);">
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!--Ends-->
    <!--Books Returned Modal Starts-->
    <div class="modal fade" id="Returned" style="margin-top: 30px!important">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Total Books Returned</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-1">
                    <div class="card p-0">
                        <div id="grid3" ui-grid="gridOptions3"
                             ui-grid-resize-columns
                             ui-grid-auto-resize
                             ui-grid-move-columns
                             ui-grid-selection
                             ui-grid-exporter
                             ui-grid-pinning
                             ui-grid-filtering
                             ui-grid-save-state style="height: calc(100vh - 140px);">
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!--Ends-->
    <!--Books YetTo Returned Modal Starts-->
    <div class="modal fade" id="YetToReturn" style="margin-top: 30px!important">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Total Books Yet To Returned</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-1">
                    <div class="card p-0">
                        <div id="grid3" ui-grid="gridOptions3"
                             ui-grid-resize-columns
                             ui-grid-auto-resize
                             ui-grid-move-columns
                             ui-grid-selection
                             ui-grid-exporter
                             ui-grid-pinning
                             ui-grid-filtering
                             ui-grid-save-state style="height: calc(100vh - 140px);">
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!--Ends-->
    <!--Books Lost Modal Starts-->
    <!--<div class="modal fade" id="Lost" style="margin-top: 30px!important">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Total Books Lost</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-1">
                    <div class="card p-0">
                        <div id="grid3" ui-grid="gridOptions3"
                             ui-grid-resize-columns
                             ui-grid-auto-resize
                             ui-grid-move-columns
                             ui-grid-selection
                             ui-grid-exporter
                             ui-grid-pinning
                             ui-grid-filtering
                             ui-grid-save-state style="height: calc(100vh - 140px);">
                        </div>
                    </div>
                </div>


            </div>
        </div>-->
        <!-- /.modal-content -->
    <!--</div>-->
    <!--Ends-->
</div>
