<script>
    var entityStudent ="@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.StudentLibraryCard)";
    var entityEmployee= "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.EmployeeLibraryCard)";
</script>
<script src="~/jslib/Library/libraryCard.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="LibraryCardController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <header class="if-page-have-nav-tabs px-2">
                                <div class="row upper-tab">
                                    <div class="col-md-10">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active"
                                            id="myTab"
                                            role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active"
                                                   id="home-tab"
                                                   data-toggle="tab"
                                                   href="#home"
                                                   role="tab"
                                                   aria-controls="home"
                                                   aria-selected="true">Student Library Card</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link"
                                                   id="profile-tab"
                                                   data-toggle="tab"
                                                   href="#profile"
                                                   role="tab"
                                                   aria-controls="profile"
                                                   aria-selected="false">Employee Library Card</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                            <div class="tab-content" id="myTabContent">
                                <!-- Student Library Card Start -->
                                <div class="tab-pane fade show active main-section"
                                     id="home"
                                     role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="card py-2">
                                        <div class="row">
                                            <div class="col-sm-3 col-lg-3 col-md-3">
                                                <div class="form-group">
                                                    <label>Class</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newPrintStudentCard.SelectedClass" ng-change="PrintNormalIdCard()">
                                                        <option ng-value="0" selected>**Select Class**</option>
                                                        <option ng-value="cl" ng-repeat="cl in ClassSection.SectionList">{{cl.text}}</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-lg-3 col-md-3">
                                                <div class="form-group">
                                                    <label>Issue Date</label>
                                                    <input type="text" class="form-control form-control-sm" date-picker ng-model="newPrintStudentCard.IssueDate_TMP" date-detail="newPrintStudentCard.IssueDateDet">
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-lg-3 col-md-3">
                                                <label>Valid Upto</label>
                                                <input type="text" class="form-control form-control-sm" date-picker ng-model="newPrintStudentCard.ValidUpto_TMP" date-detail="newPrintStudentCard.ValidUptoDet">
                                            </div>
                                            <div class="col-sm-3 col-lg-3 col-md-3">
                                                <div class="form-group">
                                                    <label>Select Report</label>
                                                    <select name="comment-group" id="" form="" class="form-control form-control-sm select2" ng-change="PrintNormalIdCard()" ng-model="newPrintStudentCard.RptTranId">
                                                        <option ng-value="0" ng-selected="true">Select Report</option>
                                                        <option ng-value="rt.RptTranId" ng-repeat="rt in newPrintStudentCard.TemplatesColl">{{rt.ReportName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label>Select Student(s)</label>
                                                    <select multiple class="form-control form-control-sm select2" ng-change="PrintStudentIdCard()" ng-model="newPrintStudentCard.StudentIdColl" data-placeholder="**Select Student**" style="width:100%;">
                                                        <option ng-value="st.StudentId" ng-repeat="st in AllStudentColl">{{st.Name}}-{{st.RegNo}}-{{st.ClassName}}({{st.SectionName}})-{{st.RollNo}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2 px-2" id="schedule-report-table">
                                            <iframe id="frmRptTabulation" style='width: 100%;height:calc(100vh - 15rem);background-color: white;visibility: visible;' frameborder='0' scrolling='yes'></iframe>
                                        </div>
                                    </div>
                                </div>
                                <!-- Student Ends -->
                                <!-- Employee Start -->
                                <div class="tab-pane fade main-section"
                                     id="profile"
                                     role="tabpanel"
                                     aria-labelledby="profile-tab">

                                    <div class="card py-2">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="date">Issue Date</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newEmployee.IssueDate_TMP" date-detail="newEmployee.IssueDateDet">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="date">Valid Upto</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newEmployee.ValidUpto_TMP" date-detail="newEmployee.ValidUptoDet">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Select Report</label>
                                                    <select class="form-control form-control-sm select2">
                                                        <option value="1">Report 1</option>
                                                        <option value="2">Report 2</option>
                                                        <option value="3">Report 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Select Employee</label>
                                                    <select class="form-control form-control-sm select2">
                                                        <option value="1"></option>
                                                        <option value="2">Employee Name</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Postal Dispatch Ends -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>








