<style>
    .table thead th {
        background-color: #e9f2ee;
    }
</style>

<script src="~/jslib/library/setting.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="SettingController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card" style="border:1px solid #cad8d2">
                            <div class="card-header p-2" style="background-color: #e9f2ee;">
                                <h3 class="card-title text-secondary"><b>Book Issue (For Student)</b></h3>
                            </div>
                            <div class="card-body  p-2">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Book Limit</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newSetting_ST.BookLimit">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Credit Days</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newSetting_ST.CreditDays">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Late Fine(fix Amount)</label>
                                            <input type="text" id="studenttxt" class="form-control form-control-sm" ng-model="newSetting_ST.FixFineAmount">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Late Fine per day</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newSetting_ST.LateFineAmountPerDay">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="checkbox-wrap mt-4">
                                            SlabWise
                                            <input type="checkbox" id="studentCheckbox" ng-model="newSetting_ST.SlabWiseFine" onclick="check6()" />
                                            <span class="checkmark"></span>
                                        </label>

                                    </div>
                                </div>
                                <div id="studentCheckboxdiv" style="display:none">
                                    <div class="table-responsive">
                                        <table class="table table-hover border">
                                            <thead class=" text-nowrap" style="background-color: #e9f2ee;">
                                                <tr>
                                                    <th style="width: 110px;">From Days</th>
                                                    <th style="width: 110px;">To Days</th>
                                                    <th style="width: 110px;">Fine Amount</th>
                                                    <th style="width: 80px;">Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="setStu in newSetting_ST.FineRuleColl">
                                                    <td><input type="number" class="form-control form-control-sm" ng-model="setStu.FromDays"></td>
                                                    <td><input type="number" class="form-control form-control-sm" ng-model="setStu.ToDays"></td>
                                                    <td><input number-input type="text" class="form-control form-control-sm" ng-model="setStu.FineAmount"></td>
                                                    <td>
                                                        <a class="p-1" ng-click="AddBookIssueStudent($index)">
                                                            <i class="fas fa-plus text-secondary"></i>
                                                        </a>
                                                        <a class="p-1" ng-click="delBookIssueStudent($index)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card" style="border:1px solid #cad8d2">
                            <div class="card-header  p-2" style="background-color: #e9f2ee;">
                                <h3 class="card-title text-secondary"><b>Book Issue (For Teachers)</b></h3>
                            </div>
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Book Limit</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newSetting_EMP.BookLimit">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Credit Days</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newSetting_EMP.CreditDays">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Late Fine(fix Amount)</label>
                                            <input type="text" id="teachertxt" class="form-control form-control-sm" ng-model="newSetting_EMP.FixFineAmount">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Late Fine per day</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newSetting_EMP.LateFineAmountPerDay">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="checkbox-wrap mt-4">
                                            SlabWise
                                            <input type="checkbox" id="teacherCheckbox" ng-click="newSetting_EMP.SlabWiseFine" onclick="check7()" />
                                            <span class="checkmark"></span>
                                        </label>

                                    </div>
                                </div>
                                <div id="teacherCheckboxdiv" style="display:none">
                                    <div class="table-responsive">
                                        <table class="table table-hover border">
                                            <thead class=" text-nowrap" style="background-color: #e9f2ee;">
                                                <tr>
                                                    <th style="width: 110px;">From Days</th>
                                                    <th style="width: 110px;">To Days</th>
                                                    <th style="width: 110px;">Fine Amount</th>
                                                    <th style="width: 80px;">Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="setStu in newSetting_EMP.FineRuleColl">
                                                    <td><input type="number" class="form-control form-control-sm" ng-model="setStu.FromDays"></td>
                                                    <td><input type="number" class="form-control form-control-sm" ng-model="setStu.ToDays"></td>
                                                    <td><input number-input type="text" class="form-control form-control-sm" ng-model="setStu.FineAmount"></td>
                                                    <td>
                                                        <a class="p-1" ng-click="AddBookIssueTeacher($index)">
                                                            <i class="fas fa-plus text-secondary"></i>
                                                        </a>
                                                        <a class="p-1" ng-click="delBookIssueTeacher($index)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card" style="border:1px solid #cad8d2">
                            <div class="card-header p-2" style="background-color: #e9f2ee;">
                                <h3 class="card-title text-secondary"><b>Book Issue ClassWise Setting</b></h3>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive" style="max-height:400px!important">
                                    <table class="table table-hover table-bordered table-head-fixed mb-0">
                                        <thead class=" text-nowrap" style="background-color: #e9f2ee;">
                                            <tr>
                                                <th style="width: 170px;">Class</th>
                                                <!--Added By Suresh on 21 Magh-->
                                                <th style="width: 120px;" ng-show="AcademicConfig.ActiveBatch==true">Batch</th>
                                                <th style="width: 100px;" ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">Class Year/Semester</th>
                                                <!--Ends-->
                                                <th style="width: 110px;">Book Limit</th>
                                                <th style="width: 110px;">Credit Days</th>
                                                <th style="width: 110px;">Fine Amount(Fix)</th>
                                                <th style="width: 200px;">Fine Amount Per Day</th>
                                                <th style="width: 80px;">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="setStu in newLibraryClassWiseSetting">
                                                
                                                <td>
                                                    <select name="class-group" class="form-control form-control-sm select2" style="width: 100%;" ng-model="setStu.SelectedClass">
                                                        <option ng-repeat="cl in ClassSection.ClassList" ng-value="cl" ng-selected="cl.ClassId == setStu.SelectedClass.ClassId">{{cl.Name}}</option>
                                                    </select>
                                                </td>

                                                <!--Added By Suresh on Magh 21 starts-->
                                                <td ng-show="AcademicConfig.ActiveBatch==true">
                                                    <select class="form-control form-control-sm" ng-model="setStu.BatchId">
                                                        <option ng-value="0">**Select Batch**</option>
                                                        <option ng-value="c.id" ng-repeat="c in BatchList">{{c.text}}</option>
                                                    </select>
                                                </td>
                                                <td ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">
                                                    <select class="form-control form-control-sm" ng-model="setStu.ClassYearId" ng-show="setStu.SelectedClass.ClassType==2">
                                                        <option ng-value="0">**Select Year**</option>
                                                        <option ng-value="c.id" ng-repeat="c in ClassYearList">{{c.text}}</option>
                                                    </select>
                                                    <select class="form-control form-control-sm" ng-model="setStu.SemesterId" ng-show="setStu.SelectedClass.ClassType==3">
                                                        <option ng-value="0">**Select Semester**</option>
                                                        <option ng-value="c.id" ng-repeat="c in SemesterList">{{c.text}}</option>
                                                    </select>
                                                </td>

                                                <!--Ends-->
                                                <td> <input type="number" class="form-control form-control-sm" ng-model="setStu.BookLimit"></td>
                                                <td> <input type="number" class="form-control form-control-sm" ng-model="setStu.CreditDays"></td>
                                                <td> <input number-input type="text" class="form-control form-control-sm" ng-model="setStu.FixFineAmount"></td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <input number-input type="text" class="form-control form-control-sm" ng-model="setStu.LateFineAmountPerDay">
                                                        </div>
                                                        <div class="col-md-5">
                                                            <button class="btn btn-sm btn-info" data-toggle="modal" type="button" ng-click="ShowClassWiseFineRule(setStu)">
                                                                Slabwise
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="p-1" ng-click="AddBookIssueClasswise($index)">
                                                        <i class="fas fa-plus text-secondary"></i>
                                                    </a>
                                                    <a class="p-1" ng-click="delBookIssueClasswise($index,setStu)">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="card" style="border:1px solid #cad8d2">
                            <div class="card-header p-2" style="background-color: #e9f2ee;">
                                <h3 class="card-title text-secondary"><b>Book Issue CategoryWise Setting</b></h3>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive" style="max-height:400px!important">
                                    <table class="table table-hover table-head-fixed table-bordered mb-0">
                                        <thead class=" text-nowrap" style="background-color: #e9f2ee;">
                                            <tr>
                                                <th style="width: 170px;">Category</th>
                                                <th style="width: 110px;">Book Limit</th>
                                                <th style="width: 110px;">Credit Days</th>
                                                <th style="width: 110px;">Fine Amount(Fix)</th>
                                                <th style="width: 200px;">Fine Amount Per Day</th>
                                                <th style="width: 80px;">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="S in CategoryWiseSetting">

                                                <td>
                                                    <select class="form-control form-control-sm select2" ng-model="S.CategoryId" style="width:100%">
                                                        <option ng-value="0">**Select Category**</option>
                                                        <option ng-value="cl.BookCategoryId" ng-repeat="cl in BookCategoryList" ng-selected="cl.BookCategoryId==S.CategoryId">{{cl.Name}}</option>
                                                    </select>
                                                </td>


                                                <td> <input type="number" class="form-control form-control-sm" ng-model="S.BookLimit"></td>
                                                <td> <input type="number" class="form-control form-control-sm" ng-model="S.CreditDays"></td>
                                                <td> <input number-input type="text" class="form-control form-control-sm" ng-model="S.FixFineAmount"></td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <input number-input type="text" class="form-control form-control-sm" ng-model="S.LateFineAmountPerDay">
                                                        </div>
                                                        <div class="col-md-5">
                                                            <button class="btn btn-sm btn-info" data-toggle="modal" type="button" ng-click="ShowCategoryWiseFineRule(S)">
                                                                Slabwise
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="p-1" ng-click="AddBookIssueCategorywise($index)">
                                                        <i class="fas fa-plus text-secondary"></i>
                                                    </a>
                                                    <a class="p-1" ng-click="delBookIssueCategorywise($index)">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearSetting()">Reset</button>
                        <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateSetting()">{{newSetting_ST.Mode}}</button>
                    </span>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <!-- Modal -->
    <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Fine Amount SlabWise</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover border">
                            <thead class=" text-nowrap" style="background-color: #e9f2ee;">
                                <tr>
                                    <th style="width: 110px;">From Days</th>
                                    <th style="width: 110px;">To Days</th>
                                    <th style="width: 110px;">Fine Amount</th>
                                    <th style="width: 80px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="setStu in CurFineRuleColl">
                                    <td><input type="number" class="form-control form-control-sm" ng-model="setStu.FromDays"></td>
                                    <td><input type="number" class="form-control form-control-sm" ng-model="setStu.ToDays"></td>
                                    <td><input number-input type="text" class="form-control form-control-sm" ng-model="setStu.FineAmount"></td>
                                    <td>
                                        <a class="p-1" ng-click="AddFineAmountSlabwise($index)">
                                            <i class="fas fa-plus text-secondary"></i>
                                        </a>
                                        <a class="p-1" ng-click="delFineAmountSlabwise($index)">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" style="min-width: 90px;">
                            Back to
                            List
                        </button>
                        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" style="min-width: 90px;">Save</button>
                    </span>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <!--CategoryWise File modal starts-->
    <div class="modal fade" id="modal-xlC">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">CategoryWise Fine Amount SlabWise</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover border">
                            <thead class=" text-nowrap" style="background-color: #e9f2ee;">
                                <tr>
                                    <th style="width: 110px;">From Days</th>
                                    <th style="width: 110px;">To Days</th>
                                    <th style="width: 110px;">Fine Amount</th>
                                    <th style="width: 80px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="S in CurFineRuleCollC">
                                    <td><input type="number" class="form-control form-control-sm" ng-model="S.FromDays"></td>
                                    <td><input type="number" class="form-control form-control-sm" ng-model="S.ToDays"></td>
                                    <td><input number-input type="text" class="form-control form-control-sm" ng-model="S.FineAmount"></td>
                                    <td>
                                        <a class="p-1" ng-click="AddFineAmountSlabwiseC($index)">
                                            <i class="fas fa-plus text-secondary"></i>
                                        </a>
                                        <a class="p-1" ng-click="delFineAmountSlabwiseC($index)">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" style="min-width: 90px;">
                            Back to
                            List
                        </button>
                        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" style="min-width: 90px;">Save</button>
                    </span>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!--Ends-->
</div>
<script>
    $(document).ready(function () {
        $('#studentCheckbox').change(function () {
            $('#studentCheckboxdiv').toggle();
        });
    });
</script>
<script>
    g = 1;
    function check6() {
        o = document.getElementById('studentCheckbox');
        if (o.value == 'G') {
            g++;
            if (g % 2 == 0)
                $('#studenttxt').prop('disabled', true);
            else
                $('#studenttxt').prop('disabled', false);
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#teacherCheckbox').change(function () {
            $('#teacherCheckboxdiv').toggle();
        });
    });
</script>
<script>
    h = 1;
    function check7() {
        o = document.getElementById('teacherCheckbox');
        if (o.value == 'H') {
            h++;
            if (h % 2 == 0)
                $('#teachertxt').prop('disabled', true);
            else
                $('#teachertxt').prop('disabled', false);
        }
    }
</script>

