<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic-erp-theme.css" />
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/registration.css" />
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic.css" />

    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic-erp-theme.css" />
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/registration.css" />
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic.css" />

    <title>Registration Form</title>
    <style>
        .dark-bg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    </style>
    @{
        var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
        var baseurl = urlHelper.Content("~");
    }
    <script>
        var base_url = "@baseurl";
    </script>

    <!-- jQuery -->
    <script src="~/wwwroot/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/wwwroot/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/wwwroot/plugins/daterangepicker/daterangepicker.css">


    <script src="~/wwwroot/plugins/moment/moment.min.js"></script>
    <script src="~/Scripts/numeral.js"></script>
    <script src="~/wwwroot/plugins/inputmask/jquery.inputmask.min.js"></script>

    @*
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js"></script>


    <link href="~/wwwroot/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <script src="~/wwwroot/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/ag-grid-community.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/multiplex.js"></script>
    <link href="~/jslib/cron/angular-cron-jobs.css" rel="stylesheet" />
    <script src="~/jslib/cron/angular-cron-jobs.js"></script>

    <script type="text/javascript" src="~/pivot/pivot.js"></script>
    <script type="text/javascript" src="~/pivot/gchart_renderers.js"></script>
    <script type="text/javascript" src="~/pivot/export_renderers.js"></script>

    <!-- UIGrid Refferences -->
    <script src="~/Scripts/ui-grid.min.js"></script>
    <link href="~/Content/ui-grid.min.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-aria.js"></script>


    <link href="~/Scripts/nepalidate/nepali.datepicker.v3.5.min.css" rel="stylesheet" />
    <script src="~/Scripts/nepalidate/nepali.datepicker.v3.5.min.js"></script>

    <script src="~/wwwroot/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/jslib/main.js?v=20221015"></script>
    <script src="~/jslib/global/GlobalServices.js?v=20221015"></script>
    <script src="~/jslib/global/Common.js?v=20221015"></script>

    <script src="~/jslib/frontdesk/transaction/registration.js"></script>
</head>

<body ng-app="myApp" ng-controller="regController" ng-init="LoadData()">

    <div class="ctrlqFormContentWrapper">
        <div class="ctrlqHeaderMast"></div>
        <div class="ctrlqCenteredContent">
            <div class="ctrlqFormCard">

                <div class="ctrlqFormContent">
                    <div class="card p-2">
                        <section class="row">
                            <div class="row dark-bg">
                                <img ng-src="{{Abt.ImagePath}}" class="img-responsive img-fluid"
                                     style="max-height:250px;width:auto;">
                            </div>
                        </section>
                        <div class="card-header text-center" style="text-align:center;">
                            <h3 style="margin-bottom: 0rem !important;"><b>{{Abt.Name}}</b></h3>
                            <label style="font-size:16px;">{{Abt.Address}}</label>
                        </div>
                        <div class="card-body">
                            <div compile class="card-body" ng-bind-html="Abt.Content | unsafe">
                            </div>
                        </div>
                    </div>

                    <div class="card p-2">
                        <header>Student's Photo<span style="color:red">*</span></header>

                        <div class="person-photo-attachment-wrap text-center" style="text-align: center;">
                            <div class="img-wrap mx-auto ">
                                <img ng-hide="newRegistration.PhotoData" src="~/wwwroot/dynamic/images/avatar-img.jpg"
                                     class="img-fluid" alt="">
                                <img ng-show="newRegistration.PhotoData" ng-src="{{newRegistration.PhotoData}}"
                                     class="img-fluid" alt="" id="imgPhoto1">
                            </div>
                            <!-- Button trigger modal -->

                            <div class="upload-btn-wrapper">
                                <button class="btn  btn-success">Upload Photo</button>
                                @*<input type="file" name="myfile" />*@
                                <input type="file" accept=".jpg,.jpeg,.png" file-model-resize ng-model="newRegistration.Photo_TMP" fileread="newRegistration.PhotoData" />
                            </div>
                        </div>
                    </div> 
                    <div class="card p-2">

                        <header>Student's Name<span style="color:red">*</span></header> 
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-field col s12">
                                    <input id="firstname" name="name" type="text" class="validate" data-error="#e1" required
                                           ng-model="newRegistration.FirstName">
                                    <label for="firstname">First Name</label>

                                    <div id="e1"></div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-field col s12">
                                    <input id="middlename" name="name" type="text" class="validate" data-error="#e1"
                                           ng-model="newRegistration.MiddleName">
                                    <label for="middlename">Middle Name</label>

                                    <div id="e1"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-field col s12">
                                    <input id="lastname" name="name" type="text" class="validate" data-error="#e1" required
                                           ng-model="newRegistration.LastName">
                                    <label for="lastname">Last Name</label>

                                    <div id="e1"></div>
                                </div>
                            </div> 
                        </div> 

                    </div>
                    <div class="card p-2">
                        <div class="">
                            <header>Email Address<span style="color:red">*</span></header>
                            <div class="input-field col s12">
                                <input id="email" name="email" type="text" class="validate" data-error="#e2"
                                       ng-model="newRegistration.Email">
                                <label for="email">Your Email</label>
                                <div id="e2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-2">
                        <div class="facultycheckbox">
                            <header>Faculty<span style="color:red">*</span></header>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                               name="exampleRadios1" id="Science"
                                               value="Science" ng-model="newRegistration.Department">
                                        <label class="form-check-label"
                                               for="Science">
                                            Science
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                               name="exampleRadios1" id="management"
                                               value="Management" ng-model="newRegistration.Department">
                                        <label class="form-check-label"
                                               for="management">
                                            Management
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                               name="exampleRadios1" id="humanities"
                                               value="Humanities" ng-model="newRegistration.Department">
                                        <label class="form-check-label"
                                               for="humanities">
                                            Humanities
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                               name="exampleRadios1" id="education"
                                               value="Education" ng-model="newRegistration.Department">
                                        <label class="form-check-label"
                                               for="education">
                                            Education
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                               name="exampleRadios1" id="law"
                                               value="Law" ng-model="newRegistration.Department">
                                        <label class="form-check-label"
                                               for="law">
                                            Law
                                        </label>
                                    </div>

                                </div>
                            </div> 
                        </div> 
                    </div>
                    <div class="card p-2">
                        <div class="shiftcheckbox">
                            <header>SHIFT<span style="color:red">*</span></header>
                            <div class="row">
                                <div class="input-field col s12">

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                               name="exampleRadios" id="day"
                                               value="Day" checked ng-model="newRegistration.Shift">
                                        <label class="form-check-label"
                                               for="day">
                                            Day
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                               name="exampleRadios" id="morning"
                                               value="Morning" ng-model="newRegistration.Shift">
                                        <label class="form-check-label"
                                               for="morning">
                                            Morning
                                        </label>
                                    </div>

                                    <div class="input-field">
                                        <br>
                                        <div id="e4"></div>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div> 
                    <div class="card p-2">
                        <header>Date Of Birth<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="birthdate"></label>
                                <input type="date" id="birthdate" class="datepicker" name="birthdate" data-error="#e5"
                                    required ng-model="newRegistration.DOB_TMP">
                                @*<input type="text" id="birthdate" name="birthdate" date-picker ng-model="newRegistration.DOB_TMP" date-detail="newRegistration.DOBDet"
                                       before-days="438000"
                                       after-days="0">*@

                                <div id="e5"></div>
                            </div>
                        </div>
                    </div> 
                    <div class="card p-2">
                        <header>Local Address:<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="localaddress" name="localaddress" type="text" class="validate"
                                       data-error="#e6" required ng-model="newRegistration.PA_FullAddress">
                                <label for="localaddress">Your Address</label>
                                <div id="e6"></div>
                            </div>
                        </div>
                    </div> 
                    <div class="card p-2">
                        <header>Student's Contact Number<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="studentnumber" name="studentnumber" type="text" class="validate"
                                       data-error="#e7" required ng-model="newRegistration.ContactNo">
                                <label for="studentnumber">Your Mobile Number</label>
                                <div id="e7"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2">
                        <header>Father's Name<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="fathername" name="fathername" type="text" class="validate" data-error="#e8"
                                       required ng-model="newRegistration.FatherName">
                                <label for="fathername">Name of your father</label>
                                <div id="e8"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2">
                        <header>Occupation<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="occupation" name="occupation" type="text" class="validate" data-error="#e9"
                                       required ng-model="newRegistration.F_Profession">
                                <label for="occupation">Occupation of your father</label>
                                <div id="e9"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2">
                        <header>Father's Contact Number<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="fathernumber" name="fathernumber" type="text" class="validate"
                                       data-error="#e10" required ng-model="newRegistration.F_ContactNo">
                                <label for="fathernumber">Mobile Number</label>
                                <div id="e10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2">
                        <header>Mother's Name<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="mothername" name="mothername" type="text" class="validate" data-error="#e11"
                                       required ng-model="newRegistration.MotherName">
                                <label for="mothername">Name of your mother</label>
                                <div id="e11"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2">
                        <header>Mother's Contact Number<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="mothernumber" name="mothernumber" type="text" class="validate"
                                       data-error="#e12" required ng-model="newRegistration.M_ContactNo">
                                <label for="mothernumber">Mobile Number</label>
                                <div id="e12"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2">
                        <header>Local Guardian's Name<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="guardianname" name="guardianname" type="text" class="validate"
                                       data-error="#e13" required ng-model="newRegistration.GuardianName">
                                <label for="guardianname">Name of your local guardian</label>
                                <div id="e13"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2">
                        <header>Local Guardian's Contact Number<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="guardiannumber" name="guardiannumber" type="text" class="validate"
                                       data-error="#e14" required ng-model="newRegistration.G_Contact">
                                <label for="guardiannumber">Mobile Number</label>
                                <div id="e14"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2">
                        <header>Previous School Attended<span style="color:red">*</span></header>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="pastschool" name="pastschool" type="text" class="validate" data-error="#e15"
                                       required ng-model="newRegistration.PreviousSchool">
                                <label for="pastschool">Name of your past school</label>
                                <div id="e15"></div>
                            </div>
                        </div>
                    </div>

                    <div class="time-label" style="text-align:center;">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-success "
                                    style="min-width: 90px;     background-color: #28a745!important;"
                                    ng-click="SaveUpdateRegistration()">
                                Submit
                            </button>
                        </span>
                    </div>
                    <div class="notice  text-center mt-2 " style="padding-bottom: 5px;margin-top: 20px;">
                        <img ng-src="{{Abt.BannerPath}}" class="img-responsive" style="max-height:250px;width:100%">

                    </div> 
                </div>
            </div>
        </div>

    </div>

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- Select2 -->
    <script src="~/wwwroot/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/wwwroot/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/wwwroot/plugins/moment/moment.min.js"></script>
    <script src="~/Scripts/numeral.js"></script>
    <script src="~/wwwroot/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/wwwroot/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/wwwroot/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/wwwroot/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/wwwroot/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/wwwroot/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <!-- <script src="plugins/dropzone/min/dropzone.min.js"></script> -->
    @*<script src="~/wwwroot/dynamic/js/dropzone.js"></script>*@
    <!-- overlayScrollbars -->
    <script src="~/wwwroot/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/wwwroot/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/wwwroot/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/wwwroot/dist/js/demo.js"></script>

</body>

</html>