
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tell the browser to be responsive to screen width -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- jQuery -->
    <script src="~/wwwroot/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/wwwroot/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker3.min.css" />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/wwwroot/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/wwwroot/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/wwwroot/plugins/daterangepicker/daterangepicker.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/wwwroot/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/wwwroot/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- dropzonejs -->
    <!-- <link rel="stylesheet" href="plugins/dropzone/min/dropzone.min.css"> -->
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/dropzone.css">
    <!-- Theme style -->
    <!-- <link rel="stylesheet" href="dist/css/adminlte.min.css"> -->
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic-erp-theme.css">

    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic.css">
    <link rel="stylesheet" href="~/wwwroot/plugins/ag-grid/css/ag-grid.css">
    <link rel="stylesheet" href="~/wwwroot/plugins/ag-grid/css/ag-theme-alpine.css">


    <link rel="stylesheet" href="~/wwwroot/plugins/summernote/summernote-bs4.css">
    <link href="~/wwwroot/dynamic/css/iframe-override.css" rel="stylesheet" />


    <link href="~/Scripts/ag-grid.css" rel="stylesheet" />
    <link href="~/Scripts/ag-theme-balham.css" rel="stylesheet" />

    <link href="~/wwwroot/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <script src="~/wwwroot/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/ag-grid-community.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/multiplex.js"></script>
    <script src="~/jslib/print/angular-file-saver.bundle.min.js"></script>
    <link href="~/jslib/cron/angular-cron-jobs.css" rel="stylesheet" />
    <script src="~/jslib/cron/angular-cron-jobs.js"></script>

    <script type="text/javascript" src="~/pivot/pivot.js"></script>
    <script type="text/javascript" src="~/pivot/gchart_renderers.js"></script>
    <script type="text/javascript" src="~/pivot/export_renderers.js"></script>

    <!-- UIGrid Refferences -->
    <script src="~/Scripts/ui-grid.min.js"></script>
    <link href="~/Content/ui-grid.min.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-aria.js"></script>
    <script src="~/Scripts/export-ui-grid/csv.js"></script>
    <script src="~/Scripts/export-ui-grid/pdfmake.js"></script>
    <script src="~/Scripts/export-ui-grid/vfs_fonts.js"></script>

    <script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>

    <link href="~/Scripts/nepalidate/nepali.datepicker.v3.5.min.css" rel="stylesheet" />
    <script src="~/Scripts/nepalidate/nepali.datepicker.v3.5.min.js"></script>

    <script src="~/wwwroot/plugins/summernote/summernote-bs4.min.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>


    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/jslib/main.js"></script>
    <script src="~/jslib/global/GlobalServices.js"></script>
    <script src="~/jslib/global/Common.js"></script>
    <style>
        .card-header {
            background-color: transparent;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            padding: 0.25rem 1rem;
            position: relative;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        p {
            font-size: 13px
        }
    </style>
    @{
        var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
        var baseurl = urlHelper.Content("~");
    }

    <script>
        var base_url = "@baseurl";
    </script>

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- Select2 -->
    <script src="~/wwwroot/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/wwwroot/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/wwwroot/plugins/moment/moment.min.js"></script>
    <script src="~/wwwroot/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/wwwroot/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/wwwroot/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/wwwroot/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/wwwroot/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/wwwroot/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <!-- <script src="plugins/dropzone/min/dropzone.min.js"></script> -->
    @*<script src="~/wwwroot/dynamic/js/dropzone.js"></script>*@
    <!-- overlayScrollbars -->
    <script src="~/wwwroot/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/wwwroot/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/wwwroot/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/wwwroot/dist/js/demo.js"></script>
    <script src="~/jslib/frontdesk/transaction/registration.js?v=20230208"></script>
</head>

<body style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )" ng-app="myApp" ng-controller="regController" ng-init="LoadData()">
    <div class="container" style="background-color: aliceblue;">
        <div class="container">
            <section class="row" style="margin-left: 7px;margin-right: 7px;">
                <div class="row dark-bg" style="padding:0px;">
                    <img ng-src="{{Abt.ImagePath}}" class="img-responsive" style="max-height:200px;width:100%">
                </div>
            </section>
            <div class="card">
                <div class="card-header text-center">
                    <h3><b>{{Abt.Name}}</b></h3>
                    <label>{{Abt.Address}}</label>
                </div>
                <div compile class="card-body" ng-bind-html="Abt.Content | unsafe">
                </div>
            </div>
            <section class="personal-details">
                <div class="card">
                    <!-- personal Details Part starts -->
                    <div class="card-header" style="background-color: #ccc;">
                        <h5>Personal Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">First Name<span style="color:red">*</span></label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newRegistration.FirstName">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Middle Name</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newRegistration.MiddleName">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Last Name<span style="color:red">*</span></label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newRegistration.LastName">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Gender<span style="color:red">*</span></label>
                                            <select class="form-control form-control-sm select2" ng-model="newRegistration.Gender">
                                                <option ng-value="gen.id" ng-repeat="gen in GenderColl" ng-selected="gen.id==newRegistration.Gender">{{gen.text}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Date of Birth </label><span class="text-info" style="font-size:12px;" ng-hide="newRegistration.DOBDet==''"> (Age: {{newRegistration.DOB_ADDet.age}})</span>
                                            <input type="text"
                                                   class="form-control form-control-sm" date-picker ng-model="newRegistration.DOB_TMP" date-detail="newRegistration.DOB_ADDet">
                                        </div>
                                    </div>
                                    <!--<div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Date of Birth</label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="newRegistration.DOB_TMP" date-detail="newRegistration.DOBDet"-->
                                    @*before-days="438000"*@
                                    <!--after-days="0">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Birth Certificate No</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newRegistration.BirthCertificateNo">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">{{'CAST_LNG' | translate}}</label>
                                            <select class="form-control form-control-sm select2" ng-model="newRegistration.CasteId">
                                                <option ng-value="c.CasteId" ng-repeat="c in CasteList" ng-selected="c.CasteId==newRegistration.CasteId">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Nationality</label>
                                            <input type="text" class="form-control-sm form-control" data-ng-model="newRegistration.Nationality" list="lstNationality">
                                            <datalist id="lstNationality">
                                                <option data-ng-repeat="ttl in CountryList" value="{{ttl}}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Religion</label>
                                            <input type="text" class="form-control-sm form-control" data-ng-model="newRegistration.Religion" list="lstReligion">
                                            <datalist id="lstReligion">
                                                <option data-ng-repeat="ttl in ReligionList" value="{{ttl}}">
                                            </datalist>
                                        </div>
                                    </div>-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Contact No.<span style="color:red">*</span></label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newRegistration.ContactNo">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newRegistration.Email">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Father Name<span style="color:red">*</span></label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newRegistration.FatherName">

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @*<label for="">Admission applied for the class<span style="color:red">*</span> </label>*@
                                            <label for="">Course<span style="color:red">*</span> </label>
                                            <select class="form-control form-control-sm select2" ng-model="newRegistration.ClassId">
                                                <option ng-value="cl.id" ng-repeat="cl in ClassList" ng-selected="cl.id==newRegistration.ClassId">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Full address is added here from contact detail by Suresh for Sun College-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Full Address<span style="color:red">*</span></label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newRegistration.PA_FullAddress">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--<div class="col-md-3">
                                <label for="" class="invisible">Photo</label>
                                <div class="person-photo-attachment-wrap text-center">
                                    <div class="img-wrap mx-auto">
                                        <img ng-src="{{newRegistration.PhotoData}}" class="img-fluid" alt="" id="imgPhoto1">
                                    </div>-->
                            <!-- Button trigger modal -->
                            <!--<button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updatePhoto">
                                        <i class="fas fa-camera w-t"></i> Upload Photo
                                    </button>
                                </div>

                            </div>-->
                        </div>

                    </div>

                    <!-- Parents Detail Starts -->
                    @*<div class="card-header" style="background-color: #ccc;">
                            <h5>Parents Detail</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Father Name<span style="color:red">*</span></label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.FatherName">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Professsion</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.F_Profession">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Contact</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.F_ContactNo">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Mother Name</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.MotherName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Professsion</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.M_Profession">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Contact</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.M_ContactNo">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Guardian Name</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.GuardianName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Relation</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.G_Relation">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Contact</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.G_Contact">
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <!-- Contact Details Starts -->
                    @*<div class="card-header" style="background-color: #ccc;">
                            <h5>Contact Details</h5>
                        </div>
                        <div class="card-body">
                            <label for=""><b>Permanent Address</b></label>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Full Address<span style="color:red">*</span></label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.PA_FullAddress">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Province</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.PA_Province">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">District</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.PA_District">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Local Level</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.PA_LocalLevel">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Ward No.</label>
                                        <input type="number" class="form-control form-control-sm" ng-model="newRegistration.PA_WardNo">
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Street Name</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.PA_StreetName">
                                    </div>
                                </div>
                            </div>
                            <label for=""><b>Current Address</b></label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="checkbox-wrap">
                                            Same as Permanent Address
                                            <input type="checkbox" ng-value="true" ng-model="newRegistration.IsSameAsPermanentAddress" ng-change="SamePAddress()">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Full Address</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.CA_FullAddress">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Province</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.CA_Province">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">District</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.CA_District">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Local Level</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.CA_LocalLevel">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Ward No.</label>
                                        <input type="number" class="form-control form-control-sm" ng-model="newRegistration.CA_WardNo">
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Street Name</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.CA_StreetName">
                                    </div>
                                </div>
                            </div>


                        </div>*@

                    <!-- Previous School Details Starts -->
                    <div class="card-header" style="background-color: #ccc;">
                        @*<h5>Previous School Detail</h5>*@
                        <h5>Previous College Detail</h5>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Name of Previous College</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="newRegistration.PreviousSchool">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="">Address of Previous College</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="newRegistration.PreviousSchoolAddress">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Secured % or GPA @*in previous class*@</label>
                                    <input type="number" class="form-control form-control-sm" ng-model="newRegistration.PreviousClassGpa">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="">Qualification</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="newRegistration.Qualification">
                                </div>
                            </div>

                            @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Optional first and obtained Grade ?</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.OptionalFirst">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Optional second and obtained Grade ?</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.OptionalSecond">
                                    </div>
                                </div>*@
                        </div>

                    </div>

                    <!-- Additional Enquiry Starts -->
                    <div class="card-header" style="background-color: #ccc;">
                        <h5>Additional Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    @*<label for="">Student's Special Talent(if any)</label>*@
                                    <label for="">Student's Achievements(if any)</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="newRegistration.Talent">
                                </div>
                            </div>

                            @*<div class="col-md-4">
                                    <label>Any disease he/she is suffering from?</label>
                                    <div class="form-group clearfix">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="radioisactive" name="AnyDisease" ng-value="true" ng-model="newRegistration.AnyDisease">
                                            <label class="form-check-label" for="rb-interest-calc-yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="radioisactive2" name="AnyDisease" ng-value="false"  ng-model="newRegistration.AnyDisease">
                                            <label class="form-check-label" for="rb-interest-cal-no">No</label>
                                        </div>
                                    </div>
                                </div>*@

                            @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">What is the Problem ?</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newRegistration.Problem" ng-readonly="newRegistration.AnyDisease==false">
                                    </div>
                                </div>*@

                            @*<div class="col-sm-4">
                                    <div class="form-group">
                                        <label>What is the Present Condition?</label>
                                        <select class="form-control form-control-sm select2" ng-model="newRegistration.PresentCondition"  ng-disabled="newRegistration.AnyDisease==false">
                                            <option ng-value="1">Still Suffering</option>
                                            <option ng-value="2">Improving</option>
                                            <option ng-value="3">Completely Recovered</option>
                                        </select>
                                    </div>
                                </div>*@

                            @*<div class="col-md-4 mt-2">
                                    <div>
                                        <label class="checkbox-wrap">
                                            Transport Faciltity Required?
                                            <input type="checkbox" id="istrasnportation" ng-true-value="true" ng-false-value="false" ng-model="newRegistration.IsTransport" />
                                            <span class="checkmark"></span>
                                        </label>
                                        <div id="istrasnportationdiv" style="display:none">
                                            <select class="form-control form-control-sm select2" ng-model="newRegistration.TransportFacility">
                                                <option>Choose Pickup Station</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                            <!--<div class="col-md-4 mt-2">
                            <div>
                                <label class="checkbox-wrap">
                                    Hostel Required?
                                    <input type="checkbox" id="hostelFac" ng-true-value="true" ng-false-value="false" ng-model="newRegistration.IsHostel" />
                                    <span class="checkmark"></span>
                                </label>
                                <div id="hostelFacdiv" style="display:none">

                                    <select class="form-control form-control-sm select2" ng-model="newRegistration.HostelRequired">
                                        <option>Choose Hostel Type</option>
                                        <option>Full Time</option>
                                        <option>Day Boarders</option>
                                    </select>-->
                            <!-- <input type="text" class="form-control form-control-sm"> -->
                            <!--</div>
                                </div>
                            </div>-->
                            <!--<div class="col-md-4">
                            <div>
                                <label class="checkbox-wrap">
                                    Tiffin Required?
                                    <input type="checkbox" id="tiffinFac" ng-true-value="true" ng-false-value="false" ng-model="newRegistration.IsTiffin"/>
                                    <span class="checkmark"></span>
                                </label>
                                <div id="tiffinFacdiv" style="display:none">

                                    <select class="form-control form-control-sm select2" id="exampleFormControlSelect22" ng-model="newRegistration.Tiffin">
                                        <option>Choose</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>-->
                            <!-- <input type="text" class="form-control form-control-sm"> -->
                            <!--</div>
                                </div>
                            </div>-->
                            @*<div class="col-md-4">
                                    <label>Tution Facility Required?</label>
                                    <div class="form-group clearfix">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="tution" ng-value="true"  ng-model="newRegistration.IsTution">
                                            <label class="form-check-label" for="rb-interest-calc-yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="tution" ng-value="false"  ng-model="newRegistration.IsTution">
                                            <label class="form-check-label" for="rb-interest-cal-no">No</label>
                                        </div>
                                    </div>
                                </div>*@


                            <!--New Field Added By Suresh on 26 Baishakh-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">IELTS/PTE/ToEFL Score</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="newRegistration.IeltsToeflScore">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Registration Source</label>
                                    <select class="form-control form-control-sm select2" ng-model="newRegistration.SourceId">
                                        <option ng-value="ss.SourceId" ng-repeat="ss in SourceList" ng-selected="ss.SourceId==newRegistration.SourceId">{{ss.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--Ends-->
                        </div>
                    </div>

                    @*<div class="card-header" style="background-color: #ccc;">
                            <h5>Attach Documents</h5>
                        </div>*@

                    @*<div class="card-body">
                            <div class="timeline-item">
                                <div class="pb-3 add-more-than-one-form-block">
                                    <form>
                                        <article>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Type Of Document</label>
                                                        <select class="form-control form-control-sm select2" ng-model="docType">
                                                            <option ng-value="dc" ng-repeat="dc in DocumentTypeList">{{dc.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Attach Document</label>
                                                                <div class="form-group">
                                                                    <input type="file" class="form-control-file border p-0 bg-white" file-model ng-model="attachFile">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Description</label>
                                                                <input type="text" class="form-control form-control-sm"
                                                                       ng-model="docDescription"
                                                                       placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="d-flex">
                                                                <div>
                                                                    <label class="invisible d-block">for height</label>
                                                                    <button type="button" class="btn btn-sm btn-outline-secondary light-btn" ng-click="AddMoreFiles(attachFile,docType,docDescription)"><i class="fas fa-plus"></i> Add More</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </form>
                                </div>
                                <div class="pb-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover border bg-white">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="width: 20px">S.No.</th>
                                                    <th scope="col" style="width: 40%">Document Type</th>
                                                    <th scope="col">File Size</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col" style="width: 100px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="ac in newRegistration.AttachmentColl">
                                                    <th scope="row">{{$index+1}}</th>
                                                    <td>{{ac.DocumentTypeName}}</td>
                                                    <td>{{ac.Name}}</td>
                                                    <td>{{ac.Description}}</td>
                                                    <td>
                                                        <div>
                                                            <a ng-hide="ac.Path==null" class="p-1" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="View doc">
                                                                <i class="fas fa-eye text-secondary"></i>
                                                            </a>
                                                            <a ng-hide="ac.Path==null" class="p-1" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download doc.">
                                                                <i class="fas fa-download  text-info"></i>
                                                            </a>
                                                            <a class="p-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete doc." ng-click="delAttachmentFiles($index)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="notice  text-center mt-2" style="background-color: #ccc;">
                        <img ng-src="{{Abt.BannerPath}}" class="img-responsive" style="max-height:350px;width:70%">
                    </div>
                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearRegistration()">Reset</button>
                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateRegistration()">{{newRegistration.Mode}}</button>
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="modal fade" id="updatePhoto" tabindex="-1" aria-labelledby="updatePhotoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePhotoLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0 file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newRegistration.Photo_TMP" @*after-selected="AddStudentPhoto()"*@ fileread="newRegistration.PhotoData">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newRegistration.PhotoData}}" class="img-fluid" id="imgPhoto">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-file" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-file" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newRegistration.Photo_TMP" @*after-selected="AddStudentPhoto()"*@ fileread="newRegistration.PhotoData" />
                    <a ng-click="ClearRegistrationPhoto()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAuthorImage()">Save</button>*@
                </div>
            </div>
        </div>
    </div>

    <script>
                //$(function () {
                //    //Initialize Select2 Elements
                //    $('.select2').select2()

                //    //Initialize Select2 Elements
                //    $('.select2bs4').select2({
                //        theme: 'bootstrap4'
                //    })
                //    //Bootstrap Duallistbox
                //    $('.duallistbox').bootstrapDualListbox()


                //    $("input[data-bootstrap-switch]").each(function () {
                //        $(this).bootstrapSwitch('state', $(this).prop('checked'));
                //    });

                //})
    </script>


</body>

</html>