<link rel="stylesheet" href="~/wwwroot/plugins/ag-grid/css/ag-grid.css">
<link rel="stylesheet" href="~/wwwroot/plugins/ag-grid/css/ag-theme-alpine.css">
<script src="~/wwwroot/plugins/ag-grid/js/ag-grid-community.min.noStyle.js"></script>
<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.ProductWiseAgeing)";
</script>
<script src="~/jslib/inventory/reporting/ProductAgeing.js?v=20251012"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="productAgeingController">
    <section class="iframe-content-starts-here" style="padding-top:50px!important">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="tab-content">
                    <div id="day-book-section">
                        <div class="card p-2 mb-0">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="d-inline-block">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">From:</span>
                                            </div>
                                            <input class="form-control text-dark input-sm" type="text" date-picker ng-model="PartyAgeing.DateFrom_TMP" style="max-width:100px" date-detail="PartyAgeing.DateFromDet" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">To:</span>
                                            </div>
                                            <input class="form-control text-dark input-sm" type="text" date-picker ng-model="PartyAgeing.DateTo_TMP" style="max-width:100px" date-detail="PartyAgeing.DateToDet" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group d-flex mb-0">
                                        <label class="mr-2 mt-1">Group</label>
                                        <select class="form-control form-control-sm select2 ml-2" style="width: 80%;" ng-model="PartyAgeing.ProductGroupId" data-placeholder="**Select Group**">
                                            <option ng-value="cl.ProductGroupId" ng-repeat="cl in ProductGroupList" ng-selected="cl.LedgerGroupId==PartyAgeing.ProductGroupId">{{cl.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-show="GodownColl.length>1">
                                    <div class="form-group row mb-0">
                                        <label for="inputEmail3" class="col-lg-3">Godown</label>
                                        <div class="col-lg-9">
                                            <select class="form-control form-control-sm hideSideBar" active-select2 style="width: 100%;" ng-model="PartyAgeing.GodownId" placeholder="*select godown*">
                                                <option ng-repeat="vt in GodownColl track by vt.GodownId" ng-value="vt.GodownId">
                                                    {{vt.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-success btn-sm load" style="float: right; min-width: 100px" data-toggle="tooltip" data-placement="top" title="" data-original-title="Load" ng-click="showAgeDialog()" ng-disabled="loadingstatus=='running'"><i class="fas fa-download"> &nbsp;&nbsp;</i>Load</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card px-2 mb-0">
                            <header class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="clearfix">
                                        <form class="form-inline">
                                            <div class="input-group input-group-sm mr-sm-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Find:</span>
                                                </div>
                                                <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                <select class="form-control pr-0"
                                                        id="exampleFormControlSelect1">
                                                    <option>Contain</option>
                                                    <option>Prefix</option>
                                                </select>
                                            </div>
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-7 col-sm-7 text-right">
                                    <form class="form-inline  float-right">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Search By:</span>
                                            </div>
                                            <div class="input-group-prepend">
                                                <select class="form-control form-control-sm select2bs4" style="width: 100%;" ng-model="paginationOptions.SearchColDet">
                                                    <option ng-value="asp" ng-repeat="asp in columnDefs">{{asp.headerName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search" >

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="dropdown dnld-file ml-2">
                                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-download"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="dropdownMenuButton">
                                                <span class="dropdown-item">Choose an option:</span>
                                                <a class="dropdown-item" href="#" ng-click="DownloadAsXls()">
                                                    <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                         class="img-fluid exports-icon" alt="Excel image">
                                                    Excel
                                                </a>
                                                <a class="dropdown-item" href="#" ng-click="onBtExport()">
                                                    <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                         class="img-fluid exports-icon">
                                                    CSV
                                                </a>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-secondary btn-light btn-sm ml-2"
                                           title="Print" ng-click="Print()">
                                            <i class="fas fa-print"></i>
                                        </a>
                                        <a href="#" class="btn btn-secondary btn-light btn-sm ml-2"
                                           data-toggle="modal" data-target="#itemAllocationForModal" data-placement="bottom" title="Filter">
                                            <i class="fas fa-filter"></i>
                                        </a>
                                    </form>
                                </div>
                            </header>
                            <div id="datatable" style="height: calc(100vh - 12rem);width: 100%;" class="ag-theme-alpine" ag-grid="gridOptions"></div>
                            <div id="myGridBottom" style="height: 39px;" class="ag-theme-alpine"></div>
                        </div>

                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
        <!-- Add ReportTemplates Modal Dailog -->
        <div class="modal fade bd-example-modal-xl sales-invoice-page-modal" id="FrmPrintReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalCenterTitle">Report Viewer</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="frmRpt" style='width: 100%; height: 600px; background-color: white; visibility:visible;' frameborder='0' scrolling='yes'></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Age Range Modal Starts-->
        <div class="modal fade" id="modal-agerange">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Age Range</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" sales-main-table table-scroll">
                            <table id="age-table" class="main-table table table-sm table-bordered bg-white">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">
                                            Action
                                        </th>
                                        <th style="width: 80px;" ng-repeat="cl in AgeList">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a class="p-1" href="#" ng-click="AddAgeList($index)">
                                                <i class="fas fa-plus text-info"></i>
                                            </a>
                                            <a class="p-1" href="#" ng-click="DelAgeList($index)">
                                                <i class="fas fa-trash-alt text-danger"></i>
                                            </a>
                                        </td>
                                        <td ng-repeat="cl in AgeList">
                                            <input type="number"
                                                   class="form-control form-control-sm"
                                                   placeholder="" ng-model="cl.Age" />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" style="min-width: 90px;">Close</button>

                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="getPartyAgeing()">Ok</button>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <!-- /.modal-content -->
    </section>
</div>
