
<script src="~/jslib/export/tableExport.js"></script>
<script src="~/jslib/export/jquery.base64.js"></script>

@*<script src="~/jslib/export/html2canvas.js"></script>*@

<script src="~/jslib/export/jspdf/libs/sprintf.js"></script>
<script src="~/jslib/export/jspdf/jspdf.js"></script>
<script src="~/jslib/export/jspdf/libs/base64.js"></script>
<script src="~/jslib/Fee/bill-generate.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="BillGenerateController" @*ng-init="LoadData()"*@>
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">class Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">student Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab"
                                               href="#contact" role="tab" aria-controls="contact"
                                               aria-selected="false">bill generate status</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="fine-tab" data-toggle="tab"
                                               href="#fine" role="tab" aria-controls="fine"
                                               aria-selected="false">fine generate</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </header>
                        <div class="tab-content" id="myTabContent">
                            <!-- Classwise Tab Starts -->
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="classwise-section">
                                    <header class="row mt-2">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.Classwise">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#main-table-classwise'" sheet-name="'EmpList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#main-table-classwise').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                                </div>
                                            </div>
                                            <a print-tbl table-id="'#divBillPrint'" class="btn btn-secondary btn-light btn-sm wait"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm" id="add-classwise">
                                                <i class="fas fa-plus w-t"></i> Add Class Wise
                                            </a>
                                        </div>
                                    </header>
                                    <div class="card py-2" id="divBillPrint">
                                        <!--new UI starts-->
                                        <div class="card-primary card-tabs">
                                            <div class="card-header with-gradient-bg p-0 border-bottom-0">
                                                <div class="card-header p-0 border-bottom-0">
                                                    <ul class="nav nav-tabs pt-1" id="custom-tabs-four-tab" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> MonthWise</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">ClassWise</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-body p-2">
                                                <div class="tab-content" id="custom-tabs-four-tabContent">
                                                    <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">

                                                        <div ng-repeat="cb in ClasswiseList">
                                                            <label><b>Bill Month : {{cb.MonthName}}</b></label>
                                                            <div class="table-scroll-x-y sales-main-table table-scroll mb-4">
                                                                <table id="main-table-classwise" class="main-table table table-sm table-bordered bg-white">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width: 50px;">S.No</th>
                                                                            <th style="width: 140px;">Bill Generate Date</th>
                                                                            <th style="width: 100px;">Bill Date</th>
                                                                            <th style="width: 100px;">Class</th>
                                                                            <th style="width: 100px;">Bill No</th>
                                                                            <th style="width: 100px;">Invoice No</th>
                                                                            <th style="width: 150px;">Bill Generate discount</th>
                                                                            <th style="width: 150px;">Bill Generate Amount</th>
                                                                            <th style="width: 110px;">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="det in cb.DataColl | filter:searchData.Classwise ">
                                                                            <td>{{det.SNo}}</td>
                                                                            <td>{{det.LogDateBS}} {{det.LogDateTime |timeFormat}}</td>
                                                                            <td>{{det.BillDateBS}}</td>
                                                                            @*<td>{{det.ClassName}} {{det.Batch}} -{{det.Semester}} {{det.ClassYear}}</td>*@

                                                                            <td>
                                                                                {{det.ClassName ? det.ClassName + ' ' : ''}}
                                                                                {{ det.SectionName }}
                                                                                {{det.Batch ? det.Batch + ' -' : ''}}
                                                                                {{det.Semester}} {{det.ClassYear}}
                                                                            </td>

                                                                            <td>{{det.BillNoFrom}}-{{det.BillNoTo}}</td>
                                                                            <td>{{det.InvoiceNoFrom}}-{{det.InvoiceNoTo}}</td>
                                                                            <td class="text-right">{{det.DiscountAmt |number:2}}</td>
                                                                            <td class="text-right"><b>{{det.TotalAmt |number:2}}</b></td>
                                                                            <td>
                                                                                <a class="p-1" ng-click="ShowClasswiseFeeList(det)">
                                                                                    <i class="fas fa-eye text-secondary" @*data-toggle="modal" data-target="#modal-xl"*@></i>
                                                                                </a>
                                                                                <a class="p-1" ng-click="ShowStudentBGDList(det)">
                                                                                    <i class="fas fa-info-circle text-info" @*data-toggle="modal" data-target="#modal-info"*@></i>
                                                                                </a>
                                                                                <a class="p-1">
                                                                                    <i class="fa fa-clipboard-list text-warning" ng-click="ShowMissingStudentList(det)"></i>
                                                                                </a>
                                                                                <a class="p-1" href="#" ng-click="DelClassWiseBillGenerateById(det)">
                                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr style="background-color: #dee2e68f!important">
                                                                            <th colspan="6">Total</th>
                                                                            <th class="text-right">{{cb.TotalBGDiscount | number:2}}</th>
                                                                            <th class="text-right">{{cb.TotalBGAmt | number:2}}</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                                        <div ng-repeat="cb in ClasswiseList2">
                                                            <label>
                                                                <b>
                                                                    Class Name :{{cb.ClassName ? cb.ClassName + ' ' : ''}}
                                                                    {{cb.Batch ? cb.Batch + ' -' : ''}}
                                                                    {{cb.Semester}} {{cb.ClassYear}}
                                                                </b>
                                                            </label>
                                                            <div class="table-scroll-x-y sales-main-table table-scroll mb-4">
                                                                <table id="main-table-classwise" class="main-table table table-sm table-bordered bg-white">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width: 50px;">S.No</th>
                                                                            <th style="width: 140px;">Bill Generate Date</th>
                                                                            <th style="width: 100px;">Bill Date</th>
                                                                            <th style="width: 100px;">Month</th>
                                                                            <th style="width: 100px;">Bill No</th>
                                                                            <th style="width: 100px;">Invoice No</th>
                                                                            <th style="width: 150px;">Bill Generate discount</th>
                                                                            <th style="width: 150px;">Bill Generate Amount</th>
                                                                            <th style="width: 110px;">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="det in cb.DataColl2 | filter:searchData.Classwise ">
                                                                            <td>{{det.SNo}}</td>
                                                                            <td>{{det.LogDateBS}} {{det.LogDateTime |timeFormat}}</td>
                                                                            <td>{{det.BillDateBS}}</td>
                                                                            <td>{{det.MonthName}}</td>
                                                                            @*<td>{{det.ClassName}} {{det.Batch}} -{{det.Semester}} {{det.ClassYear}}</td>*@
                                                                            <td>{{det.BillNoFrom}}-{{det.BillNoTo}}</td>
                                                                            <td>{{det.InvoiceNoFrom}}-{{det.InvoiceNoTo}}</td>
                                                                            <td class="text-right">{{det.DiscountAmt |number:2}}</td>
                                                                            <td class="text-right"><b>{{det.TotalAmt |number:2}}</b></td>
                                                                            <td>
                                                                                <a class="p-1" ng-click="ShowClasswiseFeeList(det)">
                                                                                    <i class="fas fa-eye text-secondary" @*data-toggle="modal" data-target="#modal-xl"*@></i>
                                                                                </a>
                                                                                <a class="p-1" ng-click="ShowStudentBGDList(det)">
                                                                                    <i class="fas fa-info-circle text-info" @*data-toggle="modal" data-target="#modal-info"*@></i>
                                                                                </a>
                                                                                <a class="p-1">
                                                                                    <i class="fa fa-clipboard-list text-warning" ng-click="ShowMissingStudentList(det)"></i>
                                                                                </a>
                                                                                <a class="p-1" href="#" ng-click="DelClassWiseBillGenerateById(det)">
                                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr style="background-color: #dee2e68f!important">
                                                                            <th colspan="6">Total</th>
                                                                            <th class="text-right">{{cb.TotalBGDiscount | number:2}}</th>
                                                                            <th class="text-right">{{cb.TotalBGAmt | number:2}}</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Ends-->
                                    </div>
                                </div>

                                <div id="classwise-form" class="card">
                                    <div class="card-body pt-2 pb-0 px-0">
                                        <div class="row">

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Class</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newClasswise.SelectedClass" ng-change="getClassWiseSemester()">
                                                        <option ng-value="cl" ng-repeat="cl in ClassList">{{cl.text}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <!--New Field Added By Suresh-->
                                            <div class="col-sm-2 col-lg-2 col-md-2" ng-show="AcademicConfig.ActiveBatch == true">
                                                <label>Batch</label>
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm select2" ng-model="newClasswise.BatchId">
                                                        <option ng-value="0">**Select Batch**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in BatchList">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--Ends-->
                                            <div class="col-md-2" ng-show="newClasswise.SelectedClass.ClassType==2  &&  AcademicConfig.ActiveClassYear==true">
                                                <div class="form-group">
                                                    <label for="">Year</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newClasswise.ClassYearId" ng-change="GetStudentLstForClassWiseSetup(false)">
                                                        <option ng-value="0">**Select Year**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in newClasswise.SelectedClassClassYearList" ng-selected="cl.id==newClasswise.ClassYearId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2" ng-show="newClasswise.SelectedClass.ClassType==3 &&  AcademicConfig.ActiveSemester==true">
                                                <div class="form-group">
                                                    <label for="">Semester</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newClasswise.SemesterId" ng-change="GetStudentLstForClassWiseSetup(false)">
                                                        <option ng-value="0">**Select Semester**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in newClasswise.SelectedClassSemesterList" ng-selected="cl.id==newClasswise.SemesterId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Student Type</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newClasswise.StudentTypeId">
                                                        <option ng-value="0">All</option>
                                                        <option ng-value="cl.StudentTypeId" ng-repeat="cl in StudentTypeList">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>For Month</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newClasswise.MonthId">
                                                        <option ng-value="cl.id" ng-repeat="cl in MonthList" ng-selected="cl.id==newClasswise.MonthId">{{cl.text}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-md-2">
                                                <label>Bill Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" date-picker ng-model="newClasswise.BillDate_TMP" date-detail="newClasswise.BillDateDet">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="table-scroll-x-y">
                                        <table id="main-table"
                                               class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr class="text-center text-nowrap">
                                                    <th style="width: 20px">S.No.</th>
                                                    <th style="width: 100px">Fee Item</th>
                                                    <th style="width: 80px">Dis. %</th>
                                                    <th style="width: 100px">Dis.Amt.</th>
                                                    <th style="width: 50px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-nowrap text-center">
                                                <tr ng-repeat="cl in newClasswise.ManualBillingDetailsColl">
                                                    <td>{{$index+1}}</td>
                                                    <td>
                                                        <select class="form-control form-control-sm" ng-model="cl.FeeItemId">
                                                            <option ng-value="fi.FeeItemId" ng-repeat="fi in FeeItemList" ng-selected="fi.FeeItemId==cl.FeeItemId">{{fi.Name}}</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" number-input
                                                               class="form-control form-control-sm" ng-model="cl.DiscountPer" ng-change="ChangeRate(cl,3)" />
                                                    </td>
                                                    <td>
                                                        <input type="text" number-input
                                                               class="form-control form-control-sm" ng-model="cl.DiscountAmt" ng-change="ChangeRate(cl,4)" />
                                                    </td>

                                                    <td class="answer">
                                                        <a class="p-1" ng-click="AddManualBillingDetail($index)">
                                                            <i class="fas fa-plus text-info"></i>
                                                        </a>
                                                        <a class="p-1" ng-click="delManualBillingDetail($index)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <div class="time-label">
                                        <span class="d-block border-0 p-3 text-center">
                                            <button type="button" class="btn btn-sm btn-info" id="classwiseback-btn" style="min-width: 90px;">Back to List</button>
                                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearClasswise()">Reset</button>
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateClasswise()">{{newClasswise.Mode}}</button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <!-- Classwise Tab Ends -->
                            <!-- Studentwise Tab Starts -->
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div id="studentwise-section" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Studentwise">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Studentwise">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.Studentwise">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#main-table-studentwise'" sheet-name="'EmpList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#main-table-studentwise').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                                </div>
                                            </div>
                                            <a print-tbl table-id="'#main-table-studentwise'" class="btn btn-secondary btn-light btn-sm wait"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm" id="add-studentwise">
                                                <i class="fas fa-plus w-t"></i> Add Student Wise
                                            </a>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="main-table-studentwise" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width:60px;">S.No</th>
                                                    <th style="width:160px;">Bill Generate Date</th>
                                                    <th style="width:200px;">Name</th>
                                                    <th style="width:100px;">Roll No.</th>
                                                    <th style="width:100px;">Reg. No.</th>
                                                    <th style="width:120px;">Class/Sec</th>
                                                    <th style="width:120px;">Bill No</th>
                                                    <th style="width:120px;">Invoice No</th>
                                                    <th style="width:120px;">Bill Discount</th>
                                                    <th style="width:110px;">From Month</th>
                                                    <th style="width:110px;">To Month</th>
                                                    <th style="width:100px;">Amount</th>
                                                    <th class="cstm-sticky" style="width: 60px; right: 0; background-color: #fff;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in StudentwiseList | filter:searchData.Studentwise | itemsPerPage: perPage.Studentwise" current-page="currentPages.Studentwise" pagination-id="StudentwisePagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.LogDateBS}} {{cl.LogDateTime |timeFormat}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.RollNo}}</td>
                                                    <td>{{cl.RegdNo}}</td>
                                                    <td>
                                                        {{cl.ClassName ? cl.ClassName + ' ' : ''}}
                                                        {{ cl.SectionName }}
                                                        {{cl.Batch ? cl.Batch + ' -' : ''}}
                                                        {{cl.Semester}} {{cl.ClassYear}}
                                                    </td>
                                                    <td>{{ cl.BillNoFrom === cl.BillNoTo ? cl.BillNoFrom : cl.BillNoFrom + ' - ' + cl.BillNoTo }}</td>
                                                    <td>{{ cl.InvoiceNoFrom === cl.InvoiceNoTo ? cl.InvoiceNoFrom : cl.InvoiceNoFrom + ' - ' + cl.InvoiceNoTo }}</td>
                                                    <td>{{ cl.DiscountAmt }}</td>
                                                    <td>{{cl.FromMonthName}}</td>
                                                    <td>{{cl.ToMonthName}}</td>
                                                    <td><b>{{cl.Total |number:2}}</b></td>
                                                    <td class="cstm-sticky" style="width: 60px; right: 0; background-color: #fff;">
                                                        <a class="p-1" ng-click="ShowStudentwiseFeeList(cl)">
                                                            <i class="fas fa-eye text-secondary" @*data-toggle="modal" data-target="#modal-xl-std"*@></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="StudentwisePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- source form starts -->
                                <div id="studentwise-form" class="card">
                                    <div class="card-body px-0 py-2">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12 col-md-12 mt-2 mb-2">
                                                <label class="sr-only"
                                                       for="inlineFormInputGroup">Select Student</label>
                                                <div class="input-group-prepend">
                                                    <select class="input-group-text dropdown-toggle p-0"
                                                            style="outline: none;
                                                                            border-top-right-radius: unset;
                                                                            border-bottom-right-radius: unset;
                                                                            margin-right: -3px;
                                                                            z-index: 1;
                                                                    " ng-model="newStudentwise.SelectStudent">

                                                        <option ng-repeat="ss in StudentSearchOptions" ng-value="ss.value" ng-selected="ss.value==newStudentwise.SelectStudent">
                                                            {{ss.text}}
                                                        </option>
                                                    </select>
                                                    <select class="form-control select2 form-control-sm" all-student ng-model="newStudentwise.StudentId" student-detail="newStudentwise.StudentDetails" side-bar-data="newStudentwise.SideBarData" search-by="newStudentwise.SelectStudent" confirm-action="ChangeStudentWiseMonth()">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>From Month</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newStudentwise.FromMonthId">
                                                        <option ng-value="0">**Select Month**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in MonthList_SW" ng-selected="cl.id==newStudentwise.FromMonthId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>To Month</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newStudentwise.ToMonthId">
                                                        <option ng-value="0">**Select Month**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in MonthList_SW" ng-selected="cl.id==newStudentwise.MonthId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Bill Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" date-picker ng-model="newStudentwise.BillDate_TMP" date-detail="newStudentwise.BillDateDet">
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="studentwiseback-btn" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-danger" style="min-width: 90px;" ng-click="DeleteStudentwise()">Delete</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearStudentwise()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateStudentwise()">{{newStudentwise.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Studentwise Tab Ends -->
                            <!-- Bill Generate Status Tab Starts -->
                            <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                 aria-labelledby="contact-tab">
                                <div id="bill-generate-section">
                                    <header class="row mt-2">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.BillGenerateStatus">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="ml-3">
                                                        <a href="#" class="btn btn-success btn-sm" ng-click="GetAllPendingBillGList()">
                                                            <i class="fas fa-sync-alt mr-2"></i> Load
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#main-table-BillGenerateStatus'" sheet-name="'BillGenerateStatus'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#main-table-BillGenerateStatus').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                            </div>
                                            <a print-tbl table-id="'#main-table-BillGenerateStatus'" class="btn btn-secondary btn-light btn-sm wait"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                        </div>
                                    </header>
                                    <div class="card py-2">
                                        <div ng-repeat="pb in PendingBillGenerateList">
                                            <label><b>Bill Month : {{pb.MonthName}}</b></label>
                                            <div class="table-scroll-x-y sales-main-table table-scroll mb-4">
                                                <table id="main-table-BillGenerateStatus" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 80px;">S.No</th>
                                                            <th style="width: 250px;">Class</th>
                                                            <th style="width: 70px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="det in pb.DataColl | filter:searchData.BillGenerateStatus">
                                                            <td>{{$index+1}}</td>
                                                            <td>
                                                                {{det.ClassName ? det.ClassName + ' ' : ''}}
                                                                {{ det.SectionName }}
                                                                {{det.Batch ? det.Batch + ' -' : ''}}
                                                                {{det.Semester}} {{det.ClassYear}}
                                                            </td>
                                                            @*<td>
                                                                    {{det.ClassName}} {{det.SectionName}}
                                                                    <span ng-if="det.Batch || det.Semester || det.ClassYear">
                                                                        - {{det.Batch}} {{det.Semester}} {{det.ClassYear}}
                                                                    </span>
                                                                </td>*@
                                                            @*<td>{{det.ClassName}}-{{det.SectionName}}</td>*@
                                                            <td><button class="btn btn-sm btn-secondary py-0" ng-click="BillGenerateFromPending(det)">Generate</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bill Generate Status Tab Ends -->
                            <!-- File Generate Status Tab Starts -->
                            <div class="tab-pane fade main-section" id="fine" role="tabpanel"
                                 aria-labelledby="fine-tab">
                                <div id="fine-generate-section">

                                    <div class="card py-2">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>For Month</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newClasswiseFine.MonthId">
                                                        <option ng-value="cl.id" ng-repeat="cl in MonthList">{{cl.text}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-md-2 mt-4">
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="CallSaveUpdateFine()">Generate</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bill Generate Status Tab Ends -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- Modal -->
    <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">All List Table</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- /.card-header -->
                    <div class=" sales-main-table table-scroll">
                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                            <thead>
                                <tr>
                                    <th style="width: 60px;">S.No.</th>
                                    <th style="width: 200px;">Fee Item</th>
                                    <th style="width: 100px;">Amount</th>
                                    <th style="width: 100px;">Discount</th>
                                    <th style="width: 150px;">Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fi in CurClassWiseList">
                                    <td>{{$index+1}}</td>
                                    <td>{{fi.Name}}</td>
                                    <td>{{fi.Amount |number:2}}</td>
                                    <td>{{fi.DisAmt |number:2}}</td>
                                    <td><b>{{fi.PayableAmt |number:2}}</b></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-center"><b>Total</b></td>
                                    <td><b>{{SumAmt|number:2}}</b></td>
                                    <td><b>{{DiscountSum|number:2}}</b></td>
                                    <td><b>{{TotalPayableAmt|number:2}}</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" style="min-width: 90px;">Back to List</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <!-- Info Modal starts-->
    <div class="modal fade" id="modal-info" style="margin-top:33px!important;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">All List</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-2">
                    <!-- /.card-header -->
                    <header class="row">
                        <div class="col-md-7">
                            <div class="clearfix">
                                <form class="form-inline">
                                    <div class="input-group input-group-sm table-search-filed">
                                        <input class="form-control form-control-navbar"
                                               type="search" placeholder="Search"
                                               aria-label="Search" ng-model="searchData.AllList">
                                        <div class="input-group-append">
                                            <button class="btn btn-default border-left-0"
                                                    type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 text-right">
                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                 data-placement="top" title="Download File">
                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-download"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right"
                                     aria-labelledby="dropdownMenuButton">
                                    <span class="dropdown-item">Choose an option:</span>
                                    <a class="dropdown-item wait" export-excel table-id="'#main-tablebb'" sheet-name="'ClassWiseSubject'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                    <a class="dropdown-item wait" onClick="$('#main-tablebb').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                </div>
                            </div>
                            <a print-tbl table-id="'#main-tablebb'" href="#" class="btn btn-secondary btn-light btn-sm"
                               data-toggle="tooltip" data-placement="top" title="Print">
                                <i class="fas fa-print"></i>
                            </a>

                        </div>
                    </header>
                    <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height: calc(100vh - 15rem);">
                        <table id="main-tablebb" class="main-table table table-sm table-bordered bg-white">
                            <thead>
                                <tr class="text-nowrap">
                                    <th ng-click="sort('RegdNo')" class="align-middle cstm-sticky" style="width: 90px; left: 0; z-index: 2; background-color: #fff">Regd No.</th>
                                    <th ng-click="sort('Name')" class="align-middle cstm-sticky" style="width: 150px; left: 90px; z-index: 2; background-color: #fff; background-color: #fff">Name</th>
                                    <th ng-click="sort('RollNo')" class="align-middle cstm-sticky" style="width: 100px; left: 240px; z-index: 2; background-color: #fff">Roll No</th>
                                    <th ng-click="sort('ClassName')" style="width: 150px;">Class/Sec</th>
                                    <th ng-click="sort('BillNo')" style="width: 100px;">Bill No.</th>
                                    <!--Added on JEstha 7-->
                                    <th ng-click="sort('InvoiceNo')" style="width: 100px;">Invoice No.</th>
                                    <!--Ends-->
                                    <th style="width: 120px;" ng-repeat="bf in BillGenerateFeeItemColl">{{bf.text}}</th>
                                    <th ng-click="sort('DiscountAmt')" style="width: 150px;">Discount</th>
                                    <th ng-click="sort('Amount')" style="width: 150px;">Total</th>
                                    <th ng-click="sort('PDues')" style="width: 150px;">Previous Dues</th>
                                    <th ng-click="sort('GrandTotal')" style="width: 150px;">Grand Total</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="sg in CurStudentBGDList">
                                <tr>
                                    <td colspan="6">
                                        {{sg.SectionName}}
                                    </td>
                                    <td ng-repeat="fdd in sg.FeeItemDetailsColl">
                                        {{fdd.Amount |number:2}}
                                    </td>
                                    <td>{{sg.DiscountAmt |number:2}}</td>
                                    <td>{{sg.Amount |number:2}}</td>
                                    <td>{{sg.PDues |number:2}}</td>
                                    <td>{{sg.GrandTotal |number:2}}</td>
                                </tr>
                                <tr ng-repeat="det in sg.DataColl|orderBy:sortKey:reverse| filter:searchData.AllList">
                                    <td class="align-middle cstm-sticky" style="width: 90px; left: 0; z-index: 1; background-color: #fff">{{det.RegdNo}}</td>
                                    <td class="align-middle cstm-sticky" style="width: 150px; left: 90px; z-index: 1; background-color: #fff">
                                        {{det.Name}}
                                    </td>
                                    <td class="align-middle cstm-sticky" style="width: 100px; left: 240px; z-index: 1; background-color: #fff">
                                        {{det.RollNo}}
                                    </td>
                                    <td>
                                        {{det.ClassName}}
                                    </td>
                                    <td>{{det.BillNo}}</td>
                                    <td>{{det.InvoiceNo}}</td>
                                    <td ng-repeat="fiDet in det.FeeItemDetailsColl">{{fiDet.Amount |number:2}}</td>
                                    <td>{{det.DiscountAmt |number:2}}</td>
                                    <td>{{det.Amount |number:2}}</td>
                                    <td>{{det.PDues |number:2}}</td>
                                    <td><b>{{det.GrandTotal |number:2}}</b></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6"><b>Grand Total</b></td>
                                    <td ng-repeat="bf in BillGenerateFeeItemColl">
                                        <b>{{FeeItemTotals[bf.text] | number:2}}</b>
                                    </td>
                                    <td><b>{{TotalDiscount | number:2}}</b></td>
                                    <td><b>{{TotalAmount | number:2}}</b></td>
                                    <td><b>{{TotalPDues | number:2}}</b></td>
                                    <td><b>{{TotalGrandTotal | number:2}}</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" style="min-width: 90px;">Back to List</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Info modal-dialog -->
    <!-- Bill Not Geneted  student list starts-->
    <div class="modal fade" id="modal-left">
        <div class="modal-dialog modal-lg" style="margin-left:250px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Bill Not Geneted  student list</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- /.card-header -->
                    <header class="row">
                        <div class="col-md-7">
                            <div class="clearfix">
                                <form class="form-inline">
                                    <div class="input-group input-group-sm table-search-filed">
                                        <input class="form-control form-control-navbar"
                                               type="search" placeholder="Search"
                                               aria-label="Search" ng-model="searchNotBill">
                                        <div class="input-group-append">
                                            <button class="btn btn-default border-left-0"
                                                    type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 text-right">
                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                 data-placement="top" title="Download File">
                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-download"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right"
                                     aria-labelledby="dropdownMenuButton">
                                    <span class="dropdown-item">Choose an option:</span>
                                    <a class="dropdown-item wait" export-excel table-id="'#lefttable'" sheet-name="'BillNotGenetedStudentList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                    <a class="dropdown-item wait" onClick="$('#lefttable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                </div>
                            </div>
                            <a print-tbl table-id="'#lefttable'" href="#" class="btn btn-secondary btn-light btn-sm"
                               data-toggle="tooltip" data-placement="top" title="Print">
                                <i class="fas fa-print"></i>
                            </a>
                            <button class="btn btn-sm btn-success" ng-click="BillGenerateMissingStudent()">Generate Bill</button>
                        </div>
                    </header>
                    <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height: 320px;">
                        <table id="lefttable" class="main-table table table-sm table-bordered bg-white">
                            <thead>
                                <tr>
                                    <th style="width: 70px;z-index: 2;">Regd No.</th>
                                    <th style="width: 250px;z-index: 2;">Name</th>
                                    <th class="text-center" style="width: 100px; z-index: 2;">Roll No</th>
                                    <th class="text-center" style="width: 150px;">Admit Date</th>
                                    <th class="text-center" style="width: 120px;">Student Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="5">
                                        <b>
                                            {{ (CurMissingStudentList[0].ClassName ? CurMissingStudentList[0].ClassName + ' ' : '') +  (CurMissingStudentList[0].SectionName ? CurMissingStudentList[0].SectionName + ' ' : '') + (CurMissingStudentList[0].Batch ? CurMissingStudentList[0].Batch + ' - ' : '') +  (CurMissingStudentList[0].ClassYear ? CurMissingStudentList[0].ClassYear + ' ' : '') +  (CurMissingStudentList[0].Semester ? CurMissingStudentList[0].Semester : '') }}
                                        </b>
                                    </td>
                                </tr>
                                <tr ng-repeat="st in CurMissingStudentList | filter:searchNotBill">
                                    <td class="align-middle">{{st.RegdNo}}</td>
                                    <td class="align-middle">{{st.Name}}</td>
                                    <td class="align-middle text-center">{{st.RollNo}}</td>
                                    <td class="text-center">{{st.AdmitMiti}}</td>
                                    <td>{{st.StudentType}}</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Bill Not Geneted  student list Modal Ends -->
    <!-- Modal -->
    <div class="modal fade" id="modal-xl-std">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">All List Table</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- /.card-header -->
                    <div class=" sales-main-table table-scroll">
                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                            <thead>
                                <tr>
                                    <th style="width: 60px;">S.No.</th>
                                    <th style="width: 200px;">Fee Item</th>
                                    <th style="width: 100px;">Amount</th>
                                    <th style="width: 100px;">Discount</th>
                                    <th style="width: 150px;">Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fi in CurStudentWiseList">
                                    <td>{{$index+1}}</td>
                                    <td>{{fi.Name}}</td>
                                    <td>{{fi.Amount |number:2}}</td>
                                    <td>{{fi.DisAmt |number:2}}</td>
                                    <td><b>{{fi.PayableAmt |number:2}}</b></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"><b>Total</b></td>
                                    <td><b>{{AllSumAmt | number:2}}</b></td>
                                    <td><b>{{AllDiscountSum | number:2}}</b></td>
                                    <td><b>{{AllTotalPayableAmt | number:2}}</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" style="min-width: 90px;">Back to List</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

</div>


