<style>
    .ui-grid-cell-contents {
        height: auto !important;
    }

    .ui-grid-header {
        height: 60px;
    }

    .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
        position: absolute;
        top: 80%;
    }

    .iptable tr td {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }
</style>

<script src="~/jslib/Fee/DiscountSetup.js?v=20251115"></script>
<script>
    var entityDiscountStudent = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.DiscountStudentList)"
    var entityDiscountStudentForSMS = @Convert.ToInt32(AcademicLib.BE.Global.ENTITIES.DiscountReport);
</script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="DiscountSetupController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Discount Type</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">Class Wise Setup</a>
                                        </li>

                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="medium-tab" data-toggle="tab"
                                               href="#medium" role="tab" aria-controls="medium"
                                               aria-selected="false">Fee Item Wise Setup</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="student-tab" data-toggle="tab"
                                               href="#student" role="tab" aria-controls="student"
                                               aria-selected="false">Student Wise Setup</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="fullDis-tab" data-toggle="tab"
                                               href="#fullDis" role="tab" aria-controls="fullDis"
                                               aria-selected="false">Full Scholarship</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="report-tab" data-toggle="tab"
                                               href="#report" role="tab" aria-controls="report"
                                               aria-selected="false">Discount Report</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="tab-content" id="myTabContent">
                            <!-- Discount Type Starts -->
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="discount-type-section">
                                    <header class="row mt-2">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.DiscountType">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.DiscountType">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="searchData.DiscountType">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-success btn-sm" id="add-discount-type"><i class="fas fa-plus w-t"></i> Add Discount Type</button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width:90px">S.No.</th>
                                                    <th style="width:300px">Name</th>
                                                    <th style="width:100px">Code</th>
                                                    <th style="width:100px">Is Active</th>
                                                    <th style="width:100px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="dt in DiscountTypeList | filter:searchData.DiscountType | itemsPerPage: perPage.DiscountType" current-page="currentPages.DiscountType" pagination-id="discountTypePagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{dt.Name}}</td>
                                                    <td>{{dt.Code}}</td>
                                                    <td>{{dt.IsActive}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetDiscountTypeById(dt)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelDiscountTypeById(dt)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="discountTypePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>

                                <div id="discount-type-form" class="card">
                                    <div class="card-body py-2 px-0">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row pb-2">
                                                    <div class="col-sm-4 col-lg-4 col-md-4">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control form-control-sm" placeholder="" ng-model="newDiscountType.Name" />
                                                    </div>
                                                    <div class="col-sm-4 col-lg-4 col-md-4">
                                                        <label>Code</label>
                                                        <input type="text" class="form-control form-control-sm" placeholder="" ng-model="newDiscountType.Code" />
                                                    </div>
                                                    <div class="col-sm-2 col-lg-2 col-md-2">

                                                        <div class="custom-control custom-checkbox mt-4">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="chkIsActive" ng-model="newDiscountType.IsActive">
                                                            <label for="chkIsActive"
                                                                   class="custom-control-label">
                                                                Is Active
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                            <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th style="width:90px">S.No.</th>
                                                        <th style="width:250px">Fee Item</th>
                                                        <th style="width:100px">Discount %</th>
                                                        <th style="width:170px">Discount Amount</th>
                                                        <th style="width:170px">Custom Month</th>
                                                        <th style="width:100px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-center">
                                                    <tr ng-repeat="det in newDiscountType.DetailsColl">
                                                        <td>{{$index+1}}</td>
                                                        <td>
                                                            <select name="comment-group" class="form-control form-control-sm select2" ng-model="det.FeeItemId">
                                                                <option ng-value="fi.FeeItemId" ng-repeat="fi in FeeItemList" ng-selected="fi.FeeItemId==det.FeeItemId">{{fi.Name}}</option>
                                                            </select>
                                                        </td>
                                                        <td><input type="number" class="form-control form-control-sm" ng-model="det.DiscountPer"></td>
                                                        <td><input type="number" class="form-control form-control-sm" ng-model="det.DiscountAmt"></td>
                                                        <td class="text-center left-btn ">
                                                            <button type="button" class="btn btn-sm btn-info" ng-click="ShowMonthSelectionForDiscountType(det)"
                                                                    style="min-width: 90px;">
                                                                Month
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <a class="p-1" href="#" ng-click="AddDiscountTypeDetails($index)">
                                                                <i class="fas fa-plus text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="delDiscountTypepDetails($index)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-discount-type" style="min-width: 90px;">
                                                    Back
                                                    to List
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearDiscountType()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateDiscountType()">Save</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- model form for table input -->
                            <div class="modal fade " id="modal-custom-month" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="exampleModalLabel">Month Details</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <div aria-hidden="true">&times;</div>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-content">
                                                <div class="form-heading d-flex">
                                                    <div class="custom-control custom-checkbox checkbox-lg ">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox-include" ng-model="chkAllMonth" ng-change="CheckedAllMonth()"> &nbsp;
                                                        <label class="custom-control-label" for="checkbox-include">Include All Month</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-md-3" ng-repeat="md in CurMonthDetailsColl">
                                                                <div class="custom-control custom-checkbox checkbox-lg ">
                                                                    <input type="checkbox" class="custom-control-input" id="checkbox-{{$index}}" ng-model="md.IsChecked"> &nbsp;
                                                                    <label class="custom-control-label" for="checkbox-{{$index}}">{{md.text}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer left-btn">
                                            <div class="time-label">
                                                <span class="d-block border-0 p-3 text-center">
                                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" data-dismiss="modal">Save</button>

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal form for table input close -->
                            <!-- Discount Type Ends -->
                            <!-- Class Wise Setup Starts -->
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3 col-md-3 mt-2">
                                        <div class="form-group d-flex">
                                            <label class="mr-2">Class</label>
                                            <select name="class-group" class="form-control form-control-sm select2" ng-model="newClassWiseSetup.SelectedClass" ng-change="GetStudentLstForClassWiseSetup(true)" style="width:100%">
                                                <option ng-value="cs" ng-repeat="cs in ClassSectionList.SectionList">{{cs.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2" ng-show="newClassWiseSetup.SelectedClass.ClassType==2  &&  AcademicConfig.ActiveClassYear==true">
                                        <div class="form-group">
                                            <label for="">Year</label>
                                            <select class="form-control form-control-sm select2" ng-model="newClassWiseSetup.ClassYearId" ng-change="GetStudentLstForClassWiseSetup(false)">
                                                <option ng-value="0">**Select Year**</option>
                                                <option ng-value="cl.id" ng-repeat="cl in newClassWiseSetup.SelectedClassClassYearList" ng-selected="cl.id==newClassWiseSetup.ClassYearId">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2" ng-show="newClassWiseSetup.SelectedClass.ClassType==3 &&  AcademicConfig.ActiveSemester==true">
                                        <div class="form-group">
                                            <label for="">Semester</label>
                                            <select class="form-control form-control-sm select2" ng-model="newClassWiseSetup.SemesterId" ng-change="GetStudentLstForClassWiseSetup(false)">
                                                <option ng-value="0">**Select Semester**</option>
                                                <option ng-value="cl.id" ng-repeat="cl in newClassWiseSetup.SelectedClassSemesterList" ng-selected="cl.id==newClassWiseSetup.SemesterId">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="searchData.ClassWiseSetup">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="top" title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-danger" style="min-width: 60px;" ng-click="DelClassWiseSetup()">Delete</button>
                                            <button type="button" class="btn btn-sm btn-default" style="min-width: 60px;" ng-click="ClearDiscountType()">Reset</button>
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 60px;" ng-click="SaveUpdateClassWiseSetup()">Save</button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height: calc(100vh - 13.5rem);">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th class="align-middle cstm-sticky" style="width: 90px; left: 0; z-index: 3; background-color: #fff" ng-click="sortClasswise('RegdNo')">Adm.No.</th>
                                                    <th class="align-middle cstm-sticky" style="width: 200px; left: 90px; z-index: 3; background-color: #fff; background-color: #fff" ng-click="sortClasswise('Name')">Name</th>
                                                    <th class="align-middle cstm-sticky" style="width: 100px; left: 290px; z-index: 3; background-color: #fff" ng-click="sortClasswise('RollNo')">Roll No</th>
                                                    <th class="align-middle cstm-sticky" style="width: 250px; left: 390px; z-index: 3; background-color: #fff">Remarks</th>
                                                    <th style="width: 135px;z-index:2;" ng-repeat="dt in DiscountTypeList |  filter: { IsActive: true }">{{dt.Name}}</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="st in newClassWiseSetup.StudentColl | orderBy:sortKeyclasswise:reverse1 | filter:searchData.ClassWiseSetup">
                                                    <th class="align-middle cstm-sticky" style="width: 90px; left: 0; z-index: 1; background-color: #fff">{{st.RegdNo}}</th>
                                                    <td class="align-middle cstm-sticky" style="width: 200px; left: 90px; z-index: 1; background-color: #fff">
                                                        {{st.Name}}
                                                    </td>
                                                    <td class="align-middle cstm-sticky" style="width: 100px; left: 290px; z-index: 1; background-color: #fff">
                                                        {{st.RollNo}} {{st.Semester}} {{st.ClassYear}}
                                                    </td>
                                                    <td class="align-middle cstm-sticky" style="width: 250px; left: 390px; z-index: 1; background-color: #fff">
                                                        <input type="text" class="form-control form-control-sm" ng-model="st.Remarks">
                                                    </td>
                                                    <td ng-repeat="dt in st.DiscountDetailsColl">
                                                        <div class="custom-control custom-checkbox checkbox-lg ml-2 pb-2 text-center">
                                                            <input type="checkbox" class="custom-control-input" id="checkbox-{{$index}}-{{st.StudentId}}" ng-model="dt.Include"> &nbsp;
                                                            <label class="custom-control-label" for="checkbox-{{$index}}-{{st.StudentId}}"></label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>

                                </div>
                                <!-- model form for table input -->
                                <div class="modal fade " id="modal-discount-type" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Discount Type Details</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <div aria-hidden="true">&times;</div>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="input-table" style="overflow-x: auto">
                                                    <table id="enquiry-table" class="table table-bordered table-hover enquiry-table">
                                                        <thead>
                                                            <tr class="text-center text-nowrap">
                                                                <th style="width: 90px;">S.No.</th>
                                                                <th style="width: 250px;">Discount Type</th>
                                                                <th style="width: 550px;">Remarks</th>

                                                                <th style="width: 90px;" class="justify-content-center table-action">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td>
                                                                    <select name="comment-group" id="" form="" class="form-control form-control-sm select2">
                                                                        <option value="">Discount Type 1</option>
                                                                        <option value="">Discount Type 2</option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <textarea name="" id="" cols="30" rows="1" class="form-control form-control-sm"></textarea>
                                                                </td>
                                                                <td>
                                                                    <a class="p-1" href="#">
                                                                        <i class="fas fa-plus text-info"></i>
                                                                    </a>
                                                                    <a class="p-1" href="#">
                                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer left-btn">
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal form for table input close -->

                            </div>
                            <!-- Class Wise Setup Ends -->
                            <!-- Fee Item Wise Setup Starts -->
                            <div class="tab-pane fade main-section" id="medium" role="tabpanel" aria-labelledby="medium-tab">
                                <div id="medium-section">
                                    <div class="row">
                                        <div class="col-md-3" ng-show="AcademicConfig.ActiveBatch==true">
                                            <div class="form-group">
                                                <label for="">Batch</label>
                                                <select class="form-control form-control-sm select2" ng-model="newFeeItemWise.BatchId">
                                                    <option ng-value="0">**Select Batch**</option>
                                                    <option ng-value="cl.id" ng-repeat="cl in BatchList" ng-selected="cl.id==newFeeItemWise.BatchId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Class</label>
                                                <select class="form-control form-control-sm select2" ng-model="newFeeItemWise.SelectedClass" ng-change="GetStudentLstForFeeItemWise(true)">
                                                    <option ng-value="cs" ng-repeat="cs in ClassSectionList.SectionList">{{cs.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2" ng-show="newFeeItemWise.SelectedClass.ClassType==2  &&  AcademicConfig.ActiveClassYear==true">
                                            <div class="form-group">
                                                <label for="">Year</label>
                                                <select class="form-control form-control-sm select2" ng-model="newFeeItemWise.ClassYearId" ng-change="GetStudentLstForFeeItemWise(false)">
                                                    <option ng-value="0">**Select Year**</option>
                                                    <option ng-value="cl.id" ng-repeat="cl in newFeeItemWise.SelectedClassClassYearList" ng-selected="cl.id==newFeeItemWise.ClassYearId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2" ng-show="newFeeItemWise.SelectedClass.ClassType==3 &&  AcademicConfig.ActiveSemester==true">
                                            <div class="form-group">
                                                <label for="">Semester</label>
                                                <select class="form-control form-control-sm select2" ng-model="newFeeItemWise.SemesterId" ng-change="GetStudentLstForFeeItemWise(false)">
                                                    <option ng-value="0">**Select Semester**</option>
                                                    <option ng-value="cl.id" ng-repeat="cl in newFeeItemWise.SelectedClassSemesterList" ng-selected="cl.id==newFeeItemWise.SemesterId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Fee Item</label>
                                            <select name="class-group" class="form-control form-control-sm select2" ng-model="newFeeItemWise.SelectedFeeItem" ng-change="GetStudentLstForFeeItemWise()">
                                                <option ng-value="fi" ng-repeat="fi in FeeItemList">{{fi.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.FeeItemWise">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0" type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">

                                                <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip" data-placement="top"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-danger" style="min-width: 60px;" ng-click="DelFeeItemWise()">Delete</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 60px;">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 60px;" ng-click="SaveUpdateFeeItemWise()">Save</button>
                                            </div>
                                        </header>
                                        <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height: calc(100vh - 13.5rem);">
                                            <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr class="text-nowrap">
                                                        <th class="align-middle cstm-sticky" style="width: 90px; left: 0; z-index: 2; background-color: #fff" ng-click="sortFeewise('RegdNo')">Adm.No.</th>
                                                        <th class="align-middle cstm-sticky" style="width: 200px; left: 90px; z-index: 2; background-color: #fff; background-color: #fff" ng-click="sortFeewise('Name')">Name</th>
                                                        <th class="align-middle cstm-sticky" style="width: 100px; left: 290px; z-index: 2; background-color: #fff" ng-click="sortFeewise('RollNo')">Roll No</th>
                                                        <th style="width: 250px;">Remarks</th>
                                                        <th style="width: 120px;">Discount %</th>
                                                        <th style="width: 120px;">Discount Amt.</th>
                                                        <th style="width: 165px;z-index:3">For Month</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="st in newFeeItemWise.StudentColl | orderBy:sortKeyfeewise:reverse2 | filter:searchData.FeeItemWise">
                                                        <th class="align-middle cstm-sticky" style="width: 90px; left: 0; z-index: 1; background-color: #fff">{{st.RegdNo}}</th>
                                                        <td class="align-middle cstm-sticky" style="width: 200px; left: 90px; z-index: 1; background-color: #fff">
                                                            {{st.Name}}
                                                        </td>
                                                        <td class="align-middle cstm-sticky" style="width: 100px; left: 290px; z-index: 1; background-color: #fff">
                                                            {{st.RollNo}} {{st.Semester}} {{st.ClassYear}}
                                                        </td>
                                                        <td><textarea class="form-control form-control-sm" rows="1" placeholder="" ng-model="st.Remarks"></textarea></td>
                                                        <td><input type="number" class="form-control form-control-sm" ng-model="st.DiscountPer"></td>
                                                        <td><input type="number" class="form-control form-control-sm" ng-model="st.DiscountAmt"></td>
                                                        <td style="padding: 4px;">
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input" type="checkbox" id="customCheckbox1-{{$index}}" ng-model="st.chkAll" ng-change="CheckedAllFeeItemWiseST(st)">
                                                                <label for="customCheckbox1-{{$index}}" class="custom-control-label">All</label>
                                                                <button type="button" class="btn btn-sm btn-info" ng-click="ShowMonthSelectionForFixedAmt(st)" style="font-size: 13px; padding:1px 10px;">Month Details</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- table end -->
                                        </div>

                                    </div>
                                    <!-- model form for table input -->
                                    <div class="modal fade " id="modal-custom-month-fee1" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 30px;">
                                        <div class="modal-dialog modal-xl" role="document" style="max-width:650px!important">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6 class="modal-title" id="exampleModalLabel">Month Details</h6>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <div aria-hidden="true">&times;</div>
                                                    </button>
                                                </div>
                                                <div class="modal-body p-2">
                                                    <div class="form-content">
                                                        <div class="table-scroll-x-y iptable sales-main-table table-scroll" style="max-height:calc(100vh - 12rem)">
                                                            <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                <thead>
                                                                    <tr class="text-nowrap">
                                                                        <th class="cstm-sticky" style="width: 150px; left: 0; z-index: 2; background-color: #fff">Month</th>
                                                                        <th style="width:130px">Discount %</th>
                                                                        <th style="width:130px">Discount Amt.</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="text-nowrap">
                                                                    <tr ng-repeat="md in CurMonthDetailsColl">
                                                                        <td class="align-middle cstm-sticky" style="width: 150px; left: 0; z-index: 1; background-color: #fff">{{md.text}}</td>
                                                                        <td><input type="number" class="form-control form-control-sm" ng-model="md.DiscountPer"></td>
                                                                        <td><input type="number" class="form-control form-control-sm" ng-model="md.DiscountAmt"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer p-2">
                                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 60px;" data-dismiss="modal">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- modal form for table input close -->
                                </div>

                            </div>
                            <!-- Fee Item Wise Setup Ends -->
                            <!-- Student Wise Setup Starts -->
                            <div class="tab-pane fade main-section" id="student" role="tabpanel" aria-labelledby="student-tab">
                                <div id="student-section">
                                    <div class="row">
                                        <div class="col-md-2" ng-show="AcademicConfig.ActiveBatch==true">
                                            <div class="form-group">
                                                <label for="">Batch</label>
                                                <select class="form-control form-control-sm select2" ng-model="newStudentWise.BatchId">
                                                    <option ng-value="0">**Select Batch**</option>
                                                    <option ng-value="cl.id" ng-repeat="cl in BatchList" ng-selected="cl.id==newStudentWise.BatchId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Class</label>
                                                <select name="class-group" class="form-control form-control-sm select2" ng-model="newStudentWise.SelectedClass" ng-change="GetStudentLstForStudentWise(true)">
                                                    <option ng-value="cs" ng-repeat="cs in ClassSectionList.SectionList">{{cs.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2" ng-show="newStudentWise.SelectedClass.ClassType==2  &&  AcademicConfig.ActiveClassYear==true">
                                            <div class="form-group">
                                                <label for="">Year</label>
                                                <select class="form-control form-control-sm select2" ng-model="newStudentWise.ClassYearId" ng-change="GetStudentLstForStudentWise(false)">
                                                    <option ng-value="0">**Select Year**</option>
                                                    <option ng-value="cl.id" ng-repeat="cl in newStudentWise.SelectedClassClassYearList" ng-selected="cl.id==newStudentWise.ClassYearId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2" ng-show="newStudentWise.SelectedClass.ClassType==3 &&  AcademicConfig.ActiveSemester==true">
                                            <div class="form-group">
                                                <label for="">Semester</label>
                                                <select class="form-control form-control-sm select2" ng-model="newStudentWise.SemesterId" ng-change="GetStudentLstForStudentWise(false)">
                                                    <option ng-value="0">**Select Semester**</option>
                                                    <option ng-value="cl.id" ng-repeat="cl in newStudentWise.SelectedClassSemesterList" ng-selected="cl.id==newStudentWise.SemesterId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Student</label>
                                            <select name="class-group" class="form-control form-control-sm select2" ng-model="newStudentWise.StudentId" ng-change="GetStudentWiseDiscountSetup()">
                                                <option ng-value="fi.StudentId" ng-repeat="fi in newStudentWise.StudentColl">{{fi.Name}}-{{fi.RollNo}}-{{fi.RegdNo}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height: calc(100vh - 13.5rem);">
                                            <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr class="text-nowrap">
                                                        <th class="align-middle cstm-sticky" style="width: 60px; left: 0; z-index: 2; background-color: #fff">S.No.</th>
                                                        <th class="align-middle cstm-sticky" style="width: 200px; left: 60px; z-index: 2; background-color: #fff; background-color: #fff">Fee Item</th>
                                                        <th style="width: 250px;">Remarks</th>
                                                        <th style="width: 120px;">Discount %</th>
                                                        <th style="width: 120px;">Discount Amt.</th>
                                                        <th style="width: 160px;z-index:3">For Month</th>
                                                        <th class="text-center" style="width: 70px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="st in newStudentWise.FeeItemColl">
                                                        <th class="align-middle cstm-sticky" style="width: 60px; left: 0; z-index: 1; background-color: #fff">{{$index+1}}</th>
                                                        <td class="align-middle cstm-sticky" style="width: 200px; left: 60px; z-index: 1; background-color: #fff">
                                                            <select name="class-group" class="form-control form-control-sm select2" ng-model="st.FeeItemId">
                                                                <option ng-value="fi.FeeItemId" ng-repeat="fi in FeeItemList">{{fi.Name}}</option>
                                                            </select>
                                                        </td>
                                                        <td><textarea class="form-control form-control-sm" rows="1" placeholder="" ng-model="st.Remarks"></textarea></td>
                                                        <td><input type="number" class="form-control form-control-sm" ng-model="st.DiscountPer"></td>
                                                        <td><input type="number" class="form-control form-control-sm" ng-model="st.DiscountAmt"></td>
                                                        <td style="padding: 4px;">
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input" type="checkbox" id="customCheckboxST1-{{$index}}" ng-model="st.chkAll" ng-change="CheckedAllFeeItemWiseST(st)">
                                                                <label for="customCheckboxST1-{{$index}}" class="custom-control-label">All</label>
                                                                <button type="button" class="btn btn-sm btn-info ml-2" ng-click="ShowMonthSelectionForStudentWise(st)" style="font-size: 13px; padding:1px 3px;">Month Details</button>
                                                            </div>

                                                        </td>
                                                        <td class="text-center">
                                                            <a class="p-1" ng-click="AddStudentWiseDisDet($index)">
                                                                <i class="fas fa-plus text-info"></i>
                                                            </a>
                                                            <a class="p-1" ng-click="delStudentWiseDisDet($index)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- table end -->
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-danger" style="min-width: 90px;" ng-click="DelStudentWise()">Delete</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateStudentWise()">Save</button>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- model form for table input -->
                                    <div class="modal fade " id="modal-custom-month-fee1" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:30px!important">
                                        <div class="modal-dialog modal-lg" role="document" style="max-width:650px;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6 class="modal-title" id="exampleModalLabel">Month Details</h6>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <div aria-hidden="true">&times;</div>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-content">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height:calc(100vh - 15rem)!important">
                                                                    <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                                        <thead>
                                                                            <tr class="text-nowrap">
                                                                                <th class="cstm-sticky" style="width: 150px; left: 0; z-index: 2; background-color: #fff">Month</th>
                                                                                <th style="width:130px">Discount %</th>
                                                                                <th style="width:130px">Discount Amt.</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="text-nowrap">
                                                                            <tr ng-repeat="md in CurMonthDetailsColl">
                                                                                <td class="align-middle cstm-sticky" style="width: 150px; left: 0; z-index: 1; background-color: #fff">{{md.text}}</td>
                                                                                <td><input type="number" class="form-control form-control-sm" ng-model="md.DiscountPer"></td>
                                                                                <td><input type="number" class="form-control form-control-sm" ng-model="md.DiscountAmt"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>


                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" data-dismiss="modal">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- modal form for table input close -->
                                </div>

                            </div>
                            <!-- Student Wise Setup Ends -->
                            <!-- Class Wise Setup Starts -->
                            <div class="tab-pane fade main-section" id="fullDis" role="tabpanel"
                                 aria-labelledby="fullDis-tab">
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3 col-md-3">
                                        <div class="form-group mb-2">
                                            <label>Class</label>
                                            <select name="class-group" class="form-control form-control-sm select2" ng-model="newFullSetup.SelectedClass" ng-change="GetStudentLstForFullSetup(true)">
                                                <option ng-value="cs" ng-repeat="cs in ClassSectionList.SectionList">{{cs.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2" ng-show="newFullSetup.SelectedClass.ClassType==2  &&  AcademicConfig.ActiveClassYear==true">
                                        <div class="form-group mb-2">
                                            <label for="">Year</label>
                                            <select class="form-control form-control-sm select2" ng-model="newFullSetup.ClassYearId" ng-change="GetStudentLstForFullSetup(false)">
                                                <option ng-value="0">**Select Year**</option>
                                                <option ng-value="cl.id" ng-repeat="cl in newFullSetup.SelectedClassClassYearList" ng-selected="cl.id==newFullSetup.ClassYearId">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2" ng-show="newFullSetup.SelectedClass.ClassType==3 &&  AcademicConfig.ActiveSemester==true">
                                        <div class="form-group mb-2">
                                            <label for="">Semester</label>
                                            <select class="form-control form-control-sm select2" ng-model="newFullSetup.SemesterId" ng-change="GetStudentLstForFullSetup(false)">
                                                <option ng-value="0">**Select Semester**</option>
                                                <option ng-value="cl.id" ng-repeat="cl in newFullSetup.SelectedClassSemesterList" ng-selected="cl.id==newFullSetup.SemesterId">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="searchData.FullSetup">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="top" title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-danger" style="min-width: 60px;" ng-click="DelFullSetup()">Delete</button>
                                            <button type="button" class="btn btn-sm btn-default" style="min-width: 60px;" ng-click="ClearDiscountType()">Reset</button>
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 60px;" ng-click="SaveUpdateFullSetup()">Save</button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll" style="height: calc(100vh - 13.5rem);">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr class="text-nowrap">
                                                    <th class="align-middle cstm-sticky" style="width: 90px; left: 0; z-index: 2; background-color: #fff" ng-click="sortscholarshipwise('RegdNo')">Adm.No.</th>
                                                    <th class="align-middle cstm-sticky" style="width: 200px; left: 90px; z-index: 2; background-color: #fff; background-color: #fff" ng-click="sortscholarshipwise('Name')">Name</th>
                                                    <th class="align-middle cstm-sticky" style="width: 100px; left: 290px; z-index: 2; background-color: #fff" ng-click="sortscholarshipwise('RollNo')">Roll No</th>
                                                    <th class="align-middle cstm-sticky text-center" style="width: 100px; left: 290px; z-index: 2; background-color: #fff">Full</th>
                                                    <th class="align-middle cstm-sticky" style="width: 250px; left: 290px; z-index: 2; background-color: #fff">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="st in newFullSetup.StudentColl | orderBy:sortKeyscholarshipwise:reverse3 | filter:searchData.FullSetup">
                                                    <th class="align-middle cstm-sticky" style="width: 90px; left: 0; z-index: 1; background-color: #fff">{{st.RegdNo}}</th>
                                                    <td class="align-middle cstm-sticky" style="width: 200px; left: 90px; z-index: 1; background-color: #fff">
                                                        {{st.Name}}
                                                    </td>
                                                    <td class="align-middle cstm-sticky" style="width: 100px; left: 290px; z-index: 1; background-color: #fff">
                                                        {{st.RollNo}} {{st.Semester}} {{st.ClassYear}}
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox checkbox-lg ml-2 pb-2 text-center">
                                                            <input type="checkbox" class="custom-control-input" id="checkbox-{{$index}}-{{st.StudentId}}" ng-model="st.Include"> &nbsp;
                                                            <label class="custom-control-label" for="checkbox-{{$index}}-{{st.StudentId}}"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control form-control-sm" ng-model="st.Remarks">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <div class="time-label">
                                        <span class="d-block border-0 p-3 text-center">

                                        </span>
                                    </div>
                                </div>
                                <!-- model form for table input -->
                                <div class="modal fade " id="modal-discount-type" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true" style="margin-top:20px;">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title" id="exampleModalLabel">Discount Type Details</h6>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <div aria-hidden="true">&times;</div>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="input-table" style="overflow-x: auto">
                                                    <table id="enquiry-table" class="table table-bordered table-hover enquiry-table">
                                                        <thead>
                                                            <tr class="text-center text-nowrap">
                                                                <th style="width: 90px;">S.No.</th>
                                                                <th style="width: 250px;">Discount Type</th>
                                                                <th style="width: 550px;">Remarks</th>

                                                                <th style="width: 90px;" class="justify-content-center table-action">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td>
                                                                    <select name="comment-group" id="" form="" class="form-control form-control-sm select2">
                                                                        <option value="">Discount Type 1</option>
                                                                        <option value="">Discount Type 2</option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <textarea name="" id="" cols="30" rows="1" class="form-control form-control-sm"></textarea>
                                                                </td>
                                                                <td>
                                                                    <a class="p-1" href="#">
                                                                        <i class="fas fa-plus text-info"></i>
                                                                    </a>
                                                                    <a class="p-1" href="#">
                                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer left-btn">
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal form for table input close -->

                            </div>
                            <!-- Class Wise Setup Ends -->
                            <!-- Discount Report Starts -->
                            <div class="tab-pane fade main-section" id="report" role="tabpanel" aria-labelledby="report-tab">
                                <div id="report-section">
                                    <div class="card py-2 mb-0">
                                        <header class="row">
                                            <div class="col-md-3 mb-2">
                                                <button type="button" class="btn btn-sm btn-success" style="min-width:70px" ng-click="GetDiscountStudent()"><i class="fas fa-sync-alt mr-2"></i>Load</button>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-9 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip" data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                                 class="img-fluid exports-icon" alt="Excel image"> Excel
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                                 class="img-fluid exports-icon" alt="Excel image"> CSV
                                                        </a>
                                                    </div>
                                                </div>
                                                <a class="btn btn-secondary btn-light btn-sm"
                                                   data-placement="top" title="Send SMS" ng-click="SendSMSToStudent()">
                                                    <i class="fas fa-sms"></i>
                                                </a>
                                                <a class="btn btn-secondary btn-light btn-sm"
                                                   data-placement="top" title="Send Notification" ng-click="SendNoticeToStudent()">
                                                    <i class="fas fa-bell"></i>
                                                </a>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip" data-placement="top"
                                                   title="Print">
                                                    <i class="fas fa-print" ng-click="PrintDiscountStudent()"></i>
                                                </a>

                                            </div>
                                        </header>
                                        <div ui-grid="gridOptions"
                                             ui-grid-auto-resize
                                             ui-grid-resize-columns
                                             ui-grid-move-columns
                                             ui-grid-selection
                                             ui-grid-exporter
                                             ui-grid-pinning
                                             ui-grid-filtering
                                             ui-grid-save-state style="height: calc(100vh - 140px);">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Discount Report Starts -->

                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <div class="modal fade bd-example-modal-xl sales-invoice-page-modal" id="FrmPrintReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true" style="margin-top:30px!important">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Report Viewer</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <iframe id="frmRpt" style='width: 100%; height: 600px; background-color: white; visibility:visible;' frameborder='0' scrolling='yes'></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-xl" style="margin-top: 0px;">
        <div class="modal-dialog modal-md" style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Send Notification</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Title</label>
                        <input type="text"
                               class="form-control form-control-sm" placeholder="Title" ng-model="newNotice.Title" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control form-control-sm" rows="5" ng-model="newNotice.Description" placeholder="Description"></textarea>
                    </div>
                    @*<div class="form-group">
                            <label for="">Attach File</label>
                            <input class="form-control form-control-sm p-0" type="file" style="padding: 1px" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" file-model ng-model="newNotice.AttachmentColl" fileread="newNotice.FilesData" />
                        </div>*@

                    @*<div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"
                                   id="alert-to-parents" ng-model="newNotice.FilterStudentOnly">
                            <label for="alert-to-parents"
                                   class="custom-control-label">Filter Student Only</label>
                        </div>*@

                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-success" ng-click="SendManualNoticeToStudent()" style="min-width: 90px;" ng-disabled="loadingstatus=='running'">Send</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <!-- model form for table input -->
    <div class="modal fade " id="modal-custom-month-studentWise" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="max-width:650px!important;">
            <div class="modal-content">
                <div class="modal-header p-2">
                    <h6 class="modal-title" id="exampleModalLabel">Month Details</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <div aria-hidden="true">&times;</div>
                    </button>
                </div>
                <div class="modal-body p-2">
                    <div class="form-content">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-scroll-x-y iptable sales-main-table table-scroll" style="max-height:calc(100vh - 16.5rem)!important">
                                    <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                        <thead>
                                            <tr class="text-nowrap">
                                                <th class="cstm-sticky" style="width: 150px; left: 0; z-index: 2; background-color: #fff">Month</th>
                                                <th style="width:130px">Discount %</th>
                                                <th style="width:130px">Discount Amt.</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-nowrap">
                                            <tr ng-repeat="md in StudentCurMonthDetailsColl">
                                                <td class="align-middle cstm-sticky" style="width: 150px; left: 0; z-index: 1; background-color: #fff">{{md.text}}</td>
                                                <td><input type="number" class="form-control form-control-sm" ng-model="md.DiscountPer"></td>
                                                <td><input type="number" class="form-control form-control-sm" ng-model="md.DiscountAmt"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer p-2">
                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal form for table input close -->
</div>

