
<script src="~/jslib/dashboard/common/common.js"></script>
<style>
    .third-level-scroll-only {
        height: 100px !important;
        overflow: unset;
    }
</style>
<div ng-app="myApp" ng-controller="salesAnalysisDetDashboardController28" ng-class="{waiting: loadingstatus=='running'}">
    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
    <!-- Main content -->
    <div class="content  third-level-scroll-only">
        <!-- Page Content  -->
        <div class="container-fluid">
            <div class="container-fluid" style="width:100%;">
                <div class="card overflow-hidden">
                    <div class="card-header header-corner-triangle border">
                        <form action="">
                            <label>NON MOVING STOCK ITEMS LIST:</label>
                        </form>


                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="datatable" style="height: calc(100vh - 200px);width: 100%;" class="ag-theme-balham"></div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>

    <footer class="main-footer control-btns">

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group row">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <label>Find :</label>
                        </div>
                        @*<input type="text" class="form-control text-dark input-sm" placeholder="Search">*@
                        <input type="text" name="table_search" class="form-control text-dark input-sm" placeholder="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">
                    </div>


                </div>

            </div>
            <div class="col-sm-3">


            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn-secondary btn-sm"><i class="fas fa-print">Print</i></button>
                <button type="button" class="btn-primary btn-sm" ng-click="onBtExport()"><i class="fas fa-file-export">Export</i></button>
            </div>
        </div>
    </footer>

</div>