<script src="~/jslib/attendance/AttendanceType.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="AttendanceTypeController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" style="margin-top:-16px">
                    <div id="root">
                        <div class="card-primary px-0 card-tabs">
                            <div id="table-section" class="card py-2 mb-0">
                                <header class="row">
                                    <div class="col-md-7">
                                        <div class="clearfix">
                                            <form class="form-inline">
                                                <div class="input-group input-group-sm mr-sm-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cstm">Show</span>
                                                    </div>
                                                    <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                    <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.AttendanceType">
                                                        <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.AttendanceType">{{pp.text}}</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-white"><small>entries</small></span>
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-sm table-search-filed">
                                                    <input class="form-control form-control-navbar"
                                                           type="search" placeholder="Search"
                                                           aria-label="Search" ng-model="searchData.AttendanceType">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default border-left-0"
                                                                type="submit">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- end col-md-8 -->
                                    <div class="col-md-5 text-right">
                                        <button type="button"
                                                class="btn btn-sm btn-success"
                                                id="add-attendanceType"
                                                style="min-width: 90px" ng-click="ClearAttendanceType()">
                                            <i class="fas fa-plus w-t"></i> Add AttendanceType
                                        </button>
                                    </div>
                                </header>
                                <div>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="AttendanceType"
                                               class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px">S.No</th>
                                                    <th style="width: 200px">Name</th>
                                                    <th style="width: 60px">Code</th>
                                                    <th style="width: 150px">Attendance Types</th>
                                                    <th style="width: 150px">PeriodType</th>
                                                    <th style="width: 200px">Description</th>
                                                    @*<th style="width: 150px">PayHeading</th>*@
                                                    <th style="width: 80px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in AttendanceTypeList | filter:searchData.AttendanceType | itemsPerPage: perPage.AttendanceType" current-page="currentPages.AttendanceType" pagination-id="AttendanceTypePagination">
                                                    <td>{{cl.SNO}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.Code}}</td>
                                                    <td>{{cl.AttendanceTypeName}}</td>
                                                    <td>{{cl.Period}}</td>
                                                    <td>{{cl.Description}}</td>
                                                    @*<td>{{cl.PayHeading}}</td>*@
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetAttendanceTypeById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelAttendanceTypeById(cl,$index)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- table end -->
                                </div>
                                <footer class="row align-items-center">
                                    <div class="col-md-12">
                                        <dir-pagination-controls pagination-id="AttendanceTypePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                        </dir-pagination-controls>
                                    </div>
                                </footer>
                            </div>
                           
                            <div id="form-section" class="card py-2">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Name <span class="text-danger">*</span></label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newAttendanceType.Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Code</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newAttendanceType.Code" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Attendance Type <span class="text-danger">*</span></label>
                                            <select class="form-control form-control-sm select2" ng-model="newAttendanceType.Types">
                                                <option ng-repeat="A in TypeList" ng-value="A.id" ng-selected="newAttendanceType.Types==A.id">{{A.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Period Type <span class="text-danger">*</span></label>
                                            <select class="form-control form-control-sm select2" ng-model="newAttendanceType.PeriodType">
                                                <option ng-repeat="A in PeriodTypeList" ng-value="A.id" ng-selected="newAttendanceType.PeriodType==A.id">{{A.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Calculation Value</label>
                                            <input type="number"
                                                   class="form-control form-control-sm" ng-model="newAttendanceType.CalculationValue" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">S.No</label>
                                            <input type="number"
                                                   class="form-control form-control-sm" ng-model="newAttendanceType.SNO" />
                                        </div>
                                    </div>

                                    <!--New code added by Suresh on Mangsir 23-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Formula</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newAttendanceType.Formula" />
                                        </div>
                                    </div>
                                    <!--Ends-->
                                    @*<div class="col-md-3">
            <div class="form-group">
                <label for="">PayHeading</label>
                <select class="form-control form-control-sm select2" ng-model="newAttendanceType.PayHeadingId">
                    <option ng-repeat="A in PayHeadingList" ng-value="A.PayHeadingId" ng-selected="newAttendanceType.PayHeadingId==A.PayHeadingId">{{A.Name}}</option>
                </select>
            </div>
        </div>*@
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Unit Of Work <span class="text-danger">*</span></label>
                                            <select class="form-control form-control-sm select2" ng-model="newAttendanceType.UnitsOfWorkId">
                                                <option ng-repeat="A in UnitOfWorkList" ng-value="A.UnitsOfWorkId" ng-selected="newAttendanceType.UnitsOfWorkId==A.UnitsOfWorkId">{{A.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 mt-4">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="customCheckbox1" value="true" ng-model="newAttendanceType.IsActive">
                                            <label for="customCheckbox1"
                                                   class="custom-control-label">
                                                Is Active
                                            </label>
                                        </div>

                                    </div>



                                    <div class="col-md-2 mt-4">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="customCheckbox11" value="true" ng-model="newAttendanceType.CanEditable">
                                            <label for="customCheckbox11"
                                                   class="custom-control-label">
                                                Can Editable
                                            </label>
                                        </div>
                                    </div>
                                    <!--NEw Field Added by Mangsir 23-->
                                    <div class="col-md-2 mt-4">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="chkShowInSalarySheet" ng-model="newAttendanceType.ShowInSalarySheet">
                                            <label for="chkShowInSalarySheet"
                                                   class="custom-control-label">
                                                Show In Salary Sheet
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 mt-4">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="chkIsMonthly" ng-model="newAttendanceType.IsMonthly">
                                            <label for="chkIsMonthly"
                                                   class="custom-control-label">
                                                Is Monthly
                                            </label>
                                        </div>
                                    </div>
                                    <!--Ends-->
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control form-control-sm" ng-model="newAttendanceType.Description" rows="2" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mt-4">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="chkActiveTotalInput" value="true" ng-model="newAttendanceType.ActiveTotalInput">
                                            <label for="chkActiveTotalInput"
                                                   class="custom-control-label">
                                                Active Total Input
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<label><b>Tax Exemption Details :</b></label>*@
                                <div class="table-scroll-x-y sales-main-table table-scroll">
                                    <table id="main-table"
                                           class="main-table table table-sm table-bordered bg-white">
                                        <thead>
                                            <tr>
                                                <th style="width: 80px">S.No.</th>
                                                <th style="width: 130px">Branch</th>
                                                <th style="width: 150px">Department</th>
                                                <th style="width: 150px">EmployeeGroup</th>
                                                <th style="width: 110px">Category</th>
                                                <th style="width: 100px">CalculationValue</th>
                                                <th style="width: 90px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pDet in newAttendanceType.AttendanceTypeDetailsColl">
                                                <td>{{$index+1}}</td>
                                                <td>
                                                    <select class="form-control form-control-sm select2" ng-model="pDet.BranchId">
                                                        <option ng-repeat="B in BranchList" ng-value="B.BranchId" ng-selected="B.BranchId==pDet.BranchId">{{B.Name}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control form-control-sm select2" ng-model="pDet.DepartmentId">
                                                        <option ng-value="c.id" ng-repeat="c in DepartmentList" ng-selected="c.id==pDet.DepartmentId">{{c.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control form-control-sm select2" ng-model="pDet.EmployeeGroupId">
                                                        <option ng-value="c.EmployeeGroupId" ng-repeat="c in EmployeeGroupList" ng-selected="c.EmployeeGroupId==pDet.EmployeeGroupId">{{c.Name}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control form-control-sm select2" ng-model="pDet.EmployeeCategoryId">
                                                        <option ng-repeat="B in CategoryList" ng-value="B.CategoryId" ng-selected="B.CategoryId==pDet.EmployeeCategoryId">{{B.Name}}</option>
                                                    </select>
                                                </td>
                                                <td><input type="number" class="form-control form-control-sm" ng-model="pDet.CalculationValue"></td>

                                                <td>
                                                    <a class="p-1" ng-click="AddDetails($index)">
                                                        <i class="fas fa-plus text-secondary"></i>
                                                    </a>
                                                    <a class="p-1" ng-click="delDetails($index)">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="time-label">
                                    <span class="d-block border-0 p-3 text-center">
                                        <button type="button"
                                                class="btn btn-sm btn-info"
                                                id="backbtn"
                                                style="min-width: 90px">
                                            Back to List
                                        </button>
                                        <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearAttendanceType()">Reset</button>
                                        <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateAttendanceType()">{{newAttendanceType.Mode}}</button>
                                    </span>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>