<script src="~/jslib/Attendance/LeaveEntry.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="LeaveEntryController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid1">
            <section class="iframe-content-starts-here" style="padding-top:50px!important;">
                <div class="card p-2">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Leave For</label>
                                        <select class="form-control form-control-sm"
                                                style="width: 100%" ng-model="newLeaveEntry.LeaveTo">
                                            <option ng-value="1"> Student </option>
                                            <option ng-value="2"> Employee </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- fields after clicking the radio button starts -->
                                <!-- meet to student field -->
                                <div class="col-sm-9 col-lg-9 col-md-9 mt-4"
                                     id="meet-student" ng-show="newLeaveEntry.LeaveTo==1">
                                    <label class="sr-only"
                                           for="inlineFormInputGroup">Select Student</label>
                                    <div class="input-group-prepend">
                                        <select class="input-group-text dropdown-toggle p-0" style="outline: none; border-top-right-radius: unset; border-bottom-right-radius: unset;
                                                              margin-right: -3px;  z-index: 1; " ng-model="newLeaveEntry.SelectStudent">
                                            <option ng-repeat="ss in StudentSearchOptions" value="{{ss.value}}" ng-selected="{{ss.value==newLeaveEntry.SelectStudent}}">
                                                {{ss.text}}
                                            </option>
                                        </select>
                                        <select class="form-control select2 form-control-sm" all-student ng-model="newLeaveEntry.StudentId" student-detail="newLeaveEntry.StudentDetails" side-bar-data="newLeaveEntry.SideBarData" search-by="newLeaveEntry.SelectStudent">
                                        </select>

                                    </div>
                                </div>

                                <!-- Field For meet Teacher -->
                                <div class="col-sm-8 col-lg-8 col-md-8 mt-4"
                                     id="meet-employee" ng-show="newLeaveEntry.LeaveTo==2">
                                    <label class="sr-only" for="inlineFormInputGroup">Select Employee</label>
                                    <div class="input-group-prepend">
                                        <select class="input-group-text dropdown-toggle p-0" style="outline: none; border-top-right-radius: unset; border-bottom-right-radius: unset;
                                                              margin-right: -3px; z-index: 1; " ng-model="newLeaveEntry.SelectEmployee">

                                            <option class="dropdown-item" ng-repeat="ss in EmployeeSearchOptions" value="{{ss.value}}" ng-selected="{{ss.value==newLeaveEntry.SelectEmployee}}">
                                                {{ss.text}}
                                            </option>
                                        </select>
                                        <select class="form-control select2bs4 form-control-sm" all-employee ng-model="newLeaveEntry.EmployeeId" employee-detail="newLeaveEntry.EmployeeDetails" side-bar-data="newLeaveEntry.EmpSideBarData" search-by="newLeaveEntry.SelectEmployee">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- fields after clicking radio button ends -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Leave Type<span style="color:red">*</span></label>
                                        <select class="form-control form-control-sm select2" ng-model="newLeaveEntry.LeaveTypeId">
                                            <option ng-repeat="L in LeaveTypeList" ng-value="L.LeaveTypeId" ng-selected="newLeaveEntry.LeaveTypeId==L.LeaveTypeId">{{L.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Duration Type<span style="color:red">*</span></label>
                                        <select class="form-control form-control-sm select2" ng-model="newLeaveEntry.LeaveDuration">
                                            <option ng-repeat="D in LeaveDurationList" ng-value="D.id" ng-selected="newLeaveEntry.LeaveDuration==D.id">{{D.text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" ng-show="newLeaveEntry.LeaveDuration==2">
                                    <div class="form-group">
                                        <label>Leave Period<span style="color:red">*</span></label>
                                        <select class="form-control form-control-sm select2" ng-model="newLeaveEntry.LeavePeriod">
                                            <option ng-repeat="D in LeavePeriodList" ng-value="D.id" ng-selected="newLeaveEntry.LeavePeriod==D.id">{{D.text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" ng-show="newLeaveEntry.LeaveDuration==3">
                                    <div class="form-group">
                                        <label for="">Leave Hours</label>
                                        <input type="number" class="form-control form-control-sm" ng-model="newLeaveEntry.LeaveHours">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">From Date</label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="newLeaveEntry.DateFrom_TMP" date-detail="newLeaveEntry.DateFromDet" confirm-action="DateChanged()">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">To Date</label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="newLeaveEntry.DateTo_TMP" date-detail="newLeaveEntry.DateToDet"  confirm-action="DateChanged()">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">No Of Days</label>
                                        <input type="number" class="form-control form-control-sm" disabled ng-model="newLeaveEntry.NoOfDays" />
                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label>Reason</label>
                                        <textarea class="form-control form-control-sm" ng-model="newLeaveEntry.Remarks" rows="1"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Attach Document</label>
                                        <input id="choose-sfile" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" file-model ng-model="newLeaveEntry.Photo_TMP" fileread="newLeaveEntry.PhotoData" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            @*<button type="button"
                                    class="btn btn-sm btn-info"
                                    id="back-to-list" ng-click="back_to_list()"
                                    style="min-width: 90px">
                                Back to List
                            </button>*@
                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearLeaveEntry()">Reset</button>
                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateLeaveEntry()">{{newLeaveEntry.Mode}}</button>
                        </span>
                    </div>
                </div>
             
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- Main content -->
    <!-- /.content -->
    

</div>