
<script src="~/jslib/attendance/Configuration.js?v=20251115"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="ConfigurationController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid" >
            <section class="iframe-content-starts-here"  style="padding-top:53px!important">
                <div class="col-md-5">
                    <div class="card p-0 mb-2">
                        <div class="card border mb-2">
                            <div class="p-2 card-header" style="background-color: #bdddab63">
                                <h6 class="mb-0">Monthly Minimum Attendance(%)</h6>
                            </div>
                            <div class="card-body py-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="number" class="form-control form-control-sm" ng-model="newConfiguration.MonthlyMinAttendance" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-0 mb-2">
                        <div class="card border mb-2">
                            <div class="p-2 card-header" style="background-color: #bdddab63">
                                <h6 class="mb-0">Max Consecutive Absence(Days)</h6>
                            </div>
                            <div class="card-body py-2">                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="number" class="form-control form-control-sm" ng-model="newConfiguration.MaxConsecutiveAbs" />
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <div class="card p-0 mb-2">
                        <div class="card border mb-2">
                            <div class="p-2 card-header" style="background-color: #bdddab63">
                                <h6 class="mb-0">Absence Fine(Per Day)</h6>
                            </div>
                            <div class="card-body py-2">                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="number" class="form-control form-control-sm" ng-model="newConfiguration.AbsFinePerDay" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="time-label py-3">
                        <span class="d-block border-0 text-center">
                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearConfiguration()">Reset</button>
                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateConfiguration()">Save</button>
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>