/* website main css start */

/* font family */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    height: 100%;
}

/* container */
.container{
  max-width: 1480px;
}

/* colors */

.tx-col-1 {
    color: #007955 !important;
}
.bg-col-1 {
    background-color: #007955;
}




/* font */

.font-14-400 {
    font-size: 14px;
    list-style: 22px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .font-14-400 {
        font-size: 12px;
        list-style: 22px;
        font-weight: 400;
    }
}



/* buttons */

.btn-all{
    background-color: #007955;
    height: 30px;
    min-width: 120px;
    border-radius: 5px;
    border: 0px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px 15px;
    transition: 0.3s ease-in-out;
    a{
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
}

.btn-all:hover{
    background-color: #014c35;

}



@media (max-width:768px) {
    .w-100,.w-75, .w-50{
        width: 100% !important;
    }
}



/* custome checkbox */

/**----- html code eg. 
<label class="check-wrapper">One
  <input type="checkbox" checked="checked">
  <span class="ck-checkmark"></span>
</label>
 -----**/

    /* The check-wrapper */
    .check-wrapper {
        width: fit-content;
      display: block;
      position: relative;
      padding-left: 20px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .check-wrapper input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    .ck-checkmark {
      position: absolute;
      top: 0px;
      left: 0;
      height: 16px;
      width: 16px;
      border-radius: 2px;
      background-color: #eee;
    }
    
    /* On mouse-over, add a grey background color */
    .check-wrapper:hover input ~ .ck-checkmark {
      background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .check-wrapper input:checked ~ .ck-checkmark {
      background-color: #007955;
    }
    
    /* Create the ck-checkmark/indicator (hidden when not checked) */
    .ck-checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the ck-checkmark when checked */
    .check-wrapper input:checked ~ .ck-checkmark:after {
      display: block;
    }
    
    /* Style the ck-checkmark/indicator */
    .check-wrapper .ck-checkmark:after {
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }


/* website main css end */






/* website login page css start */

.bg-wrapper{
    background-image: url('../images/bg-1.png');
    background-size: 100% 100%;
    min-height: 100vh;
    .login-wrapper{
     
    .block1{
        min-height: 100vh;
        padding: 40px;
        

        .imgCol{
            .imgBox{
                img{
                    height: 350px;
                    width: 350px;
                }
            }


        }

        .formCol{
    
                .card-body{
                    box-shadow: rgba(120, 120, 111, 0.2) 0px 7px 29px 0px;
                    border: 1px solid #e5e5e5;
                    height: 420px;
                    
                    .loginLogoBox{
                        background-image: linear-gradient(rgba(235, 252, 247, 0.0),rgba(235, 252, 247, 0.0)),url('../images/flag2.png');
                        // background-size: 240% 240%;
                        background-size: 100% 100%;
                        background-position: center center;
                        background-color: white;
                        padding: 20px 20px ;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .head-tag{
                                    font-size: 26px;
                                    text-align: center;
                                    color: #007955;
                                    font-family: 'Nunito', sans-serif;
                                    font-family: 'Nunito Sans', sans-serif;
                        }
                        .img-1{
                            height: 150px;
                            width: 150px;
                            margin: auto;
                        }
                        .img-2{
                            height: 60px;
                            width: 200px;
                            margin: auto;
                        }
                    }

                    .loginFormBox{
                        background-color: rgb(255, 255, 255);
                        background-image: linear-gradient(rgba(235, 252, 247, 0.9),rgba(235, 252, 247, 0.9)),url('../images/School\ Desktop\ Wallpaper\ \(1\).png');
                        background-size: 150%;
                        background-position: center center;
                        padding: 20px;
                        position: relative;
                        form{
                           
                      
                            
                            .form-group{
                                .subhead-tag{
                                    color: #007955;
                                    font-weight: bolder;
                                }

                                input{
                                    border: 0px;
                                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                }

                            }
                            .online-reg{
                                position: absolute;
                                bottom: 20px;
                                right: 20px;
                            }
                        }
                    }
                }
       
        }
    }
}

}
@media (max-width:1000px) {
    .bg-wrapper{
        background-image: url('../images/bg-1.png');
        background-size: 100% 100%;
        .login-wrapper{
        .block1{
            height: 100%;
            padding: 10px  ;
            .formCol{
                
                    .card-body{
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        border: 1px solid #e5e5e5;
                        height: 100%;
                        
                        .loginLogoBox{
                            background-image: linear-gradient(rgba(235, 252, 247, 0.0),rgba(235, 252, 247, 0.0)),url('');
                            background-size: 240% 240%;
                            background-position: center center;
                            background-color: white;
                            padding: 20px 20px ;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .head-tag{
                                        font-size: 18px;
                                        text-align: center;
                                        color: #007955;
                                        font-weight: bolder;
                            }
                            .img-1{
                                height: 100px;
                                width: 100px;
                                margin: auto;
                            }
                            .img-2{
                                height: 50px;
                                width: 200px;
                                margin: auto;
                            }
                        }
    
                        .loginFormBox{
                            background-color: rgb(255, 255, 255);
                            background-image: linear-gradient(rgba(235, 252, 247, 0.9),rgba(235, 252, 247, 0.9)),url('../images/School\ Desktop\ Wallpaper\ \(1\).png');
                            background-size: 150%;
                            background-position: center center;
                            padding: 20px;
                            position: relative;
                            form{
                               
                          
                                
                                .form-group{
                                    .subhead-tag{
                                        color: #007955;
                                        font-weight: bolder;
                                    }
    
                                    input{
                                        border: 0px;
                                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                    }
                                }
                                .online-reg{
                                    margin-top: 20px;
                                    position: static;
                                    bottom: 0;
                                    right: 0;
                                }
                            }
                        }
                    }
           
            }
        }
    }
    
    }
}

/* website login page css end */
