
p{
    margin-bottom:3px!important
}
.greetcard {
    background-color: #F6FAF8;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.greettxt {
    color: #005D5A;
    font-size: 25px;
}
.card {
    margin-bottom: 5px!important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.card-title {
    font-size: 20px;
    font-weight: 500 !important;
    color: #555555
}
#pieChart, #pieChart2, #pieChart3, #pieChart4, #pieChart5, #pieChart6, #pieChart7, #pieChart8, #pieChart9 {
    height: 127px !important;
}
.cardgreen {
    background-color: #EAF9E94D;
}
.textdgreen {
    color: #077A56;
}
.textlgreen {
    color: #76BE4E;
}
.textlred {
    color: #C96D61;
}
.cardblue {
    background-color: #DBEAF84D;
}

.table-scroll-x-y .no-border thead th {
    background-color: #ffffff !important;
}
.lightgreenbtn {
    padding: 2px 8px;
    background-color: #F6FEEC;
    border: 1px solid #077A5633
}
.lightbluebtn {
    padding: 2px 8px;
    background-color: #F1FFFF;
    border: 1px solid #077A5633
}
.no-border td, .tno-border tr th {
    padding: 0.1rem 0.5rem;
}
    

.classheader {
    border: 1px solid #077A5633;
    padding:10px 8px;
    background: linear-gradient(263.25deg, #76BE4E 4.43%, #077A56 101.62%);
    color: #ffffff;
    font-size:15px;
}
.classtimeheader {
    border: 1px solid #077A5633;
    padding: 10px 8px;
    background: #76BE4E;
    color: #ffffff;
    font-size: 15px;
}
.darkgreenbtn {
    background: #077A56;
    color: #ffffff;
    padding: 10px 8px;
    font-size: 16px;
}
.houseitem {
    background: #DBEAF8;
    border: 1px solid #034DF133;
    
}
.houseincinfo {
    background: #C3DFF9;
    border: 1px solid #034DF133;
    padding:5px;
}
.smalliconimg{
    height:15px;
    width:15px;
    margin-right:5px;
}
.housemainbox{
    padding:5px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F8FCF7;
}



.slider {
    --slider-padding: 1rem;
    --slider-column-gap: 1rem;
    --slide-width: 25%;
    --slide-min-width: 15rem;
    position: relative;
    overflow: hidden;
    background-color: #fff!important;
}

.slider__track {
    display: flex;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    padding-inline: var(--slider-padding);
    scroll-behavior: smooth;
    list-style-type: none;
    padding: 0;
    margin-right: calc(var(--slider-column-gap) * -1);
}

    .slider__track > * {
        flex: 0 0 var(--slide-width);
        min-width: var(--slide-min-width);
        scroll-snap-align: start;
        scroll-snap-stop: always;
        padding-right: var(--slider-column-gap);
    }

    .slider__track::-webkit-scrollbar {
        display: none;
    }

.slider__button {
    color: #000000;
    border: 2px solid #00000033;
}

.slider__buttons [disabled] {
    opacity: 0.5;
}

.bdaycard {
    background-color: #EEFFFA;
    border: 1px solid #077A5680;
    border-radius:6px;
}

.bdaycarde {
    background-color: #F2FFEB;
    border: 1px solid #077A5680;
    border-radius: 6px;
}
.slider:before {
    display:none;
}
.oval-btn{
    border-radius:69px;
}