.admin_dashboard .blue {
    background: transparent;
}
.subject_box span.upDownArrow{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
}
.subject_box span.ellipseBg{
	padding: 5px 10px;
	border-radius: 50px;
	color: #2D3333;
}
.green .subject_box span.ellipseBg{
	background: rgba(91, 193, 145, 0.5);
}
.red .subject_box span.ellipseBg{
	background: rgba(202, 53, 40, 0.5);
}
.blue .subject_box span.ellipseBg{
	background: rgba(99, 195, 236, 0.5);
}
.purple .subject_box span.ellipseBg{
	background: rgba(121, 59, 182, 0.5);
}
 .green .subject_box span.upDownArrow{
 	color: rgba(91, 193, 145, 0.5);
}
 .red .subject_box span.upDownArrow{
 	color: rgba(202, 53, 40, 0.5);
}
 .blue .subject_box span.upDownArrow{
 	color: rgba(99, 195, 236, 0.5);
}
 .purple .subject_box span.upDownArrow{
 	color: rgba(121, 59, 182, 0.5);
}
.admin_dashboard .subject_box {
    /*height: auto !important;*/
    height: 140px;
}
.pie_height{
	height: 140px;
	width: 140px;
}
.note_flex h5{
	font-size: 12px;
}
.student_analysis .two-heading{
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}
.student_analysis .green_bg .two-heading{
	border-bottom: none;
}
.student_analysis .green_bg{
	height: auto;
}
.half_white .subject_box{
	background: rgba(239, 245, 247, 1);
}
.admin_dashboard .class-card.lgreen .subject_box{
	background: #EAF9E9;
}
.avail_houses .subject_box{
	border-radius: 10px 10px 0 0;
}
.over_fee h2{
	font-size: 18px;
	color: #2D3333;
	margin-bottom: 0;
	text-align: right;
	line-height: 1;
	padding: 5;
}
.over_fee {
	background: #E9F2EE;
	border: none;
}
.over_fee h2 hr{
	margin-bottom: 3px;
	margin-top: 5px;
}
.over_fee h2 span{
	font-size: 15px;
	color: #2d33339c;
}
.over_fee i{
	font-size: 30px;
}
.over_fee .blue_box{
	margin-bottom: 0;
}
.green_box {
    background: rgb(118, 191, 78, 0.1);
}
.green_box i{
    color: rgb(118, 191, 78, 1);
}
.red_box i{
    color: rgba(202, 53, 40, 1);
}
.blue_box i{
    color: rgba(61, 135, 236, 1);
}
.green_box {
    border-radius: 10px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.green_box .green_box {
    background: rgb(118, 191, 78, 0.2);
    margin-bottom: 0;
}
.feeCollected table tr td:nth-child(2){
	color: #00B800;
	text-align: right;
}
.feeCollected table tr th:nth-child(2),
.feeCollected table tr th:nth-child(3),
.feeCollected table tr th:nth-child(4){
	text-align: right;
}
.feeCollected table tr td:nth-child(3){
	color: red;
	text-align: right;
}
.feeCollected table tr td:nth-child(4){
	color: #5250FA;
	text-align: right;
}
.feeCollected table tr td:nth-child(5){
	text-align: center;
}
.admin_dashboard table td .user_img{
	margin-right: 10px;
}
.attendance_overview {
	background: #F6FAF8;
	padding-top: 20px;
	border-radius: 10px;
}
.attendance_overview .row{
	padding: 0 50px;
}
.classes_tab .fa-arrow-down, .teach_per .fa-arrow-down{
	color: red;
}
.classes_tab .fa-arrow-up, .teach_per .fa-arrow-up {
	color: green;
}
.classes_tab table tr td, .teach_per table tr td{
	vertical-align: middle;
	border: none;
}
.classes_tab .d-flex{
	align-items: center;
}
.classes_tab .d-flex p{
	margin-bottom: 0;
	padding-left: 20px;
}
.classes_tab .tab-content.alter_green{
	padding: 30px;
	background: rgba(91, 193, 145, 0.1);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.classes_tab .tab-content .row:first-child{
	background: #fff;
	border-radius: 10px;
}
.hw_ass .tab-pane .table-responsive, .teach_per .table-responsive{
	height: 300px;
}
/*.hw_ass .borderRadius{
	border: 1px solid #eef9f4;
}*/
/*.hw_ass .tab-pane .table-responsive th, .teach_per .table-responsive th{
	position: sticky;
	top: 0;
}*/

/* width */
.table-responsive::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
  background: #c0bdcc; 
}

/* Handle on hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #7a86a1; 
}



#nav-tab2 .nav-link, #nav-tab3 .nav-link, #nav-tab4 .nav-link, #nav-tab5 .nav-link, #nav-tab6 .nav-link,
#nav-tab8 .nav-link, #nav-tab9 .nav-link, #nav-tab10 .nav-link, #nav-tab11 .nav-link, #nav-tab12 .nav-link,
#nav-tab13 .nav-link, #nav-tab14 .nav-link,

#nav-tab2 .nav-link.active, #nav-tab3 .nav-link.active, #nav-tab4 .nav-link.active, #nav-tab5 .nav-link.active,
#nav-tab6 .nav-link.active, #nav-tab8 .nav-link.active, #nav-tab9 .nav-link.active, #nav-tab10 .nav-link.active,
#nav-tab11 .nav-link.active, #nav-tab12 .nav-link.active, #nav-tab13 .nav-link.active, #nav-tab14 .nav-link.active {
    width: 100px;
}
#nav-tab6{
	border-bottom: none;
}
.h-auto{
	height: auto;
}
/*donut chart library books*/
#canvas-holder {
  /*width: 100%;
  margin-top: 50px;
  text-align: center;*/
  width: 200px;
  height: 200px;
}
#canvas-holder canvas{
	width: 200px !important;
	height: 200px !important;
}
#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/*.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}*/
.lib_books table tr th{
	white-space: nowrap;
}
.lib_books table tr td:nth-child(3){
	background: rgba(0, 128, 255, 0.1);
}
.lib_books table tr td:nth-child(4){
	background: rgba(91, 193, 145, 0.1);
}
.lib_books table tr td:nth-child(5){
	background: rgba(253, 244, 218, 1);
}
.lib_books table tr td:nth-child(6){
	background: rgba(202, 53, 40, 0.1);
}
.lib_books table tbody tr:nth-child(1) td:nth-child(3){
	border-top: 3px solid rgba(0, 128, 255, 1);
}
.lib_books table tbody tr:nth-child(1) td:nth-child(4) {
   border-top: 3px solid rgba(91, 193, 145, 1);
}
.lib_books table tbody tr:nth-child(1) td:nth-child(5) {
    border-top: 3px solid #f6b900;
}
.lib_books table tbody tr:nth-child(1) td:nth-child(6) {
    border-top: 3px solid #D65653;
}
.lib_books .table-responsive{
	height: 300px;
}
.lib_books .table-responsive table{
	table-layout: fixed;
	}
.lib_books .table-responsive th{
	position: sticky;
	top: 0;
}
.lmschange{
	border-radius: 10px;
}
.acc_activity{
	width: 100%;
}
.acc_activity .note_flex {
    justify-content: space-between;
}
.acc_activity .note_flex{
	border-bottom: 1px solid #DDDDDD;
	align-items: baseline;
}
.acc_activity .note_flex:last-child{
	border-bottom: none;
}
.student_analysis .d-flex, .attendance_overview .d-flex{
	justify-content: space-between;
}
.student_analysis .subject_box h3{
	color: #65708D;
}
.student_analysis .subject_box h5 span{
	color: #2D3333;
}

.girl_icon, .boy_icon, .circle_icon {
	padding-left: 20px;
	position: relative;
	line-height: 2;
}
h5.girl_icon:before, h5.boy_icon:before, h5.circle_icon:before{
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	background-size: contain !important;
	margin-right: 10px;
	left: 0;
	top: 8px;
}



h5.girl_icon:before{
	background: url(../images/admin_dashboard/girl.png) no-repeat center;
}
h5.boy_icon:before{
	background: url(../images/admin_dashboard/boy.png) no-repeat center;
}
h5.circle_icon{
	padding-left: 20px;
}
h5.circle_icon:before {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-size: auto;
    position: absolute;
    left: 0;
}
.blue h5.circle_icon:before{
	background: rgba(0, 128, 255, 1);
}
.purple h5.circle_icon:before{
	background: rgba(121, 59, 182, 1);
}
.green h5.circle_icon:before{
	background: rgba(91, 193, 145, 1);
}
.red h5.circle_icon:before{
	background: rgba(202, 53, 40, 1);
}
.subject_box h5{
	margin-bottom: 10px;
}
.admin_dashboard .green_box{
	background: rgba(118, 191, 78, 0.1);
}
.admin_dashboard .red_box{
	background: rgba(202, 53, 40, 0.1);
}
.admin_dashboard .blue_box{
	background: rgba(61, 135, 236, 0.1);
}

.admin_dashboard .green_box .green_box{
	background: rgba(118, 191, 78, 0.2);
}
.admin_dashboard .red_box .red_box{
	background: rgba(202, 53, 40, 0.2);
}
.admin_dashboard .blue_box .blue_box{
	background: rgba(61, 135, 236, 0.2);
}
.admin_dashboard .lgreen span {
    padding-left: 0px;
}
.sms_balance .acc_activity{
	background: #F6FAF8;
	border-radius: 10px;
	border:  1px solid #DDDDDD;
	padding: 10px;
}
.sms_balance .acc_activity .note_flex:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.sms_balance .acc_activity .note_flex h5 span{
	color: #2D3333;
	font-size: 16px;
	font-weight: 500;
	padding-left: 0;
}
.sms_balance .acc_activity .note_flex h5{
	font-size: 12px;
}
.total_not table td{
	color: #7A86A1;
	size: 14px;
	vertical-align: baseline;
}
.total_not table td h5{
	color: #2D3333;
	size: 14px;
}
.total_not table td h5 span{
	size: 17px;
}
.total_not table td:last-child{
	text-align: right;
}
.admin_dashboard #attendanceChart{
	height: 380px !important;
}
#attendanceChartLine{
	height: 330px !important;
	background: #F6FAF8;
	border-radius: 10px;
	padding: 10px;
}
.total_not table{
	width: 100%;
}
.admin_dashboard .slidercontainer {
    padding-top: 0;
}
.admin_dashboard .green_bg{
	margin-bottom: 0;
}

.purple_box, .yellow_box, .red_box, .blue_box, .green_box{
	padding: 10px 20px;
	padding-right: 10px;
}
.exp_date {
	font-size: 12px;
	color: #D91818;
	padding-left: 5px;
}
h5 {
    font-weight: 400;
}
.w-40{
	width: 40px !important;
	height: 40px !important;
}
.rem1, .rem2, .rem3 {
    height: 40px;
    width: 40px;
    }

    .note_flex div:first-child {
        padding-left: 0px;
    }
    .no-wrap{
    	white-space: nowrap;
    }
    .targetDiv, .targetDiv2{
    	display: none;
    }
.recentActivity table tr td:nth-child(2){
	width: 53%;
}
/*.show_hide{
	height: 15px;
	cursor: pointer;
}
.target{
	display: block;
}*/
.recentActivity table tr:nth-child(odd) td:first-child{
	width: 40px;
}
.recentActivity table td .user_img {
    margin-right: 0px;
}
.total_not  table tr td:first-child{
	width: 45px;
}
.total_not img{
	margin-top: 15px;
}
.showSingle.active td{
	background: #DEF3E9 !important;
}
.showSingle2.active td{
	background: #DEF3E9 !important;
}
.ml-15{
	margin-left: -8px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.ml-15 table{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.legend_sec{
	padding-left: 10px;
	padding-top: 20px;
}
.legend_sec h4{
	font-size: 17px;
}
.legend_sec h5{
	padding-left: 20px;
	position: relative;
	font-size: 14px;
	color: #2D3333;
	font-weight: 500;
}
.legend_sec h5:before{
	content: "";
	height: 16px;
	width: 16px;
	position: absolute;
	left: 0px;
}
h5.books_taken:before{
	background: #5250FA;
}
h5.b_returned:before{
	background: #00B800;
}
h5.yet_return:before{
	background: #F4933C;
}
h5.b_lost:before{
	background: #D65653;
}
.student_analysis .subject_box h5, .student_analysis .lgreen .subject_box h5,
.attendance_overview .subject_box h5,
.staff_anal .subject_box h5{
    font-size: 0.95rem;
    margin-top: 20px;
}
.staff_anal .d-flex {
    justify-content: space-between;
}
.student_analysis .lgreen span {
    font-size: 0.95rem;
}

.subject_box input{
    border: none;
    background: transparent;
    width: 100%;
    padding-bottom: 20px;
}
/*.toggle-password {
    cursor: pointer;
}
#classTestReport{
	height: 323px !important;
}*/
.lms_sub{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.lms_sub span{
	font-weight: bold;
	/*display: block;*/
}
.lmsmaths{
	position: relative;
	padding-right: 25px;
}
.lmsmaths:before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #75BE4D;
    position: absolute;
    left: -12px;
    top: 6px;
    background: #75BE4D;
}
.lmseng:before{
	background: #F6DA3E;
}
.lmssci:before{
	background: #B363E6;
}
.lmsnep:before{
	background: #EB642E;
}
.lmscomp:before{
	background: #FF9800;
}
.lmshin:before{
	background: #88B1F8;
}
/*.lms_height{
	height: 400px !important;
}*/

#nav-tab17 .nav-link, #nav-tab18 .nav-link, #nav-tab9 .nav-link, #nav-tab10 .nav-link{
    width: 100px;
}

#nav-tab17 .nav-link.active, #nav-tab18 .nav-link.active, #nav-tab9 .nav-link.active, #nav-tab10 .nav-link.active {
    color: #fff;
    background-color: #005A57;
    border-bottom: 2px solid transparent !important;
    border-radius: 50px;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    flex: 0 auto;
}

#nav-tab17 .nav-link, #nav-tab18 .nav-link, #nav-tab9 .nav-link, #nav-tab10 .nav-link

{
    border-bottom: 2px solid transparent !important;
    border-radius: 50px;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
    flex: 0 auto;
}
#nav-tab17, #nav-tab18, #nav-tab9, #nav-tab11 {
    border-bottom: none;
}

/*.lib_books table tr th:first-child {
    width: 110px;
}*/
.lib_books table tr th:first-child {
    width: 110px;
   z-index: 99;
}
.lib_books table tr th {
    width: 85px;
}
.lib_books table tr:first-child td:first-child, .lms_month table tr:first-child td:first-child{
     border-top-left-radius: 0;
     border-top: 0; 
}
.lms_month .table-responsive{
	height: 340px;
}
table tr th:first-child, table tr td:first-child  {
   position: sticky;
   left: 0;
}
/*.lib_books table tr th:nth-child(2) {
    width: 15%;
}
.lib_books table tr th:nth-child(3) {
    width: 15%;
}
.lib_books table tr th:nth-child(4) {
    width: 15%;
}
.lib_books table tr th:nth-child(5) {
    width: 20%;
}
.lib_books table tr th:nth-child(6) {
    width: 15%;
}
.lib_books table tr:first-child td:first-child {
    border-top: 0;
}*/
.fee_head_table{
	border-radius: 10px;
	height: 330px;
	overflow: auto;
}
/*.full_table{
	height: 355px;
	    overflow: auto;
	    border-radius: 10px;
}
.full_table table{
	overflow: auto;
}
.full_table table thead{
position: sticky;
top: 0;
z-index: 9;
}*/

.table-responsive{
	height: 330px;
	    overflow: auto;
	    border-radius: 10px;
}
.table-responsive table{
	overflow: auto;
}
.table-responsive table thead{
position: sticky;
top: 0;
z-index: 9;
}

.project-tab2 .nav-tabs, .project-tab3 .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-wrap: nowrap;
    background: rgba(91, 193, 145, 0.1);
}

.project-tab2 #tabs .nav-tabs .nav-item.show .nav-link, .project-tab3 #tabs .nav-tabs .nav-item.show .nav-link {
    color: #2D3333;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 2px solid #76BF4E!important;
    font-size: 16px;
    font-weight: bold;
}

.project-tab2 .nav-link, .project-tab3 .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgba(45, 51, 51, 0.5);
    font-size: 16px;
    font-weight: 500;
}


canvas#examChart_class {
    height: 300px !important;
}
#examChart_class {
    background: #F6FAF8;
    border-radius: 10px;
    padding: 10px;
}
.eye_section img{
	width: 20px;
	cursor: pointer;
}

@media (max-width: 767px){
	.pie_height {
		margin: 15px auto;
}
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
    border-color: transparent;
}