iframe {
    display: block;
    background: #f4f6f7;
    border: none;
    height: calc(100vh - 57px);
    width: 100%;
}
            

@media(min-width: 768px) {
    body:not(.sidebar-mini-md) .if-page-have-nav-tabs {
        transform: none;
        margin-left: 0;
    }
}

.if-page-have-nav-tabs {
    margin: 0 !important;
    transition: none !important;
    top: 45px !important;
    background: #fff !important;
    left: 0 !important;
    position: fixed !important;
    right: 0 !important;
    z-index: 1030 !important;
}

@media(max-width: 1199px) {
    .iframe-content-starts-here {
        padding-top: 66px;
    }
}
.iframe-content-starts-here {
    padding-top: 66px !important;
}

.if-page-have-nav-tabs .nav-tabs.cstm-nav-tabs-border-bottom-active > .nav-item > .nav-link {
    padding-top: 1rem !important;
}

.if-page-have-nav-tabs + .tab-content > .row.mb-3 {
    margin-bottom: 0 !important;
}

/*.if-page-have-nav-tabs + .tab-content {
    padding-top: 36px;
}
*/
