.p-2 {
    padding: 12px !important;
}

body {
    background: aliceblue;
}



.btn-secondary {
    background-color: #f5f5f9 !important;
    color: #777 !important;
    border-color: #d4d4d4 !important;
}

form p {
    font-size: 120%;
    background: #009688;
}

.ctrlqHeaderMast {
    height: 278px;
    background: #009688;
}

.card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

.ctrlqFormContentWrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column
}

.ctrlqAccent {

    height: 8px;
}

.ctrlqCenteredContent {
    margin: auto;
    width: 600px;

}

.ctrlqFormCard {

    margin-bottom: 48px;


    word-wrap: break-word
}

.ctrlqFormCard:first-of-type {
    margin-top: -200px;
}

.ctrlqHeaderTitle {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 34px;
    line-height: 135%;
    max-width: 100%;
    min-width: 0%;
    margin-bottom: 22px
}

@media(min-width:900px) {
    .ctrlqFormCard {
        width: 770px;
        margin-left: -10vh;

    }
}

@media (max-width: 660px) {
    .ctrlqHeaderMast {
        height: 122px;
    }

    .ctrlqFormCard:first-of-type {
        margin-top: -100px;


    }

    .ctrlqCenteredContent {
        width: 90%;
    }
}


header {
    font-size: 16px;

}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}



.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.dark-bg{
    padding:0px; margin-bottom: 0px !important;text-align:center"
}