<style>
    .can-edit {
        background-color: rgb(231 240 230);
        border: 1px solid #e0e4e7;
    }
</style>
<script src="~/jslib/Setup/AppFeatures.js?v=20251115"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="AppFeaturesController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <section class="iframe-content-starts-here">
                <div class="tab-content" id="book-section">

                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Student Login</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="edition-tab" data-toggle="tab"
                                               href="#edition" role="tab" aria-controls="edition"
                                               aria-selected="false">Teacher login</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="board-tab" data-toggle="tab"
                                               href="#board" role="tab" aria-controls="board"
                                               aria-selected="false">admin login</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="student-form">
                                    <div class="card card-default">
                                        <div class="card-body px-0 py-2">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <form class="form-inline mb-2">
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search"
                                                                   placeholder="Search"
                                                                   aria-label="Search" style="min-width:200px" ng-model="searchData.StudentWise" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-8 text-right">
                                                    <button type="button"
                                                            class="btn btn-sm btn-success"
                                                            style="min-width: 90px" ng-click="SaveUpdateStudentAppFeatures()">
                                                        <i class="fas fa-database w-t"></i>Update Data
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row1">
                                                <div class="table-scroll-x-y sales-main-table table-scroll mt-1" style="max-height: calc(100vh - 10rem);">
                                                    <table class="table table-bordered table-head-fixed">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center cstm-sticky align-middle" style="width: 50px;z-index:4;left:0;background-color:#ececec!important">S.No.</th>
                                                                <th class="cstm-sticky align-middle" style="width: 150px; z-index: 4; left: 50px; background-color: #ececec !important">Module Name</th>
                                                                <th class="cstm-sticky align-middle" style="width: 170px; z-index: 4; left: 200px; background-color: #ececec !important ">Entity Name</th>
                                                                <th class="text-center" style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                                    <label for="fullcheck">All</label>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="fullcheck" ng-model="newAllowEntity.Full" ng-change="CheckAllFull()">
                                                                        <label for="fullcheck" class="custom-control-label"></label>
                                                                    </div>
                                                                </th>
                                                                <th class="text-center" style="width: 100px; background-color: #ececec !important;z-index:3" ng-repeat="cl in ClassList">
                                                                    <label for="customCheckboxHeaderS{{$index}}">{{cl.text}}</label>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox" id="customCheckboxHeaderS{{$index}}" ng-model="cl.IsAllow" ng-change="CheckUnCheckAllClass(cl)">
                                                                        <label for="customCheckboxHeaderS{{$index}}" class="custom-control-label"></label>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="af in AppFeaturesListS | filter:searchData.StudentWise">
                                                                <td class="text-center cstm-sticky" style="left:0;background-color:#ffffff!important;z-index:3">{{$index+1}}</td>
                                                                <td class="cstm-sticky" style="left:50px;background-color:#ffffff!important;z-index:3">{{af.ModuleName}}</td>
                                                                <td class="cstm-sticky" style="left: 200px; background-color: #ffffff !important; z-index: 3">{{af.Name}}</td>
                                                                <td class="text-center">
                                                                    <div class="custom-control custom-checkbox checkbox-lg">
                                                                        <input type="checkbox"
                                                                               class="custom-control-input"
                                                                               id="checkbox-sms-1-{{$index}}"
                                                                               value="" ng-model="af.Full" />

                                                                        <label class="custom-control-label"
                                                                               for="checkbox-sms-1-{{$index}}"></label>
                                                                    </div>
                                                                </td>
                                                                <td class="text-center" ng-repeat="cl in ClassList">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox" id="customCheckbox{{af.Name}}_{{cl.id}}" ng-model="af.ClassPermissions[cl.id].IsAllow" />
                                                                        <label for="customCheckbox{{af.Name}}_{{cl.id}}" class="custom-control-label"></label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade main-section" id="edition" role="tabpanel"
                                 aria-labelledby="edition-tab">
                                <div id="teacher-form">
                                    <div class="card card-default">
                                        <div class="card-body p-2">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group d-flex">
                                                        <label class="mt-1" style="width:90px;">For User </label>
                                                        <select class="form-control form-control-sm select2 w-100" ng-model="newEmp.ForUserId" ng-change="GetAllAppEmpFeatures()" style="width:100%">
                                                            <option ng-value="0">**Select User**</option>
                                                            <option ng-value="cl.UserId" ng-repeat="cl in UserList">{{cl.UserName}} ({{cl.Name}})</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="btn btn-sm btn-success"
                                                            style="min-width: 90px" ng-click="SaveUpdateEmpAppFeatures()">
                                                        <i class="fas fa-database w-t"></i>Update Data
                                                    </button>

                                                </div>
                                                <div class="col-md-4">
                                                    <form class="form-inline mb-2 float-right">
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search"
                                                                   placeholder="Search"
                                                                   aria-label="Search" style="min-width:200px" ng-model="searchData.EmployeeWise" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height: calc(100vh - 10rem);">
                                                    <table class="table table-bordered table-head-fixed">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center align-middle" style="width: 50px;">S.No</th>
                                                                <th class="text-center align-middle" style="width: 50px;">Module Order No</th>
                                                                <th class="align-middle" style="width: 200px;">Module Name</th>
                                                                <th class="text-center align-middle" style="width: 50px;">Entity Order No</th>
                                                                <th class="align-middle" style="width: 200px;">Entity Name</th>
                                                                <th class="text-center" style="width: 100px;" ng-repeat="role in RolesList">
                                                                    <label for="customCheckboxHeader{{$index}}">{{role.Name}}</label>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox" id="customCheckboxHeaderEmp{{$index}}" ng-model="role.IsAllow" ng-change="CheckUnCheckAllRole(role)">
                                                                        <label for="customCheckboxHeaderEmp{{$index}}" class="custom-control-label"></label>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="af in AppFeaturesListEmp | filter:searchData.EmployeeWise">
                                                                <td class="text-center">{{$index+1}}</td>
                                                                <td class="text-center">{{af.MOrderNo}}</td>
                                                                <td>{{af.ModuleName}}</td>
                                                                <td class="text-center">{{af.EOrderNo}}</td>
                                                                <td>{{af.Name}}</td>
                                                                <td class="text-center" ng-repeat="role in RolesList">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox" id="customCheckboxEmp{{af.Name}}_{{role.RoleId}}" ng-model="af.RolePermissions[role.RoleId].IsAllow" />
                                                                        <label for="customCheckboxEmp{{af.Name}}_{{role.RoleId}}" class="custom-control-label"></label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade main-section" id="board" role="tabpanel"
                                 aria-labelledby="board-tab">
                                <div id="admin-form">
                                    <div class="card card-default">
                                        <div class="card-body p-2">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group d-flex">
                                                        <label class="mt-1" style="width:90px;">For User </label>
                                                        <select class="form-control form-control-sm select2 w-100" ng-model="ForUserId" ng-change="GetAllAppFeatures()" style="width:100%">
                                                            <option ng-value="0">**Select User**</option>
                                                            <option ng-value="cl.UserId" ng-repeat="cl in AdminUserList">{{cl.UserName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button"
                                                            class="btn btn-sm btn-success"
                                                            style="min-width: 90px" ng-click="SaveUpdateAppFeatures()">
                                                        <i class="fas fa-database w-t"></i> Update Data
                                                    </button>
                                                </div>
                                                <div class="col-md-4">
                                                    <form class="form-inline mb-2 float-right">
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search"
                                                                   placeholder="Search"
                                                                   aria-label="Search" style="min-width:200px" ng-model="searchData.AdminWise" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="row1">
                                                <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height: calc(100vh - 10rem);">
                                                    <table class="table table-bordered table-head-fixed text-nowrap">
                                                        <thead class="text-nowrap">
                                                            <tr>
                                                                <th class="text-center align-middle" style="width: 60px;">S.No.</th>
                                                                <th class="align-middle" style="width: 300px;">Module Name</th>
                                                                <th class="align-middle" style="width: 300px;">Entity Name</th>
                                                                <th style="width: 120px;" class="text-center">
                                                                    <div style="margin-left: 6px;  margin-top: -5px;"
                                                                         class="custom-control custom-checkbox checkbox-lg">
                                                                        <input type="checkbox"
                                                                               class="custom-control-input"
                                                                               id="checkbox-221" ng-model="checkAll.Admin" ng-change="CheckAllAdmin()" />
                                                                        <label class="custom-control-label" for="checkbox-221" style="font-size: 0.6875rem; font-weight: 600;">Allow Entity</label>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="af in AppFeaturesList | filter:searchData.AdminWise">
                                                                <td class="text-center">{{$index+1}}</td>
                                                                <td>{{af.ModuleName}}</td>
                                                                <td>{{af.Name}}</td>
                                                                <td class="text-center">
                                                                    <div class="custom-control custom-checkbox checkbox-lg">
                                                                        <input type="checkbox"
                                                                               class="custom-control-input"
                                                                               id="checkbox-profile-adm-{{$index}}" ng-model="af.IsActive" />
                                                                        <label class="custom-control-label" for="checkbox-profile-adm-{{$index}}"></label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        
                        </div>
                    </div>
                </div>
                <!-- form area starts -->
            </section>
        </div>
        <!-- form area ends -->
        <!-- /.row -->
    </section>
</div>