

<script src="~/jslib/setup/Backup.js?v=20251115"></script>

<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="BackupController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="tab-content" id="pills-tabContent">
                    <!-- Second Tab Content -->
                    <div class="row" @*style="border-bottom: 2px dashed #76be4e;"*@>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Pass Key</label>
                                <input type="password" placeholder="" class="form-control form-control-sm" ng-model="beData.PassKey">
                            </div>
                        </div>
                        <div class="col-md-2"  ng-show="beData.IsSuccess==false">
                            <a href="#" class="btn btn-sm btn-success mt-4" ng-click="DoBackup()"><i class="fas fa-download"></i> DO Backup</a>
                        </div>
                        <div class="col-md-2" ng-show="beData.IsSuccess==true">
                            <a href="/Setup/Security/DownloadBackup?filePath={{beData.FilePath}}" class="btn btn-sm btn-success mt-4"><i class="fas fa-download"></i> Download</a>
                        </div>
                    </div>
          
                </div>
            </section>
        </div>
  
    </section>
</div>

