<script src="~/jslib/Setup/ChangePassword.js?v=20251115"></script>
<script>
    var rdVal = "@ViewBag.RD";
</script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ChangePasswordController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card p-2">
                            <div class="form-group">
                                <label for="">Current password</label>
                                <input type="password"
                                       class="form-control form-control-sm" ng-model="newChangePassword.CurrentPassword" />
                            </div>
                            <div class="form-group">
                                <label for="">New password</label>
                                <input type="password"
                                       class="form-control form-control-sm" ng-model="newChangePassword.NewPassword" />
                            </div>
                            <div class="form-group">
                                <label for="">Confirm password</label>
                                <input type="password" class="form-control form-control-sm" ng-model="newChangePassword.ConfirmPassword" />
                            </div>
                            <div>
                                <span>
                                    <b>Notes :-<br /></b>
                                    1. Spaces - Not Allowed <br />
                                    2. The minimum password length must be eight (8) characters.<br />
                                    3. Numeric Character - At least one character<br />
                                    4. At least one Capital Letter<br />
                                    5. Repetitive Characters - Allowed only two repetitive characters<br />
                                    6. The password must not be identical to the username.<br />
                                    7. The password must include at least one symbol(e.g., !, @@, #, $, %).<br />
                                </span>                               
                            </div>
                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearChangePassword()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateChangePassword()">{{newChangePassword.Mode}}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>

