
<script src="~/jslib/Setup/importData.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="clearDataController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">

                    <!-- form area starts -->
                    <div id="allow-branch-form">
                        <div class="card card-default">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="">Entity </label>
                                                    <select class="form-control form-control-sm select2" ng-model="ClearData.forEntityId">
                                                        <option ng-value="cl.id" ng-repeat="cl in EntityColl">{{cl.text}}</option>
                                                    </select>

                                                </div>
                                            </div>
                                             
                                            <div class="col-md-2 mt-4 ">
                                                <button type="button" class="btn btn-sm btn-danger" style="min-width: 90px;" ng-click="delData()">Delete</button>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>

                        </div>

                    </div>

                </div>

            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
   
</div>