
<script src="~/jslib/Setup/CompanyDetails.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="CompanyDetailsController" ng-init="LoadData()">
    <section class="iframe-content-starts-here" style="padding-top:45px!important">
        <div class="tab-content" id="setup-section">
            <!-- form area starts -->
            <div id="setup-form">
                <div class="card card-default">
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-md-4" id="meet-others">
                                        <div class="form-group">
                                            <label for="">Name</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Display Name</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.MailingName" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Address</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Address" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">State</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Zone" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Country</label>
                                            <select class="form-control form-control-sm" ng-model="newCompanyDetails.Country">
                                                <option value="India" ng-selected="newCompanyDetails.Country=='India'">India</option>
                                                <option value="Nepal" ng-selected="newCompanyDetails.Country=='Nepal'">Nepal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Zip Code</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.ZipCode" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">RegdNo.</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.RegdNo" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Pan/Vat No.</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.PanVatNo" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Phone No.</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.PhoneNo" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">{{'FAX_LNG' | translate}}</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.FaxNo" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Email Id</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.EmailId" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Website</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.WebSite" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Api URL</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.WebUrl" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Established </label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Established" />
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Affiliated To</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Affiliated" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Slogan </label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Slogan" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- timeline time label -->
                    <div class="time-label pb-3" style="margin-top: -10px;">
                        <span class="d-block border-0 p-1 text-center">

                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    style="min-width: 90px" ng-click="ClearCompanyDetails()">
                                Reset
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-success"
                                    style="min-width: 90px" ng-click="SaveUpdateCompanyDetails()">
                                Update
                            </button>
                        </span>
                    </div>
                    <!-- /.timeline-label -->
                </div>

            </div>

            <!-- form area ends -->
        </div>

    </section>

</div>