
<script src="~/jslib/setup/CYearClosing.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="CYearClosingController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-1" style="border:1px solid #cad8d2">
                            <div class="card-header p-2" style="background-color: #e9f2ee;">
                                <h3 class="card-title text-secondary"><b>Class Upgrade</b></h3>
                            </div>
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Exam</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.ExamAs">
                                                <option ng-value="1">Exam Type</option>
                                                <option ng-value="2">Exam Type Group</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Promote to</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.PromoteTo">
                                                <option ng-value="1">All Student</option>
                                                <option ng-value="2">Pass Student only</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Roll No</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.RollNoAs">
                                                <option ng-value="1">Rankwise</option>
                                                <option ng-value="2">Alphabetically</option>
                                                <option ng-value="3">As Previous RollNo</option>
                                                <option ng-value="4">Set zero (0) to all</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Section</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.SectionAs">
                                                <option ng-value="1">As It's'</option>
                                                <option ng-value="2">RankWise</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>From Year</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.FromAcademicYearId">
                                                <option ng-value="c.AcademicYearId" ng-repeat="c in AcademicYearColl">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>To Year</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.ToAcademicYearId">
                                                <option ng-value="c.AcademicYearId" ng-repeat="c in AcademicYearColl">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mt-4">
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="UpdateAcademicYear()">Default AcademicYear</button>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Cost Class</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.CostClassId">
                                                <option ng-value="c.CostClassId" ng-repeat="c in CostClassColl">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Opening Fee Head</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.OpeningFeeHeadingId">
                                                <option ng-value="c.FeeItemId" ng-repeat="c in FeeItemList">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            <label for="rboAtt1">Forward FeeMapping</label>
                                            <input type="checkbox" class="iradio_flat-green input-sm" name="rboAtt1" data-ng-value="1" ng-model="newYearClosing.ForwardFeeMapping" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            <label for="rboAtt2">Forward TransportMapping</label>
                                            <input type="checkbox" class="iradio_flat-green input-sm" name="rboAtt2" data-ng-value="1" ng-model="newYearClosing.ForwardTransportMapping" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            <label for="rboAtt3">Forward Hostel Mapping</label>
                                            <input type="checkbox" class="iradio_flat-green input-sm" name="rboAtt3" data-ng-value="1" ng-model="newYearClosing.ForwardBedMapping" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            <label for="rboAtt4">Forward DiscountSetup</label>
                                            <input type="checkbox" class="iradio_flat-green input-sm" name="rboAtt4" data-ng-value="1" ng-model="newYearClosing.ForwardDiscountSetup" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Closing Pwd.</label>
                                            <input type="password" class="form-control form-control-sm" ng-model="newYearClosing.Pwd" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mt-4">
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="GenerateOTP()">Generate OTP</button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Closing OTP.</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newYearClosing.OTP" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mt-4 text-right">
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateYearClosing()">Save</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height:calc(100vh - 21rem)">
                                    <table id="main-table"
                                           class="main-table table table-sm table-bordered bg-white">
                                        <thead>
                                            <tr>
                                                <th style="width: 100px;">From Class</th>
                                                <th style="width: 120px;">To Class</th>
                                                <th style="width: 120px;" ng-show="AcademicConfig.ActiveBatch==true">Batch</th>
                                                <th style="width: 100px;" ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">From Year/Semester</th>
                                                <th style="width: 100px;" ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">To Year/Semester</th>
                                                <th style="width: 160px;">Exam Name</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="cl in newYearClosing.ClassBatchColl">
                                            <tr>
                                                <td>{{cl.text}}</td>
                                                <td>
                                                    <select class="form-control form-control-sm" ng-model="cl.ToClassId">
                                                        <option ng-value="0">**Select Class**</option>
                                                        <option ng-value="c.id" ng-repeat="c in ClassList">{{c.text}}</option>
                                                    </select>
                                                </td>
                                                <td ng-show="AcademicConfig.ActiveBatch==true">
                                                    {{cl.Batch}}
                                                </td>
                                                <td ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">
                                                    <select class="form-control form-control-sm" ng-model="cl.FromClassYearId" ng-show="cl.ClassType==2">
                                                        <option ng-value="0">**Select Year**</option>
                                                        <option ng-value="c.id" ng-repeat="c in cl.SelectedClassClassYearList">{{c.text}}</option>
                                                    </select>
                                                    <select class="form-control form-control-sm" ng-model="cl.FromSemesterId" ng-show="cl.ClassType==3">
                                                        <option ng-value="0">**Select Semester**</option>
                                                        <option ng-value="c.id" ng-repeat="c in cl.SelectedClassSemesterList">{{c.text}}</option>
                                                    </select>
                                                </td>
                                                <td ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">
                                                    <select class="form-control form-control-sm" ng-model="cl.ToClassYearId" ng-show="cl.ClassType==2">
                                                        <option ng-value="0">**Select Year**</option>
                                                        <option ng-value="c.id" ng-repeat="c in cl.SelectedClassClassYearList">{{c.text}}</option>
                                                    </select>
                                                    <select class="form-control form-control-sm" ng-model="cl.ToSemesterId" ng-show="cl.ClassType==3">
                                                        <option ng-value="0">**Select Semester**</option>
                                                        <option ng-value="c.id" ng-repeat="c in cl.SelectedClassSemesterList">{{c.text}}</option>
                                                    </select>
                                                </td>
                                                <td ng-show="newYearClosing.ExamAs==1">
                                                    <select class="form-control form-control-sm" ng-model="cl.ExamTypeId">
                                                        <option ng-value="0">**Select ExamType**</option>
                                                        <option ng-value="et.ExamTypeId" ng-repeat="et in ExamTypeList">{{et.Name}}</option>
                                                    </select>
                                                </td>
                                                <td ng-show="newYearClosing.ExamAs==2">
                                                    <select class="form-control form-control-sm" ng-model="cl.ExamTypeGroupId">
                                                        <option ng-value="0">**Select ExamGroup**</option>
                                                        <option ng-value="et.ExamTypeGroupId" ng-repeat="et in ExamTypeGroupList">{{et.Name}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- table end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </section>
        </div>
    </section>
</div>
