
<script src="~/jslib/setup/security.js?v=20251115"></script>

<div ng-app="myApp" ng-controller="emailSetupCtrl" ng-class="{waiting: loadingstatus=='running'}">    
    <div class="p-4"></div>
    <div class="content">
        <div class="container-fluid">

            <div class="card" style="border:1px solid #ececec">
                <div class="card-header header-corner-triangle p-2">
                    <h3 class="card-title">Email Setup For Auto Email</h3>
                </div>
                <div class="card-body p-2">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email Id</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.EmailId">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.UserName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-sm" ng-model="beData.Password">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>SMTP</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.SMTP">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Test EmailId</label>
                                    <input type="email" class="form-control form-control-sm" ng-model="beData.TestEmailId">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Port</label>
                                    <input type="number" class="form-control form-control-sm" ng-model="beData.Port">
                                </div>
                            </div>




                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>SMS User</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.SMSUser">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>SMS Password</label>
                                <input type="password" class="form-control form-control-sm" ng-model="beData.SMSPwd">
                            </div>
                            <div class="col-sm-3">
                                <label>Mobile User </label>
                                <select class="form-control form-control-sm select2" ng-model="beData.SMSUserId">
                                    <option ng-value="0">**Select User**</option>
                                    <option ng-value="cl.UserId" ng-repeat="cl in UserList" ng-selected="beData.SMSUserId==cl.UserId">{{cl.UserName}}</option>
                                </select>
                            </div>

                            @*<div class="col-sm-3">
            <label>Use SSL</label>
            <input type="checkbox" class="form-control form-control-sm" ng-model="beData.UseSSL">
        </div>*@
                            <div class="col-md-3">
                                <div class="custom-control custom-checkbox mt-4">
                                    <input class="custom-control-input" type="checkbox"
                                           id="usessl" ng-model="beData.UseSSL">
                                    <label for="usessl"
                                           class="custom-control-label">
                                        Use SSL
                                    </label>
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>SMS API</label>
                                    <input type="text" class="form-control" ng-model="beData.SMSAPI">
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="text-center control-btns my-3">
                        @*<button type="button" class="btn btn-default">Cancel</button>*@
                        <button type="button" class="btn btn-success" style="min-width:70px" ng-click="UpdateEmailSetup()" ng-disabled="loadingstatus=='running'">Save</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>