
<script src="~/jslib/setup/security.js?v=20251115"></script>
<style>
    .third-level-scroll-only {
        height: 100px !important;
        overflow: unset;
    }
</style>
<div ng-app="myApp" ng-controller="irdapiLogCtrl" ng-class="{waiting: loadingstatus=='running'}">
    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
    <!-- Main content -->   
        <!-- Page Content  -->
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important;">
                <div class="card overflow-hidden">
                    <div class="card-header p-2 header-corner-triangle border">
                        <form action="" class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>IRD API REQUEST &amp; RESPONSE LOG:</h3>
                                </div>
                                <div class="input-group input-group-sm col-sm-3">
                                    <div class="d-inline-block">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">From:</span>
                                            </div>
                                            <input class="form-control text-dark input-sm" type="text" date-picker ng-model="apiLog.DateFrom_TMP" style="max-width:100px" date-detail="apiLog.DateFromDet" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">To:</span>
                                            </div>
                                            <input class="form-control text-dark input-sm" type="text" date-picker ng-model="apiLog.DateTo_TMP" style="max-width:100px" date-detail="apiLog.DateToDet" />
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm col-sm-3">
                                    <div class="d-inline-block">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Branch:</span>
                                            </div>
                                            <select class="form-control form-control-sm select2" style="max-width:200px" ng-model="apiLog.BranchId" data-placeholder="** Select Branch **">
                                                <option ng-value="0" selected>**all branch**</option>
                                                <option ng-value="cl.BranchId" ng-repeat="cl in BranchList">{{cl.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-success btn-sm" style="float: right; max-width: 100px" data-toggle="tooltip" data-placement="top" title="" data-original-title="Load" ng-click="GetData()" ng-disabled="loadingstatus=='running'"><i class="fas fa-download"></i> Load</a>
                                    </div>
                                </div>
                            </div>                            
                        </form>
                    </div>
                    <div class="card-body px-0 py-2">
                        <div class="row">
                            <div class="col-md-12">

                                <div id="datatable" style="height: calc(100vh - 12rem); width: 100%;" class="ag-theme-alpine" ag-grid="gridOptions"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        </div>      


    <footer class="main-footer control-btns">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group row">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <label class="mr-2 mt-1">Find :</label>
                        </div>
                        <input type="text" name="table_search" class="form-control text-dark input-sm" placeholder="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn-secondary btn-sm"><i class="fas fa-print" ng-disabled="loadingstatus=='running'"></i> Print</button>
                <button type="button" class="btn-info btn-sm" ng-click="onBtExport()"><i class="fas fa-file-export" ng-disabled="loadingstatus=='running'"></i> Export</button>
            </div>
        </div>
    </footer>

</div>