<script src="~/jslib/setup/NeverLogin.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="NeverLoginController">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <header class="if-page-have-nav-tabs px-2">
                                <div class="row upper-tab">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active"
                                            id="myTab"
                                            role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active"
                                                   id="profile-tab"
                                                   data-toggle="tab"
                                                   href="#profile"
                                                   role="tab"
                                                   aria-controls="profile"
                                                   aria-selected="false">Student Users</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link"
                                                   id="contact-tab"
                                                   data-toggle="tab"
                                                   href="#contact"
                                                   role="tab"
                                                   aria-controls="contact"
                                                   aria-selected="false">Employee Users</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link"
                                                   id="brand-tab"
                                                   data-toggle="tab"
                                                   href="#brand"
                                                   role="tab"
                                                   aria-controls="brand"
                                                   aria-selected="false">System Users</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade main-section active show"
                                     id="profile"
                                     role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <header class="row mt-2">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm" style="width: 250px;">
                                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-7 col-sm-7 text-right">
                                            <form class="form-inline  float-right">
                                                <button class="btn btn-sm btn-success mr-2" ng-click="GetData()"><i class="fas fa-sync-alt"></i> Load</button>
                                                <button type="button" class="btn btn-info btn-sm" ng-click="onBtExport()"><i class="fas fa-file-export" ng-disabled="loadingstatus=='running'"></i> Export</button>

                                            </form>

                                        </div>

                                    </header>
                                    <div class="card-body p-0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="datatable" style="height: calc(100vh - 8.5rem);width: 100%;" class="ag-theme-alpine"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade main-section"
                                     id="contact"
                                     role="tabpanel"
                                     aria-labelledby="contact-tab">
                                    <header class="row mt-2">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm" style="width: 250px;">
                                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="search2" ng-change="onFilterTextBoxChanged2()">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-7 col-sm-7 text-right">
                                            <form class="form-inline  float-right">
                                                <button class="btn btn-sm btn-success mr-2" ng-click="GetData()"><i class="fas fa-sync-alt"></i> Load</button>
                                                <button type="button" class="btn btn-info btn-sm" ng-click="onBtExport2()"><i class="fas fa-file-export" ng-disabled="loadingstatus=='running'"></i> Export</button>


                                            </form>

                                        </div>

                                    </header>
                                    <div class="card-body p-0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="datatable2" style="height: calc(100vh - 8.5rem); width: 100%;" class="ag-theme-alpine"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade main-section"
                                     id="brand"
                                     role="tabpanel"
                                     aria-labelledby="brand-tab">
                                    <header class="row">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm" style="width: 250px;">
                                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="search3" ng-change="onFilterTextBoxChanged3()">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-7 col-sm-7 text-right">
                                            <form class="form-inline  float-right">
                                                <button class="btn btn-sm btn-success mr-2" ng-click="GetData()"><i class="fas fa-sync-alt"></i> Load</button>
                                                <button type="button" class="btn btn-info btn-sm" ng-click="onBtExport3()"><i class="fas fa-file-export" ng-disabled="loadingstatus=='running'"></i> Export</button>

                                            </form>

                                        </div>

                                    </header>
                                    <div class="card-body py-2 px-0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="datatable3" style="height: calc(100vh - 8.5rem); width: 100%;" class="ag-theme-alpine"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>