<script src="~/jslib/Setup/User.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="UserController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="tab-content">

                    <div class="user-section card py-2 mb-2" id="user-section">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">

                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.User">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.User">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar" type="search"
                                                   placeholder="Search" aria-label="Search" ng-model="searchData.User">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end col-md-8 -->
                            <div class="col-md-5 text-right">

                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                     data-placement="top" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                    </div>
                                </div>
                                <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip"
                                   data-placement="bottom" title="Print">
                                    <i class="fas fa-print"></i>
                                </a>
                                <button type="button" class="btn btn-sm btn-info ml-2"  style="min-width: 90px;" ng-click="GenToken()">
                                   <i class="fas fa-sync"></i> Generate Auth Token
                                </button>
                                <button type="button" class="btn btn-sm btn-success" id="add-user" style="min-width: 90px;">
                                    <i class="fas fa-plus w-t"></i> Add User
                                </button>

                            </div>
                        </header>
                        <div>
                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead class=" text-nowrap">
                                        <tr>
                                            <th style="width: 90px;">Group Name</th>
                                            <th style="width: 130px;">User Name</th>
                                            <th style="width: 180px;">Name</th>
                                            <th style="width: 130px;">Designation</th>
                                            <th style="width: 140px;">Email</th>
                                            <th style="width: 160px;">Address</th>
                                            <th style="width: 110px;">Mobile No.</th>
                                            <th style="width: 95px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="ul in UserList | filter:searchData.User | itemsPerPage: perPage.User" current-page="currentPages.User" pagination-id="UserPagination">
                                            <td>{{ul.GroupName}}</td>
                                            <td>{{ul.UserName}}</td>
                                            <td>{{ul.FirstName}} {{ul.LastName}}</td>
                                            <td>{{ul.Designation}}</td>
                                            <td>{{ul.EMailID}}</td>
                                            <td>{{ul.Address}}</td>
                                            <td>{{ul.MobileNO}}</td>
                                            <td class="">
                                                <a title="Generate Google Authenticator QR" ng-click="GetAuthenticatorQR(ul)"><img src="~/wwwroot/dynamic/images/GAuthenticator.png" style="height: 25px; cursor:pointer;" /></a>
                                                <a class="p-1" href="#" ng-click="GetUserById(ul)">
                                                    <i class="fas fa-edit text-info"></i>
                                                </a>
                                                <a class="p-1" href="#" ng-click="DelUserById(ul)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                                <a class="p-1" href="#" title="Clear Today's Log " ng-click="ClearLogById(ul)">
                                                    <i class="fas fa-trash-alt text-info"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table end -->
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="UserPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                        </footer>
                    </div>
                </div>

                <!-- form area starts -->
                <div id="user-form">
                    <div class="card card-default">

                        <div class="card-body px-0 py-2">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="row">

                                        <div class="col-md-4" id="meet-others">
                                            <div class="form-group">
                                                <label for="">User Group<span style="color:red">*</span></label>
                                                <select class="form-control form-control-sm" ng-model="newUser.GroupId">
                                                    <option ng-value="cl.GroupId" ng-repeat="cl in UserGroupList" ng-selected="cl.GroupId==newUser.GroupId">{{cl.GroupName}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>First Name<span style="color:red">*</span></label>
                                                <input type="text"
                                                       class="form-control form-control-sm" ng-model="newUser.FirstName" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Last Name<span style="color:red">*</span></label>
                                                <input type="text"
                                                       class="form-control form-control-sm" ng-model="newUser.LastName" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Designation</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" ng-model="newUser.Designation" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>User Name<span style="color:red">*</span></label>
                                                <input type="text"
                                                       class="form-control form-control-sm" ng-model="newUser.UserName" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Password<span style="color:red">*</span></label>
                                                <input type="password"
                                                       class="form-control form-control-sm" ng-model="newUser.Password" ng-readonly="newUser.UserId>0" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Re-Password<span style="color:red">*</span></label>
                                                <input type="password"
                                                       class="form-control form-control-sm" ng-model="newUser.RePassword" ng-readonly="newUser.UserId>0" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" ng-model="newUser.Address" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Branch<span style="color:red">*</span></label>
                                                <select class="form-control form-control-sm" ng-model="newUser.BranchId">
                                                    <option value="{{cl.id}}" ng-repeat="cl in BranchList" ng-selected="cl.id==newUser.BranchId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Mobile</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newUser.MobileNO" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Email Id</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newUser.EMailID" />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Status</label> &nbsp;&nbsp;&nbsp;
                                                <div class="d-flex">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio"
                                                                   class="form-check-input"
                                                                   name="optradio" ng-value="true" ng-model="newUser.Active" />Active
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-3">
                                                        <label class="form-check-label">
                                                            <input type="radio"
                                                                   class="form-check-input"
                                                                   name="optradio" ng-value="false" ng-model="newUser.Active" />De-Active
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Start Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" date-picker ng-model="newUser.StartDate_TMP" date-detail="newUser.StartDateDet" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>End Date</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" date-picker ng-model="newUser.EndDate_TMP" date-detail="newUser.EndDateDet" />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg mt-4">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-2" ng-model="newUser.AllowAppLogin" />
                                                <label class="custom-control-label" for="checkbox-2">Allow App Login</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-22" ng-model="newUser.IsUserNeverExpire" />
                                                <label class="custom-control-label" for="checkbox-22">User Never Expire</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-3" ng-model="newUser.IsUserCannotChangeTheirPassword" />
                                                <label class="custom-control-label" for="checkbox-3">User Cannot Change Pasword</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-4" ng-model="newUser.ChangePasswordAtFirstTime" />
                                                <label class="custom-control-label" for="checkbox-4">Change Pasword First Time</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-otp1" ng-model="newUser.SMS_OTP" />
                                                <label class="custom-control-label" for="checkbox-otp1">Enable SMS OTP</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-otp2" ng-model="newUser.Email_OTP" />
                                                <label class="custom-control-label" for="checkbox-otp2">Enable Email OTP</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-otp3" ng-model="newUser.Google_OTP" />
                                                <label class="custom-control-label" for="checkbox-otp3">Enable Google OTP</label>
                                            </div>
                                        </div>

                                        @*<div class="col-md-5 mt-4">
                                                <div class="form-group d-flex">
                                                    <label for="">Logon Hours</label> &nbsp;&nbsp;&nbsp;
                                                    <div class="d-flex">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="radio"
                                                                       class="form-check-input"
                                                                       name="logonradio" ng-model="newUser.LogonHours" ng-value="1" />Frizz non selected
                                                            </label>
                                                        </div>
                                                        <div class="form-check ml-3">
                                                            <label class="form-check-label">
                                                                <input type="radio"
                                                                       class="form-check-input"
                                                                       name="logonradio" ng-model="newUser.LogonHours" ng-value="2" />Frizz selected
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-security" ng-model="newUser.UserWiseSecurity" />
                                                <label class="custom-control-label" for="checkbox-security">User Wise Security</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-auto" ng-model="newUser.UserWiseAutoPost" />
                                                <label class="custom-control-label" for="checkbox-auto">User Wise Auto Post Transaction</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="checkbox-selftran" ng-model="newUser.ViewSelfTransactionOnly" />
                                                <label class="custom-control-label" for="checkbox-selftran">View Self Transaction Only</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="" class="invisible">Photo</label>

                                    <div class="person-photo-attachment-wrap text-center">
                                        <div class="img-wrap mx-auto">
                                            <img ng-src="{{newUser.PhotoData || newUser.PhotoPath}}" class="img-fluid" alt="" id="imgPhoto1" />
                                        </div>
                                        <!-- Button trigger modal -->
                                        <button type="button"
                                                class="btn btn-outline-secondary btn-sm"
                                                data-toggle="modal"
                                                data-target="#updatePhoto">
                                            <i class="fas fa-camera w-t mr-2"></i>Upload
                                        </button>
                                    </div>

                                </div>

                            </div>

                        </div>


                        @*<div class="card p-2">
                                <table class="main-table table table-sm table-bordered bg-white">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th> Days/Time</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                            <th>7</th>
                                            <th>8</th>
                                            <th>9</th>
                                            <th>10</th>
                                            <th>11</th>
                                            <th>12</th>
                                            <th>13</th>
                                            <th>14</th>
                                            <th>15</th>
                                            <th>16</th>
                                            <th>17</th>
                                            <th>18</th>
                                            <th>19</th>
                                            <th>20</th>
                                            <th>21</th>
                                            <th>22</th>
                                            <th>23</th>
                                            <th>24</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Sunday</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Monday</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Tuesday</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Wednesday</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Thrusday</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Friday</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Saturday</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                        <!-- timeline time label -->
                        <div class="time-label py-3">
                            <span class="d-block border-0 p-1 text-center">
                                <button type="button" class="btn btn-sm btn-info" id="back-to-list-user" style="min-width: 90px;">Back To List</button>
                                <button type="button"
                                        class="btn btn-sm btn-default"
                                        style="min-width: 90px" ng-click="ClearUser()">
                                    Reset
                                </button>
                                <button type="button"
                                        class="btn btn-sm btn-success"
                                        style="min-width: 90px" ng-click="SaveUpdateUser()">
                                    {{newUser.Mode}}
                                </button>
                            </span>
                        </div>
                        <!-- /.timeline-label -->
                    </div>

                </div>

            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->

    <div class="modal fade" id="updatePhoto" tabindex="-1" aria-labelledby="updatePhotoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePhotoLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newUser.Photo_TMP" @*after-selected="AddUserPhoto()"*@ fileread="newUser.PhotoData">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newUser.PhotoData}}" class="img-fluid" id="imgPhoto">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-file" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-file" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newUser.Photo_TMP" @*after-selected="AddUserPhoto()"*@ fileread="newUser.PhotoData" />
                    <a ng-click="ClearUserPhoto()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAuthorImage()">Save</button>*@
                </div>
            </div>
        </div>
    </div>


    <!--Added for QR-->
    <div class="modal fade" id="AuthenticatorQR" tabindex="-1" aria-labelledby="AuthenticatorQRLabel" aria-hidden="true" style="margin-top: 24px;">
        <div class="modal-dialog" style="min-width: 700px;">
            <div class="modal-content">
                <div class="modal-header p-2">
                    <h6 class="modal-title" id="AuthenticatorQRLabel">{{bedata.UserName}} - {{bedata.Designation}}</h6>
                </div>
                <div class="card p-1" style="background-color:aliceblue; border:1px solid #ececec">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name: <b>{{bedata.FirstName}} {{bedata.LastName}}</b> </label>
                        </div>
                        <div class="col-md-6">
                            <label>Username: <b>{{bedata.UserName}}</b></label>
                        </div>
                        <div class="col-md-6">
                            <label>Email: <b>{{bedata.EMailID}}</b></label>
                        </div>
                        <div class="col-md-6">
                            <label>MobileNo: <b>{{bedata.MobileNO}}</b></label>
                        </div>
                    </div>
                </div>
                <div class="modal-body text-center">
                    @*<div id="qrcode" style="height:400px;width:auto"></div>*@
                    <img ng-src="{{GoogleDet.QRImage}}" class="img-fluid" style="height:400px;width:auto" alt="" id="imgSignature1">
                </div>
                <div class="modal-footer p-2">
                    <button class="btn btn-sm btn-default text-center" data-dismiss="modal" type="button" style="min-width: 70px; padding: 5px !important;" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Ends-->
</div>
