<script src="~/jslib/Setup/ResetPassword.js?v=20251115"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ResetPasswordController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card p-0">
                            <div class="form-group ">
                                <label>User</label>
                                <select class="select2 form-control form-control-sm" ng-model="newResetPassword.UserId" style="width: 100%;">
                                    <option ng-value="u.UserId" ng-repeat="u in UserList">{{u.UserName}}</option>                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">New Password</label>
                                <input type="password"
                                       class="form-control form-control-sm" ng-model="newResetPassword.NewPassword" />
                            </div>
                            <div class="form-group">
                                <label for="">Confirm Password</label>
                                <input type="password" class="form-control form-control-sm" ng-model="newResetPassword.ConfirmPassword" />
                            </div>
                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearResetPassword()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateResetPassword()">{{newResetPassword.Mode}}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>

