<script src="~/jslib/Setup/ReYearClosing.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ReYearClosingController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="border:1px solid #cad8d2">
                            <div class="card-header p-2" style="background-color: #e9f2ee;">
                                <h3 class="card-title text-secondary"><b>Class Upgrade</b></h3>
                            </div>
                            <div class="card-body p-2">
                                <div class="row">

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>From Year</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.FromAcademicYearId">
                                                <option ng-value="c.AcademicYearId" ng-repeat="c in AcademicYearColl">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>To Year</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.ToAcademicYearId">
                                                <option ng-value="c.AcademicYearId" ng-repeat="c in AcademicYearColl">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Opening Fee Head</label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.OpeningFeeHeadingId">
                                                <option ng-value="c.FeeItemId" ng-repeat="c in FeeItemList">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            @*<label for="rboAtt1">Forward FeeMapping</label>
                <input type="checkbox" class="iradio_flat-green input-sm" name="rboAtt1" data-ng-value="1" ng-model="newYearClosing.ForwardFeeMapping" />*@


                                            <label class="checkbox-wrap">
                                                Forward FeeMapping
                                                <input type="checkbox" name="rboAtt1" data-ng-value="1" ng-model="newYearClosing.ForwardFeeMapping" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            @*<label for="rboAtt2">Forward TransportMapping</label>
                <input type="checkbox" class="iradio_flat-green input-sm" name="rboAtt2" data-ng-value="1" ng-model="newYearClosing.ForwardTransportMapping" />*@

                                            <label class="checkbox-wrap">
                                                Forward TransportMapping
                                                <input type="checkbox" name="rboAtt2" data-ng-value="1" ng-model="newYearClosing.ForwardTransportMapping" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            @*<label for="rboAtt3">Forward Hostel Mapping</label>
                <input type="checkbox" class="iradio_flat-green input-sm" name="rboAtt3" data-ng-value="1" ng-model="newYearClosing.ForwardBedMapping" />*@


                                            <label class="checkbox-wrap">
                                                Forward Hostel Mapping
                                                <input type="checkbox" name="rboAtt3" data-ng-value="1" ng-model="newYearClosing.ForwardBedMapping" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            @*<label for="rboAtt4">Forward DiscountSetup</label>
                <input type="checkbox" class="iradio_flat-green input-sm" name="rboAtt4" data-ng-value="1" ng-model="newYearClosing.ForwardDiscountSetup" />*@

                                            <label class="checkbox-wrap">
                                                Forward Discount Setup
                                                <input type="checkbox" name="rboAtt4" data-ng-value="1" ng-model="newYearClosing.ForwardDiscountSetup" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            @*<label for="rboAtt4">Forward Opening</label>
                <input type="checkbox" class="iradio_flat-green input-sm" name="rboAtt4" data-ng-value="1" ng-model="newYearClosing.ForwardOpening" />*@

                                            <label class="checkbox-wrap">
                                                Forward Opening
                                                <input type="checkbox" name="rboAtt4" data-ng-value="1" ng-model="newYearClosing.ForwardOpening" />
                                                <span class="checkmark"></span>
                                            </label>

                                        </div>
                                    </div>

                                    <!--added by suresh on magh 13-->
                                    <div class="col-md-2">
                                        <div class="form-group mt-4">
                                            <label class="checkbox-wrap">
                                                Forward Class Schedule
                                                <input type="checkbox" name="forwardclasssc" data-ng-value="1" ng-model="newYearClosing.ForwardClassSchedule" />
                                                <span class="checkmark"></span>
                                            </label>

                                        </div>
                                    </div>
                                    <!--Ends-->

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Re-Closing Pwd.</label>
                                            <input type="password" class="form-control form-control-sm" ng-model="newYearClosing.Pwd" />
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center my-3">
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateYearClosing()">Save</button>
                                </div>

                                <!--<div class="table-scroll-x-y sales-main-table table-scroll mt-1">
                                <table id="main-table"
                                       class="main-table table table-sm table-bordered bg-white">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;">From Class</th>
                                            <th style="width: 120px;">To Class</th>
                                            <th style="width: 100px;" ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">From Year/Semester</th>
                                            <th style="width: 100px;" ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">To Year/Semester</th>
                                            <th style="width: 160px;">Exam Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cl in newYearClosing.ClassColl">
                                            <td>{{cl.text}}</td>
                                            <td>
                                                <select class="form-control form-control-sm" ng-model="cl.ToClassId">
                                                    <option ng-value="0">**Select Class**</option>
                                                    <option ng-value="c.id" ng-repeat="c in ClassList">{{c.text}}</option>
                                                </select>
                                            </td>
                                            <td ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">
                                                <select class="form-control form-control-sm" ng-model="cl.FromClassYearId" ng-show="cl.ClassType==2">
                                                    <option ng-value="0">**Select Year**</option>
                                                    <option ng-value="c.id" ng-repeat="c in cl.SelectedClassClassYearList">{{c.text}}</option>
                                                </select>
                                                <select class="form-control form-control-sm" ng-model="cl.FromSemesterId"  ng-show="cl.ClassType==3">
                                                    <option ng-value="0">**Select Semester**</option>
                                                    <option ng-value="c.id" ng-repeat="c in cl.SelectedClassSemesterList">{{c.text}}</option>
                                                </select>
                                            </td>
                                            <td ng-show="AcademicConfig.ActiveClassYear==true || AcademicConfig.ActiveSemester==true">
                                                <select class="form-control form-control-sm" ng-model="cl.ToClassYearId"  ng-show="cl.ClassType==2">
                                                    <option ng-value="0">**Select Year**</option>
                                                    <option ng-value="c.id" ng-repeat="c in cl.SelectedClassClassYearList">{{c.text}}</option>
                                                </select>
                                                <select class="form-control form-control-sm" ng-model="cl.ToSemesterId"   ng-show="cl.ClassType==3">
                                                    <option ng-value="0">**Select Semester**</option>
                                                    <option ng-value="c.id" ng-repeat="c in cl.SelectedClassSemesterList">{{c.text}}</option>
                                                </select>
                                            </td>
                                            <td ng-show="newYearClosing.ExamAs==1">
                                                <select class="form-control form-control-sm" ng-model="cl.ExamTypeId">
                                                    <option ng-value="0">**Select ExamType**</option>
                                                    <option ng-value="et.ExamTypeId" ng-repeat="et in ExamTypeList">{{et.Name}}</option>
                                                </select>
                                            </td>
                                            <td ng-show="newYearClosing.ExamAs==2">
                                                <select class="form-control form-control-sm" ng-model="cl.ExamTypeGroupId">
                                                    <option ng-value="0">**Select ExamGroup**</option>
                                                    <option ng-value="et.ExamTypeGroupId" ng-repeat="et in ExamTypeGroupList">{{et.Name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>-->
                                <!-- table end -->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="border:1px solid #cad8d2">
                            <div class="card-header p-2" style="background-color: #e9f2ee;">
                                <h3 class="card-title text-secondary"><b>Clear Data</b></h3>
                            </div>
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Student Opening </label>
                                            <select class="form-control form-control-sm" ng-model="newYearClosing.StudentOpeningAcademicYearId">
                                                <option ng-value="c.AcademicYearId" ng-repeat="c in AcademicYearColl">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-success mt-4" style="min-width: 90px;" ng-click="ClearStudentOpening(newYearClosing.StudentOpeningAcademicYearId)">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
