<script src="~/jslib/Setup/UserGroup.js?v=20251115"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="UserGroupController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="tab-content">

                    <div class="user-group-section card py-2" id="user-group-section">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">

                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>

                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.UserGroup">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.UserGroup">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar" type="search"
                                                   placeholder="Search" aria-label="Search" ng-model="searchData.UserGroup">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end col-md-8 -->
                            <div class="col-md-5 text-right">
                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                     data-placement="top" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                     
                                    </div>
                                </div>
                                <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip"
                                   data-placement="bottom" title="Print">
                                    <i class="fas fa-print"></i>
                                </a>

                                <button type="button" class="btn btn-sm btn-success" id="add-user-group" style="min-width: 90px;">
                                    <i class="fas fa-plus w-t"></i> Add User Group
                                </button>

                            </div>
                        </header>
                        <div>
                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead class=" text-nowrap">
                                        <tr>
                                            <th style="width: 80px;">S.No.</th>
                                            <th style="width: 270px;">Name</th>
                                            <th style="width: 200px;">Alias</th>
                                            <th style="width: 250px;">Description</th>

                                            <th style="width: 80px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="ug in UserGroupList | filter:searchData.UserGroup | itemsPerPage: perPage.UserGroup" current-page="currentPages.UserGroup" pagination-id="UserGroupPagination">
                                            <td>{{$index+1}}</td>
                                            <td>{{ug.GroupName}}</td>
                                            <td>{{ug.Alias}}</td>
                                            <td>{{ug.Description}}</td>

                                            <td class="">

                                                <a class="p-1" href="#" ng-click="GetUserGroupById(ug)">
                                                    <i class="fas fa-edit text-info"></i>
                                                </a>
                                                <a class="p-1" href="#" ng-click="DelUserGroupById(ug)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table end -->
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="UserGroupPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                        </footer>
                    </div>

                </div>

                <!-- form area starts -->
                <div id="user-group-form">
                    <div class="card card-default">

                        <div class="card-body px-0 py-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-6" id="meet-others">
                                            <div class="form-group">
                                                <label for="">Name</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" ng-model="newUserGroup.GroupName" />
                                            </div>
                                        </div>
                                        <!-- fields after clicking radio button ends -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Alias</label>
                                                <input type="text"
                                                       class="form-control form-control-sm" ng-model="newUserGroup.Alias" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="">Description</label>
                                                <textarea cols="30" rows="1" class="form-control form-control-sm" ng-model="newUserGroup.Description"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- timeline time label -->
                        <div class="time-label py-3">
                            <span class="d-block border-0 p-1 text-center">
                                <button type="button" class="btn btn-sm btn-info" id="back-to-list-user-group" style="min-width: 90px;">Back To List</button>
                                <button type="button"
                                        class="btn btn-sm btn-default"
                                        style="min-width: 90px" ng-click="ClearUserGroup()">
                                    Reset
                                </button>
                                <button type="button"
                                        class="btn btn-sm btn-success"
                                        style="min-width: 90px" ng-click="SaveUpdateUserGroup()">
                                    {{newUserGroup.Mode}}
                                </button>
                            </span>
                        </div>
                        <!-- /.timeline-label -->
                    </div>

                </div>

                <!-- form area ends -->

            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
