<script src="~/jslib/exam/reporting/CASTabulation.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="casTabulationRptController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <header class="if-page-have-nav-tabs px-2">
                                <div class="row upper-tab">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                            role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                   href="#home" role="tab" aria-controls="home"
                                                   aria-selected="true">Normal Tabulation</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                            <div class="tab-content" id="myTabContent">
                                <!-- Normal Tabulation Starts -->
                                <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="card">
                                        <div class="card-body px-0">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Class</label>
                                                        <select class="form-control form-control-sm select2" ng-model="newNormalTabulation.SelectedClass" ng-change="GetClassWiseSubMap()" multiple>
                                                            <option ng-value="0">**Select Class**</option>
                                                            <option ng-value="cl" ng-repeat="cl in ClassList.SectionList">{{cl.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Subject</label>
                                                        <select class="form-control form-control-sm select2" data-placeholder="Select Section" ng-model="newNormalTabulation.SubjectId" ng-change="PrintNormalTabulation()">
                                                            <option ng-value="0">**Select Subject**</option>
                                                            <option ng-value="se.SubjectId" ng-repeat="se in newNormalTabulation.SubjectList">{{se.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Exam </label>
                                                    <select name="comment-group" id="" form="" class="form-control form-control-sm select2" ng-model="newNormalTabulation.ExamTypeId" ng-change="PrintNormalTabulation()">
                                                        <option value="0" selected disabled>Select Exam</option>
                                                        <option ng-value="cl.ExamTypeId" ng-repeat="cl in ExamTypeList">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 mt-4">

                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox"
                                                               id="customCheckbox1" ng-model="newNormalTabulation.FilterSection">
                                                        <label for="customCheckbox1"
                                                               class="custom-control-label">Filter Section</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Select Report </label>
                                                    <select name="comment-group" id="" form="" class="form-control form-control-sm select2" ng-change="PrintNormalTabulation()" ng-model="newNormalTabulation.RptTranId">
                                                        <option ng-value="0" ng-selected="true">Select Report</option>
                                                        <option ng-value="rt.RptTranId" ng-repeat="rt in newNormalTabulation.TemplatesColl">{{rt.ReportName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row mt-2" id="schedule-report-table">
                                                <iframe id="frmRptTabulation" style='width: 100%;height:calc(100vh - 200px);background-color: white;visibility: visible;' frameborder='0' scrolling='yes'></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Normal Tabulation Ends -->

                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div>

            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>

