<script src="~/jslib/inventory/transaction/BankAllotment.js?v=20251012"></script>
<script>
    var VoucherType = "@ViewBag.VoucherType";
</script>
<div ng-app="myApp" ng-controller="BankAllotmentController">
    <div class="sale-page-wrap">
        <div class="overflow-hidden">
            @RenderPage("~/Views/Global/_WaitDialog.cshtml")

            <!-- Page Content  -->
            <div class="content-wrapper-new">

                <div class="card">
                    <div class="card-header header-corner-triangle overflow-hidden">
                        <div class="row">
                            <h3 class="card-title">Bank Bank Allotment</h3>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Voucher Type</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" style="width: 100%;" ng-model="beData.VoucherId" ng-change="getVoucherNo()">
                                            <option ng-repeat="vt in VoucherTypeColl track by vt.VoucherId" value="{{vt.VoucherId}}" ng-selected="vt.VoucherId == beData.VoucherId">
                                                {{vt.VoucherName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">For Year</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" style="width: 100%;" ng-model="beData.CostClassId" ng-change="getVoucherNo()">
                                            <option ng-repeat="cc in CostClassColl track by cc.CostClassId" value="{{cc.CostClassId}}" ng-selected="cc.CostClassId == beData.CostClassId">
                                                {{cc.Name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Allotment No:</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control serial" placeholder="" ng-model="beData.AutoManualNo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Bank.DO.Ref.No:</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control serial" placeholder="" ng-model="beData.DoRefNo" id="txtBankDORefNo" ng-blur="getQuotationDet()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Date</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right serial" voucher-date-ad ng-model="beData.VoucherDateDet" ng-blur="getVoucherNo()" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Bank Name</label>
                                        <div class="col-sm-6 col-md-9">
                                            <input type="text" class="form-control float-right serial" ng-model="beData.BankName" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Bank Branch</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right serial" ng-model="beData.BankBranch" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Party Name</label>
                                        <div class="col-sm-9 col-md-9">
                                            <input type="text" class="form-control float-right" ng-model="beData.PartyName" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Address</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right" ng-model="beData.PartyAddress" readonly />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Mobile No.</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right" ng-model="beData.MobileNo" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Engine No.</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right serial" ng-model="beData.EngineNo" ng-blur="getVehilceDetails()" id="txtEngineNo" name="EngineNo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Chassis No.</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right" ng-model="beData.ChassisNo" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Segment</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right" ng-model="beData.Segment" readonly />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Regd.No.</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right" ng-model="beData.RegdNo" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Model</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right" ng-model="beData.Model" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">MFG. Year</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right" ng-model="beData.MFGYear" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Namsari Location</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control float-right" ng-model="beData.NamsariLocation" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->
                        </form>
                    </div>
                    <!-- /.card body -->
                </div>
                <div style="height: 30px"></div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>

    <footer class="main-footer control-btns pt-0">

        <div class="row">
            <div class="col-sm-4">
              
            </div>
            <div class="col-sm-8">
                <form class="form-inline justify-content-end">
                    <button type="button" class="btn btn-secondary ml-1 serial" ng-click="AddBankAllotment()">Save</button>
                    <button type="button" class="btn btn-default ml-1" ng-click="Clear()">Reset</button>
                    
                    @*<button type="button" class="btn btn-primary ml-1">Save</button>*@
                </form>

            </div>
        </div>
    </footer>
</div>

<script>
            (function($) {

                "use strict";

                var fullHeight = function() {

                    $('.js-fullheight').css('height', $(window).height());
                    $(window).resize(function() {
                        $('.js-fullheight').css('height', $(window).height());
                    });

                };
                fullHeight();

                $('#ctmRightSidebarCollapse').on('click', function() {
                    $('#sidebarzz').toggleClass('active');
                });

            })(jQuery);
</script>
<script>

    $(document).ready(function () {

        $(document).on('keyup', '.serial', function (e) {
            if (e.which == 13)
            {
                var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
                if (key == 13) {
                    e.preventDefault();
                    var inputs = $(this).closest('form').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            }
        });



    });


</script>