@{

    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/jslib/inventory/transaction/DeliveryNoteReturn.js?v=20251012"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="DeliveryNoteReturnController" ng-init="LoadData()">
    <div class="wrapper">
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <section class="iframe-content-starts-here">
                        <div class="card p-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Voucher No.</label>
                                        <input type="text" disabled class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.VoucherNo" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Voucher Date</label>
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="newDeliveryNoteReturn.VoucherDate_TMP" date-detail="newDeliveryNoteReturn.VoucherDateDet">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="">Party's A/C Name</label>
                                        <select class="form-control form-control-sm select2" ng-model="newDeliveryNoteReturn.PartysAcNameId">
                                            <option selected></option>
                                            <option value="1">Cash</option>
                                            <option value="2">Discount</option>
                                            <option value="3">Insurance</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Credit Limit</label>
                                        <input type="text" disabled class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.CreditLimit" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label><b>Current Balance :</b></label>
                                </div>
                                <div class="col-md-4">
                                    <label><b>Total Trans Amt. :</b></label>
                                </div>
                                @*<div class="col-md-4">
                                        <label><b>Credit Limit :</b></label>
                                    </div>*@

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="">Sales A/C</label>
                                        <select class="form-control form-control-sm " id="myselect" ng-model="newDeliveryNoteReturn.PurchaseAcId">
                                            <option></option>
                                            <option value="secondoption">Cash</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Current Balance</label>
                                        <input type="text" disabled class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.CurrentBalance" />
                                    </div>
                                </div>
                            </div>

                            <div class="table-scroll-x-y sales-main-table table-scroll card p-2 mt-2">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead>
                                        <tr>
                                            <th style="width: 90px;">S.No</th>
                                            <th style="width: 180px;">Particulars</th>
                                            <th style="width: 100px;">Delivery Qty.</th>
                                            <th style="width: 140px;">Closing Stock</th>
                                            <th style="width: 100px;">Return Qty.</th>
                                            <th style="width: 100px;">Rate</th>
                                            <th style="width: 100px;">Per</th>
                                            <th style="width: 100px;">Amount</th>

                                        </tr>
                                        

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cl in newDeliveryNoteReturn.DeliveryNoteReturnDetailsColl">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <select class="form-control form-control-sm select2" ng-model="cl.ParticularsId">
                                                    <option ng-value="0">**Select Particulars**</option>
                                                    <option ng-value="pl.id" ng-repeat="pl in ParticularsList" ng-selected="pl.id==cl.ParticularsId">{{pl.text}}</option>
                                                </select>
                                            </td>
                                            <td>{{cl.DeliveryQty}}</td>
                                            <td>{{cl.ClosingStock}}</td>
                                            <td>{{cl.ReturnQty}}</td>
                                            <td>{{cl.Rate}}</td>
                                            <td>{{cl.Per}}</td>
                                            <td>{{cl.Amount}}</td>
                                           
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label>Narration</label>
                                        <textarea class="form-control form-control-sm" rows="1" placeholder="" ng-model="newDeliveryNoteReturn.Narration"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Total:</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.Total" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearDeliveryNoteReturn()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateDeliveryNoteReturn()">{{newDeliveryNoteReturn.Mode}}</button>
                                </span>
                            </div>
                        </div>

                    </section>
                    <!-- /.row -->
                </div>
                <!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Receipt Notes Cancel Details</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Delivery Note No.</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.DeliveryNote">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Other References</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.OtherReferences">
                            </div>
                        </div>

                    </div>

                    <div class="table-scroll-x-y sales-main-table table-scroll">
                        <table id="main-table"
                               class="main-table table table-sm table-bordered bg-white">
                            <thead>
                                <tr>
                                    <th style="width: 90px;">Date</th>
                                    <th style="width: 120px;">Bill No.</th>
                                    <th style="width: 100px;">Ref. No.</th>
                                    <th style="width: 150px;">Product Name</th>
                                    <th style="width: 100px;">Code</th>
                                    <th style="width: 100px;">Alias</th>
                                    <th style="width: 100px;">Qty</th>
                                    <th style="width: 100px;">Unit</th>
                                    <th style="width: 100px;">Rate</th>
                                    <th style="width: 100px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <label><b class="text-center">Buyer Details</b></label>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Buyer</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.Suppliers" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Address</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.Address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Sales Tax No.</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.SalesTaxNo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">CST No.</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.CstNo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Phone No.</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.PhoneNo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Description</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.Description">
                            </div>
                        </div>
                    </div>
                    <label class="text-center"><b>Vehicle Details</b></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Owner Name</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.OwnerName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Owner Contact No.</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.OwnerContactNo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Driver's Name</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.DriverName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Driver's Contact No.</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.DriverContactNo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">License No.</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.LicenseNo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Driver's Address</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.DriverAddress">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Vehicle No.</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.VehicleNo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Quantity</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.Quantity">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Freight</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.Freight">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Advance</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.Advance">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">TotalWT</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDeliveryNoteReturn.TotalWT">
                            </div>
                        </div>
                    </div>
                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" style="min-width: 90px;">Back to List</button>
                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;">Save</button>
                        </span>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<script>
    $('#myselect').change(function () {
        var opval = $(this).val();
        if (opval == "secondoption") {
            $('#myModal').modal("show");
        }
    });
</script>