
<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.CostCategoriesSummary)";
</script>
<script src="~/jslib/account/reporting/CostCategorySummary.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="CostCategorySummController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content overflow-hidden">
        <div class="container-fluid1">
            <section class="iframe-content-starts-here" style="padding-top:55px!important">
                <div class="tab-content">
                    <div id="day-book-section">
                        <div class="row px-2">
                            @*<div class="col-md-2">
                                <div class="form-group  mb-0">
                                    <label>Date From</label>
                                    <input type="text"
                                           class="form-control form-control-sm" date-picker ng-model="newLedgerwise.DateFrom_TMP" date-detail="newLedgerwise.DateFromDet">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-0">
                                    <label>Date To</label>
                                    <input type="text"
                                           class="form-control form-control-sm" date-picker ng-model="newLedgerwise.DateTo_TMP" date-detail="newLedgerwise.DateToDet">
                                </div>
                            </div>*@

                            <div class="col-sm-4">
                                <div class="form-group mb-0">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">From:</span>
                                        </div>
                                        <input class="form-control text-dark input-sm px-1" type="text" date-picker ng-model="newLedgerwise.DateFrom_TMP" style="max-width:100px;" date-detail="newLedgerwise.DateFromDet" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">To:</span>
                                        </div>
                                        <input class="form-control text-dark input-sm px-1" type="text" date-picker ng-model="newLedgerwise.DateTo_TMP" style="max-width: 100px; " date-detail="newLedgerwise.DateToDet" />
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-md-3">
            <div class="form-group">
                <label for="name">Select Branch</label>
                <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="newLedgerwise.BranchId">
                    <option ng-value="0">**Select Branch**</option>
                    <option ng-value="cl.id" ng-repeat="cl in BranchList" ng-selected="cl.id==newLedgerwise.BranchId">{{cl.text}}</option>
                </select>
            </div>
        </div>*@
                            <div class="col-md-8">
                                <button type="button" class="btn btn-sm btn-success float-right" style="min-width: 70px;" ng-click="LoadReport()"><i class="fas fa-sync-alt mr-2"></i>Load</button>
                            </div>
                        </div>
                        <div class="card p-2 mb-0">
                            <header class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="clearfix">
                                        <form class="form-inline">
                                            @*<div class="input-group input-group-sm mr-sm-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Find:</span>
                                                </div>
                                                <select class="form-control pr-0"
                                                        id="exampleFormControlSelect1">
                                                    <option>Contain</option>
                                                    <option>Prefix</option>
                                                </select>
                                            </div>*@
                                            <div class="input-group input-group-sm" style="width: 250px;">
                                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">

                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-default" ng-click="filter()">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7 text-right">
                                    <form class="form-inline  float-right">
                                        @*<div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Search By:</span>
                                            </div>
                                            <select class="form-control pr-0" id="exampleFormControlSelect1" ng-model="newLedgerwise.SearchBy">
                                                <option ng-value="cc" ng-repeat="cc in ColumnColl">{{cc.headerfield}}</option>
                                            </select>
                                        </div>
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="FilterByColumn" ng-change="onColumnWiseFilter(newLedgerwise.SearchBy)">

                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-default" ng-click="searchByColumn(newLedgerwise.SearchBy)">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>*@
                                        <div class="dropdown dnld-file" data-toggle="tooltip"
                                             data-placement="top" title="Download File">
                                            <button class="btn btn-secondary btn-light dropdown-toggle"
                                                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-download"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="dropdownMenuButton">
                                                <span class="dropdown-item">Choose an option:</span>
                                                <a class="dropdown-item" href="#" ng-click="DownloadAsXls()">
                                                    <img src="~/wwwroot/dynamic/images/flaticons/excel.png"
                                                         class="img-fluid exports-icon" alt="Excel image">
                                                    Excel
                                                </a>
                                                <a class="dropdown-item" href="#" ng-click="onBtExport()">
                                                    <img src="~/wwwroot/dynamic/images/flaticons/csv.png"
                                                         class="img-fluid exports-icon">
                                                    CSV
                                                </a>


                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-secondary btn-light ml-2"
                                           data-toggle="tooltip" data-placement="bottom" title="Print" ng-click="Print()">
                                            <i class="fas fa-print"></i>
                                        </a>
                                    </form>
                                </div>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="datatable" style="height: calc(100vh - 11.5rem);width:100%;" class="ag-theme-alpine" ag-grid="gridOptions"></div>
                                    <div id="myGridBottom" style="height: 40px;" class="ag-theme-alpine"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <!-- Add ReportTemplates Modal Dailog -->
    <div class="modal fade bd-example-modal-xl sales-invoice-page-modal" id="FrmPrintReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true" style="margin-top:30px;">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Report Viewer</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <iframe id="frmRpt" style='width: 100%; height: 600px; background-color: white; visibility:visible;' frameborder='0' scrolling='yes'></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>