
<script src="~/Scripts/ag-grid-community.js"></script>
<link href="~/Scripts/ag-grid.css" rel="stylesheet" />
<link href="~/Scripts/ag-theme-balham.css" rel="stylesheet" />
<script src="~/jslib/main.js"></script>
<script src="~/jslib/account/reporting/LedgerGroupSummary.js?v=20251115"></script>

<div ng-app="myApp" ng-controller="LedgerGroupSummary" ng-class="{waiting: loadingstatus=='running'}" ng-init="GetAllLedgerGroupSummary()">
    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
    <!-- Main content -->
    <section class="iframe-content-starts-here" style="padding-top:45px!important">
        <!-- Page Content  -->
        <div class="container-fluid" style="width:100%;">
            <div class="card overflow-hidden">
                <div class="card-header header-corner-triangle border">
                    <form action="">

                        <div class="row">

                            <div class="col-sm-4">

                                <div class="d-inline-block">

                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">From:</span>
                                        </div>
                                        <input class="form-control text-dark input-sm" type="text" voucher-date-ad ng-model="ProjectionFromDate" style="max-width:100px" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">To:</span>
                                        </div>
                                        <input class="form-control text-dark input-sm" type="text" voucher-date-ad ng-model="ProjectionToDate" style="max-width:100px" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">

                            </div>

                            <div class="col-sm-5" style="font-size:12px;">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Branch</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-control-sm select2" style="width: 100%;">
                                            <option selected="selected"></option>
                                            <option>Alaska</option>
                                            <option>California</option>
                                            <option>Delaware</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                            <option>Washington</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div class="form-group">


                                    <a href="#" class="btn btn-primary btn-sm" style="float: right; max-width: 100px" data-toggle="tooltip" data-placement="top" title="" data-original-title="Load"><i class="fas fa-download">Load</i></a>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12" style="font-size:10px;">
                                <label>Filter Applied:</label>

                            </div>

                        </div>


                    </form>


                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div id="datatable" style="height: calc(100vh - 9rem);width: 100%;" class="ag-theme-balham"></div>
            </div>
        </div>
        </section>
</div>

    <!-- /.container-fluid -->



    <footer class="main-footer control-btns" @*style="height:50px"*@>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group row">


                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <select class="form-control form-control-sm select2bs4" style="width: 100%;">
                                <option>Days</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <input type="text" class="form-control text-dark input-sm" placeholder="Search">

                    </div>


                </div>

            </div>
            <div class="col-sm-3">


            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn-sm btn-default" data-toggle="modal" data-target="#itemAllocationForModal"><i class="fas fa-filter">Filter</i></button>
                <button type="button" class="btn-secondary btn-sm"><i class="fas fa-print">Print</i></button>
                <button type="button" class="btn-primary btn-sm"><i class="fas fa-file-export">Export</i></button>
            </div>
        </div>
    </footer>
    <div class="modal fade bd-example-modal-lg sales-invoice-page-modal" id="itemAllocationForModal" tabindex="-1" role="dialog" aria-labelledby="itemAllocationForModalTitle" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Filter</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body gradient-bg">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Branch</label>
                                <select class="form-control form-control-sm select2bs4" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Voucher Name</label>
                                <select class="form-control form-control-sm select2bs4" style="width: 100%;"></select>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Ledger</label>
                                <select class="form-control form-control-sm select2bs4" style="width: 100%;"></select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>User</label>
                                <select class="form-control form-control-sm select2bs4" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control form-control-sm select2bs4" style="width: 100%;"></select>

                            </div>
                        </div>

                    </div>

                    <div class="table table-responsive">
                        <table id="main-table" class="main-table table table-sm table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">SN.</th>
                                    <th style="width: 200px">Element</th>
                                    <th>Expression</th>
                                    <th style="width: 100px">Value</th>
                                    <th style="width: 130px">Add/or</th>
                                    <th scope="col" style="width: 10px">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td><input type="text" class="form-control form-control-sm"></td>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="#" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download doc."><i class="fas fa-plus"></i></a>
                                            <a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="View doc"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete doc."><i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td><input type="text" class="form-control form-control-sm"></td>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="#" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download doc."><i class="fas fa-plus"></i></a>
                                            <a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="View doc"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete doc."><i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td><input type="text" class="form-control form-control-sm"></td>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="#" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download doc."><i class="fas fa-plus"></i></a>
                                            <a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="View doc"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete doc."><i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td><input type="text" class="form-control form-control-sm"></td>
                                    <td>  <select class="form-control select2bs4 form-control-sm" style="width: 100%;"></select></td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="#" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download doc."><i class="fas fa-plus"></i></a>
                                            <a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="View doc"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete doc."><i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer py-2">

                    <button type="button" class="btn btn-sm btn-primary">Accept</button>
                </div>
            </div>
        </div>
    </div>



</div>