
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script src="~/Jslib/User/ChangePwd.js"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ChangePasswordController" ng-init="LoadData()">


    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                <section class="iframe-content-starts-here">


                    <!-- form area starts -->
                    <div id="change-password-form ">
                        <div class="card card-default pt-2">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label>Current Password</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="ChangPwd.oldPwd">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="ChangPwd.newPwd">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Conform Password</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="ChangPwd.Conform">
                                        </div>
                                    </div>

                                </div>

                            </div>


                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <!-- <button type="button" class="btn btn-sm btn-info" id="back-to-list" style="min-width: 90px;">Back to List</button> -->
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="UpdatePassword()">Save</button>

                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- form area ends -->
                </section>
                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>

    </div>
</div>