/*salesinvoice design css*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-right: 250px;
    }


#sidebar-wrapper {
    /* z-index: 1000;*/
    position: fixed;
    right: 250px;
    top: 66px;
    width: 0px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f1f1f1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav span, b {
        text-indent: 20px;
        line-height: 30px;
    }

    .sidebar-nav b {
        text-indent: 35px;
    }

    .sidebar-nav span a {
        display: block;
        text-decoration: none;
        color: #999999;
    }

        .sidebar-nav span a:hover {
            text-decoration: none;
            background: rgba(255, 255, 255, 0.2);
        }

/* width */
#sidebar-wrapper::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#sidebar-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
#sidebar-wrapper::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}


/*dropzone css sales invoice attach file*/

/*Important*/
#drop-zone.mouse-over {
    border: 3px dashed rgba(0, 0, 0, .3);
    color: #7E7E7E;
}


#filename {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.5em;
}

.file-preview {
    background: #ccc;
    border: 5px solid #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.closeBtn:hover {
    color: red;
    display: inline-block;
}

.hard_left {
    position: absolute;
    *position: relative; /*ie7*/
    left: 0;
    width: 100px;
}

.next_left {
    position: absolute;
    *position: relative; /*ie7*/
    left: 100px;
    width: 100px;
}


.inner {
    overflow-x: scroll;
    overflow-y: visible;
    width: 400px;
    margin-left: 200px;
}


.ui-grid-cell-contents {
    height: auto !important;
}

.ui-grid-header {
    height: 60px;
}

.ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
    position: absolute;
    top: 80%;
}
