<script src="~/jslib/exam/transaction/AssessmentType.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="AssestmentTypeController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="table-section">
                    <div class="card ">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.AssestmentType">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.AssestmentType">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search" placeholder="Search" ng-model="searchData.AssestmentType"
                                                   aria-label="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-md-5 text-right">
                                <button type="button" class="btn btn-sm btn-success" id="add-Assestment"
                                        style="min-width: 90px" ng-click="ClearDetails()">
                                    <i class="fas fa-plus w-t"></i> Add AssestmentType
                                </button>
                            </div>
                        </header>
                        <div>
                            @*Table*@
                            <div class="table-scroll table-scroll-x-y sales-main-table">
                                <table class="table table-bordered table-sm bg-white" id="main-table">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width:40px">S.N</th>
                                            <th style="width:150px">Name</th>
                                            <th style="width:200px">Description</th>
                                            <th style="width:50px">Is Active</th>
                                            <th style="width:40px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="cl in AddAssestmentTypeList | filter:searchData.AssestmentType | itemsPerPage: perPage.AssestmentType" current-page="currentPages.AssestmentType" pagination-id="AssestmentTypePagination">
                                            <td>{{$index+1}}</td>
                                            <td>{{cl.Name}}</td>
                                            <td>{{cl.Description}}</td>
                                            <td>{{cl.IsActive}}</td>
                                            <td>
                                                <button ng-click="GetExamAssesstmentTypeById(cl)" class="btn btn-link p-0"><i class="p-1 fas fa-edit text-info"></i></button>
                                                <button ng-click="DelAssestmentTypeById(cl)" class="btn btn-link p-0"><i class="p-1 fas fa-trash-alt text-danger"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="AssestmentTypePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- form area starts -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card" id="add-Assestment-form">
                            <div class="card-body p-2">
                                <form>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Name</label>
                                                <input type="text" ng-model="newDet.Name" class="form-control form-control-sm" />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">OrderNo</label>
                                                <input type="number" ng-model="newDet.OrderNo" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                        <div class="col-md-2 mt-3 text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" ng-model="newDet.IsActive"
                                                       id="IsActive" value="IsActive">
                                                <label for="IsActive"
                                                       class="custom-control-label">
                                                    Is Active ?
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label">Description</label>
                                                <input type="text" ng-model="newDet.Description" class="form-control form-control-sm" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="d-flex justify-content-center mt-3" style="gap:0.5rem; ">
                                        <button class="btn btn-sm btn-info" style="min-width: 90px;" id="AssestmentTypeback-btn">Back to List</button>
                                        <button class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearDetails()">Reset</button>
                                        <button class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateAssestmentType()">Save</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form area ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
