<script>
    var entityExamSeatPlan = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.ExamSeatPlan)";
    var entityStudentForSMS = @Convert.ToInt32(AcademicLib.BE.Global.ENTITIES.SeatPlan);
</script>

<script src="~/jslib/exam/transaction/BenchColumn.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="BenchColumnController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <header class="if-page-have-nav-tabs px-2">
                                <div class="row upper-tab">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                            role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                   href="#home" role="tab" aria-controls="home"
                                                   aria-selected="true">Seating Column</a>
                                            </li>

                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="contact-tab" data-toggle="tab"
                                                   href="#contact" role="tab" aria-controls="contact"
                                                   aria-selected="false">Bulk Room Details</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="printseatplan-tab" data-toggle="tab"
                                                   href="#printseatplan" role="tab" aria-controls="printseatplan"
                                                   aria-selected="false">Room Allocation</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="transfer-tab" data-toggle="tab"
                                                   href="#transfer" role="tab" aria-controls="transfer"
                                                   aria-selected="false">Transfer Room Allocation</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </header>
                            <div class="tab-content" id="myTabContent">
                                <!-- Seating Column Start -->
                                <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div id="listpart" class="card py-2">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.BenchColumn">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-benchcolumn" style="min-width: 90px;" ng-click="ClearBenchColumn()">
                                                    <i class="fas fa-plus w-t"></i> Add
                                                    Bench Column
                                                </button>
                                            </div>
                                        </header>
                                        <div class="mb-2">

                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead class="text-center">
                                                        <tr>
                                                            <th style="width: 50px;">S.No</th>
                                                            <th style="width: 200px;">Bench Type Name</th>
                                                            <th style="width: 120px;">No. of Bench Columns</th>
                                                            <th style="width: 550px;">Column Name</th>
                                                            <th style="width: 70px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="rDet in BenchColumnList | filter:searchData.BenchColumn">
                                                            <td class="text-center">{{rDet.OrderNo}}</td>
                                                            <td>{{rDet.BenchTypeName}}</td>
                                                            <td>{{rDet.NoOfColumn}}</td>
                                                            <td>{{rDet.ColumnDetails}}</td>
                                                            <td class="text-center">
                                                                <a class="p-1" href="#" ng-click="GetBenchColumnById(rDet)">
                                                                    <i class="fas fa-edit text-info"></i>
                                                                </a>
                                                                <a class="p-1" href="#" ng-click="DelBenchColumnById(rDet)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- table end -->
                                        </div>
                                    </div>

                                    <div id="form-part" class="card">
                                        <div class="card-body px-0">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="">Bench Type Name</label>
                                                        <input type="text"
                                                               class="form-control form-control-sm" ng-model="newDet.BenchTypeName">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="">No. of Bench Column</label>
                                                        <input type="number"
                                                               class="form-control form-control-sm" ng-model="newDet.NoOfColumn" ng-change="generateColumnRow()">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="">Order No</label>
                                                        <input type="number"
                                                               class="form-control form-control-sm" ng-model="newDet.OrderNo">
                                                    </div>
                                                </div>
                                            </div>
                                            <h6 class="text-center">
                                                <b>Column Names</b>
                                            </h6>
                                            <hr class="my-1" />
                                            <div class="row">

                                                <div class="col-md-2" ng-repeat="et in newDet.BenchColumnDetailColl">
                                                    <label>Column{{et.ColSNo}}</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="et.ColumnName">
                                                </div>
                                            </div>

                                            @*<div class="row">
                        <div class="col-md-4">

                            <form class="d-flex"  ng-repeat="et in newDet.BenchColumnDetailColl">

                                <div class="input-group input-group-sm mr-sm-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cstm" style="width:35px">{{et.ColSNo}}</span>
                                    </div>
                                     <input type="text" class="form-control" placeholder="Column Name" ng-model="et.ColumnName">

                                </div>
                            </form>
                        </div>
                    </div>*@
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-btn" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearBenchColumnDetails()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateBenchColumn()">{{newDet.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Seating Column Ends -->
                                <!-- Bulk Room Details Starts -->
                                <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                     aria-labelledby="contact-tab">
                                    @*<div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Room Name/No</label>
                            <input type="text"
                                   class="form-control form-control-sm" ng-model="newRoomDetails.Name">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Total Capacity</label>
                            <input type="number"
                                   class="form-control form-control-sm" ng-model="newRoomDetails.TotalCapacity">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Total Bench</label>
                            <input type="number"
                                   class="form-control form-control-sm" ng-model="newRoomDetails.TotalBanch">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">No of Bench Column</label>

                            <select class="form-control form-control-sm select2" ng-model="newRoomDetails.NoOfBanchRow" ng-change="getBenchColumnName()">
                                <option ng-repeat="B in BenchColumnList" ng-value="B.BenchColumnId">{{B.NoOfColumn}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="table-scroll-x-y sales-main-table table-scroll">
                    <table id="main-table1"
                           class="main-table table table-sm table-bordered bg-white">
                        <thead>
                            <tr class="text-nowrap">
                                <th style="width: 100px">Row No.</th>
                                <th style="width: 100px">
                                    column Name
                                </th>
                                <th style="width: 150px">
                                    No Of Bench
                                </th>
                                <th style="width: 250px">
                                    No. of seats on a bench
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="et in newRoomDetails.DetailColl">
                                <td>
                                    {{et.Banch_Row_SNo}}
                                </td>
                                <td>
                                    {{et.Banch_Row_Name}}
                                    <input type="text"
            class="form-control form-control-sm" ng-model="et.Banch_Row_Name" readonly>
                                </td>
                                <td>
                                    <input type="number"
                                           class="form-control form-control-sm" ng-model="et.NoOfBanch">
                                </td>
                                <td>
                                    <input type="number"
                                           class="form-control form-control-sm" ng-model="et.NoOfSeatsInRow">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>*@

                                    <div class="row mt-2">
                                        <div class="col-md-2">
                                            <form class="form-inline">
                                                <div class="input-group input-group-sm table-search-filed">
                                                    <input class="form-control form-control-navbar"
                                                           type="search" placeholder="Search"
                                                           aria-label="Search" ng-model="searchData.BulkRoomDetail">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default border-left-0"
                                                                type="submit">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="float-right">
                                                <button class="btn btn-sm btn-success" style="min-width:70px" ng-click="SaveUpdateExamBulkRoom()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="main-table1"
                                               class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr class="text-nowrap">
                                                    <th style="width: 300px">Room Name/No.</th>
                                                    <th style="width: 130px">
                                                        Total Capacity
                                                    </th>
                                                    <th style="width: 130px">
                                                        Total Bench
                                                    </th>
                                                    <th style="width: 130px">
                                                        No of Bench Column
                                                    </th>
                                                    <th style="width: 100px">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="B in newBulk.BulkRoomDetail | filter:searchData.BulkRoomDetail">
                                                    <td>
                                                        <input type="text" class="form-control form-control-sm" ng-model="B.RoomName" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control form-control-sm" ng-model="B.TotalCapacity" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control form-control-sm" ng-model="B.TotalBench" />
                                                    </td>
                                                    <td>
                                                        <select class="form-control form-control-sm select2" ng-model="B.NoOfBanchRow">
                                                            <option ng-repeat="item in BenchColumnList" ng-value="item.NoOfColumn">{{item.NoOfColumn}}</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <a>
                                                            <i class="fas fa-info-circle text-info" ng-click="getBenchColumnName(B, true)"></i>
                                                        </a>
                                                        <a class="p-2" ng-click="AddBulkRoom($index)">
                                                            <i class="fas fa-plus text-secondary"></i>
                                                        </a>
                                                        <a ng-click="delBulkRoom($index)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Bulk Room Details Ends -->
                                <!-- Room Allocation Starts -->
                                <div class="tab-pane fade main-section" id="printseatplan" role="tabpanel"
                                     aria-labelledby="printseatplan-tab">
                                    <div id="RoomAllocationlistpart" class="card py-2">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.RoomAllocation">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-roomallocation" style="min-width: 90px;" ng-click="ClearRoomAllocation()">
                                                    <i class="fas fa-plus w-t"></i> Add
                                                    Room Allocation
                                                </button>
                                            </div>
                                        </header>
                                        <div class="mb-2" @*ng-repeat="rd in RoomDetailsList"*@>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label><b>Exam Type : {{rd.ExamType}}</b></label>
                                                </div>
                                                <div class="col-md-5">
                                                    <label><b>Exam Shift : {{rd.ExamShift}}</b></label>
                                                </div>
                                            </div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead class="text-center text-nowrap">
                                                        <tr>
                                                            <th style="width: 300px;">Name/No</th>
                                                            <th style="width: 150px;">Total Capacity</th>
                                                            <th style="width: 150px;">Total Bench</th>
                                                            <th style="width: 150px;">No. of Bench Columns</th>
                                                            <th style="width: 80px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="rDet in rd.RoomAllocationList | filter:searchData.RoomAllocation">
                                                            <td>{{rDet.Name}}</td>
                                                            <td>{{rDet.TotalCapacity}}</td>
                                                            <td>{{rDet.TotalBanch}}</td>
                                                            <td align="center">{{rDet.NoOfBanchRow}}</td>
                                                            <td class="text-center">
                                                                <a class="p-1" href="#" ng-click="GetRoomDetailsById(rDet)">
                                                                    <i class="fas fa-edit text-info"></i>
                                                                </a>
                                                                <a class="p-1" href="#" ng-click="DelRoomDetailsById(rDet)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- table end -->
                                        </div>
                                    </div>

                                    <div id="roomallocationform">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Exam Type</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newRoomAllocation.ExamTypeId">
                                                        <option ng-value="cl.id" ng-repeat="cl in ExamTypeList" ng-selected="cl.id==newRoomAllocation.ExamTypeId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Exam Shift</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newRoomAllocation.ExamShiftId">
                                                        <option ng-value="el.ExamShiftId" ng-repeat="el in ExamShiftList" ng-selected="el.ExamShiftId==newRoomAllocation.ExamShiftId">{{el.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <button class="btn btn-sm btn-success mt-4" style="min-width:70px" ng-click="SaveUpdateRoomAllocation()">Save</button>
                                                <button class="btn btn-sm btn-default mt-4" id="backtolist2">Back To List</button>
                                            </div>
                                        </div>

                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                            <table id="main-table1"
                                                   class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th class="align-middle" style="width: 50px">Row No.</th>
                                                        <th class="align-middle" style="width: 150px">
                                                            Room Name/No
                                                        </th>
                                                        <th style="width: 150px">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckboxAll" ng-change="CheckAllRoom()" ng-model="newRoomAllocation.CheckAll" />
                                                                <label for="customCheckboxAll"
                                                                       class="custom-control-label">All </label>
                                                            </div>
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="et in newRoomAllocation.RoomNamelist">
                                                        <td class="text-center">
                                                            {{$index+1}}
                                                            @*{{et.Banch_Row_SNo}}*@
                                                        </td>
                                                        <td>
                                                            {{et.RoomName}}
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input" type="checkbox" id="customCheckbox{{$index}}" ng-model="et.IsChecked">
                                                                <label for="customCheckbox{{$index}}" class="custom-control-label"></label>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Transfer Room Allocation Starts -->
                                <div class="tab-pane fade main-section" id="transfer" role="tabpanel"
                                     aria-labelledby="transfer-tab">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>From Exam Type</label>
                                                <select class="form-control form-control-sm select2" ng-model="newRoomDetails.FromExamTypeId">
                                                    <option ng-value="cl.id" ng-repeat="cl in ExamTypeList" ng-selected="cl.id==newRoomDetails.FromExamTypeId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>From Exam Shift</label>
                                                <select class="form-control form-control-sm select2" ng-model="newRoomDetails.FromExamShiftId">
                                                    <option ng-value="el.ExamShiftId" ng-repeat="el in ExamShiftList" ng-selected="el.ExamShiftId==newRoomDetails.FromExamShiftId">{{el.Name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>To Exam Type</label>
                                                <select class="form-control form-control-sm select2" ng-model="newRoomDetails.ToExamTypeId">
                                                    <option ng-value="cl.id" ng-repeat="cl in ExamTypeList" ng-selected="cl.id==newRoomDetails.ToExamTypeId">{{cl.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>To Exam Shift</label>
                                                <select class="form-control form-control-sm select2" ng-model="newRoomDetails.ToExamShiftId">
                                                    <option ng-value="el.ExamShiftId" ng-repeat="el in ExamShiftList" ng-selected="el.ExamShiftId==newRoomDetails.ToExamShiftId">{{el.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 ">
                                            <div class="mt-4">
                                                <button class="btn btn-sm btn-success" style="min-width:70px">Transfer</button>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="main-table1"
                                               class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr class="text-center">
                                                    <th style="width: 50px">S.No</th>
                                                    <th style="width: 150px">
                                                        From Exam Type
                                                    </th>
                                                    <th style="width: 150px">
                                                        From Exam Shift
                                                    </th>
                                                    <th style="width: 150px">
                                                        To Exam Type
                                                    </th>
                                                    <th style="width: 150px">
                                                        To Exam Shift
                                                    </th>
                                                    <th style="width: 150px">
                                                        Transfer Date
                                                    </th>
                                                    <th style="width: 150px">
                                                        Transfer By
                                                    </th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr @*ng-repeat="et in newRoomDetails.DetailColl"*@>
                                                    <td>
                                                        {{$index+1}}
                                                    </td>
                                                    <td>
                                                        First Terminal
                                                    </td>
                                                    <td>
                                                        Morning Shift
                                                    </td>
                                                    <td>
                                                        Second Terminal
                                                    </td>
                                                    <td>
                                                        Morning Shift
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>



                                <div class="modal fade" id="modal-detail">
                                    <div class="modal-dialog modal-lg" style="max-width:700px!important;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title">Room Detail</h6>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>Room Name <br /> <b> {{beData.RoomName}}</b></label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Total Capacity <br /> <b> {{beData.TotalCapacity}}</b></label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Total Bench <br /> <b> {{beData.TotalBench}}</b></label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>No of Bench Row <br /> <b> {{beData.NoOfColumn}}</b></label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                 
                                                </div>
                                                <div class="table-scroll-x-y sales-main-table table-scroll">
                                                    <table id="main-table1" class="main-table table table-sm table-bordered bg-white">
                                                        <thead>
                                                            <tr class="text-nowrap">
                                                                <th style="width: 90px">Row No.</th>
                                                                <th style="width: 200px">Column Name</th>
                                                                <th style="width: 130px">No Of Bench</th>
                                                                <th style="width: 140px">No. of Seats per Bench</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="et in selectedRowDetails.DetailColl">
                                                                <td>
                                                                    {{et.Banch_Row_SNo}}
                                                                </td>
                                                                <td>
                                                                    {{et.Banch_Row_Name}}
                                                                </td>
                                                                <td>
                                                                    <input type="number" class="form-control form-control-sm" ng-model="et.NoOfBanch" />
                                                                   
                                                                </td>
                                                                <td>
                                                                    <input type="number" class="form-control form-control-sm" ng-model="et.NoOfSeatsInRow" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="time-label">
                                                <span class="d-block border-0 p-3 text-center">
                                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" style="min-width: 70px;">Close</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div>

            </section>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    


</div>

