<script>
    var entityExamSeatPlan = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.ExamSeatPlan)";
    var entityStudentForSMS = @Convert.ToInt32(AcademicLib.BE.Global.ENTITIES.SeatPlan);
</script>
<script src="~/jslib/Exam/Transaction/SheatPlan.js?v=20251115"></script>
@*<script src="~/jslib/Exam/seatplan.js"></script>*@
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="SheatPlanController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <header class="if-page-have-nav-tabs px-2">
                                <div class="row upper-tab">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                            role="tablist">

                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                   href="#home" role="tab" aria-controls="home"
                                                   aria-selected="true">Room Details</a>
                                            </li>

                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="contact-tab" data-toggle="tab"
                                                   href="#contact" role="tab" aria-controls="contact"
                                                   aria-selected="false">Exam Wise Seat Plan</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="printseatplan-tab" data-toggle="tab"
                                                   href="#printseatplan" role="tab" aria-controls="printseatplan"
                                                   aria-selected="false">Print Seat Plan</a>
                                            </li>
                                        </ul>
                                    </div>
                                   
                                </div>
                            </header>
                            <div class="tab-content" id="myTabContent">
                                <!-- Room Details Start -->
                                <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div id="add-room-section" class="card py-2">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.RoomDetails">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                        @*<a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>*@
                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-room-details" style="min-width: 90px;">
                                                    <i class="fas fa-plus w-t"></i> Add
                                                    Room Details
                                                </button>
                                            </div>
                                        </header>
                                        <div class="mb-2" ng-repeat="rd in RoomDetailsList">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label><b>Exam Type : {{rd.ExamType}}</b></label>
                                                </div>
                                                <div class="col-md-5">
                                                    <label><b>Exam Shift : {{rd.ExamShift}}</b></label>
                                                </div>
                                            </div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead class="text-center text-nowrap">
                                                        <tr>
                                                            <th style="width: 300px;">Name/No</th>
                                                            <th style="width: 150px;">No. of Bench</th>
                                                            <th style="width: 150px;">No. of Rows</th>
                                                            <th style="width: 80px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="rDet in rd.DataColl | filter:searchData.RoomDetails">
                                                            <td>{{rDet.Name}}</td>
                                                            <td>{{rDet.TotalBanch}}</td>
                                                            <td align="center">{{rDet.NoOfBanchRow}}</td>
                                                            <td class="text-center">
                                                                <a class="p-1" href="#" ng-click="GetRoomDetailsById(rDet)">
                                                                    <i class="fas fa-edit text-info"></i>
                                                                </a>
                                                                <a class="p-1" href="#" ng-click="DelRoomDetailsById(rDet)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- table end -->
                                        </div>



                                    </div>

                                    <div id="sheet-plan-form" class="card">
                                        <div class="card-body px-0">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Exam Type</label>
                                                        <select class="form-control form-control-sm select2" ng-model="newRoomDetails.ExamTypeId">
                                                            <option ng-value="cl.id" ng-repeat="cl in ExamTypeList" ng-selected="cl.id==newRoomDetails.ExamTypeId">{{cl.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Exam Shift</label>
                                                        <select class="form-control form-control-sm select2" ng-model="newRoomDetails.ExamShiftId">
                                                            <option ng-value="el.ExamShiftId" ng-repeat="el in ExamShiftList" ng-selected="el.ExamShiftId==newRoomDetails.ExamShiftId">{{el.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="">Room Name/No</label>
                                                        <input type="text"
                                                               class="form-control form-control-sm" ng-model="newRoomDetails.Name">
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="">No. of Bench</label>
                                                        <input type="number"
                                                               class="form-control form-control-sm" ng-model="newRoomDetails.TotalBanch">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="">No of Bench Column</label>
                                                        <input type="number"
                                                               class="form-control form-control-sm" ng-model="newRoomDetails.NoOfBanchRow" ng-change="generateBanckRow()">
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="row">

                                       <div class="col-md-4">
            <div class="form-group">
                <label for="">Per Bench Students</label>
                <input type="number"
                       class="form-control form-control-sm" ng-model="newRoomDetails.PerBenchStudents">
            </div>
        </div>
                                                </div>*@
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="main-table1"
                                                       class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr class="text-nowrap">
                                                            <th style="width: 100px">Row No.</th>
                                                            <th style="width: 100px">
                                                                column Name
                                                            </th>
                                                            <th style="width: 150px">
                                                                No Of Bench
                                                            </th>
                                                            <th style="width: 250px">
                                                                No. of seats on a bench
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="et in newRoomDetails.DetailColl">
                                                            <td>
                                                                {{et.Banch_Row_SNo}}
                                                            </td>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control form-control-sm" ng-model="et.Banch_Row_Name">
                                                            </td>
                                                            <td>
                                                                <input type="number"
                                                                       class="form-control form-control-sm" ng-model="et.NoOfBanch">
                                                            </td>
                                                            <td>
                                                                <input type="number"
                                                                       class="form-control form-control-sm" ng-model="et.NoOfSeatsInRow">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="addroomback-btn" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearRoomDetails()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateRoomDetails()">{{newRoomDetails.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Room Detail Ends -->
                                <!-- Exam Wise Sheat Plan Starts -->
                                <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                     aria-labelledby="contact-tab">
                                    <div id="table-section">
                                        <div class="card py-2">
                                            <header class="row">
                                                <div class="col-md-7">
                                                    <div class="clearfix">
                                                        <form class="form-inline">
                                                            <div class="input-group input-group-sm table-search-filed">
                                                                <input class="form-control form-control-navbar"
                                                                       type="search" placeholder="Search"
                                                                       aria-label="Search" ng-model="searchData.ExamSeatPlan">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-default border-left-0"
                                                                            type="submit">
                                                                        <i class="fas fa-search"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- end col-md-8 -->
                                                <div class="col-md-5 text-right">
                                                    <div class="dropdown dnld-file" data-toggle="tooltip"
                                                         data-placement="top" title="Download File">
                                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-download"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                             aria-labelledby="dropdownMenuButton">
                                                            <span class="dropdown-item">Choose an option:</span>
                                                            <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                            <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                           
                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                       data-toggle="tooltip" data-placement="top" title="Print">
                                                        <i class="fas fa-print"></i>
                                                    </a>
                                                    <button class="btn btn-sm btn-success" id="add-btn"> <i class="fas fa-plus w-t"></i> Add Examwise Seat Plan</button>
                                                </div>
                                            </header>
                                            <div class="mb-1" ng-repeat="es in AllSeatPlanList">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label><b>Exam Type : {{es.ExamTypeName}}</b></label>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label><b>Exam Shift : {{es.ExamShiftName}}</b></label>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <a class="btn btn-secondary btn-light btn-sm"
                                                           data-placement="top" title="Send SMS" ng-click="SendSMSToStudent(es)">
                                                            <i class="fas fa-sms"></i>
                                                        </a>
                                                        <a class="btn btn-secondary btn-light btn-sm"
                                                           data-placement="top" title="Send Notification" ng-click="SendNotificationExamSeatPlan(es)">
                                                            <i class="fas fa-bell"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="table-scroll-x-y sales-main-table table-scroll mb-2 mt-1">
                                                    <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center align-middle cstm-sticky" style="left: 0px; z-index: 2; width: 100px;">Room Name/No.</th>
                                                                <th class="text-center align-middle" style="width: 100px;">Total Benches</th>
                                                                <th class="text-center align-middle" style="width: 200px;">Class/Sec</th>
                                                                <th class="text-center align-middle" style="width: 150px;">Allotted Students</th>
                                                                <th class="text-center align-middle" style="width: 100px;">Total Seats</th>
                                                                <th class="text-center align-middle" style="width: 140px;">Create By</th>
                                                                <th class="text-center align-middle" style="width: 140px;">Seat Plan As</th>
                                                                <th class="text-center align-middle" style="width: 70px;">Action</th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="dc in es.DataColl  | filter:searchData.ExamSeatPlan">
                                                                <td class="cstm-sticky" style="width: 100px; left: 0px; z-index: 1; background-color: #fff">
                                                                    {{dc.RoomName}}
                                                                </td>
                                                                <td>{{dc.TotalBanch}}</td>
                                                                <td><span ng-repeat="cl in dc.ClassColl">{{cl.ClassSectionName}} - {{cl.NoOfSeatAlloted}}<br /></span></td>

                                                                <td>{{dc.NoOfSeatAlloted}}</td>
                                                                <td>{{dc.TotalSeat}}</td>
                                                                <td>{{dc.UserName}} <br />{{dc.LogDateTime_BS}} {{dc.LogDateTime_AD | timeFormat}}</td>
                                                                <td>
                                                                    <select class="form-control form-control-sm select2" ng-model="dc.FieldNameAs">
                                                                        <option ng-value="cl.id" ng-repeat="cl in FieldNameAsList">{{cl.text}}</option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <a class="p-1" href="#" ng-click="Print(dc)">
                                                                        <i class="fas fa-print text-secondary"></i>
                                                                    </a>
                                                                    <a class="p-1" href="#" ng-click="DelSeatPlan(dc)">
                                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                                    </a>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- table end -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="add-form">
                                        <div class="card p-2">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Exam Type</label>
                                                        <select class="form-control form-control-sm select2" ng-model="newExamWise.ExamTypeId" ng-change="GetRoomListForSeatPlan()">
                                                            <option ng-value="cl.ExamTypeId" ng-repeat="cl in ExamTypeList">{{cl.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Exam Shift</label>
                                                        <select class="form-control form-control-sm select2" ng-model="newExamWise.ExamShiftId" ng-change="GetRoomListForSeatPlan()">
                                                            <option ng-value="el.ExamShiftId" ng-repeat="el in ExamShiftList">{{el.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Room Name/No</label>
                                                        <select class="form-control form-control-sm select2" ng-model="newExamWise.RoomId" data-placeholder="**select room**" ng-change="GetRoomSeatDetails()">
                                                            <option ng-value="cl.RoomId" ng-repeat="cl in VacantRoomList">{{cl.Name}}-({{cl.AvailableSeats}})</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Seat Plan As</label>
                                                        <select class="form-control form-control-sm select2" ng-model="newExamWise.SeatPlanAs" ng-change="GetRoomSeatDetails()">
                                                            <option ng-value="{{spa.id}}" ng-repeat="spa in SeatPlanAsList" ng-selected="spa.id==newExamWise.SeatPlanAs">{{spa.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-success btn-sm mt-4" ng-click="SaveSeatPlan()">Save</button>
                                                    <button type="button" class="btn btn-info btn-sm mt-4" id="back-btn">Back to List</button>
                                                    @*<button type="button" class="btn btn-success btn-sm mt-4" ng-click="GenerateSeatPlan()">{{newExamWise.Mode}}</button>
                                                        <button type="button" class="btn btn-danger btn-sm mt-4" ng-click="DelSeatPlan()">Delete</button>*@
                                                </div>
                                            </div>

                                            <div class="row text-center">
                                                <div class="col-md-4 col-sm-4 col-lg-4" ng-repeat="rbr in newExamWise.RoomBanchRows">
                                                    <div class="m-2">
                                                        <label><b>Select Class For - {{rbr.ColumnName}}</b></label>
                                                        <table id="" class="table table-hover table-bordered mb-0 pb-0">
                                                            <tr>
                                                                <td class="p-0 m-0" ng-repeat="rc in rbr.ColumnColl">
                                                                    <select class="form-control form-control-sm select2 p-0" style="width: 100%;" ng-model="rc.SelectedClass" ng-change="SeatAssign(rc.SelectedClass,rbr.RowId,rc.Seat_Col,1)">
                                                                        <option ng-value="cs" ng-repeat="cs in newExamWise.ClassSectionList">{{cs.text}} ({{cs.NoOfStudent}})</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr ng-show="newExamWise.SeatPlanAs==10">
                                                                <td class="p-0 m-0" ng-repeat="rc in rbr.ColumnColl">
                                                                    <select class="form-control form-control-sm select2 p-0" style="width: 100%;" ng-model="rc.SelectedClass1" ng-change="SeatAssign(rc.SelectedClass1,rbr.RowId,rc.Seat_Col,2)">
                                                                        <option ng-value="cs" ng-repeat="cs in newExamWise.ClassSectionList">{{cs.text}} ({{cs.NoOfStudent}})</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row text-center">
                                                <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="rbr in newExamWise.RoomBanchRows">
                                                    <div class="p-2 m-2" style="box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;background-color: #76be4e14;">

                                                        <table id="" class="table table-hover table-bordered">
                                                            <tr class="text-center">
                                                                <td><b>{{rbr.ColumnName}}</b></td>
                                                            </tr>
                                                        </table>
                                                        <table id="" class="table table-hover table-bordered text-center">
                                                            <tr ng-repeat="rc in rbr.RowColumnColl">
                                                                <td ng-repeat="cc in rc.ColumnColl"><span>{{cc.StudentDet}}</span><br /> <span>{{cc.CellName}}</span></td>
                                                            </tr>
                                                            @*<tr>
                                                                    <td ng-repeat="cc in rbr.ColumnColl"><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                                </tr>
                                                                <tr>
                                                                    <td ng-repeat="cc in rbr.ColumnColl"><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                                </tr>*@

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Exam Wise Sheat Plan Ends -->
                                <!-- Print Sheat Plan Starts -->
                                <div class="tab-pane fade main-section" id="printseatplan" role="tabpanel"
                                     aria-labelledby="printseatplan-tab">
                                    <div class="card p-2">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Exam Type</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newPrintSeatPlan.ExamTypeId" ng-change="GetRoomListForPrintSeatPlan()">
                                                        <option ng-value="cl.ExamTypeId" ng-repeat="cl in ExamTypeList">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Exam Shift</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newPrintSeatPlan.ExamShiftId" ng-change="GetRoomListForPrintSeatPlan()">
                                                        <option ng-value="el.ExamShiftId" ng-repeat="el in ExamShiftList">{{el.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Room Name/No</label>
                                                    <select class="form-control form-control-sm select2" multiple ng-model="newPrintSeatPlan.RoomIdColl" data-placeholder="**select room**" ng-change="PrintExamSeatPlan()">
                                                        <option ng-value="0">All</option>
                                                        <option ng-value="cl.RoomId" ng-repeat="cl in VacantRoomListSP">{{cl.Name}}-({{cl.AvailableSeats}})</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Field Name As</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newPrintSeatPlan.FieldNameAs" ng-change="PrintExamSeatPlan()">
                                                        <option ng-value="cl.id" ng-repeat="cl in FieldNameAsList">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Select Report Template</label>
                                                <select name="comment-group" id="" form="" class="form-control form-control-sm select2" ng-change="PrintExamSeatPlan()" ng-model="newPrintSeatPlan.RptTranId">
                                                    <option ng-value="0" ng-selected="true">Select Report</option>
                                                    <option ng-value="rt.RptTranId" ng-repeat="rt in newExamWise.TemplatesColl">{{rt.ReportName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-2" id="schedule-report-table">
                                            <iframe id="frmRptTabulation" style='width: 100%;height:calc(100vh - 200px);background-color: white;visibility: visible;' frameborder='0' scrolling='yes'></iframe>
                                        </div>
                                    </div>
                                </div>
                                <!-- Exam Wise Sheat Plan Ends -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div>

            </section>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <!-- Add ReportTemplates Modal Dailog -->
    <div class="modal fade bd-example-modal-xl sales-invoice-page-modal" id="FrmPrintReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Report Viewer</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <iframe id="frmRpt" style='width: 100%; height: 600px; background-color: white; visibility:visible;' frameborder='0' scrolling='yes'></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="modal-xl" style="margin-top: 0px;">
        <div class="modal-dialog modal-md" style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Send Notification</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Title</label>
                        <input type="text"
                               class="form-control form-control-sm" placeholder="Title" ng-model="newNotice.Title" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control form-control-sm" rows="5" ng-model="newNotice.Description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Attach File</label>
                        <input class="form-control form-control-sm p-0" type="file" style="padding: 1px" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" file-model ng-model="newNotice.AttachmentColl" />
                    </div>

                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-success" ng-click="SendManualNoticeToStudent()" style="min-width: 90px;" ng-disabled="loadingstatus=='running'">Send</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

