<style>
    .inputtable td{
        padding:0.3rem;
    }
</style>
<script src="/jslib/export/tableExport.js"></script>
<script src="/jslib/export/jquery.base64.js"></script>
<script src="/jslib/export/jspdf/libs/sprintf.js"></script>
<script src="/jslib/export/jspdf/jspdf.js"></script>
<script src="/jslib/export/jspdf/libs/base64.js"></script>
<script src="~/jslib/Exam/transaction/ExamTypeMarkEntry.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ExamTypeMarkEntryController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Mark Entry</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="status-tab" data-toggle="tab"
                                               href="#status" role="tab" aria-controls="status"
                                               aria-selected="false">Marks Entry Status</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="tab-content" id="myTabContent">
                            <!-- Mark Entry Starts -->
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Class</label>
                                            <select class="form-control form-control-sm select2" ng-model="newClassWise.SelectedClass" ng-change="GetClassWiseSubMap()">
                                                <option ng-value="cl" ng-repeat="cl in ClassList.SectionListWithClass">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <select class="form-control form-control-sm select2" data-placeholder="Select Section" ng-model="newClassWise.SubjectId" ng-change="GetStudentListForME()">
                                                <option ng-value="0">**Select Subject**</option>
                                                <option ng-value="se.SubjectId" ng-repeat="se in newClassWise.SubjectList">{{se.Name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Exam Type</label>
                                            <select class="form-control form-control-sm select2" ng-model="newClassWise.ExamTypeId" ng-change="GetStudentListForME()">
                                                <option ng-value="0">**Select ExamType**</option>
                                                <option ng-value="cl.id" ng-repeat="cl in ExamTypeList">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3 col-md-2 mt-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="chkColumnFocus" ng-model="newClassWise.ColumnWiseFocus">
                                            <label for="chkColumnFocus"
                                                   class="custom-control-label">Column Wise Focus</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.MarksEntry">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file ml-2" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#MarksEntry'" sheet-name="'ExamTypeMarksEntry'"><img src="/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#MarksEntry').tableExport({type:'csv',escape:'false'});"><img src="/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                            </div>

                                            <a print-tbl table-id="'#MarksEntry'" href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="top" title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success" style="min-width:70px;" ng-click="SaveUpdateMarksEntry()"> Save</button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table inputtable table-scroll mb-2" style="max-height: calc(100vh - 13rem); overflow-x: auto; ">
                                        <table id="MarksEntry" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky"
                                                        style="width: 70px; left: 0; z-index: 2; background-color: #fff">S.No.</th>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky"
                                                        style="width: 90px; left: 70px; z-index: 2; background-color: #fff;" ng-click="sortClassWise('RegdNo')">Regd. No</th>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky"
                                                        style="width: 150px; left: 160px; z-index: 2; background-color: #fff" ng-click="sortClassWise('Name')">Name</th>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky"
                                                        style="width: 90px; left: 310px; z-index: 2; background-color: #fff" ng-click="sortClassWise('RollNo')">Roll No</th>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky" style="width: 150px" ng-click="sortClassWise('SymbolNo')">Symbol No</th>
                                                    <th colspan="1" class="text-center align-middle cstm-sticky" style="width: 150px" ng-repeat="ct in newClassWise.CASTypeColl">{{ct.CASTypeName}}</th>
                                                    <th colspan="1" class="text-center align-middle cstm-sticky" style="width: 150px">Total</th>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky" style="width: 250px">Remarks</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col" class="cstm-sticky text-center" style="top: 32px;" ng-repeat="ct in newClassWise.CASTypeColl">{{ct.Mark}}</th>
                                                    <th scope="col" class="cstm-sticky text-center" style="top: 32px;">{{newClassWise.TotalMark}}</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="st in newClassWise.StudentColl  |orderBy:sortKeyClassWise:reverseClassWise | filter:searchData.MarksEntry">
                                                    <td class="text-center cstm-sticky"
                                                        style="width: 70px; left: 0px; z-index: 1; background-color: #fff">
                                                        {{st.SNo}}
                                                    </td>
                                                    <td class="text-center cstm-sticky"
                                                        style="width: 90px; left: 70px; z-index: 1; background-color: #fff">
                                                        {{st.RegdNo}}
                                                    </td>
                                                    <td class="cstm-sticky" style="width: 150px; left: 160px; z-index: 1; background-color: #fff">
                                                        {{st.Name}}
                                                    </td>
                                                    <td class="cstm-sticky" style="width: 90px; left: 310px; z-index: 1; background-color: #fff">
                                                        {{st.RollNo}}
                                                    </td>
                                                    <td class="text-center">{{st.SymbolNo}}</td>
                                                    <td class="text-center" ng-repeat="ct in st.DataColl">
                                                        <input type="text" style="text-align: right;" onfocus="this.select();" class="form-control form-control-sm serialECAS" ng-model="ct.ObtainMark" ng-change="ChangeMarkEntry(st)">
                                                    </td>

                                                    <td class="text-center">{{st.TotalMark |number:2}}</td>
                                                    <td class="text-center"> <input type="text" class="form-control form-control-sm" ng-model="st.Remarks" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Mark Entry Ends -->
                            <!--Marks Entry Status Starts-->
                            <div class="tab-pane fade main-section" id="status" role="tabpanel"
                                 aria-labelledby="status-tab">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Exam type</label>
                                            <select class="form-control form-control-sm select2" ng-model="newMarksEntryStatus.ExamTypeId">
                                                <option ng-value="0">**Select ExamType**</option>
                                                <option ng-value="cl.id" ng-repeat="cl in ExamTypeList">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Class</label>
                                            <select class="form-control form-control-sm select2" ng-model="newMarksEntryStatus.SelectedClass">
                                                <option ng-value="cl" ng-repeat="cl in ClassList.SectionListWithClass">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.MarksEntryStatus">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.MarksEntryStatus">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search" ng-model="searchData.MarksEntryStatus"
                                                               aria-label="Search">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="dropdownMenuButton">
                                                <span class="dropdown-item">Choose an option:</span>
                                                <a class="dropdown-item wait" export-excel table-id="'#MarksEntryStatus'" sheet-name="'MarksEntryStatusList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                <a class="dropdown-item wait" onClick="$('#MarksEntryStatus').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                
                                            </div>
                                            <a print-tbl table-id="'#MarksEntryStatus'" href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="top" title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="MarksEntryStatus" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 80px;">S.No.</th>
                                                    <th style="width: 200px;">Subject Name</th>
                                                    <th style="width: 110px;">Subject Code</th>
                                                    <th style="width: 110px;">Full Marks</th>
                                                    <th style="width: 120px;">Created At</th>
                                                    <th style="width: 160px;">Created By</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in MarksEntryStatusList | filter:searchData.MarksEntryStatus | itemsPerPage: perPage.MarksEntryStatus" current-page="currentPages.MarksEntryStatus" pagination-id="MarksEntryStatusPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.SubjectName}}</td>
                                                    <td>{{cl.SubjectCode}}</td>
                                                    <td>{{cl.FullMarks}}</td>
                                                    <td>{{cl.CreatedAt}}</td>
                                                    <td>{{cl.CreatedBy}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="MarksEntryStatusPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                            <!--Marks Entry Status Ends-->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

