
<script src="~/jslib/exam/transaction/ICMarkEntry.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="MarkEntryController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">SubjectWise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="student-tab" data-toggle="tab"
                                               href="#student" role="tab" aria-controls="student"
                                               aria-selected="true">StudentWise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="board-tab" data-toggle="tab"
                                               href="#board" role="tab" aria-controls="board"
                                               aria-selected="false">Mark Submit Status</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="tab-content" id="myTabContent">
                            <!-- Subject Wise Tab Starts -->
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="row mt-2">
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Class/Sec</label>
                                            <select class="form-control form-control-sm select2" ng-model="newICMarkSubject.SelectedClass" ng-change="GetClassWiseSubMap()">
                                                <option ng-value="0">**Select Class**</option>
                                                <option ng-repeat="cl in ClassList.SectionListWithClass" ng-value="cl">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Subject</label>
                                            <select name="class-group" id="" form="" class="form-control form-control-sm select2" ng-model="newICMarkSubject.SubjectId" ng-change="GetSubjectLessonWise()">
                                                <option ng-value="s.SubjectId" ng-repeat="s in newICMarkSubject.SubjectList">{{s.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Lesson/Theme</label>
                                            <select class="form-control form-control-sm select2" ng-model="newICMarkSubject.LessonId" ng-change="GetLessonTopicDetailsWise()">
                                                <option ng-value="cl.LessonId" ng-repeat="cl in SubjectLessonWiseList" ng-selected="cl.LessonId==newICMarkSubject.LessonId">{{cl.LessonName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Topic/LOC</label>
                                            <select class="form-control form-control-sm select2" ng-model="newICMarkSubject.TopicName" ng-change="GetIStudentsDetailsSubjectsWise()">
                                                <option ng-value="cl.TopicName" ng-repeat="cl in LessonTopicDetailsWiseList" ng-selected="cl.TopicName==newICMarkSubject.TopicName">{{cl.TopicName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Assessment Type</label>
                                            <select class="form-control form-control-sm select2" ng-model="newICMarkSubject.AssessmentTypeId" ng-change="GetIStudentsDetailsSubjectsWise()">
                                                <option ng-value="cl.AssessmentTypeId" ng-repeat="cl in AssessmentList" ng-selected="cl.AssessmentTypeId==newICMarkSubject.AssessmentTypeId">{{cl.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Assessment Date</label>
                                            <input type="text" class="form-control form-control-sm" date-picker ng-model="newICMarkSubject.AssessmentDate_TMP" date-detail="newICMarkSubject.AssessmentDateDet">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="searchData.ICMarkSubject" />
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm" style="color:#000000">Copy From Assestment</span>
                                            </div>
                                            <select class="form-control form-control-sm select2" ng-model="newICMarkSubject.CFAssessmentTypeId" ng-change="GetIStudentsDetailsSubjectsWise()" ng-disabled="isCopyDisabled()"  style="width:50%">
                                                <option value="0">Select Assessment Type</option>
                                                <option ng-value="cl.AssessmentTypeId" ng-if="cl.AssessmentTypeId != newICMarkSubject.AssessmentTypeId" ng-repeat="cl in AssessmentList" ng-selected="cl.AssessmentTypeId==newFilter.CFAssessmentTypeId">{{cl.Name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group mb-1 float-right">
                                            <button type="button" class="btn btn-sm btn-danger btn-sm px-1" style="width:60px" ng-click="DeleteICMarkEntry()">Delete</button>
                                            <button type="button" class="btn btn-sm btn-default btn-sm px-1" style="width:60px" ng-click="ClearICMarkSubject()">Reset</button>
                                            <button type="button" class="btn btn-sm btn-success btn-sm px-1" style="width:60px" ng-click="SaveUpdateICMarkSubject()">Save</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card py-2">
                                    <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height:calc(100vh - 11rem)">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 80px">Regd.No</th>
                                                    <th style="width: 112px">Section/RollNo</th>
                                                    <th style="width: 200px">Student Name</th>
                                                    <th style="width: 300px;z-index:3">Indicator<span class="float-right">Evaluation Area/Tool <span class="ml-5"> Evaluation</span></span></th>
                                                   
                                                    <th style="width: 56px">Marks</th>
                                                    <th style="width: 150px">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="Ic in IStudentsDetailsSubjectsWiseList | filter: searchData.ICMarkSubject"  ng-if="hasValidIndicators(Ic.Indicators)">
                                                    <td class="text-center">{{Ic.RegdNo}}</td>
                                                    <td>{{Ic.SectionName}}/{{Ic.RollNumber}}</td>
                                                    <td>{{Ic.StudentName}}</td>
                                                    <td class="p-0" style="z-index: 1 !important">
                                                        <table class="inner-table">
                                                            <tr ng-repeat="Indicator in Ic.Indicators">
                                                                <td>
                                                                    <label>{{Indicator.IndicatorName}}</label>
                                                                </td>
                                                                <td>
                                                                    <select class="form-control form-control-sm" ng-model="Indicator.EvaluationAreaId">
                                                                        <option ng-value="">Select Evaluation Area</option>
                                                                        <option ng-repeat="I in EvaliationToolList" ng-value="I.EvaluationId" ng-selected="Indicator.EvaluationAreaId==I.EvaluationId">
                                                                            {{I.Name}}
                                                                        </option>
                                                                    </select>
                                                                </td>
                                                                <td class="text-center" style="width:70px;z-index:1!important">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox" ng-model="Indicator.Evaluation" id="customCheckbox{{Ic.RegdNo}}-{{Indicator.IndicatorSNo}}" ng-change="updateMarks(Ic)">
                                                                        <label for="customCheckbox{{Ic.RegdNo}}-{{Indicator.IndicatorSNo}}" class="custom-control-label"></label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>

                                                    <td class="text-center"><input class="form-control form-control-sm" ng-model="Ic.Marks" type="number" readonly /></td>
                                                   
                                                    <td>
                                                        <textarea class="form-control form-control-sm" rows="2" ng-model="Ic.Remarks"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <!-- Subject Wise Tab Ends -->
                            <!-- Student Wise Tab Starts -->
                            <div class="tab-pane fade  main-section" id="student" role="tabpanel"
                                 aria-labelledby="student-tab">
                                <div class="row py-2">
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Class/Sec</label>
                                            <select class="form-control form-control-sm select2" ng-model="newStudentWise.SelectedClass" ng-change="GetClassWiseSubMapStW()">
                                                <option ng-value="0">**Select Class**</option>
                                                <option ng-repeat="cl in ClassList.SectionListWithClass" ng-value="cl">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Subject</label>
                                            <select name="class-group" id="" form="" class="form-control form-control-sm" ng-model="newStudentWise.SubjectId" ng-change="GetSubjectLessonAndStudentList()">
                                                <option ng-value="s.SubjectId" ng-repeat="s in newStudentWise.SubjectList">{{s.Name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Lesson/Theme</label>
                                            <select class="form-control form-control-sm select2" ng-model="newStudentWise.LessonId" @*ng-change="GetLessonTopicDetailsWise()"*@>
                                                <option ng-value="cl.LessonId" ng-repeat="cl in SubjectLessonWiseList1" ng-selected="cl.LessonId==newStudentWise.LessonId">{{cl.LessonName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Student Name</label>
                                            <select class="form-control form-control-sm select2" ng-model="newStudentWise.StudentId" ng-change="GetTopicForStudentWiseIC()">
                                                <option ng-value="0">**Select Student**</option>
                                                <option ng-value="cl.StudentId" ng-repeat="cl in newStudentWise.StudentList">{{cl.Name}}-{{cl.RollNo}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Assessment Type</label>
                                            <select class="form-control form-control-sm select2" ng-model="newStudentWise.AssessmentTypeId" ng-change="GetTopicForStudentWiseIC()">
                                                <option ng-value="cl.AssessmentTypeId" ng-repeat="cl in AssessmentList" ng-selected="cl.AssessmentTypeId==newStudentWise.AssessmentTypeId">{{cl.Name}}</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Assessment Date</label>
                                            <input type="text" class="form-control form-control-sm" date-picker ng-model="newStudentWise.AssessmentDate_TMP" date-detail="newStudentWise.AssessmentDateDet">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar" type="search"
                                                   placeholder="Search" aria-label="Search" ng-model="searchData.StudentWiseIC">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm" style="color:#000000">Copy From Assestment</span>
                                            </div>
                                            <select class="form-control form-control-sm select2" ng-model="newStudentWise.CFAssessmentTypeId" ng-change="GetTopicForStudentWiseIC()" ng-disabled="isCopyDisabledStudentWise()" style="width:50%">
                                                <option value="0">Select Assessment Type</option>
                                                <option ng-value="cl.AssessmentTypeId" ng-if="cl.AssessmentTypeId != newStudentWise.AssessmentTypeId" ng-repeat="cl in AssessmentList" ng-selected="cl.AssessmentTypeId==newFilter2.CFAssessmentTypeId">{{cl.Name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group mb-1 float-right">
                                            <button type="button" class="btn btn-sm btn-danger btn-sm px-1" style="width:60px" ng-click="DeleteICMarkEntryStudentWise()">Delete</button>
                                            <button type="button" class="btn btn-sm btn-default btn-sm px-1" style="width:60px" ng-click="ClearClassWise()">Reset</button>
                                            <button type="button" class="btn btn-sm btn-success btn-sm px-1" style="width:60px" ng-click="SaveUpdateStudentWise()">Save</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card p-0">
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 45px">S.No</th>
                                                    <th style="width: 200px">Topic/LOC</th>
                                                    <th style="width: 300px;z-index:3">Indicator<span class="float-right">Evaluation Area/Tool <span class="ml-5"> Evaluation</span></span></th>
                                                    <th style="width: 56px">Marks</th>
                                                    <th style="width: 150px">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="Ic in TopicForStudentWiseICList | filter: searchData.StudentWiseIC" @*ng-if="hasValidIndicators(Ic.Indicators)*@">
                                                    <td class="text-center">{{$index+1}}</td>                                                  
                                                    <td>{{Ic.TopicName}}</td>
                                                    <td class="p-0" style="z-index: 1 !important">
                                                        <table class="inner-table">
                                                            <tr ng-repeat="Indicator in Ic.Indicators">
                                                                <td>
                                                                    <label>{{Indicator.IndicatorName}}</label>
                                                                </td>
                                                                <td>
                                                                    <select class="form-control form-control-sm" ng-model="Indicator.EvaluationAreaId">
                                                                        <option ng-value="">Select Evaluation Area</option>
                                                                        <option ng-repeat="I in EvaliationToolList" ng-value="I.EvaluationId" ng-selected="Indicator.EvaluationAreaId==I.EvaluationId">
                                                                            {{I.Name}}
                                                                        </option>
                                                                    </select>
                                                                </td>
                                                                <td class="text-center" style="width:70px;z-index:1!important">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox" ng-model="Indicator.Evaluation" id="customCheckbox{{Ic.TranId}}-{{Indicator.IndicatorSNo}}" ng-change="updateMarks(Ic)">
                                                                        <label for="customCheckbox{{Ic.TranId}}-{{Indicator.IndicatorSNo}}" class="custom-control-label"></label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="text-center"><input class="form-control form-control-sm" ng-model="Ic.Marks" type="number" readonly /></td>
                                                    <td>
                                                        <textarea class="form-control form-control-sm" rows="2" ng-model="Ic.Remarks"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>

                                           
                                        </table>
                                        <!-- table end -->
                                    </div>

                                </div>
                            </div>
                            <!-- Student Wise Tab Ends -->
                            <!-- Mark Submitted Status Starts -->
                            <div class="tab-pane fade main-section" id="board" role="tabpanel"
                                 aria-labelledby="board-tab">
                                <div class="row py-2">
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Class/Sec</label>
                                            <select class="form-control form-control-sm select2" ng-model="newStatus.SelectedClass" ng-change="GetClassWiseSubMapForStatus()">
                                                <option ng-value="0">**Select Class**</option>
                                                <option ng-repeat="cl in ClassList.SectionListWithClass" ng-value="cl">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Subject</label>
                                            <select name="class-group" id="" form="" class="form-control form-control-sm" ng-model="newStatus.SubjectId" ng-change="GetSubjectLessonWiseStatus()">
                                                <option ng-value="s.SubjectId" ng-repeat="s in newStatus.SubjectList">{{s.Name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group mb-1">
                                            <label>Lesson/Theme</label>
                                            <select class="form-control form-control-sm select2" ng-model="newStatus.LessonId" ng-change="GetAllMarkSubmittedStatusList()">
                                                <option ng-value="cl.LessonId" ng-repeat="cl in SubjectLessonWiseListSt" ng-selected="cl.LessonId==newStatus.LessonId">{{cl.LessonName}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="card card-primary card-tabs p-0">
                                    <div class="card-header with-gradient-bg p-0 pt-2">
                                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="custom-tabs-one-home-tab"
                                                   data-toggle="pill" href="#custom-tabs-one-home" role="tab"
                                                   aria-controls="custom-tabs-one-home" aria-selected="true" style="padding-left: 3rem;
                                                            padding-right: 3rem;">Completed</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                                                   href="#custom-tabs-one-profile" role="tab"
                                                   aria-controls="custom-tabs-one-profile"
                                                   aria-selected="false" style="padding-left: 3rem;
                                                            padding-right: 3rem;">Pending</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body px-2">
                                        <div class="tab-content" id="custom-tabs-one-tabContent">
                                            <!--Completed Tab Starts-->
                                            <div class="tab-pane fade show active" id="custom-tabs-one-home"
                                                 role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                                <div>
                                                    <header class="row">
                                                        <div class="col-md-7">
                                                            <div class="clearfix">
                                                                <form class="form-inline">
                                                                    <div class="input-group input-group-sm mr-sm-2">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text cstm">Show</span>
                                                                        </div>
                                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.MarkSubmittedStatus">
                                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.MarkSubmittedStatus">{{pp.text}}</option>
                                                                        </select>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="input-group input-group-sm table-search-filed">
                                                                        <input class="form-control form-control-navbar"
                                                                               type="search"
                                                                               placeholder="Search"
                                                                               aria-label="Search" ng-model="searchData.MarkSubmittedStatus" />
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-default border-left-0"
                                                                                    type="submit">
                                                                                <i class="fas fa-search"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        @*<div class="col-md-5">
                                                            <div class="form-group">
                                                                <div class="input-group input-group-sm">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text cstm">Sorting By</span>
                                                                    </div>
                                                                    <select class="form-control form-control-sm select2" style="width:50%;">
                                                                        <option value="">Subject</option>
                                                                        <option value="">Class</option>
                                                                        <option value="">Submitted by</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                    </header>
                                                    <table id="dt-basic-example"
                                                           class="table table-hover table-bordered table-sm bg-white">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:70px">S.No.</th>
                                                                <th style="width:250px">Topic/LOC</th>
                                                                <th style="width:130px">Submitted Date</th>
                                                                <th style="width:150px">Submitted By</th>
                                                                <th style="width:200px">Class Teacher</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr dir-paginate="ms in SubmitMarkList  |orderBy:sortKeySubmit:reverseSubmit| filter:searchData.MarkSubmittedStatus | itemsPerPage: perPage.MarkSubmittedStatus" current-page="currentPages.MarkSubmittedStatus" pagination-id="submitPagination">
                                                                <td>{{$index+1}}</td>
                                                                <td>{{ms.TopicName}}</td>
                                                                <td>{{ms.SubmitDateTime_BS}}</td>
                                                                <td>{{ms.UserName}}</td>
                                                                <td>{{ms.ClassTeacher}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <footer class="row align-items-center">
                                                        <div class="col-md-12">
                                                            <dir-pagination-controls pagination-id="submitPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                                        </div>
                                                    </footer>
                                                </div>
                                            </div>
                                            <!--Completed Tab Ends-->
                                            <!--Pending Tab Starts-->
                                            <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel"
                                                 aria-labelledby="custom-tabs-one-profile-tab">
                                                <div>
                                                    <header class="row">
                                                        <div class="col-md-7">
                                                            <div class="clearfix">
                                                                <form class="form-inline">
                                                                    <div class="input-group input-group-sm mr-sm-2">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text cstm">Show</span>
                                                                        </div>
                                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.MarkSubmittedStatusPending">
                                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.MarkSubmittedStatusPending">{{pp.text}}</option>
                                                                        </select>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="input-group input-group-sm table-search-filed">
                                                                        <input class="form-control form-control-navbar"
                                                                               type="search"
                                                                               placeholder="Search"
                                                                               aria-label="Search" ng-model="searchData.MarkSubmittedStatusPending"/>
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-default border-left-0"
                                                                                    type="submit">
                                                                                <i class="fas fa-search"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 text-right">
                                                            <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-notice"
                                                               style="color:#fff;">
                                                                <i class="fas fa-bell w-t">
                                                                </i>
                                                                Send Notification
                                                            </a>
                                                        </div>
                                                    </header>
                                                    <table id="dt-basic-example"
                                                           class="table table-hover table-bordered table-sm bg-white">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:70px">S.No.</th>
                                                                <th style="width:250px">Topic/LOC</th>
                                                                <th style="width:200px">Class Teacher</th>
                                                                <th style="width:200px">Subject Teacher</th>
                                                                <th style="width:150px">Contact No</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr dir-paginate="ms in PendingMarkList | filter:searchData.MarkSubmittedStatusPending | itemsPerPage: perPage.MarkSubmittedStatusPending" current-page="currentPages.MarkSubmittedStatusPending" pagination-id="pendingPagination">
                                                                <td>{{$index+1}}</td>
                                                                <td>{{ms.TopicName}}</td>
                                                                <td>{{ms.ClassTeacher}}</td>
                                                                <td>{{ms.SubjectTeacher}}</td>
                                                                <td>{{ms.TeacherContactNo}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <footer class="row align-items-center">
                                                        <div class="col-md-12">
                                                            <dir-pagination-controls pagination-id="pendingPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                                        </div>
                                                    </footer>
                                                </div>
                                            </div>
                                            <!--Pending Tab Ends-->
                                        </div>
                                    </div>
                                    <!-- /.card -->
                                </div>

                            </div>
                            <!-- Mark Submitted Status Ends -->
                        </div>
                    </div>
                </div>
                <!-- Notification Modal Starts -->
                <div class="modal fade" id="modal-notice">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Send Notification</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" class="form-control form-control-sm" />
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control form-control-sm" rows="2" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Notification Modal Ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>

