<script src="~/jslib/Exam/Transaction/ResultSetup.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ExamTypeWiseResultSetupController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <header class="if-page-have-nav-tabs px-2">
                                <div class="row upper-tab">
                                    <div class="col-md-10">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                            role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                   href="#home" role="tab" aria-controls="home"
                                                   aria-selected="true">Exam Type Wise</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab"
                                                   href="#profile" role="tab" aria-controls="profile"
                                                   aria-selected="false">Exam Type Group Wise</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="contact-tab" data-toggle="tab"
                                                   href="#contact" role="tab" aria-controls="contact"
                                                   aria-selected="false">Parent Exam Type Group Wise</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </header>
                            <div class="tab-content" id="myTabContent">
                                <!-- Exam Type Wise Tab Starts -->
                                <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div id="exam-type-wise-section">
                                        <div class="row">
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="row">
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <div class="form-group">
                                                            <label>Class</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newExamTypeWiseResultSetup.ClassId" ng-change="GetClassWiseSubMap()">
                                                                <option ng-value="0">**Select Class**</option>
                                                                <option ng-value="cl.id" ng-repeat="cl in ClassSection.ClassList">{{cl.text}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <label for="">Section</label>
                                                        <select class="form-control form-control-sm select2" data-placeholder="Select Section" ng-model="newExamTypeWiseResultSetup.SectionId" multiple ng-change="GetClassWiseSubMap()">
                                                            <option ng-value="0">**Select Section**</option>
                                                            <option ng-value="se.SectionId" ng-repeat="se in ClassSection.SectionList |  filter: { ClassId: newExamTypeWiseResultSetup.ClassId }:true">{{se.SectionName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <label>Exam Type</label>
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm select2" ng-model="newExamTypeWiseResultSetup.ExamTypeId" ng-change="GetClassWiseSubMap()">
                                                        <option ng-value="0">**Select ExamType**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in ExamTypeList" ng-selected="cl.id==newExamTypeWiseResultSetup.ExamTypeId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <span>Total Fail Subject</span>
                                                        <input type="number"
                                                               class="form-control form-control-sm"
                                                               placeholder="" ng-model="newExamTypeWiseResultSetup.TotalFailSubject" />
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 mt-4">
                                                        <div class="custom-control custom-checkbox checkbox-lg ">
                                                            <input type="checkbox" class="custom-control-input bg-light" id="checkbox-1" ng-model="newExamTypeWiseResultSetup.IsSubjectWise" style="background-color: #fff;"> &nbsp;
                                                            <label class="custom-control-label" for="checkbox-1">Is Subject Wise</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card p-0">
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th style="width:400px">Subject Name</th>
                                                            <th style="width:100px">TH</th>
                                                            <th style="width:100px">PR</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="ew in newExamTypeWiseResultSetup.SubjectList">
                                                            <td>{{ew.Name}}</td>
                                                            <td class="text-center">
                                                                <div class="custom-control custom-checkbox checkbox-lg ml-2" ng-hide="ew.PaperType==2">
                                                                    <input type="checkbox" class="custom-control-input" id="checkbox-det-{{$index}}" ng-model="ew.TH"> &nbsp;
                                                                    <label class="custom-control-label" for="checkbox-det-{{$index}}"></label>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="custom-control custom-checkbox checkbox-lg ml-2" ng-hide="ew.PaperType==1">
                                                                    <input type="checkbox" class="custom-control-input" id="checkbox-det1-{{$index}}" ng-model="ew.PR"> &nbsp;
                                                                    <label class="custom-control-label" for="checkbox-det1-{{$index}}"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="time-label">
                                                <span class="d-block border-0 p-3 text-center">

                                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearExamTypeWiseResultSetup()">Reset</button>
                                                    <button type="button" class="btn btn-sm btn-danger" style="min-width: 90px;" ng-click="DelExamTypeWiseColl()">Delete</button>
                                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateExamTypeWiseResultSetup()">{{newExamGroupWiseResultSetup.Mode}}</button>

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Exam Type Wise Tab Ends -->
                                <!-- Exam Type Group Wise Tab Starts -->
                                <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <div id="exam-type-group-wise-section">
                                        <div class="row">
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="row">
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <label>Class</label>
                                                        <div class="form-group">
                                                            <select class="form-control form-control-sm select2" ng-model="newExamGroupWiseResultSetup.ClassId" ng-change="GetClassWiseSubMapGroup()">
                                                                <option ng-value="0">**Select Class**</option>
                                                                <option ng-value="cl.id" ng-repeat="cl in ClassSection.ClassList">{{cl.text}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <label for="">Section</label>
                                                        <select class="form-control form-control-sm select2" data-placeholder="Select Section" ng-model="newExamGroupWiseResultSetup.SectionId" multiple ng-change="GetClassWiseSubMapGroup()">
                                                            <option ng-value="0">**Select Section**</option>
                                                            <option ng-value="se.SectionId" ng-repeat="se in ClassSection.SectionList |  filter: { ClassId: newExamGroupWiseResultSetup.ClassId }:true">{{se.SectionName}}</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <label>Exam Type Group</label>
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm select2" ng-model="newExamGroupWiseResultSetup.ExamTypeId" ng-change="GetClassWiseSubMapGroup()">
                                                        <option ng-value="0">**Select ExamType**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in ExamTypeGroupList" ng-selected="cl.id==newExamGroupWiseResultSetup.ExamTypeId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <span>Total Fail Subject</span>
                                                        <input type="number"
                                                               class="form-control form-control-sm"
                                                               placeholder="" ng-model="newExamGroupWiseResultSetup.TotalFailSubject" />
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 mt-4">
                                                        <div class="custom-control custom-checkbox checkbox-lg ">
                                                            <input type="checkbox" class="custom-control-input bg-light" id="checkbox-group-1" ng-model="newExamGroupWiseResultSetup.IsSubjectWise" style="background-color: #fff;"> &nbsp;
                                                            <label class="custom-control-label" for="checkbox-group-1">Is Subject Wise</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card p-0">
                                            <div class="table-scroll-x-y sales-main-table table-scroll ">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th style="width: 400px;">Subject Name</th>
                                                            <th style="width: 100px;">TH</th>
                                                            <th style="width: 100px;">PR</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="ew in newExamGroupWiseResultSetup.SubjectList">
                                                            <td>{{ew.Name}}</td>
                                                            <td class="text-center">
                                                                <div class="custom-control custom-checkbox checkbox-lg ml-2" ng-hide="ew.PaperType==2">
                                                                    <input type="checkbox" class="custom-control-input" id="checkbox-gdet-{{$index}}" ng-model="ew.TH"> &nbsp;
                                                                    <label class="custom-control-label" for="checkbox-gdet-{{$index}}"></label>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="custom-control custom-checkbox checkbox-lg ml-2" ng-hide="ew.PaperType==1">
                                                                    <input type="checkbox" class="custom-control-input" id="checkbox-gdet1-{{$index}}" ng-model="ew.PR"> &nbsp;
                                                                    <label class="custom-control-label" for="checkbox-gdet1-{{$index}}"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="time-label">
                                                <span class="d-block border-0 p-3 text-center">
                                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearExamGroupWiseResultSetup()">Reset</button>
                                                    <button type="button" class="btn btn-sm btn-danger" style="min-width: 90px;" ng-click="DelExamGroupWiseColl()">Delete</button>
                                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateExamGroupWiseResultSetup()">{{newExamGroupWiseResultSetup.Mode}}</button>

                                                </span>
                                            </div>
                                            <!-- table end -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Exam Type Group Wise Tab Ends -->
                                <!-- Parent Exam Type Group Wise Tab Starts -->
                                <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                     aria-labelledby="contact-tab">
                                    <div id="parent-exam-type-group-wise-section">
                                        <div class="row">
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="row">
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <div class="form-group">
                                                            <label>Class</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newParentExamTypeGroupWise.ClassId">
                                                                <option ng-value="0">**Select Class**</option>
                                                                <option ng-value="cl.id" ng-repeat="cl in ClassList" ng-selected="cl.id==newParentExamTypeGroupWise.ClassId">{{cl.text}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <label for="">Section</label>
                                                        <select class="form-control form-control-sm select2" data-placeholder="Select Section" ng-model="newParentExamTypeGroupWise.SectionId">
                                                            <option ng-value="0">**Select Section**</option>
                                                            <option ng-value="cl.id" ng-repeat="cl in SectionList" ng-selected="cl.id==newParentExamTypeGroupWise.SectionId">{{cl.text}}</option>
                                                        </select>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <span>Parent Exam Type Group</span>
                                                <div class="form-group">
                                                    <select name="comment-group" id="" form="" class="form-control form-control-sm select2" ng-model="newParentExamTypeGroupWise.ExamType">
                                                        <option value="" selected="selected" disabled>Parent Exam Type Group</option>
                                                        <option value="">First Terminal</option>
                                                        <option value="">Second Terminal</option>
                                                        <option value="">Annual Exam</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <label>Total Fail Subject</label>
                                                        <input type="number"
                                                               class="form-control form-control-sm"
                                                               placeholder="" ng-model="newParentExamTypeGroupWise.FailSubject" />
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 mt-4">
                                                        <div class="custom-control custom-checkbox checkbox-lg">
                                                            <input type="checkbox" class="custom-control-input bg-light" id="checkbox-subject" value="" style="background-color: #fff;"> &nbsp;
                                                            <label class="custom-control-label" for="checkbox-subject">Is Subject Wise</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card p-0">
                                            <div class="table-scroll-x-y sales-main-table table-scroll ">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th style="width: 400px;">Subject Name</th>
                                                            <th style="width: 100px;">TH</th>
                                                            <th style="width: 100px;">PR</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="pet in newParentExamTypeGroupWise.ParentExamTypeGroupWiseDetailsColl">
                                                            <td>{{pet.SubjectName}}</td>
                                                            <td class="text-center">
                                                                <div class="custom-control custom-checkbox checkbox-lg ml-2">
                                                                    <input type="checkbox" class="custom-control-input" id="checkbox-th" value=""> &nbsp;
                                                                    <label class="custom-control-label" for="checkbox-th"></label>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="custom-control custom-checkbox checkbox-lg ml-2">
                                                                    <input type="checkbox" class="custom-control-input" id="checkbox-pr"> &nbsp;
                                                                    <label class="custom-control-label" for="checkbox-pr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="time-label">
                                                <span class="d-block border-0 p-3 text-center">
                                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearParentExamTypeGroupWise()">Reset</button>
                                                    <button type="button" class="btn btn-sm btn-danger" style="min-width: 90px;" ng-click="DelParentExamTypeGroupWise()">Delete</button>
                                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateParentExamTypeGroupWise()">{{newParentExamTypeGroupWise.Mode}}</button>

                                                </span>
                                            </div>
                                            <!-- table end -->
                                        </div>

                                    </div>

                                </div>
                                <!-- Parent Exam Type Group Wise Tab Ends -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div>

            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>

