<script src="~/jslib/Exam/seatplan.js?v=20251012"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="SheatPlanController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <header class="if-page-have-nav-tabs">
                                <div class="row upper-tab">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                            role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                   href="#home" role="tab" aria-controls="home"
                                                   aria-selected="true">Room Details</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab"
                                                   href="#profile" role="tab" aria-controls="profile"
                                                   aria-selected="false">Exam Shift</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="contact-tab" data-toggle="tab"
                                                   href="#contact" role="tab" aria-controls="contact"
                                                   aria-selected="false">Exam Wise Sheet Plan</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </header>
                            <div class="tab-content" id="myTabContent">
                                <!-- Room Details Start -->
                                <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div id="add-room-section" class="card p-2">
                                        <header class="row mb-2">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.RoomDetails">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.RoomDetails">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.RoomDetails">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-room-details" style="min-width: 90px;">
                                                    <i class="fas fa-plus w-t"></i> Add
                                                    Room Details
                                                </button>
                                            </div>
                                        </header>
                                        <div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead class="text-center text-nowrap">
                                                        <tr>
                                                            <th style="width: 300px;">Name</th>
                                                            <th style="width: 150px;">Room No</th>
                                                            <th style="width: 150px;">No. of Bench</th>
                                                            <th style="width: 150px;">No. of Rows</th>
                                                            <th style="width: 80px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="rd in RoomDetailsList | filter:searchData.RoomDetails | itemsPerPage: perPage.RoomDetails" current-page="currentPages.RoomDetails" pagination-id="roomdetailsPagination">
                                                            <td>{{rd.Name}}</td>
                                                            <td>{{rd.RoomNo}}</td>
                                                            <td align="center">{{rd.TotalBanch}}</td>
                                                            <td align="center">{{rd.NoOfBanchRow}}</td>
                                                            <td class="text-center">
                                                                <a class="p-1" href="#" ng-click="GetRoomDetailsById(rd)">
                                                                    <i class="fas fa-edit text-info"></i>
                                                                </a>
                                                                <a class="p-1" href="#" ng-click="DelRoomDetailsById(rd)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- table end -->
                                        </div>
                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="roomdetailsPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>
                                    <div id="sheet-plan-form" class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Name</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newRoomDetails.Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Room No.</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newRoomDetails.RoomNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">No. of Bench</label>
                                                        <input type="number"
                                                               class="form-control form-control-sm" ng-model="newRoomDetails.TotalBanch">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">No of Bench Column</label>
                                                        <input type="number" class="form-control form-control-sm" ng-model="newRoomDetails.NoOfBanchRow" ng-change="generateBanckRow()">
                                                    </div>
                                                </div>
                                                @*<div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">Per Bench Students</label>
                                                            <input type="number"
                                                                   class="form-control form-control-sm" ng-model="newRoomDetails.PerBenchStudents">
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="row">
                                                <div class="table-scroll-x-y sales-main-table table-scroll">
                                                    <table id="main-table1"
                                                           class="main-table table table-sm table-bordered bg-white">
                                                        <thead>
                                                            <tr class="text-nowrap">
                                                                <th style="width: 100px">Row No.</th>
                                                                <th style="width: 100px">
                                                                    column Name
                                                                </th>
                                                                <th style="width: 150px">
                                                                    No Of Banch
                                                                </th>
                                                                <th style="width: 250px">
                                                                    No. of seats on a bench
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="et in newRoomDetails.DetailColl">
                                                                <td>
                                                                    {{et.Banch_Row_SNo}}
                                                                </td>
                                                                <td>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm" ng-model="et.Banch_Row_Name">
                                                                </td>
                                                                <td>
                                                                    <input type="number"
                                                                           class="form-control form-control-sm" ng-model="et.NoOfBanch">
                                                                </td>
                                                                <td>
                                                                    <input type="number"
                                                                           class="form-control form-control-sm" ng-model="et.NoOfSeatsInRow">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="addroomback-btn" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearRoomDetails()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateRoomDetails()">{{newRoomDetails.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Room Detail Ends -->
                                <!-- Exam Shift Starts -->
                                <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <div id="examshift-section" class="card p-2">
                                        <header class="row mb-2">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">

                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.ExamShift">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.ExamShift">{{pp.text}}</option>
                                                            </select>

                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.ExamShift">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">


                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-exam-shift" style="min-width: 90px;">
                                                    <i class="fas fa-plus w-t"></i> Add
                                                    Exam Shift
                                                </button>
                                            </div>
                                        </header>
                                        <div>

                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 300px;">Name</th>
                                                            <th style="width: 120px;">Start Time</th>
                                                            <th style="width: 120px;">End Time</th>
                                                            <th style="width: 80px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="es in ExamShiftList | filter:searchData.ExamShift | itemsPerPage: perPage.ExamShift" current-page="currentPages.ExamShift" pagination-id="examshiftPagination">

                                                            <td>{{es.Name}}</td>
                                                            <td>{{es.StartTime}}</td>
                                                            <td>{{es.EndTime}}</td>
                                                            <td>

                                                                <a class="p-1" href="#" ng-click="GetExamShiftById(es)">
                                                                    <i class="fas fa-edit text-info"></i>
                                                                </a>
                                                                <a class="p-1" href="#" ng-click="DelExamShiftById(es)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- table end -->
                                        </div>
                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="examshiftPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>

                                    <div id="examshift-form" class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Name</label>
                                                        <input type="text"
                                                               class="form-control form-control-sm" ng-model="newExamShift.Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Start Time</label>
                                                        <input type="time"
                                                               class="form-control form-control-sm" ng-model="newExamShift.StartTime_TMP">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">End Time</label>
                                                        <input type="time"
                                                               class="form-control form-control-sm" ng-model="newExamShift.EndTime_TMP">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="examshift-back-btn" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearExamShift()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateExamShift()">{{newExamShift.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!-- Exam Shift Ends -->
                                <!-- Exam Wise Sheat Plan Starts -->
                                <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                     aria-labelledby="contact-tab">
                                    <div class="card p-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Exam Type</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newExamWise.ExamTypeId">
                                                        <option ng-value="cl.ExamTypeId" ng-repeat="cl in ExamTypeList">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Exam Shift</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newExamWise.ExamShiftId">
                                                        <option ng-value="el.ExamShiftId" ng-repeat="el in ExamShiftList">{{el.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Room No</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newExamWise.RoomIdColl" multiple data-placeholder="**select room**">
                                                        <option ng-value="cl.RoomId" ng-repeat="cl in RoomDetailsList">{{cl.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Seat Plan As</label>
                                                    <select class="form-control form-control-sm select2">
                                                        <option value="1">RollNo Wise</option>
                                                        <option value="2">SymbolNo Wise</option>
                                                        <option value="3">Name Alphabetically</option>
                                                        <option value="4">Rank Wise</option>
                                                        <option value="5">Random</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Field Name As</label>
                                                    <select class="form-control form-control-sm select2">
                                                        <option value="1">Name, Class and Roll No</option>
                                                        <option value="2">Class and Roll No</option>
                                                        <option value="3">Symbol No</option>
                                                        <option value="4">Class and Symbol No</option>
                                                        <option value="5">Name, Class and Symbol No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-success btn-sm mt-4" ng-click="GenerateSeatPlan()">{{newExamWise.Mode}}</button>
                                                <button type="button" class="btn btn-danger btn-sm mt-4" ng-click="DelSeatPlan()">Delete</button>
                                            </div>
                                        </div>

                                        <div class="row text-center">
                                            <div class="col-md-4 col-sm-4 col-lg-4">
                                                <div class="m-2">
                                                    <label><b>Select Class For - Column A</b></label>
                                                    <table id="" class="table table-hover table-bordered mb-0 pb-0">
                                                        <tr>
                                                            <td class="p-0 m-0">
                                                                <select class="form-control form-control-sm select2 p-0" style="width: 100%;">
                                                                    <option value="1">1-A</option>
                                                                    <option value="2">1-B</option>
                                                                </select>
                                                            </td>
                                                            <td class="p-0 m-0">
                                                                <select class="form-control form-control-sm select2 p-0" style="width: 100%;">
                                                                    <option value="1">1-A</option>
                                                                    <option value="2">1-B</option>
                                                                </select>
                                                            </td>
                                                            <td class="p-0 m-0">
                                                                <select class="form-control form-control-sm select2 p-0" style="width: 100%;">
                                                                    <option value="1">1-A</option>
                                                                    <option value="2">1-B</option>
                                                                </select>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-lg-4">
                                                <div class="m-2">
                                                    <label><b>Select Class For - Column B</b></label>
                                                    <table id="" class="table table-hover table-bordered mb-0 pb-0">
                                                        <tr>
                                                            <td class="p-0 m-0">
                                                                <select class="form-control form-control-sm select2 p-0" style="width: 100%;">
                                                                    <option value="1">1-A</option>
                                                                    <option value="2">1-B</option>
                                                                </select>
                                                            </td>
                                                            <td class="p-0 m-0">
                                                                <select class="form-control form-control-sm select2 p-0" style="width: 100%;">
                                                                    <option value="1">1-A</option>
                                                                    <option value="2">1-B</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-lg-4">
                                                <div class="m-2">
                                                    <label><b>Select Class For - Column C</b></label>
                                                    <table id="" class="table table-hover table-bordered mb-0 pb-0">
                                                        <tr>
                                                            <td class="p-0 m-0">
                                                                <select class="form-control form-control-sm select2 p-0" style="width: 100%;">
                                                                    <option value="1">1-A</option>
                                                                    <option value="2">1-B</option>
                                                                </select>
                                                            </td>
                                                            <td class="p-0 m-0">
                                                                <select class="form-control form-control-sm select2 p-0" style="width: 100%;">
                                                                    <option value="1">1-A</option>
                                                                    <option value="2">1-B</option>
                                                                </select>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row text-center">
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="p-2 m-2" style="box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;background-color: #76be4e14;">

                                                    <table id="" class="table table-hover table-bordered">
                                                        <tr class="text-center">
                                                            <td><b>A</b></td>
                                                        </tr>
                                                    </table>
                                                    <table id="" class="table table-hover table-bordered text-center">
                                                        <tr>
                                                            <td><span>Suresh Paudel</span><br><span>10-A / 1152</span></td>
                                                            <td><span>Suresh Paudel</span><br><span>10-A / 1152</span></td>
                                                            <td><span>Suresh Paudel</span><br><span>10-A / 1152</span></td>

                                                        </tr>
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>

                                                        </tr>
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>

                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="p-2 m-2" style="box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;background-color: #76be4e14;">

                                                    <table id="" class="table table-hover table-bordered">
                                                        <tr class="text-center">
                                                            <td><b>B</b></td>
                                                        </tr>
                                                    </table>
                                                    <table id="" class="table table-hover table-bordered text-center">
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="p-2 m-2" style="box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;background-color: #76be4e14;">

                                                    <table id="" class="table table-hover table-bordered">
                                                        <tr class="text-center">
                                                            <td><b>C</b></td>
                                                        </tr>
                                                    </table>
                                                    <table id="" class="table table-hover table-bordered text-center">
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                            <td><i class="fas fa-user text-success" style="font-size: 18px;"></i></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Exam Wise Sheat Plan Ends -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>


