
@{
    ViewBag.Title = "Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs">
                            <div class="row upper-tab" style="margin-right: -15px;">
                                <div class="">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Class Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">Class & Gender Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="house-tab" data-toggle="tab"
                                               href="#house" role="tab" aria-controls="house"
                                               aria-selected="false">House Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="gender-tab" data-toggle="tab"
                                               href="#gender" role="tab" aria-controls="gender"
                                               aria-selected="false">House & Gender Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="caste-tab" data-toggle="tab"
                                               href="#caste" role="tab" aria-controls="caste"
                                               aria-selected="false">Caste Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="caste-gender-tab" data-toggle="tab"
                                               href="#caste-gender" role="tab" aria-controls="caste-gender"
                                               aria-selected="false">Caste & Gender Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="month-tab" data-toggle="tab"
                                               href="#month" role="tab" aria-controls="month"
                                               aria-selected="false">Month Wise Admission</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="class-tab" data-toggle="tab"
                                               href="#class" role="tab" aria-controls="class"
                                               aria-selected="false">Class & gender wise age</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- col-md-9 -->
                                <div class="col-md-2">
                                    <!-- <a href="#" class="btn btn-success btn-light btn-sm">Add Class</a> -->
                                </div>
                                <!-- col-md-3 -->
                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="class-wise-section " class="card mt-4">
                                    <div class="card-body">
                                        <form action="">
                                            <div class="row">

                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label>Select Report</label>
                                                    <select name=""
                                                            id=""
                                                            form=""
                                                            class="form-control form-control-sm select2">
                                                        <option value="">Class Wise Bar Chart</option>
                                                        <option value="">Normal Chart</option>
                                                        <option value="">Matrix Class Wise</option>
                                                        <option value="">Pie Chart</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div id="class-wise-section " class="card mt-4">
                                    <div class="card-body">
                                        <form action="">
                                            <div class="row">

                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label>Select Report</label>
                                                    <select name=""
                                                            id=""
                                                            form=""
                                                            class="form-control form-control-sm select2">

                                                        <option value="">Matrix</option>
                                                        <option value="">Normal Chart</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane fade main-section" id="house" role="tabpanel"
                                 aria-labelledby="house-tab">
                                <div id="class-wise-section " class="card mt-4">
                                    <div class="card-body">
                                        <form action="">
                                            <div class="row">

                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label>Select Report</label>
                                                    <select name=""
                                                            id=""
                                                            form=""
                                                            class="form-control form-control-sm select2">

                                                        <option value="">Normal</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane fade main-section" id="gender" role="tabpanel"
                                 aria-labelledby="gender-tab">
                                <div id="class-wise-section " class="card mt-4">
                                    <div class="card-body">
                                        <form action="">
                                            <div class="row">

                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label>Select Report</label>
                                                    <select name=""
                                                            id=""
                                                            form=""
                                                            class="form-control form-control-sm select2>

                                                        <option value="">Normal </option>

                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane fade main-section" id="caste" role="tabpanel"
                                 aria-labelledby="caste-tab">
                                <div id="class-wise-section " class="card mt-4">
                                    <div class="card-body">
                                        <form action="">
                                            <div class="row">

                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label>Select Report</label>
                                                    <select name=""
                                                            id=""
                                                            form=""
                                                            class="form-control form-control-sm select2">

                                                        <option value="">Normal</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane fade main-section" id="caste-gender" role="tabpanel"
                                 aria-labelledby="caste-gender-tab">
                                <div id="class-wise-section " class="card mt-4">
                                    <div class="card-body">
                                        <form action="">
                                            <div class="row">

                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label>Select Report</label>
                                                    <select name=""
                                                            id=""
                                                            form=""
                                                            class="form-control form-control-sm select2">

                                                        <option value="">Normal</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane fade main-section" id="month" role="tabpanel"
                                 aria-labelledby="month-tab">
                                <div id="class-wise-section " class="card mt-4">
                                    <div class="card-body">
                                        <form action="">
                                            <div class="row">

                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label>Select Report</label>
                                                    <select name=""
                                                            id=""
                                                            form=""
                                                            class="form-control form-control-sm select2">

                                                        <option value="">Normal</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane fade main-section" id="class" role="tabpanel"
                                 aria-labelledby="class-tab">
                                <div id="class-wise-section " class="card mt-4">
                                    <div class="card-body">
                                        <form action="">
                                            <div class="row">

                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label>Select Report</label>
                                                    <select name=""
                                                            id=""
                                                            form=""
                                                            class="form-control form-control-sm select2">

                                                        <option value="">Normal</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- /.row -->

        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
