
@{
    ViewBag.Title = "Marksheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AngularJs/Creation/MarkSheet.js"></script>
<div class="content-wrapper" ng-app="myApp" ng-controller="marksheetController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs">
                            <div class="row upper-tab">
                                <div class="col-md-10">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">General Marksheet</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">Aggregate Marksheet</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab"
                                               href="#contact" role="tab" aria-controls="contact"
                                               aria-selected="false">Parent Aggregate MArksheet</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="medium-tab" data-toggle="tab"
                                               href="#medium" role="tab" aria-controls="medium"
                                               aria-selected="false">Marksheet Issue</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <!-- General Marksheet Starts -->
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <!-- <span>Class</span> -->
                                                    <select class="form-control form-control-sm select2" id="cboClassId" ng-model="markSheet.SelectClassSection" ng-change="GetMarkSheet()">
                                                        <option disabled selected>Select Class</option>
                                                        <option ng-repeat="ct in SectionClassColl  track by $index" ng-value="{{ct}}">
                                                            {{ct.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <!-- <span>Exam Type</span> -->
                                                    <select class="form-control form-control-sm " style="width:100%" ng-model="markSheet.ExamTypeId" ng-change="GetMarkSheet()">
                                                        <option disabled selected>Select ExamName</option>
                                                        <option ng-value="{{cl.ExamTypeId}}" ng-repeat="cl in ExamTypeColl">{{cl.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6">
                                        <div class="row">                                           
                                            <div class="col-md-4">
                                                <div class="form-group">-->
                                                    <!-- <span>Select Report</span> -->
                                                    <!--<select class="form-control form-control-sm select2" style="width: 100%;">
                                                        <option value="" selected disabled>Select Report</option>
                                                        <option>With Subject Code</option>
                                                        <option>Subject Code with full Marks</option>
                                                        <option>Custome</option>
                                                        <option>GPA</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                @*<div class="row">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <label class="sr-only"
                                               for="inlineFormInputGroup">Select Student</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend dropdown">
                                                <select class="input-group-text dropdown-toggle p-0"
                                                        id="dropdownMenuButton"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false"
                                                        style="outline: none;">

                                                    <div class="dropdown-menu"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <option class="dropdown-item">
                                                            Name
                                                        </option>
                                                        <option class="dropdown-item">
                                                            RegdNo.
                                                        </option>
                                                        <option class="dropdown-item">
                                                            Roll No.
                                                        </option>
                                                        <option class="dropdown-item">
                                                            Id
                                                        </option>
                                                    </div>
                                                </select>
                                            </div>
                                            <select class="form-control  select2 form-control-sm">
                                                <option selected="selected">Suresh</option>
                                                <option>Hari</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary light-btn"><i class="fas fa-plus"></i> Add More</button>

                                    </div>
                                </div>*@



                            <div class="card p-2 mt-2">
                                <iframe id="frmMarkSheet" style='width: 100%;height:calc(100vh - 200px);background-color: white;visibility: visible;' frameborder='0' scrolling='yes'></iframe>
                            </div>
                            </div>
                            <!-- General Marksheet Ends -->
                            <!-- Aggregate Marksheet Starts -->
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">


                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!-- <span>Class</span> -->
                                            <select class="form-control form-control-sm select2" id="cboClassId" ng-model="markSheetGroup.SelectClassSection" ng-change="GetGroupMarkSheet()">
                                                <option disabled selected>Select Class</option>
                                                <option ng-repeat="ct in SectionClassColl  track by $index" ng-value="{{ct}}">
                                                    {{ct.text}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!-- <span>Exam Group</span> -->
                                            <select class="form-control form-control-sm " style="width:100%" ng-model="markSheetGroup.ExamTypeGroupId" ng-change="GetGroupMarkSheet()">
                                                <option disabled selected>Select ExamGroup</option>
                                                <option ng-value="{{cl.ExamTypeGroupId}}" ng-repeat="cl in ExamTypeGroupColl">{{cl.Name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="card p-2 mt-2">
                                    <iframe id="frmGroupMarkSheet" style='width: 100%;height:calc(100vh - 200px);background-color: white;visibility: visible;' frameborder='0' scrolling='yes'></iframe>
                                </div>
                     

                                <div class="card p-2 mt-2">
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>

                                                    <th style="width:50px">S.No.</th>
                                                    <th style="width:80px">Id</th>
                                                    <th style="width:250px">Name</th>
                                                    <th style="width:80px">Roll No.</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Aggregate Marksheet Ends -->
                            <!-- Parent Aggregate Marksheet Starts -->
                            <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                 aria-labelledby="contact-tab">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!-- <span>Class</span> -->
                                            <select class="form-control form-control-sm select2" style="width: 100%;">
                                                <option selected disabled>Select Class</option>
                                                <option>1 B</option>
                                                <option>2 A</option>
                                                <option>2 B</option>
                                                <option>2 C</option>
                                                <option>3 A</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!-- <span>Parent Exam Type Group</span> -->
                                            <select class="form-control form-control-sm select2" style="width: 100%;">
                                                <option selected disabled>Parent Exam Type Group</option>
                                                <option>2nd Terminal</option>
                                                <option>3rd Terminal</option>
                                                <option>Final Exam</option>
                                                <option>Class Test</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!-- <span>Exam</span> -->
                                            <select class="form-control form-control-sm select2" style="width: 100%;">
                                                <option selected disabled>Exam</option>
                                                <option>2nd Terminal</option>
                                                <option>3rd Terminal</option>
                                                <option>Final Exam</option>
                                                <option>Class Test</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!-- <span for="response">Issue Date</span> -->
                                            <input type="date" class="form-control form-control-sm" id="date" placeholder="Issue Date">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!-- <span for="due-amount">Minimum Dues Amount</span> -->
                                            <input type="number" class="form-control form-control-sm" id="due" placeholder="Minimum Dues Amount">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!-- <span>Select Report</span> -->
                                            <select class="form-control form-control-sm select2" style="width: 100%;">
                                                <option value="" selected disabled>Select Report</option>
                                                <option>With Subject Code</option>
                                                <option>Subject Code with full Marks</option>
                                                <option>Custome</option>
                                                <option>GPA</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-md-6 ">
                                        <label class="sr-only"
                                               for="inlineFormInputGroup">Select Student</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend dropdown">
                                                <select class="input-group-text dropdown-toggle p-0"
                                                        id="dropdownMenuButton"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false"
                                                        style="outline: none;">

                                                    <div class="dropdown-menu"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <option class="dropdown-item">
                                                            Name
                                                        </option>
                                                        <option class="dropdown-item">
                                                            RegdNo.
                                                        </option>
                                                        <option class="dropdown-item">
                                                            Roll No.
                                                        </option>
                                                        <option class="dropdown-item">
                                                            Id
                                                        </option>
                                                    </div>
                                                </select>
                                            </div>
                                            <select class="form-control select2bs4 form-control-sm select2">
                                                <option selected="selected">Select Student</option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary light-btn"><i class="fas fa-plus"></i> Add More</button>

                                    </div>
                                </div>



                                <div class="card p-2 mt-2">
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>

                                                    <th style="width:50px">S.No.</th>
                                                    <th style="width:80px">Id</th>
                                                    <th style="width:250px">Name</th>
                                                    <th style="width:80px">Roll No.</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Parent Aggregate Marksheet Ends -->
                            <!-- Marksheet Issue Starts -->
                            <div class="tab-pane fade main-section" id="medium" role="tabpanel"
                                 aria-labelledby="medium-tab">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <!-- <label>Class</label> -->
                                            <select class="form-control form-control-sm select2" style="width: 100%;">
                                                <option selected disabled>Select Class</option>
                                                <option>1 B</option>
                                                <option>2 A</option>
                                                <option>2 B</option>
                                                <option>2 C</option>
                                                <option>3 A</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <!-- <label>Exam</label> -->
                                            <select class="form-control form-control-sm select2" style="width: 100%;">
                                                <option selected disabled>Exam</option>
                                                <option>2nd Terminal</option>
                                                <option>3rd Terminal</option>
                                                <option>Final Exam</option>
                                                <option>Class Test</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <!-- <label>Exam Type</label> -->
                                            <select class="form-control form-control-sm select2" style="width: 100%;">
                                                <option selected disabled>Exam Type</option>
                                                <option>2nd Terminal</option>
                                                <option>3rd Terminal</option>
                                                <option>Final Exam</option>
                                                <option>Class Test</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- Table starts -->
                                <div class="card p-2">
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead class="text-center text-nowrap">
                                                <tr>
                                                    <th style="width: 100px;">Roll No.</th>
                                                    <th style="width: 100px;">Regd. No.</th>
                                                    <th style="width: 100px;">Symbol No.</th>
                                                    <th style="width: 350px;">Name</th>
                                                    <th class="d-flex justify-content-center">

                                                        Issue &nbsp;
                                                        <div style="margin-top: -5px;">
                                                            <div class="custom-control custom-checkbox checkbox-lg text-center">
                                                                <input type="checkbox" class="custom-control-input" id="select-all" checked="">
                                                                <label class="custom-control-label" for="select-all"></label>
                                                            </div>
                                                        </div>

                                                    </th>
                                                    <th style="width: 350px;">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td class="text-center">1</td>
                                                    <td class="text-center">1</td>
                                                    <td>
                                                        Suresh Paudel
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox checkbox-lg text-center">
                                                            <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                                                            <label class="custom-control-label" for="checkbox-3"></label>
                                                        </div>
                                                    </td>
                                                    <td>


                                                        <textarea class="form-control form-control-sm" id="textAreaExample" rows="1"></textarea>

                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
