<script src="~/jslib/AppCMS/Contact.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ContactController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="tab-content">
                    <div id="contact-detail">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="border: 1px solid #ececec;">
                                    <div class="card-header p-2">
                                        <h3 class="card-title text-secondary" style="font-size:21px;color: #025A58!important">Contact Information</h3>

                                        <button type="button" class="btn btn-sm btn-info float-right"
                                                id="edit-contact-detail" style="min-width: 90px" ng-click="onMapUrlChange()">
                                            <i class="fas fa-edit"></i> Edit Detail
                                        </button>
                                    </div>
                                    <div class="card-body p-2">
                                        <h6 class="text-secondary">
                                            <i class="fas fa-home mr-2"></i>Address:
                                        </h6>
                                        <h6>{{newContact.Address}}</h6>
                                        <hr class="my-1">
                                        <h6 class="text-secondary">
                                            <i class="fas fa-phone mr-2"></i>Contact No:
                                        </h6>
                                        <h6>{{newContact.ContactNo}}</h6>
                                        <hr class="my-1">
                                        <h6 class="text-secondary">
                                            <i class="far fa-envelope mr-2"></i>Email Addresss:
                                        </h6>
                                        <h6>{{newContact.EmailId}}</h6>
                                        <hr class="my-1">
                                        <h6 class="text-secondary">
                                            <i class="far fa-clock mr-2"></i>Opening Hours:
                                        </h6>
                                        <h6>{{newContact.OpeningHours}}</h6>
                                    </div>
                                </div>
                            </div>
                            @* Modified by Shishant on Dec 19, 2024 *@
                            <div class="col-md-8">                              
                                <div class="card" style="max-height:calc(100vh - 5rem)!important">
                                    <iframe ng-src="{{newContact.SecureMapUrl}}"
                                            width="60%"
                                            height="170"
                                            style="border: 1px solid #ccc;"
                                            allowfullscreen=""
                                            loading="lazy"></iframe>

                                </div>
                            </div>
                            @*  *@
                        </div>
                    </div>
                    <div id="contact-form">
                        <div class="card p-2">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Address</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newContact.Address" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Contact No</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newContact.ContactNo" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Email Address</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newContact.EmailId" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Opening Hours</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="newContact.OpeningHours" />
                                    </div>
                                </div>
                                @* Modified by Shishant on Dec 19, 2024 *@
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Google Map Iframe Url</label>
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="newContact.MapUrl"
                                               ng-change="onMapUrlChange()" />
                                    </div>
                                </div>
                            </div>
                            <div class="time-label">
                                <span class="d-block border-0 p-3 text-center">
                                    <button type="button" class="btn btn-sm btn-info"
                                            id="back-to-contact-detail" style="min-width: 90px">
                                        Back to List
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearContact()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateContact()">{{newContact.Mode}}</button>
                                </span>
                            </div>
                            <label><b>Map Preview</b></label>
                            <div class="card">
                                <iframe ng-src="{{newContact.SecureMapUrlPreview}}"
                                        width="60%" height="170" style="border:1px solid #ccc;"
                                        allowfullscreen="" loading="lazy"></iframe>
                            </div>
                            @*  *@


                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>


</div>







