<style>
    th,
    tr,
    td {
        width: 30px;
        height: 30px;
        text-align: center;
    }



    td {
        height: 45px;
        margin: 2px;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    tr {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    th {
        font-weight: 700;
        background-color: #e9f2ee;
        color: #025a58;
    }
    .bg-lightgreen {
        background-color: #84c35f;
    }
</style>
<script src="~/jslib/appcms/academiccalendar.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="npEventListController" @*ng-init="LoadData()"*@>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2" style="border: 1px solid #ccc;">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="7" class="py-2" style="background-color: #025a58;color: lightcyan;">
                                            <i class="fas fa-chevron-left float-left ml-4" ng-click="nextPreviusMonth(-1)"></i>{{AcademicCalendar.CurMonth.MonthName}}
                                            {{AcademicCalendar.YearId}} <i class="ml-4 fas fa-angle-right float-right mr-4" ng-click="nextPreviusMonth(1)"></i>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Sun</th>
                                        <th>Mon</th>
                                        <th>Tue</th>
                                        <th>Wed</th>
                                        <th>Thu</th>
                                        <th>Fri</th>
                                        <th class="text-danger">Sat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<ul class="days">
                                            <li ng-repeat="dd in mn.BlankDaysColl track by $index">&emsp;</li>
                                            <li class="wait" ng-repeat="dd in mn.DataColl" ng-click="ClickOnDay(dd)">
                                                {{dd.ND}}
                                                <span style="content: ''; display: block;  height: 24px; width: 100%; margin-top: -21px; border: 1px solid #ccc;border-radius: 50%;" ng-style="{ 'background-color' : ec.ColorCode }"> </span>
                                            </li>
                                        </ul>*@
                                    <tr ng-repeat="rc in AcademicCalendar.CurMonth.RowColl">
                                        @*<td ng-repeat="dd in rc.ColColl">
            {{dd.ND}}
            <span ng-show="dd.IsWeekend==true" style="content: ''; display: block;  height: 24px; width: 100%; margin-top: -21px; border: 1px solid #ccc;border-radius: 50%;" ng-style="{ 'background-color' : dd.WeekendColorCode }"> </span>
            <span style="content: ''; display: block;  height: 24px; width: 100%; margin-top: -21px; border: 1px solid #ccc;border-radius: 50%;" ng-style="{ 'background-color' : ec.ColorCode }" ng-repeat="ec in dd.EventColl"> </span>
        </td>*@

                                        <td ng-repeat="dd in rc.ColColl"
                                            ng-class="{'bg-lightgreen text-white': dd.ND == CurrentDate.ND && AcademicCalendar.MonthId == CurrentDate.NM && AcademicCalendar.YearId == CurrentDate.NY}">

                                            {{dd.ND}}

                                            <span ng-show="dd.IsWeekend==true"
                                                  style="content: ''; display: block; height: 24px; width: 100%; margin-top: -21px; border: 1px solid #ccc; border-radius: 50%;"
                                                  ng-style="{ 'background-color' : dd.WeekendColorCode }">
                                            </span>

                                            <span ng-repeat="ec in dd.EventColl"
                                                  style="content: ''; display: block; height: 24px; width: 100%; margin-top: -21px; border: 1px solid #ccc; border-radius: 50%;"
                                                  ng-style="{ 'background-color' : ec.ColorCode }">
                                            </span>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-md-8">

                        <div class="card card-widget mb-2" style="border: 1px solid #ccc;">
                            <div class="card-header">
                                <h5>Events and Holidays in {{AcademicCalendar.CurMonth.MonthName}}</h5>
                            </div>

                            <div class="card-footer card-comments" style="max-height:258px;overflow-y: auto;">
                                <div class="card-comment" ng-repeat="ec in AcademicCalendar.CurMonth.EventColl">
                                    <img class="img-circle img-sm" ng-src="{{ec.ImagePath}}" ng-click="ShowPersonalImg(ec)" alt="User Image">
                                    <div class="comment-text">
                                        <span class="username">
                                            {{ec.Name}}
                                            <span class="text-muted float-right">{{ec.FromDate_BS}} </span>
                                        </span>
                                        {{ec.Description}}
                                    </div>
                                </div>
                                <div ng-show="AcademicCalendar.CurMonth.EventColl.length==0">
                                    <div class="text-center">
                                        <img class="image-fluid" src="~/wwwroot/dynamic/images/No event.jpg" style="width: 150px; margin-top: 19px; margin-bottom: 19px" />
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>


                <div class="card" style="border: 1px solid #ccc;">
                    <div class="card-header border-0">
                        <h3 class="card-title"><b>All Events for the year {{AcademicCalendar.YearId}}</b></h3>

                    </div>
                    <div class="card-body table-responsive p-0" style="max-height: 500px;">
                        <table class="table table-head-fixed table-striped">
                            <thead>
                                <tr>
                                    <th style="width:250px">Event Name</th>
                                    <th style="width:120px">Event Type</th>
                                    <th style="width:250px">Description</th>
                                    <th style="width:120px">Date From </th>
                                    <th style="width:120px">Date To </th>
                                    <th style="width:200px">Applied For Classes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ec in AllEventList">
                                    <td class="text-left">
                                        <div class="row">
                                            <div class="col-md-2"><img class="img-fluid" ng-src="{{ec.ImagePath}}" ng-click="ShowPersonalImg(ec)" style="max-height: 50px;"></div>
                                            <div class="col-md-10"> {{ec.Name}}</div>
                                        </div>
                                    </td>
                                    <td>{{ec.EventType}}</td>
                                    <td>{{ec.Description}}</td>
                                    <td>{{ec.FromDate_BS}}</td>
                                    <td>{{ec.ToDate_BS}}</td>
                                    <td>{{ec.ForClass}} </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>



            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="PersonalImg" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                    <img ng-src="{{viewImg.ContentPath}}"  alt="" style="width:100%; height: 70vh;">
                </div>
                <div class="modal-footer">
                    <div><a href="{{viewImg.ContentPath}}" download>Download</a></div>
                    <button class="btn btn-success btn-rounded btn-sm ml-4 text-center" data-dismiss="modal" type="button" style="min-width: 90px;">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

