<script src="~/jslib/AppCMS/HeaderDetails.js?v=20251115"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="HeaderDetailsController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="iframe-content-starts-here">
        <div class="container-fluid">
            <div class="row">


                <div class="col-md-9">
                    <div class="table-scroll-x-y sales-main-table table-scroll">
                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                            <thead class=" text-nowrap">
                                <tr>

                                    <th style="width: 100px;">Fields</th>

                                    <th style="width: 200px;">Enter Value</th>
                                    <th style="width: 70px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Company Name</td>
                                    <td> <input type="text" ng-model="newDet.CompanyName" class="form-control form-control-sm" /></td>
                                    <td class="">
                                        <div class="btn-group btn-group-toggle ml-2 mt-2"  style="border: 1px solid #76be4e; border-radius: 12px;">
                                            <label class="btn btn-sm bg-default py-0" style="border-radius: 11px;" ng-class="(newDet.NameIsActive==true ? 'active' : '')">
                                                <input type="radio" name="ShowName" autocomplete="off" ng-value="true" ng-model="newDet.NameIsActive"> Show
                                            </label>
                                            <label class="btn btn-sm bg-default py-0" style="border-radius: 11px;" ng-class="(newDet.NameIsActive==false ? 'active' : '')">
                                                <input type="radio" name="ShowName" autocomplete="off" ng-value="false" ng-model="newDet.NameIsActive"> Hide
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Slogan</td>
                                    <td>  <input type="text" ng-model="newDet.Slogan" class="form-control form-control-sm" /></td>
                                    <td class="">
                                        <div class="btn-group btn-group-toggle ml-2 mt-2"  style="border: 1px solid #76be4e; border-radius: 12px;">
                                            <label class="btn btn-sm bg-default py-0" style="border-radius: 11px;" ng-class="(newDet.SloganIsActive==true ? 'active' : '')">
                                                <input type="radio" name="IsSlogan" autocomplete="off" ng-value="true" ng-model="newDet.SloganIsActive"> Show
                                            </label>
                                            <label class="btn btn-sm bg-default py-0" style="border-radius: 11px;" ng-class="(newDet.SloganIsActive==false ? 'active' : '')">
                                                <input type="radio" name="IsSlogan" autocomplete="off" ng-value="false" ng-model="newDet.SloganIsActive"> Hide
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                
                <div class="col-md-3">
                    <div class="brand-image text-center">
                        <div class="img-wrap" style="margin-left: auto; margin-right: 0;">
                            <img ng-src="{{newDet.LogoPhoto }}" id="imgPhoto1" class="img-fluid" alt="" style="height:130px; width:165px; border:1px solid #ccc">
                        </div>
                        <label for="choose-sfile" class="btn btn-default mt-1 mb-0"><i class="fa fa-image"></i> Upload Header Logo</label>
                        <input id="choose-sfile" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newDet.Photo_TMP" fileread="newDet.LogoPhoto" />

                    </div>
                    <div class="text-center">
                        <div class="btn-group btn-group-toggle ml-2 mt-2" style="border: 1px solid #76be4e; border-radius: 12px;">
                            <label class="btn btn-sm bg-default py-0" style="border-radius: 11px;" ng-class="(newDet.HeaderIsActive==true ? 'active' : '')">
                                <input type="radio" name="LogoPhoto" autocomplete="off" ng-value="true" ng-model="newDet.HeaderIsActive"> Show
                            </label>
                            <label class="btn btn-sm bg-default py-0" style="border-radius: 11px;" ng-class="(newDet.HeaderIsActive==false ? 'active' : '')">
                                <input type="radio" name="LogoPhoto" autocomplete="off" ng-value="false" ng-model="newDet.HeaderIsActive"> Hide
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-item-center mt-2">
                
                <div class="col-md-12 mt-2 text-center">
                    <button class="btn btn-sm btn-success" style="width:70px;" ng-click="SaveUpdateHeaderDetails()">Save</button>
                    <button class="btn btn-sm btn-default" style="width:70px;" ng-click="ClearDetails()">Clear</button>
                </div>
            </div>


        </div>
    </section>
</div>
