<script src="~/jslib/appcms/MandatoryDisclosure.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="MandatoryDisclosureController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="tab-content" id="mandatory-disclosure-table">
                    <div class="card py-2">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.AddMandatoryDisclosure">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.AddMandatoryDisclosure">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search" placeholder="Search" ng-model="searchData.AddMandatoryDisclosure"
                                                   aria-label="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        <div class="col-md-5 d-flex gap-5 justify-content-end align-items-center">
                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                 data-placement="top" title="Download File">
                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-download"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right"
                                     aria-labelledby="dropdownMenuButton">
                                    <span class="dropdown-item">Choose an option:</span>
                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                </div>
                            </div>
                            <a href="#" class="btn btn-secondary btn-light btn-sm mx-2" data-toggle="tooltip"
                               data-placement="bottom" title="Print">
                                <i class="fas fa-print"></i>
                            </a>
                            <button type="button" class="btn btn-sm btn-success" id="add-mandatory-disclosure"
                                    style="min-height: 28px; min-width: 150px;" ng-click="ClearDetails()">
                                <i class="fas fa-plus w-t"></i> Add Mandatory Disclosure
                            </button>
                        </div>
                        </header>
                        <div>
                            @*Table*@
                            <div class="table-scroll table-scroll-x-y sales-main-table">
                                <table class="table table-bordered table-sm bg-white" id="main-table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:50px">S.N</th>
                                            <th style="width:200px">Title</th>
                                            <th style="width:350px">Description</th>
                                            <th class="text-center" style="width:50px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="cl in MandatoryDisclosureDataList | filter:searchData.AddMandatoryDisclosure | itemsPerPage: perPage.AddMandatoryDisclosure" current-page="currentPages.AddMandatoryDisclosure" pagination-id="AddMandatoryDisclosurePagination">
                                            <td>{{$index+1}}</td>
                                            <td>{{cl.Title}}</td>
                                            <td>{{cl.Description}}</td> 
                                            <td class="text-center">
                                                <button ng-click="GetMandatoryDisclosureById(cl)" class="btn btn-link p-0"><i class="fas fa-edit p-1 text-info"></i></button>
                                                <button ng-click="DeleteMandatoryDisclosure(cl)" class="btn btn-link p-0"><i class="fas fa-trash-alt text-danger"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="AddMandatoryDisclosurePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- form area starts -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card" id="mandatory-disclosure-form">
                            <div class="card-body p-2">
                              
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label for="Title" class="form-label">Title</label>
                                            <input type="text" ng-model="MandatoryDisclosureData.Title" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="OrderNo" class="form-label">Order No.</label>
                                            <input type="number" ng-model="MandatoryDisclosureData.OrderNo" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="Description" class="form-label">Description</label>
                                        <textarea class="textarea"
                                                  style="width: 100%; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" html-editor ng-model="MandatoryDisclosureData.Description"></textarea>
                                     
                                    </div>
                                </div>
                                    

                                    <div class="text-center my-3 py-3" >
                                        <button class="btn btn-sm btn-info" id="mandatory-disclosure-back-btn">Back to List</button>
                                        <button class="btn btn-sm btn-default" ng-click="ClearDetails()" style="min-width:70px">Reset</button>
                                        <button class="btn btn-sm btn-success" ng-click="SaveUpdateAddDetails()" style="min-width:70px">Save</button>
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form area ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
