<script src="~/jslib/appcms/ThemeConfiguration.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ThemeConfigController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card-primary card-tabs">                           
                            <div id="Theme-form" class="card">
                                <div class="row card-body p-2">
                                    @*<div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Theme</label>
                                            <select class="form-control form-control-sm" ng-model="newDet.ThemeId">
                                                <option ng-repeat="T in ThemeList" ng-value="T.id">{{T.text}}</option>
                                            </select>
                                        </div>
                                    </div>*@ 
                                
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Primary Color</label>
                                            <input type="color" class="form-control form-control-sm" ng-model="newDet.PrimaryColor"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Secondary Color</label>
                                            <input type="color" class="form-control form-control-sm"  ng-model="newDet.SecondaryColor"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Third Color</label>
                                            <input type="color" class="form-control form-control-sm"  ng-model="newDet.ThirdColor"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Fourth Color</label>
                                            <input type="color" class="form-control form-control-sm" ng-model="newDet.FourthColor"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Fifth Color</label>
                                            <input type="color" class="form-control form-control-sm" ng-model="newDet.FifthColor"/>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="text-center">
                                        @*<button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearTheme()">Reset</button>*@
                                        <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ResetThemeConfig()">Reset Color</button>
                                        <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateThemeConfig()">Save</button>
                                    </div>
                                </div>
                                @*<div class="card mt-3 mb-0">
                                    <div class="card-header p-2" style="background-color:green;color:#ffffff" ng-show="newDet.ThemeId">
                                        <p class="mb-0">Website Preview</p>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="col-md-12 mt-3">
                                            <iframe ng-show="newDet.ThemeId==1" src="https://admin-theme-one-site.netlify.app/" title="themeone" style="max-height:calc(100vh - 16rem)!important"></iframe>
                                            <iframe ng-show="newDet.ThemeId==2" src="https://admin-theme-two-site.netlify.app/" title="themetwo" style="max-height:calc(100vh - 16rem)!important"></iframe>
                                            <iframe ng-show="newDet.ThemeId==3" src="https://admin-theme-three-site.netlify.app/" title="themethree" style="max-height:calc(100vh - 16rem)!important"></iframe>
                                            <iframe ng-show="newDet.ThemeId==4" src="https://admin-theme-four-site.netlify.app/" title="themefour" style="max-height:calc(100vh - 16rem)!important"></iframe>
                                            <iframe ng-show="newDet.ThemeId==5" src="https://admin-theme-five-site.netlify.app/" title="themefive" style="max-height:calc(100vh - 16rem)!important"></iframe>

                                        </div>
                                    </div>
                                </div>*@
                               


                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>