<script src="~/jslib/scholarship/GenerateRollNo.js"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="GenerateRollNoController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="complain-listing">
                    <!-- Second Tab Content -->
                    <div class="row" style="margin-top: -10px;">
                        <div class="col-md-2">
                            <div class="form-group mb-1">
                                <label>Subject</label>
                                <select class="select2 form-control form-control-sm" ng-model="newDet.SubjectId" style="width: 100%">
                                    @*<option ng-value=" ">All</option>*@
                                    <option ng-repeat="S in SubjectList" ng-value="S.SubjectId" ng-selected="newDet.SubjectId==S.SubjectId">{{S.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group mb-1">
                                <label>Start Number</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDet.StartNo" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mb-1">
                                <label>Pad Width</label>
                                <input type="number" class="form-control form-control-sm" ng-model="newDet.PadWidth" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mb-1">
                                <label>Prefix</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDet.Prefix" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mb-1">
                                <label>Suffix</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newDet.Suffix" />
                            </div>
                        </div>


                        <div class="col-md-2">
                            <button class="btn btn-sm btn-info mt-4" style="min-width:70px" ng-click="SaveUpdateGenerateRollNo()">Generate Roll No</button>

                        </div>
                    </div>

                    <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height:calc(100vh - 13rem)!important">
                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 50px">S.No.</th>
                                    <th style="width: 100px">Subject</th>
                                    <th style="width: 100px">Start No</th>
                                    <th style="width: 100px">Pad Width</th>
                                    <th style="width: 100px">Prefix</th>
                                    <th style="width: 100px">Suffix</th>
                                    <th style="width: 100px">CreateBy</th>
                                    <th style="width: 100px">Log Date Time</th>
                                    <th class="text-center" style="width: 50px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cl in GenerateRollNoList">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td>{{cl.SubjectName}}</td>
                                    <td>{{cl.StartNo}}</td>
                                    <td>{{cl.PadWidth}}</td>
                                    <td>{{cl.Prefix}}</td>
                                    <td>{{cl.Suffix}}</td>
                                    <td>{{cl.CreateBy}}</td>
                                    <td>{{cl.LogMiti}} , {{cl.LogDateTime|timeFormat}}</td>
                                    <td class="text-center">

                                        <a class="p-1" href="#" ng-click="DelGenerateRollNoById(cl,$index)">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- table end -->
                    </div>
                </div>
               
            </section>

            

        </div>
        <!-- form area ends -->
    </section>
    <!-- /.row -->
</div>