
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Scholarship Form</title>
    <!-- Tell the browser to be responsive to screen width -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- jQuery -->
    <script src="~/wwwroot/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/wwwroot/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker3.min.css" />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/wwwroot/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/wwwroot/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/wwwroot/plugins/daterangepicker/daterangepicker.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/wwwroot/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/wwwroot/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- dropzonejs -->
    <!-- <link rel="stylesheet" href="plugins/dropzone/min/dropzone.min.css"> -->
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/dropzone.css">
    <!-- Theme style -->
    <!-- <link rel="stylesheet" href="dist/css/adminlte.min.css"> -->
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic-erp-theme.css">

    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic.css">
    <link rel="stylesheet" href="~/wwwroot/plugins/ag-grid/css/ag-grid.css">
    <link rel="stylesheet" href="~/wwwroot/plugins/ag-grid/css/ag-theme-alpine.css">


    <link rel="stylesheet" href="~/wwwroot/plugins/summernote/summernote-bs4.css">
    <link href="~/wwwroot/dynamic/css/iframe-override.css" rel="stylesheet" />


    <link href="~/Scripts/ag-grid.css" rel="stylesheet" />
    <link href="~/Scripts/ag-theme-balham.css" rel="stylesheet" />

    <link href="~/wwwroot/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <script src="~/wwwroot/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/ag-grid-community.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/multiplex.js"></script>
    <script src="~/jslib/print/angular-file-saver.bundle.min.js"></script>
    <link href="~/jslib/cron/angular-cron-jobs.css" rel="stylesheet" />
    <script src="~/jslib/cron/angular-cron-jobs.js"></script>

    <script type="text/javascript" src="~/pivot/pivot.js"></script>
    <script type="text/javascript" src="~/pivot/gchart_renderers.js"></script>
    <script type="text/javascript" src="~/pivot/export_renderers.js"></script>

    <!-- UIGrid Refferences -->
    <script src="~/Scripts/ui-grid.min.js"></script>
    <link href="~/Content/ui-grid.min.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-aria.js"></script>
    <script src="~/Scripts/export-ui-grid/csv.js"></script>
    <script src="~/Scripts/export-ui-grid/pdfmake.js"></script>
    <script src="~/Scripts/export-ui-grid/vfs_fonts.js"></script>

    <script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>

    <link href="~/Scripts/nepalidate/nepali.datepicker.v3.5.min.css" rel="stylesheet" />
    <script src="~/Scripts/nepalidate/nepali.datepicker.v3.5.min.js"></script>

    <script src="~/wwwroot/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/jslib/main.js?v=9"></script>
    <script src="~/jslib/global/GlobalServices.js?v=9"></script>
    <script src="~/jslib/global/Common.js?v=9"></script>
    <style>

       


        .btn-circle {
            width: 39px;
            height: 39px;
            text-align: center;
            padding: 6px 6px;
            font-size: 20px;
            line-height: 1.228571;
            border-radius: 50%;
        }

        /*.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
            color: #ffffff;
            background-color: #28a745 !important;
            border-color: #28a745;
        }*/

        .btn-green {
            background-color: #077A56;
            border-radius: 77px;
            color: #ffffff;
            min-Width: 130px
        }

        .btn-light-green {
            background-color: #EEFFFA;
            border-radius: 77px;
            color: #077A56;
            min-Width: 130px;
            border: 1px solid #077A5633
        }

        .btn-light-red {
            background-color: #FFAAADCC;
            color: #AA0B12;
            border-radius: 77px;
        }


        .input-field.input-outlined > input {
            border: 2px solid #eee;
            padding: 12px 16px 15px;
            width: calc(100% - 2.5rem);
            float: none;
            display: block;
            border-radius: 4px;
            transition: box-shadow, border-color 0.15s;
        }

            .input-field.input-outlined > input:focus:not([readonly]) {
                border-color: #26A69B;
                box-shadow: 0 1px 0 0px #26A69B;
            }

        .input-field.input-outlined > label {
            left: 27px;
            display: inline-flex;
            width: auto !important;
        }

            .input-field.input-outlined > label.active {
                background: white;
                border-left: 4px solid white;
                border-right: 4px solid white;
                transform: translateY(-3.35rem);
                top: 1rem;
            }

        .rotingtxt {
            -webkit-transform: rotate(331deg);
            -moz-transform: rotate(331deg);
            -o-transform: rotate(331deg);
            transform: rotate(331deg);
            font-size: 6em;
            color: #6cba4429;
            position: absolute;
            font-family: 'Denk One', sans-serif;
            text-transform: uppercase;
            padding: 10%;
            padding-top: 10%;
        }

        .marksheet td, .marksheet th {
            padding: 0.35rem;
            border: none !important;
            vertical-align: top;
            border-right: 2px solid #0000005e !important;
            border-left: 2px solid #0000005e !important;
        }
        .table-bordered {
            border: 2px solid #2d3333!important;
            font-size:15px
        }
            .table-bordered th, .table-bordered td {
                border: 2px solid #2d3333!important;
            }
        @@media (max-width: 577px) {
            .status-row:before {
                top: auto;
                bottom: auto;
                position: static;
                content: none;
                width: auto;
                right: auto;
                height: auto;
                background-color: transparent;
                z-index: auto;
            }

            h3 {
                font-size: 20px
            }

            h5 {
                font-size: 1.2rem;
            }
        }
    </style>
    @{
        var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
        var baseurl = urlHelper.Content("~");
    }

    <script>
        var base_url = "@baseurl";
    </script>

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- Select2 -->
    <script src="~/wwwroot/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/wwwroot/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/wwwroot/plugins/moment/moment.min.js"></script>
    <script src="~/wwwroot/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/wwwroot/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/wwwroot/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/wwwroot/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/wwwroot/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/wwwroot/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <!-- <script src="plugins/dropzone/min/dropzone.min.js"></script> -->
    @*<script src="~/wwwroot/dynamic/js/dropzone.js"></script>*@
    <!-- overlayScrollbars -->
    <script src="~/wwwroot/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/wwwroot/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/wwwroot/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/wwwroot/dist/js/demo.js"></script>

    @*<Link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.min.js"></script>


    <script src="~/jslib/scholarship/ViewdmitCard.js"></script>
</head>

<body style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )" ng-app="myApp" ng-controller="AdmitCardController" ng-init="LoadData()">
    <div class="container" style="background-color: aliceblue;">

        
        <div class="card p-2 mb-0">
            <a href="" ng-click="Print()" class="btn btn-sm btn-success" style="max-width:150px"><i class="fas fa-print"></i> Print Admit Card</a>
        </div>
        <!--Admit Card Starts-->
        <div id="admitcard">

            <div class="card p-2">
                <div class="row pt-1" id="printheading">
                    <div class="col-md-3 text-center">
                        <img src="~/wwwroot/dynamic/images/Gov Logo.png" style="height:120px" />
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <h3 class="mb-0" style="font-weight: 600; font-size: 32px;">काठमाडौं महानगरपालिका </h3>
                            <img style="height:50px;" src="~/wwwroot/dynamic/images/ktmnamene-removebg-preview.png" />
                            <h4 style="font-weight: 600; font-size: 24px;">नगर कार्यपालिकाको कार्यालय </h4>
                            <h4 style="font-weight: 600; font-size: 20px;">शिक्षा विभाग</h4>
                            <h4 style="font-weight: 600; font-size: 20px;">छात्रवृत्ति छनोट परीक्षा, २०८१</h4>
                            <h5 style="font-weight: 600; font-size: 19px;"><u>प्रवेश पत्र</u></h5>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="~/wwwroot/dynamic/images/kmc-logo.png" style="height:120px" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <label style="font-size:15px;min-width:75px">रोल नम्बर </label><label style="font-size:15px;">: {{newScholarship.RollNo}}</label>
                            </div>
                            <div class="col-md-12">
                                <label style="font-size:15px">उम्मेदवारको नाम, थर : {{newScholarship.FirstName}} {{newScholarship.MiddleName}} {{newScholarship.LastName}}</label>
                            </div>
                            <div class="col-md-4">
                                <label style="font-size:15px;min-width:75px"> जन्म मिति </label><label style="font-size:15px">: {{newScholarship.DOBMiti}}</label>
                            </div>
                            <div class="col-md-4">
                                <label style="font-size:15px">  लिङ्ग : {{ newScholarship.Gender === "1"|| newScholarship.Gender === 1 ? "Male" : newScholarship.Gender === "2"|| newScholarship.Gender === 2 ? "Female" : "Other" }}</label>
                            </div>
                            <div class="col-md-4">
                                <label style="font-size:15px"> परीक्षा मिति : २०८१/०४/०४</label>
                            </div>
                            <div class="col-md-12">
                                <label style="font-size: 15px; min-width: 75px"> परीक्षा केन्द्र </label><label style="font-size:15px;">: {{newScholarship.ExamCenter}}</label>
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: 15px; min-width: 75px"> बाबुको नाम </label><label style="font-size:15px;"> : {{newScholarship.F_FirstName}} {{newScholarship.F_MiddleName}} {{newScholarship.F_LastName}}</label>
                            </div>

                            <div class="col-md-6">
                                <label style="font-size:15px">  आमाको नाम : {{newScholarship.M_FirstName}} {{newScholarship.M_MiddleName}} {{newScholarship.M_LastName}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img src="{{newScholarship.PhotoData || newScholarship.PhotoPath}}" style="max-height: 110px; width: 100px; border: 1px solid #2d3333; " /><br />
                        <img class="mt-2 p-2" src="{{newScholarship.SignatureData || newScholarship.SignaturePath}}" style="max-height: 70px; width: 100px; border: 1px solid #2d3333; " />
                    </div>
                </div>

                <div class=" my-3">
                    <table id="main-table" class=" table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 90px">एस ई ई सिम्बोल नम्बर</th>
                                <th style="width: 110px">आवेदन दिएको विषय</th>
                                <th style="width: 350px">आवेदन दिएको छात्रवृत्तिको प्रकार </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{newScholarship.SEESymbolNo}} {{newScholarship.Alphabet}}</td>
                                <td>{{newScholarship.SubjectName}}</td>
                                <td>
                                    {{newScholarship.ScholarshipTypeName}} ({{ newScholarship.SchoolTypeId === 1 ? " Community" : "Institutional" }})
                                    (<label ng-repeat="G in newScholarship.ReservationGroupList">
                                        {{G.ReservationGroupName}} <span ng-if="!$last">, </span>
                                    </label>)
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <!-- table end -->
                </div>
                <div style="margin-top:60px;">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="p-2" style="border-top: 2px dashed #000000; font-size: 15px">परीक्षार्थीको हस्ताक्षर</label>
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: 15px">कार्यालयको छाप:	</label>
                        </div>
                        <div class="col-md-4">
                            <label class="p-2" style="font-size: 15px;border-top:2px dashed #000000">शिक्षा अधिकारीको हस्ताक्षर</label>
                        </div>
                    </div>
                </div>
                <label class="my-3" style="font-size: 15px">यस कार्यालयबाट लिईने उक्त परीक्षामा तपाईलाई माथि उल्लिखित केन्द्रबाट सम्मिलित हुन अनुमति दिईएको छ । सूचनामा तोकिएको शर्त नपुगेको ठहर भएमा जुनसुकै अवस्थामा पनि यो अनुमति रद्द हुन सक्नेछ । </label>

                <h5><b>उम्मेदवारले पालना गर्नुपर्ने नियमहरु:</b></h5>
                <div class="d-flex">
                    <div style="width:25px">१.</div>
                    <div><label style="font-size:15px">परीक्षा भवनमा आउँदा प्रवेश पत्र अनिवार्य रुपमा ल्याउनुपर्नेछ । र केन्द्राध्यक्ष वा निरीक्षकले माग गरेमा देखाउनु पर्नेछ । </label></div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">२.</div>
                    <div><label style="font-size:15px">परीक्षा शुरु हुनु एकघण्टा अगावै परीक्षाकेन्द्रमा पुगीसक्नुपर्नेछ । परीक्षा शुरु हुनु १५ मिनेट अघि सूचनाबाट जानकारी गराइएपश्चात परीक्षा हलमा प्रवेश गर्न पाइनेछ ।  </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">३.</div>
                    <div><label style="font-size:15px">परीक्षा शुरु भएको आधा घण्टा वितेपछि परीक्षाकेन्द्रमा प्रवेश गर्न पाइनेछैन । परीक्षामा सहभागी हुँदा अनिवार्य रुपमा हाजिर गर्नु पर्नेछ।</label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">४.</div>
                    <div><label style="font-size:15px">केन्द्राध्यक्षले दिएको निर्देशनको पालना गरी तोकेको निर्दिष्ट स्थानमा बसी परीक्षा दिनुपर्नेछ । केन्द्राध्यक्ष वा निजले तोकेको व्यक्ति वा निरीक्षण टोलीले जुनसुकै बेला पनि खानतलासी गर्न सक्नेछ । </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">५.</div>
                    <div><label style="font-size:15px">केन्द्राध्यक्षको अनुमतिबिना आफ्नो स्थान वा परीक्षा भवन छोडी बाहिर जान पाइने छैन ।  </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">६.</div>
                    <div><label style="font-size:15px"> परीक्षा शुरु भएको २ घण्टा नभई परीक्षा केन्द्र छोड्न पाइने छैन ।  </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">७.</div>
                    <div><label style="font-size:15px"> महानगरपालिकाबाट सूचनाद्वारा जानकारी गराएकोबाहेक परीक्षा सर्ने छैन ।</label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">८.</div>
                    <div><label style="font-size:15px"> परीक्षा दिन आउँदा अनिवार्य रुपमा प्रवेशपत्र ल्याउनु पर्नेछ। प्रवेशपत्र विना परीक्षामा बस्न पाइने छैन।  </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">९.</div>
                    <div><label style="font-size:15px"> परीक्षा हलमा प्रवेश गरे पछि किताब, नोटबुक, गाइड, कापी, कागज, चिट,  क्यालकुलेटर, मोबाइल फोन, स्मार्ट वाच, हातहतियार, अवैध पदार्थ वा अरु निषेध गरिएका कुनै पनि वस्तु आदि आफू साथ राखु हुदैन। </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">१०.</div>
                    <div><label style="font-size:15px"> विद्यार्थीले आपसमा कुराकानी र संकेत समेत गर्नु हुदैन। एउटा परीक्षार्थीले कुनै अर्को परीक्षार्थीको उत्तर पूस्तिकाबाट नक्कल गरेको पाइएमा नक्कल गर्ने र गर्न दिने दुबै परीक्षार्थीलाई निष्काशन गरिने छ ।   </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">११.</div>
                    <div><label style="font-size:15px"> परीक्षा हलमा परीक्षाको मर्यादा विपरीत कुनै काम गरेमा, अनियमित काम गरेमा, एक परीक्षार्थीको सट्टा अर्को परीक्षार्थी भई परीक्षा दिएमा, निरीक्षकलाई उत्तरपूस्तिका नबुझाई आफैं लगेमा वा च्यातेमा त्यस्ता परीक्षार्थीलाई केन्द्राध्यक्षले परीक्षा हलबाट निष्काशन गरी तुरुन्त कानून बमोजिमको कारबाही गर्नेछ र त्यसरी निष्काशन गरिएकोमा परीक्षा स्वतः रद्द भएको मानिने छ।  </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">१२.</div>
                    <div><label style="font-size:15px"> परीक्षार्थीले एकपटक आफ्नो उत्तरपूस्तिका बुझाई परीक्षा कोठाबाहिर गइसकेपछि निजलाई कुनै हालतामा पुन: परीक्षा कोठाभित्र बसाली परीक्षा दिलाइने छैन ।  </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">१३.</div>
                    <div><label style="font-size:15px"> बिरामी भएको विद्यार्थीले परीक्षा हलमा प्रवेश गरी परीक्षा दिने क्रममा निजलाई केही भएमा समिति कुनै जवाफदेही हुने छैन।  </label> </div>
                </div>
                <div class="d-flex">
                    <div style="width:25px">१४.</div>
                    <div><label style="font-size:15px"> वस्तुगत परीक्षामा आफूलाई प्राप्त प्रश्न पत्रको "set" OMR sheet मा अनिवार्य रुपले लेख्नुपर्ने छ। नलेखेमा उत्तरपुस्तिका स्वतः रद्द हुनेछ। साथै तोकिएको OMR Sheet मा आफुलाई लागेको सहि उत्तरको A,B,C,D को गोलो घेरामा कालो जेल पेनले पोत्नुपर्नेछ ।  </label> </div>
                </div>
                <div class="d-flex mb-4">
                    <div style="width:25px">१५.</div>
                    <div><label style="font-size:15px"> मूल उत्तरपूस्तिकामा तोकिएको स्थानबाहेक अन्य कुनै पनि स्थानमा  लेख्न पाइने छैन । अन्य कुनै पनि प्रकारको संकेत गरेको पाइएमा परीक्षा स्वत: रद्द हुनेछ र परीक्षाफल प्रकाशित हुने छैन । </label> </div>
                </div>


            </div>
        </div>
        <!--Admit Card Ends-->
    </div>
</body>
</html>
