
<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.FormsEntity.ExtraCertification)";    
</script>
<script src="~/jslib/academic/transaction/ExtraEntity.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ExtraEntity" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <header class="if-page-have-nav-tabs px-2">
                                <div class="row upper-tab">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active"
                                            id="myTab"
                                            role="tablist">

                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active"
                                                   id="profile-tab"
                                                   data-toggle="tab"
                                                   href="#profile"
                                                   role="tab"
                                                   aria-controls="profile"
                                                   aria-selected="false">Extra Entity</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link"
                                                   id="contact-tab"
                                                   data-toggle="tab"
                                                   href="#contact"
                                                   role="tab"
                                                   aria-controls="contact"
                                                   aria-selected="false">Extra Certificate Issue</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade main-section active show"
                                     id="profile"
                                     role="tabpanel"
                                     aria-labelledby="profile-tab">

                                    <div id="ExtraEntity-section" class="card py-2">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.ExtraEntity">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.ExtraEntity">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.ExtraEntity">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="col-md-5 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                        
                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="bottom" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <a href="#" class="btn btn-success btn-sm" id="add-ExtratEntity">
                                                    <i class="fas fa-plus w-t"></i> Add Extra Entity
                                                </a>
                                            </div>
                                        </header>
                                        <div class="table-scroll-x-y table-scroll">
                                            <table id="main-table" class="main-table table table-sm table-bordered bg-white" style="height: auto;">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 50px;">S.No.</th>
                                                        <th style="width: 200px;">Name</th>
                                                        <th style="width: 150px;">For</th>
                                                        <th style="width: 150px;">Description</th>
                                                        <th style="width: 70px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="cl in ExtraEntityList | filter:searchData.ExtraEntity | itemsPerPage: perPage.Hostel" current-page="currentPages.ExtraEntity" pagination-id="ExtraEntityPagination">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{cl.Name}}</td>
                                                        <td>{{cl.For |forStEmp}}</td>
                                                        <td>{{cl.Description}}</td>
                                                        <td>
                                                            <a class="p-1" href="#" ng-click="ExtraEntityById(cl)">
                                                                <i class="fas fa-edit text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="deleteExtraEntity(cl,$index)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="ExtraEntityPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </footer>

                                    </div>
                                    <!-- ExtraEntity form starts -->
                                    <div id="ExtraEntity-form" class="card py-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="beData.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>For</label>
                                                    <select class="form-control form-control-sm select2" ng-model="beData.For">
                                                        <option ng-repeat="fe in ForEntityColl" ng-value="fe.id" ng-selected="fe.id==beData.For">{{fe.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea id="exampleFormControlTextarea1" class="form-control form-control-sm" rows="1" ng-model="beData.Description"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Notes</label>
                                                    <textarea class="textarea" placeholder="Place some text here"
                                                              style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" html-editor ng-model="beData.Notes"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <label><b>ExtraEntityAttribute</b></label>
                                        <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height:450px;overflow-y:auto">
                                            <table id="main-table"
                                                   class="main-table table table-sm table-bordered bg-white table-head-fixed">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 60px">S.No.</th>
                                                        <th style="width: 200px">Name</th>
                                                        <th style="width: 120px">DataType</th>
                                                        <th style="width: 100px">DefaultValue</th>
                                                        <th style="width: 100px" class="text-center">IsMandatory</th>
                                                        <th style="width: 100px">Minmum Length</th>
                                                        <th style="width: 100px">Maximum Length</th>
                                                        <th style="width: 200px">SelectOptions</th>
                                                        <th style="width: 60px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="EAC in beData.ExtraEntityAttributeColl">
                                                        <td>{{$index+1}}</td>
                                                        <td> <input type="text" class="form-control form-control-sm" ng-model="EAC.Name" /></td>
                                                        <td>
                                                            <select class="form-control form-control-sm select2" ng-model="EAC.DataType">
                                                                <option ng-repeat="dt in DataTypeColl" ng-value="dt.id" ng-selected="dt.id==EAC.DataType">{{dt.text}}</option>
                                                            </select>
                                                        </td>
                                                        <td> <input type="text" class="form-control form-control-sm" ng-model="EAC.DefaultValue" /></td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckbox3{{$index}}" ng-model="EAC.IsMandatory" />
                                                                <label for="customCheckbox3{{$index}}" class="custom-control-label"> </label>
                                                            </div>
                                                        </td>
                                                        <td> <input type="text" number-input class="form-control form-control-sm" ng-model="EAC.MinLen" onfocus="this.select()" style="text-align: right;" /></td>
                                                        <td> <input type="text" number-input class="form-control form-control-sm" ng-model="EAC.MaxLen" onfocus="this.select()" style="text-align: right;" /></td>
                                                        <td>
                                                            <textarea class="textarea form-control form-control-sm" rows="1" ng-model="EAC.SelectOptions"></textarea>
                                                        </td>
                                                        <td>
                                                            <a class="p-1" ng-click="AddExtraEnt($index)">
                                                                <i class="fas fa-plus text-secondary"></i>
                                                            </a>
                                                            <a class="p-1" ng-click="delExtraEnt($index)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-Entity-btn" style="min-width: 90px;" ng-click="ClearExtraEntity()"> Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearExtraEntity()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveExtraEntity()">{{beData.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- source form ends -->
                                </div>

                                <div class="tab-pane fade main-section"
                                     id="contact"
                                     role="tabpanel"
                                     aria-labelledby="contact-tab">
                                    <div id="Certificate-section" class="card py-2">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.CertificateIssue">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.CertificateIssue">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.CertificateIssue">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button"
                                                        class="btn btn-sm btn-success"
                                                        id="add-CertificateIssue"
                                                        style="min-width: 90px">
                                                    <i class="fas fa-plus w-t"></i> Add Certificate Issue
                                                </button>
                                            </div>
                                        </header>
                                        <div>
                                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                                <table id="main-table"
                                                       class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 50px">S.No.</th>
                                                            <th style="width: 80px">For</th>
                                                            <th style="width: 200px">Name</th>
                                                            <th style="width: 200px">Address</th>
                                                            <th style="width: 100px">Date of Birth</th>
                                                            <th style="width: 100px">Contact No</th>
                                                            <th style="width: 100px">Reg.No</th>
                                                            <th style="width: 90px">Issue Date</th>
                                                            <th style="width: 65px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="cc in CertificateIssueList|orderBy:sortKey:reverse|filter:searchData.CertificateIssue|itemsPerPage:perPage.CertificateIssue" current-page="currentPages.CertificateIssue" pagination-id="CertificateIssuePagination">
                                                            <td>{{cc.SNo}}</td>
                                                            <td>{{cc.ForName}}</td>
                                                            <td>{{cc.Name}}</td>
                                                            <td>{{cc.Address}}</td>
                                                            <td>{{cc.DOB | dateFormat}}</td>
                                                            <td>{{cc.ContactNo}}</td>
                                                            <td>{{cc.RegdNo}}</td>
                                                            <td>{{cc.IssueMiti}}</td>
                                                            <td>
                                                                @*<a class="p-1" href="#" ng-click="GetCertificateIssueById(cc)">
                                                                        <i class="fas fa-edit text-info"></i>
                                                                    </a>*@
                                                                <a class="p-1" href="#" ng-click="deleteCertificateIssue(cc,$index)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                                <a class="p-1" href="#" ng-click="Print(cc.TranId)">
                                                                    <i class="fas fa-print text-info"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- table end -->
                                        </div>
                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="CertificateIssuePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>
                                    <!-- Certificate Form Starts -->
                                    <div id="Certificate-form" class="card py-2">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Issue To</label>
                                                    <select class="form-control form-control-sm" ng-model="newDet.IssueTo" ng-change="ChangeForType()">
                                                        <option ng-value="it.id" ng-repeat="it in IssueToColl" ng-selected="it.id==newDet.IssueTo">{{it.text}}</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-md-5" ng-show="newDet.IssueTo==2" id="selectEmp">
                                                <label>Select Employee</label>
                                                <div class="input-group-prepend">

                                                    <select class="input-group-text dropdown-toggle p-0"
                                                            style="outline: none;
                                                            border-top-right-radius: unset;
                                                            border-bottom-right-radius: unset;
                                                            margin-right: -3px;
                                                            z-index: 1;
                                                            font-size: 13px;
                                                    " ng-model="newDet.SelectEmployee">
                                                        <option class="dropdown-item" ng-repeat="ss in EmployeeSearchOptions" ng-value="ss.value" ng-selected="ss.value==newDet.SelectEmployee">
                                                            {{ss.text}}
                                                        </option>
                                                    </select>
                                                    <select class="form-control select2 form-control-sm" all-employee ng-model="newDet.EmployeeId" employee-detail="newDet.EmployeeDetails" side-bar-data="newDet.EmpSideBarData" search-by="newDet.SelectEmployee"  confirm-action="GetEmpDetail()" style="width: 100%;">
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-5" ng-show="newDet.IssueTo==1" id="selectStu">
                                                <label for="inlineFormInputGroup">Select Student</label>
                                                <div class="input-group-prepend">
                                                    <select class="input-group-text dropdown-toggle p-0"
                                                            style="outline: none;
                                                            border-top-right-radius: unset;
                                                            border-bottom-right-radius: unset;
                                                            margin-right: -3px;
                                                            z-index: 1;
                                                            font-size: 13px;
                                                    " ng-model="newDet.SelectStudent">
                                                        <option ng-repeat="ss in StudentSearchOptions" ng-value="ss.value" ng-selected="ss.value==newDet.SelectStudent">
                                                            {{ss.text}}
                                                        </option>
                                                    </select>
                                                    <select class="form-control select2 form-control-sm" all-student ng-model="newDet.StudentId" student-detail="newDet.StudentDetails" side-bar-data="newDet.SideBarData" search-by="newDet.SelectStudent" confirm-action="getDuesDetails()">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-5" ng-show="newDet.IssueTo==3">
                                                <div class="form-group">
                                                    <label for="">Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.Name" />
                                                </div>
                                            </div>

                                            @*change the ng-repeat name by pRashant*@
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Entity</label>
                                                    <select class="form-control form-control-sm" active-select2 ng-model="newDet.ExtraEntityId" ng-change="GetExtraCertificateNo()">
                                                        <option ng-repeat="ss in ExtraEntityFilterList" ng-value="ss.TranId" ng-selected="ss.TranId==newDet.ExtraEntityId">
                                                            {{ss.Name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="">Issue No</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.AutoNumber" disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="">Date Of Issue</label>
                                                    <input type="text" date-picker class="form-control form-control-sm" ng-model="newDet.IssueDate_TMP" date-details="IssueDateDet" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">Address</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.Address" />
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="">Date Of Birth</label>
                                                    <input type="text" date-picker class="form-control form-control-sm" ng-model="newDet.DOB" date-details="DOBDet" />
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">FatherName</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.FatherName" />
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">MotherName</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.MotherName" />
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">ContactNo</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.ContactNo" />
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">EmailId</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.EmailId" />
                                                </div>
                                            </div>
                                            <div class="col-md-2" ng-show="newDet.IssueTo==2">
                                                <div class="form-group">
                                                    <label>Department</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.Department" />
                                                </div>
                                            </div>
                                            <div class="col-md-2" ng-show="newDet.IssueTo==2">
                                                <div class="form-group">
                                                    <label>Designation</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.Designation" />
                                                </div>
                                            </div>


                                            <div class="col-md-2" ng-show="newDet.IssueTo==1">
                                                <div class="form-group">
                                                    <label>ClassName</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.ClassName" />
                                                </div>
                                            </div>
                                            <div class="col-md-2" ng-show="newDet.IssueTo==1">
                                                <div class="form-group">
                                                    <label>SectionName</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.SectionName" />
                                                </div>
                                            </div>
                                            <div class="col-md-2" ng-show="newDet.IssueTo==1">
                                                <div class="form-group">
                                                    <label>RollNo</label>
                                                    <input type="number" class="form-control form-control-sm" ng-model="newDet.RollNo" />
                                                </div>
                                            </div>
                                            <div class="col-md-2" ng-show="newDet.IssueTo==1">
                                                <div class="form-group">
                                                    <label>RegdNo</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.RegdNo" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-2" ng-repeat="uf in newDet.UDFFeildsColl">
                                                        <div class="form-group">
                                                            <label for="udfC{$index}">{{uf.DisplayName}}<span style="color:red" ng-show="uf.IsMandatory==true">*</span></label>
                                                            <input ng-show="uf.FieldType==1" type="text" class="form-control form-control-sm" ng-model="uf.UDFValue" onfocus="this.select()">
                                                            <input ng-show="uf.FieldType==2" type="number" class="form-control form-control-sm" ng-model="uf.UDFValue" onfocus="this.select()">
                                                            <input ng-show="uf.FieldType==3" type="text" number-input class="form-control form-control-sm" ng-model="uf.UDFValue" onfocus="this.select()" style="text-align:right">
                                                            <input ng-show="uf.FieldType==4" type="text" class="form-control form-control-sm" date-picker ng-model="uf.UDFValue_TMP" onfocus="this.select()" date-detail="uf.UDFValueDet">
                                                            <input id="udfC{$index}" ng-show="uf.FieldType==6" type="checkbox" class="form-control form-control-sm" ng-model="uf.UDFValue">
                                                            <textarea ng-show="uf.FieldType==7" class="form-control" ng-model="uf.UDFValue" onfocus="this.select()" rows="2">
                                                            </textarea>
                                                            <select ng-show="uf.FieldType==8" class="form-control form-control-sm" ng-model="uf.UDFValue">
                                                                <option ng-repeat="ss in uf.SelectOptions | commaBreak" ng-value="ss" ng-selected="ss==uf.UDFValue">
                                                                    {{ss}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button"
                                                        class="btn btn-sm btn-info"
                                                        id="Certificate-Issue-btn"
                                                        style="min-width: 90px" ng-click="ClearExtraCertificate()">
                                                    Back to List
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearExtraCertificate()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="AddExtraCertificate()">{{newDet.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Complain Type Form Ends -->
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>

    <!-- /.content -->
    <div class="modal fade bd-example-modal-xl sales-invoice-page-modal" id="FrmPrintReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Report Viewer</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <iframe id="frmRpt" style='width: 100%; height: 600px; background-color: white; visibility:visible;' frameborder='0' scrolling='yes'></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


