
<script>
    var EntityId=@Convert.ToInt32(Dynamic.BusinessEntity.Global.FormsEntity.EmployeeProfile);
</script>
<script src="~/jslib/academic/transaction/UpdateEmployee.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="EmployeeController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">

                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Update Details</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">Left Employee</a>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label>Department</label>
                                        <select class="select2 form-control form-control-sm" data-placeholder="Select Source" style="width: 100%;" ng-model="newUpdateEmloyee.DepartmentId" ng-change="GetEmployeeForUpdate()">
                                            <option ng-value="0">**All**</option>
                                            <option ng-value="dp.DepartmentId" ng-repeat="dp in DepartmentList">{{dp.Name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Designation</label>
                                            <select class="form-control form-control-sm select2" ng-model="newUpdateEmloyee.DesignationId"  ng-change="GetEmployeeForUpdate()">
                                                <option ng-value="c.id" ng-repeat="c in DesignationList" ng-selected="c.id==newEmployee.DesignationId">{{c.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Category</label>
                                            <select class="form-control form-control-sm select2" ng-model="newUpdateEmloyee.CategoryId"  ng-change="GetEmployeeForUpdate()">
                                                <option ng-value="c.id" ng-repeat="c in CategoryList" ng-selected="c.id==newEmployee.CategoryId">{{c.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        
                                    </div>
                                </div>
                                <header class="row">
                                    <div class="col-md-7">
                                        <div class="clearfix">
                                            <form class="form-inline">
                                                <div class="input-group input-group-sm mr-sm-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cstm">Show</span>
                                                    </div>
                                                    <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                    <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.UpdateEmployee">
                                                        <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.UpdateEmployee">{{pp.text}}</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-white"><small>entries</small></span>
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-sm table-search-filed">
                                                    <input class="form-control form-control-navbar"
                                                           type="search" placeholder="Search"
                                                           aria-label="Search" ng-model="searchData.UpdateEmployee">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default border-left-0"
                                                                type="submit">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div>
                                    <!-- end col-md-8 -->
                                    <div class="col-md-5 text-right">
                                        <div class="dropdown dnld-file" data-toggle="tooltip"
                                             data-placement="top" title="Download File">
                                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false" style="height:30px">
                                                <i class="fas fa-download"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="dropdownMenuButton">
                                                <span class="dropdown-item">Choose an option:</span>
                                                <a class="dropdown-item wait" export-excel table-id="'#main-table'" sheet-name="'UpdateEmployee'"><img src="/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                <a class="dropdown-item wait" onClick="$('#UpdateEmployee').tableExport({type:'csv',escape:'false'});"><img src="/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                            </div>
                                        </div>

                                        <button class="btn btn-success btn-sm" ng-click="UpdateEmployee()"> Update</button>
                                    </div>
                                </header>
                                <div class="table-scroll-x-y sales-main-table table-scroll" style="height:auto;max-height: calc(100vh - 15rem)!important;">
                                    <table id="UpdateEmployee" class="main-table table table-sm table-bordered bg-white">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="text-center align-middle cstm-sticky" style="width: 130px;left: 0px; z-index: 3;" ng-click="sortEmployee('EmployeeCode')">Emp. Code</th>
                                                <th class="text-center align-middle cstm-sticky" style="width: 150px;left: 130px; z-index: 3;" ng-click="sortEmployee('FirstName')">First Name</th>
                                                <th class="text-center align-middle cstm-sticky" style="width: 150px;left: 280px; z-index: 3;" ng-click="sortEmployee('MiddleName')">Middle Name</th>
                                                <th class="text-center align-middle cstm-sticky" style="width:140px;left: 430px; z-index: 3;" ng-click="sortEmployee('LastName')">Last Name</th>
                                                <th class="text-center align-middle" style="width:130px" ng-click="sortEmployee('EnrollNumber')">Enroll No</th>
                                                <th class="text-center align-middle" style="width:130px">Card No</th>
                                                <th class="text-center align-middle" style="width:130px">Date of Joining</th>
                                                <th class="text-center align-middle" style="width:130px">EMIS Id</th>
                                                <th class="text-center align-middle" style="width:130px">Gender</th>
                                                <th class="text-center align-middle" style="width:150px">Contact No</th>
                                                <th class="text-center align-middle" style="width:250px">Email</th>
                                                <th class="text-center align-middle" style="width:250px">Address</th>
                                                <th class="text-center align-middle" style="width:130px">Nationality</th>
                                                <th class="text-center align-middle" style="width:130px">Pan No</th>
                                                <th class="text-center align-middle" style="width:130px">Marital Status</th>
                                                <th class="text-center align-middle" style="width:190px">Department</th>
                                                <th class="text-center align-middle" style="width:200px">Designation</th>
                                                <th class="text-center align-middle" style="width:150px">Category</th>
                                                <th class="text-center align-middle" style="width:180px">Level</th>
                                                <th class="text-center align-middle" style="width:180px">Qualification</th>

                                                <th class="text-center align-middle" style="width:130px">Tax Rule As</th>
                                                <th class="text-center align-middle" style="width:230px">Salary Applicable From</th>
                                                <th style="width: 70px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="E in UpdateEmployeeList |orderBy:sortKeyEmployee:reverse2|filter:searchData.UpdateEmployee | itemsPerPage: perPage.UpdateEmployee" current-page="currentPages.UpdateEmployee" pagination-id="UpdateEmployeePagination">
                                                <td class="cstm-sticky" style="width: 130px; left: 0px; z-index: 2;background-color:#ffffff!important"><input type="text" class="form-control form-control-sm" ng-model="E.EmployeeCode" /></td>
                                                <td class="cstm-sticky" style="width: 150px; left: 130px; z-index: 2; background-color: #ffffff !important"><input type="text" class="form-control form-control-sm" ng-model="E.FirstName" /></td>
                                                <td class="cstm-sticky" style="width: 150px; left: 280px; z-index: 2; background-color: #ffffff !important"><input type="text" class="form-control form-control-sm" ng-model="E.MiddleName" /></td>
                                                <td class="cstm-sticky" style="width: 140px; left: 430px; z-index: 2; background-color: #ffffff !important"><input type="text" class="form-control form-control-sm" ng-model="E.LastName" /></td>
                                                <td><input type="text" class="form-control form-control-sm" ng-model="E.EnrollNumber" /></td>
                                                <td><input type="text" class="form-control form-control-sm" ng-model="E.CardNo" /></td>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm" date-picker ng-model="E.DateOfJoining_TMP" date-detail="E.DateOfJoiningDet">
                                                </td>
                                                <td><input type="text" class="form-control form-control-sm" ng-model="E.EMSId" /></td>

                                                <td>
                                                    <select class="form-control form-control-sm" ng-model="E.Gender">
                                                        <option ng-value="gen.id" ng-repeat="gen in GenderColl" ng-selected="gen.id==E.Gender">{{gen.text}}</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control form-control-sm" ng-model="E.OfficeContactNo" /></td>
                                                <td><input type="text" class="form-control form-control-sm" ng-model="E.OfficeEmailId" /></td>
                                                <td><input type="text" class="form-control form-control-sm" ng-model="E.TA_FullAddress" /></td>

                                                @*<td><input type="text" class="form-control form-control-sm" ng-model="E.Nationality" /></td>*@



                                                <td>
                                                    <input type="text" class="form-control-sm form-control" data-ng-model="E.Nationality" list="lstNationality">
                                                    <datalist id="lstNationality">
                                                        <option data-ng-repeat="ttl in NationalityList" value="{{ttl}}">
                                                    </datalist>
                                                </td>
                                                <td><input type="text" class="form-control form-control-sm" ng-model="E.PanId" /></td>
                                                <td>
                                                    <input list="lstMaritalStatus" type="text" class="form-control form-control-sm" ng-model="E.MaritalStatus">
                                                    <datalist id="lstMaritalStatus">
                                                        <option data-ng-repeat="ttl in MaritalStatusList" value="{{ttl}}">
                                                    </datalist>
                                                    @*<input type="text" class="form-control form-control-sm" ng-model="E.MaritalStatus" />*@
                                                </td>
                                                <td>
                                                    <select class="form-control form-control-sm" ng-model="E.DepartmentId">
                                                        <option ng-value="c.id" ng-repeat="c in DepartmentList" ng-selected="c.id==E.DepartmentId">{{c.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control form-control-sm" ng-model="E.DesignationId">
                                                        <option ng-value="c.id" ng-repeat="c in DesignationList" ng-selected="c.id==E.DesignationId">{{c.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control form-control-sm" ng-model="E.CategoryId">
                                                        <option ng-value="c.id" ng-repeat="c in CategoryList" ng-selected="c.id==E.CategoryId">{{c.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control form-control-sm" ng-model="E.LevelId">
                                                        <option ng-value="c.id" ng-repeat="c in LevelList" ng-selected="c.id==E.LevelId">{{c.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm" ng-model="E.Qualification" />
                                                </td>

                                                <td>
                                                    <select class="form-control form-control-sm" ng-model="E.TaxRuleAs" style="width:100%">
                                                        <option>**Select User**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in TaxRuleAsList" ng-selected="cl.id==E.TaxRuleAs">{{cl.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="d-flex">
                                                        <select class="form-control form-control-sm" ng-model="E.SalaryApplicableYearId" style="width:120px">
                                                            <option ng-value="A.id" ng-repeat="A in AcademicYearColl" ng-selected="A.id==E.SalaryApplicableYearId">{{A.text}}</option>
                                                        </select>
                                                        <select class="form-control form-control-sm" ng-model="E.SalaryApplicableMonthId" style="width:120px">
                                                            <option ng-value="cl.id" ng-repeat="cl in MonthList" ng-selected="cl.id==E.SalaryApplicableMonthId">{{cl.text}}</option>
                                                        </select>
                                                    </div>
                                                </td>

                                                <td class="text-center">
                                                    <a class="btn btn-sm btn-success" href="#" ng-click="SaveUpdateEmployeeWise(E)">
                                                        <i class="fas fa-save"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- table end -->
                                </div>
                                <footer class="row align-items-center">
                                    <div class="col-md-12">
                                        <dir-pagination-controls pagination-id="UpdateEmployeePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                        </dir-pagination-controls>
                                    </div>
                                </footer>
                            </div>
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div class="tab-content" id="myTabContent">
                                    <div id="employee-left-section" class="card p-0">
                                        <header class="row mt-2">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.LeftEmployee">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.LeftEmployee">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search"
                                                                   placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.LeftEmployee" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#main-table-left'" sheet-name="'EmpList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" onClick="$('#main-table-left').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                                    </div>
                                                </div>
                                                <a print-tbl table-id="'#main-table-left'" class="btn btn-secondary btn-light btn-sm wait"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>

                                                <button type="button"
                                                        class="btn btn-sm btn-success"
                                                        id="add-employee-left"
                                                        style="min-width: 90px">
                                                    <i class="fas fa-plus w-t"></i> Add Left Employee
                                                </button>
                                            </div>
                                        </header>
                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                            <table id="main-table-left"
                                                   class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 50px">S.No.</th>
                                                        <th style="width: 100px">Code</th>
                                                        <th style="width: 200px">Name</th>
                                                        <th style="width: 80px">Join Date</th>
                                                        <th style="width: 80px">Left Date</th>
                                                        <th style="width: 150px">Remarks</th>
                                                        <th style="width: 100px">View Documents</th>
                                                        <th style="width: 120px">Send</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="le in LeftEmployeeList | filter:searchData.LeftEmployee | itemsPerPage: perPage.LeftEmployee" current-page="currentPages.LeftEmployee" pagination-id="viewLeftEmployeePagination">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{le.Code}}</td>
                                                        <td>{{le.Name}}</td>
                                                        <td>{{le.DateOfJoining_BS}}</td>
                                                        <td>{{le.LeftDate_BS}}</td>
                                                        <td>{{le.LeftRemarks}}</td>
                                                        <td> </td>
                                                        <td>
                                                            <a class="p-1" href="#">
                                                                <i class="fas fa-envelope text-primary"></i>
                                                            </a>
                                                            <a class="p-1" href="#">
                                                                <i class="fas fa-bell text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="DelLeftEmployee(le)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <!-- table end -->
                                        </div>
                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="viewLeftEmployeePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>
                                    <!-- designation form starts -->
                                    <div id="left-employee-form" class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6 col-lg-6 col-md-6">
                                                    <label for="forEmpleft">Select Employee</label>
                                                    <select id="forEmpleft" class="form-control select2 form-control-sm" all-employee ng-model="newLeftEmployee.EmployeeId" employee-detail="newLeftEmployee.EmpDetails" side-bar-data="newLeftEmployee.EmpSideBarData" search-by="newLeftEmployee.EmployeeSearchBy" confirm-action="LeftEmpSelected()">
                                                    </select>
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="left-date">Left Date</label>
                                                        <input type="text"
                                                               class="form-control form-control-sm" date-picker ng-model="newLeftEmployee.LeftDate_TMP" date-detail="newLeftEmployee.LeftDateDet">
                                                    </div>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="remarks">Remarks</label>
                                                        <textarea class="form-control form-control-sm"
                                                                  id="remarks"
                                                                  rows="1"
                                                                  placeholder=""
                                                                  style="padding: 3px" ng-model="newLeftEmployee.Remarks"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="documents">Attach Documents</label>
                                                        <input type="file" multiple
                                                               class="form-control form-control-sm"
                                                               id="documents"
                                                               placeholder=""
                                                               style="padding: 1px" file-model ng-model="newLeftEmployee.AttachmentFilesColl" />
                                                    </div>
                                                </div>

                                                @*<div class="col-md-3 mt-4">
                                                <div class="custom-control custom-checkbox checkbox-lg">
                                                    <input type="checkbox"
                                                           class="custom-control-input"
                                                           id="checkbox-2"
                                                           checked="" />
                                                    <label class="custom-control-label"
                                                           for="checkbox-2">Send Notification</label>
                                                </div>
                                            </div>*@
                                            </div>

                                            <div class="time-label">
                                                <span class="d-block border-0 p-3 text-center">
                                                    <button type="button"
                                                            class="btn btn-sm btn-info"
                                                            id="employee-left-back-btn"
                                                            style="min-width: 90px">
                                                        Back to List
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-default"
                                                            style="min-width: 90px">
                                                        Reset
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-success"
                                                            style="min-width: 90px" ng-click="CallSaveLeftEmployee()">
                                                        Save
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- designation form ends -->
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>



            @*photo upload*@
            <div class="modal fade" id="updatePhoto" tabindex="-1" aria-labelledby="updatePhotoLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updatePhotoLabel">Upload Photo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="flaticon-close"></i>
                            </button>
                        </div>
                        <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                             data-max-file-size="3" ng-model="newEmployee.Photo_TMP" @*after-selected="AddEmployeePhoto()"*@ fileread="newEmployee.PhotoData">
                            <div class="photo-upload-wrap">
                                <span class="static-content">
                                    <img ng-src="{{newEmployee.PhotoData ||  newEmployee.PhotoPath}}" class="img-fluid" id="imgPhoto">
                                    <span>Drag & Drop your<br>image here</span>
                                </span>
                            </div>
                            <div class="text-muted pb-3">or</div>
                            <label for="choose-file" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                            <input id="choose-file" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newEmployee.Photo_TMP" @*after-selected="AddEmployeePhoto()"*@ fileread="newEmployee.PhotoData" />
                            <a ng-click="ClearEmployeePhoto()" href="#" class="text-danger d-block mt-3">remove current image</a>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                            @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAuthorImage()">Save</button>*@
                        </div>
                    </div>
                </div>
            </div>
            @*signature upload*@
            <div class="modal fade" id="uploadsignature" tabindex="-1" aria-labelledby="updateSignatureLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateSignatureLabel">Upload Signature</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="flaticon-close"></i>
                            </button>
                        </div>
                        <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                             data-max-file-size="3" ng-model="newEmployee.Signature_TMP" @*after-selected="AddEmployeeSignature()"*@ fileread="newEmployee.SignatureData">
                            <div class="photo-upload-wrap">
                                <span class="static-content">
                                    <img ng-src="{{newEmployee.SignatureData  || newEmployee.SignaturePath}}" class="img-fluid" id="imgSignature">
                                    <span>Drag & Drop your<br>image here</span>
                                </span>
                            </div>
                            <div class="text-muted pb-3">or</div>
                            <label for="choose-signature" type="button" class="btn btn-secondary btn-light btn-sm">Upload Signature</label>
                            <input id="choose-signature" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newEmployee.Signature_TMP" @*after-selected="AddEmployeePhoto()"*@ fileread="newEmployee.SignatureData" />
                            <a ng-click="ClearSignaturePhoto()" href="#" class="text-danger d-block mt-3">remove current image</a>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                            @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAuthorImage()">Save</button>*@
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add ReportTemplates Modal Dailog -->
            <div class="modal fade bd-example-modal-xl sales-invoice-page-modal" id="FrmPrintReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalCenterTitle">Report Viewer</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <iframe id="frmRpt" style='width: 100%; height: 600px; background-color: white; visibility:visible;' frameborder='0' scrolling='yes'></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="PersonalImg" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body mb-0 p-0">
                            <iframe ng-hide="viewImg.File" src="{{viewImg.ContentPath}}" style="width:100%; height: 70vh;">
                            </iframe>
                            <img ng-show="viewImg.File" ng-src="{{viewImg.ContentPath}}" alt="" style="width:100%; height: 70vh;" id="imgPreviewAdd">
                        </div>
                        <div class="modal-footer">
                            <div><a href="{{viewImg.ContentPath}}" download>Download</a></div>
                            <button class="btn btn-success btn-rounded btn-sm ml-4 text-center" data-dismiss="modal" type="button" style="min-width: 90px;">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/. container-fluid -->
    </section>
</div>

