
@{

    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/jslib/smsemail/transaction.js"></script>
<div ng-app="App" ng-controller="SMSEmailCtrl" ng-class="{waiting: loadingstatus=='running'}" ng-init="GetAllContactGroup()">
    <div class="box-body">
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">ContactGroup</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                <div class="search-toolbar mb-3">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group row">


                                                <div class="input-group input-group-sm">

                                                    <input type="text" class="form-control text-dark input-sm" placeholder="Search">

                                                </div>


                                            </div>

                                        </div>

                                        <!-- /.col-lg-6 -->

                                    </div>
                                    <div class="row">

                                        <table cellpadding="12" class="table table-bordered table-striped table-hover table-sm" id="datatable">
                                            <tr>
                                                <th ng-click="sort('AreaMasterId')" style="text-align:center;font-size:xx-small">

                                                    S.No
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='AreaMasterId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>

                                                <th ng-click="sort('Name')" style="text-align:center;width: 60% ;font-size:xx-small">
                                                    Name
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>

                                                <th ng-click="sort('Province')" style="text-align:center;width: 60%;font-size:xx-small">
                                                    Province
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='Province'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th ng-click="sort('District')" style="text-align:center;width: 60%;font-size:xx-small">

                                                    District
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='District'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>

                                                <th style="text-align:center;width: 60%;font-size:xx-small">Action</th>

                                            </tr>
                                            <tr ng-repeat="dc in ContactGroupColl">


                                                <td style="font-size: x-small;text-align:center;margin:auto">
                                                    {{$index+1}}
                                                </td>
                                                <td style="font-size: x-small;text-align:center;margin:auto">
                                                    {{dc.Name}}
                                                </td>

                                                <td style="font-size: x-small;text-align:center;margin:auto">
                                                    {{dc.State}}
                                                </td>
                                                <td style="font-size: x-small;text-align:center;margin:auto">
                                                    {{dc.City}}
                                                </td>
                                                <td class="project-actions">
                                                    <div class="btn-group-sm">
                                                        <a href="#" class="btn-info" ng-click="GetAreaMasterById(dc)" style="font-size:xx-small"><i class="fas fa-pencil-alt"></i></a>
                                                        <a href="#" class="btn-danger" ng-click="deleteContactGroup(dc)" style="font-size:xx-small"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                                        </dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">

                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="card">
                                            <div class="card-header header-corner-triangle">
                                                <h3 class="card-title"></h3>
                                            </div>
                                            <div class="card-body px-5 pb-5 pt-4">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Name</label>
                                                                <input type="text" class="form-control" ng-model="beData.Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Alias</label>
                                                                <input type="text" class="form-control" ng-model="beData.Alias">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>Description</label>
                                                                <input type="text" class="form-control" ng-model="beData.Description">
                                                            </div>
                                                        </div>                                                      
                                                    </div>
                                                </form>
                                                <footer class="main-footer">
                                                    <div class="text-right control-btns">
                                                        <button type="button" class="btn btn-default">Cancel</button>
                                                        <button type="button" class="btn btn-secondary">Save & Close</button>
                                                        <button type="button" class="btn btn-primary" ng-click="AddNewContactGroup()">Save</button>
                                                    </div>

                                                </footer>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </div>




    </div>

</div>


<style>

    .table table-bordered table-striped table-hover table-sm td {
        font-size: x-small;
        line-height: 10px;
    }
</style>