
@{
    ViewBag.Title = "ExamReporting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="table-listing">
                    <form action="" style="margin-top: -10px">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Date Range</label>
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control form-control-sm"
                                           id="datepicker-1"
                                           placeholder="Select date"
                                           value="" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label>Exam Type</label>
                                    <select class="select2 form-control-sm" style="width: 100%;">
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label>Class</label>
                                    <select class="select2 form-control-sm" style="width: 100%;">
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label>Section</label>
                                    <select class="select2 form-control-sm" style="width: 100%;">
                                        <option selected="selected" disabled>Exam Type</option>
                                        <option>A</option>
                                        <option>B</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label>Subject</label>
                                    <select class="select2 form-control-sm" style="width: 100%;">
                                        <option>Science</option>
                                        <option>Maths</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Second Tab Content -->
                    <div class="card p-2">
                        <header class="row mb-2">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                            <select class="form-control border-left-0 border-right-0 pr-0"
                                                    id="exampleFormControlSelect1">
                                                <option>10</option>
                                                <option>25</option>
                                                <option>50</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search"
                                                   placeholder="Search"
                                                   aria-label="Search" />
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0"
                                                        type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end col-md-8 -->
                            <div class="col-md-5 text-right">
                                <div class="dropdown no-caret d-inline-block">
                                    <button type="button"
                                            class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                            data-toggle="dropdown">
                                        <i class="fas fa-columns"></i>
                                    </button>
                                    <ul class="dropdown-menu cstm-column-visibility dropdown-menu-right">
                                        <span class="dropdown-item">Column Visibility:</span>
                                        <li>
                                            <a href="#"
                                               class="small dropdown-item"
                                               data-value="option1"
                                               tabindex="-1">
                                                <label class="checkbox-wrap">
                                                    Name
                                                    <input type="checkbox" checked />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                               class="small dropdown-item"
                                               data-value="option2"
                                               tabindex="-1">
                                                <label class="checkbox-wrap">
                                                    Position
                                                    <input type="checkbox" checked />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                               class="small dropdown-item"
                                               data-value="option3"
                                               tabindex="-1">
                                                <label class="checkbox-wrap">
                                                    Office
                                                    <input type="checkbox" checked />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                               class="small dropdown-item"
                                               data-value="option3"
                                               tabindex="-1">
                                                <label class="checkbox-wrap">
                                                    Age
                                                    <input type="checkbox" checked />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                               class="small dropdown-item"
                                               data-value="option3"
                                               tabindex="-1">
                                                <label class="checkbox-wrap">
                                                    Salary
                                                    <input type="checkbox" checked />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </a>
                                        </li>
                                        <li class="btns-wrap">
                                            <a href="#" class="btn btn-link btn-sm">Restore</a>
                                            <a href="#" class="btn btn-secondary btn-sm">Appy</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown dnld-file"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item" href="#">
                                            <img src="./dynamic/images/flaticons/excel.png"
                                                 class="img-fluid exports-icon"
                                                 alt="Excel image" />
                                            Excel
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="./dynamic/images/flaticons/csv.png"
                                                 class="img-fluid exports-icon"
                                                 alt="Excel image" />
                                            CSV
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="./dynamic/images/flaticons/pdf.png"
                                                 class="img-fluid exports-icon"
                                                 alt="Excel image" />
                                            PDF
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="./dynamic/images/flaticons/word.png"
                                                 class="img-fluid exports-icon"
                                                 alt="Excel image" />
                                            Word
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="./dynamic/images/flaticons/gmail.png"
                                                 class="img-fluid exports-icon"
                                                 alt="Excel image" />
                                            Mail
                                        </a>
                                    </div>
                                </div>
                                <a href="#"
                                   class="btn btn-secondary btn-light btn-sm"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title="Print">
                                    <i class="fas fa-print"></i>
                                </a>

                            </div>
                        </header>
                        <div>
                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="main-table"
                                       class="main-table table table-sm table-bordered bg-white">
                                    <thead>
                                        <tr>
                                            <th style="width: 70px">S.No.</th>
                                            <th style="width: 140px">Exam Type</th>
                                            <th style="width: 130px">Class/Sec</th>
                                            <th style="width: 150px">Subject</th>
                                            <th style="width: 180px">Lesson</th>
                                            <th style="width: 100px">Exam Date</th>
                                            <th style="width: 100px">Start Time</th>
                                            <th style="width: 100px">Duration</th>
                                            <th style="width: 120px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-success" id="detail-btn">
                                                    View Detail
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <!-- table end -->
                            </div>
                        </div>
                        <footer class="row align-items-center pb-3">
                            <div class="col-md-5">
                                <p class="mb-0">Showing 1 to 10 of 200 Entries</p>
                            </div>
                            <div class="col-md-7">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item">
                                        <a class="page-link" href="#">«</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">»</a>
                                    </li>
                                </ul>
                            </div>
                        </footer>
                    </div>
                </div>

                <!-- Present Absent Detail starts -->
                <div id="detail">
                    <div class="card card-primary card-tabs">
                        <div class="card-header with-gradient-bg p-0 pt-2">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-home-tab"
                                       data-toggle="pill" href="#custom-tabs-one-home" role="tab"
                                       aria-controls="custom-tabs-one-home" aria-selected="true" style="padding-left: 3rem;
                                    padding-right: 3rem;">Present(20)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                                       href="#custom-tabs-one-profile" role="tab"
                                       aria-controls="custom-tabs-one-profile"
                                       aria-selected="false" style="padding-left: 3rem;
                                    padding-right: 3rem;">Absent(5)</a>
                                </li>

                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-one-home"
                                     role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Class/Sec :</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Subject :</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Full Marks :</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Pass Marks :</label>
                                        </div>
                                    </div>

                                    <div class="">

                                        <div class="table-scroll-x-y sales-main-table table-scroll mt-2 mb-2">
                                            <table class="table table-bordered table-head-fixed text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 100px;">S.N.</th>
                                                        <th style="width:150px">User Name</th>
                                                        <th style="width: 200px;">Student Name</th>
                                                        <th style="width: 100px;">Roll No.</th>
                                                        <th style="width: 150px;">Obtain Marks</th>
                                                        <th style="width: 250px;">Obtain %</th>
                                                        <th style="width: 100px;">Result</th>
                                                        <th style="width: 100px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-success" id="check-btn">
                                                                Check
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- Pagination -->
                                        <footer class="row align-items-center">
                                            <div class="col-md-5">
                                                <p class="mb-0">
                                                    Showing 1 to 10 of 20 Entries
                                                </p>
                                            </div>

                                            <div class="col-md-7">
                                                <ul class="pagination pagination-sm m-0 float-right">
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">«</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">»</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </footer>
                                        <!-- Pagniation End -->
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel"
                                     aria-labelledby="custom-tabs-one-profile-tab">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <label>Notification Message</label>
                                                <textarea class="form-control form-control-sm" rows="1" placeholder=""></textarea>
                                            </div>
                                            <div class="col-md-3 mt-4">
                                                <a class="btn btn-success btn-sm" href="#">
                                                    <i class="fas fa-envelope w-t">
                                                    </i>
                                                    SMS
                                                </a>
                                                <a class="btn btn-success btn-sm" href="#">
                                                    <i class="fas fa-bell w-t">
                                                    </i>
                                                    Notification
                                                </a>
                                            </div>
                                        </div>
                                        <div class="table-scroll-x-y sales-main-table table-scroll mt-2 mb-2">
                                            <table id="dt-basic-example" class="table table-hover table-bordered table-sm bg-white">
                                                <thead>
                                                    <tr>
                                                        <th style="width:50px">S.No.</th>
                                                        <th style="width:100px">User Name</th>
                                                        <th style="width:150px">Student Name</th>
                                                        <th style="width:100px">Roll No.</th>
                                                        <th style="width:80px">Father Name</th>
                                                        <th style="width:80px">Contact No.</th>
                                                        <th class="text-center" style="width: 100px;">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckbox3" onclick="toggle(this);" />
                                                                <label for="customCheckbox3"
                                                                       class="custom-control-label">All </label>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input" type="checkbox"
                                                                       id="customCheckbox2">
                                                                <label for="customCheckbox2"
                                                                       class="custom-control-label"></label>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input" type="checkbox"
                                                                       id="customCheckbox3">
                                                                <label for="customCheckbox3"
                                                                       class="custom-control-label"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- Pagination -->
                                        <footer class="row align-items-center">
                                            <div class="col-md-5">
                                                <p class="mb-0">
                                                    Showing 1 to 10 of 20 Entries
                                                </p>
                                            </div>

                                            <div class="col-md-7">
                                                <ul class="pagination pagination-sm m-0 float-right">
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">«</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">»</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </footer>
                                        <!-- Pagniation End -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-info" id="back-btn" style="min-width: 90px;">
                                Back to
                                List
                            </button>

                        </span>
                    </div>
                </div>

                <div id="check">
                    <label><b>Total Marks Obtained: 21.5/40</b></label><br>
                    <label><b>Exam Title : </b> First Terminal Examination</label><br>
                    <label><b>Description : </b></label><br>
                    <label><b>Student's Name : </b>KHADKA PRASAD OLI</label>
                    <div class="card card-primary card-tabs mt-2">
                        <div class="card-header with-gradient-bg p-0 pt-2">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-detail-tab"
                                       data-toggle="pill" href="#custom-tabs-one-detail" role="tab"
                                       aria-controls="custom-tabs-one-detail" aria-selected="true" style="padding-left: 3rem;
                                  padding-right: 3rem;">Objective Questions(20)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-subjective-tab" data-toggle="pill"
                                       href="#custom-tabs-one-subjective" role="tab"
                                       aria-controls="custom-tabs-one-subjective"
                                       aria-selected="false" style="padding-left: 3rem;
                                  padding-right: 3rem;">Subjective Questions(5)</a>
                                </li>

                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-one-detail"
                                     role="tabpanel" aria-labelledby="custom-tabs-one-detail-tab">


                                    <div class="pt-2">
                                        <label><b>Total Points: 15/20</b></label>
                                        <div class="card" style="border: 1px solid #ccc;">
                                            <div class="p-2" style="border-bottom: 1px solid #ccc; background-color: #f1f1f1;">
                                                <label>Fill in the blanks</label>
                                            </div>
                                            <div class="card-body">
                                                <p>1. .......... is a vegetable item.</p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox1" value="option1">
                                                            <label for="customCheckbox1"
                                                                   class="custom-control-label">Chips</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn  btn-sm" style="width: 100px;padding:1px; background-color: #76BE4E;color: #fff;"><i class="fas fa-check"></i> Carrot</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox3" value="option1">
                                                            <label for="customCheckbox3"
                                                                   class="custom-control-label">Milk</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox4" value="option1">
                                                            <label for="customCheckbox4"
                                                                   class="custom-control-label">Chocolate</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label for="">Points Obtained : 1</label>
                                                <hr>
                                                <p>2.The food made by grinding wheat or other cereals is called ....... </p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox5" value="option1">
                                                            <label for="customCheckbox5"
                                                                   class="custom-control-label">Water</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox6" value="option1">
                                                            <label for="customCheckbox6"
                                                                   class="custom-control-label">Bread</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn   btn-sm" style="width: 100px;padding:1px; background-color: #76BE4E;color: #fff;"><i class="fas fa-check"></i> Flour</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox7" value="option1">
                                                            <label for="customCheckbox7"
                                                                   class="custom-control-label">Rice</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label for="">Points Obtained : 1</label>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-subjective" role="tabpanel"
                                     aria-labelledby="custom-tabs-one-subjective-tab">
                                    <div class="">
                                        <label><b>Total Points: 6.5/20</b></label>
                                        <div>
                                            <label>Why did Wright Brothers build Glider? <span class="ml-4">4 * 4 = 16</span></label><br>
                                            <label>Who Climbed Mt. Everest for the first time and when? </label><br>
                                            <label>Why is Durbi at the grocers?</label><br>
                                            <label>Write any 3 sentences about yourself</label>
                                        </div>



                                    </div>
                                    <div class="card" style="border: 1px solid #ccc;">
                                        <div class="p-2" style="border-bottom: 1px solid #ccc; background-color: #f1f1f1;">
                                            <Label>Attachments</Label>

                                        </div>
                                        <div class="card-body">
                                            <a class="btn btn-info btn-sm" href="#">
                                                <i class="far fa-edit w-t">
                                                </i>
                                                Edit
                                            </a><br>
                                            <img style="height: 300px; width: auto;" class="img-fluid mt-2" src="dynamic/images/ans.jpg" alt="">
                                        </div>

                                    </div>

                                    <div>
                                        <form class="form-inline" action="/action_page.php">
                                            <label for="email">Points Obtained:</label>
                                            <input type="number"> / 17.5


                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-info" id="back-detail-btn" style="min-width: 90px;">
                                Back to
                                List
                            </button>

                        </span>
                    </div>
                </div>
                <!-- Present Absent Detail Ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
