<script src="~/jslib/export/tableExport.js"></script>
<script src="~/jslib/export/jquery.base64.js"></script>
<script src="~/jslib/export/jspdf/libs/sprintf.js"></script>
<script src="~/jslib/export/jspdf/jspdf.js"></script>
<script src="~/jslib/export/jspdf/libs/base64.js"></script>

<script src="~/jslib/Academic/AssignRole.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ClassScheduleController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">

                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="medium-tab" data-toggle="tab"
                                               href="#medium" role="tab" aria-controls="medium"
                                               aria-selected="false">Assign Class teacher</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="category-tab" data-toggle="tab"
                                               href="#category" role="tab" aria-controls="category"
                                               aria-selected="false"> Assign HOD</a>
                                        </li>
                                        <!--New Tab added by suresh on bhadra-14 -->
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="group-tab" data-toggle="tab"
                                               href="#group" role="tab" aria-controls="group"
                                               aria-selected="false"> Create Group</a>
                                        </li>
                                        <!--end-->

                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="Coordinator-tab" data-toggle="tab"
                                               href="#Coordinator" role="tab" aria-controls="Coordinator"
                                               aria-selected="false"> Coordinator/Incharge</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade main-section show active" id="medium" role="tabpanel"
                                 aria-labelledby="medium-tab">
                                <div id="class-teacher-content" class=" card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>

                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.AssignClassTeacher">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.AssignClassTeacher">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.AssignClassTeacher">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#AssignClassTeacher'" sheet-name="'AssignClassTeacherList'"><img src="/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#AssignClassTeacher').tableExport({type:'csv',escape:'false'});"><img src="/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success" id="add-class-teacher" style="min-width: 90px;">
                                                Assign
                                                Class Teacher
                                            </button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="AssignClassTeacher" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 100px" ng-show="AcademicConfig.ActiveBatch == true">Batch</th>
                                                    <th style="width: 150px">Class</th>
                                                    <th style="width: 100px">Section</th>
                                                    <th style="width: 150px" ng-show="AcademicConfig.ActiveSemester == true || AcademicConfig.ActiveClassYear == true">Semester/Year</th>
                                                    <th style="width: 250px">Class Teacher</th>
                                                    <th style="width: 80px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="ac in AssignClassTeacherList | filter:searchData.AssignClassTeacher | itemsPerPage: perPage.AssignClassTeacher" current-page="currentPages.AssignClassTeacher" pagination-id="assignclassteacherPagination">
                                                    <td ng-show="AcademicConfig.ActiveBatch == true">{{ac.Batch}}</td>
                                                    <td>{{ac.ClassName}}</td>
                                                    <td>{{ac.SectionName}}</td>
                                                    <td ng-show="AcademicConfig.ActiveSemester == true || AcademicConfig.ActiveClassYear == true">{{ac.Semester}} {{ac.ClassYear}}</td>
                                                    <td>{{ac.EmployeeName}}</td>
                                                    <td>

                                                        @*<a class="p-1" ng-click="GetAssignClassTeacherById(ac)">
                                        <i class="fas fa-edit text-info"></i>
                                    </a>*@
                                                        <a class="p-1" ng-click="DelAssignClassTeacherById(ac)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="assignclassteacherPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- Medium Form Starts -->
                                <div id="class-teacher-form" class="card">
                                    <div class="card-body p-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <form action="">
                                                    <div class="row">
                                                        <div class="col-sm-2 col-lg-2 col-md-2" ng-show="AcademicConfig.ActiveBatch == true">
                                                            <label>Batch</label>
                                                            <div class="form-group">
                                                                <select class="form-control form-control-sm select2" ng-model="newAssignClassTeacher.BatchId" ng-change="GetEmpListForClassTeacher(1)">
                                                                    <option ng-value="0">**Select Batch**</option>
                                                                    <option ng-value="cl.id" ng-repeat="cl in BatchList">{{cl.text}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 col-lg-2 col-md-2">
                                                            <label>Class</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newAssignClassTeacher.ClassId" ng-change="GetEmpListForClassTeacher(2)">
                                                                <option ng-value="0">**Select Class**</option>
                                                                <option ng-value="cl.id" ng-repeat="cl in ClassSection.ClassList">{{cl.text}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-2 col-lg-2 col-md-2" ng-show="SelectedClass2.ClassType==3">
                                                            <label>Semester</label>
                                                            <div class="form-group">
                                                                <select class="form-control form-control-sm select2" ng-model="newAssignClassTeacher.SemesterId" ng-change="GetEmpListForClassTeacher(3)">
                                                                    <option ng-value="0">**Select Semester**</option>
                                                                    <option ng-value="cl.id" ng-repeat="cl in SelectedClassSemesterList2">{{cl.text}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 col-lg-2 col-md-2" ng-show="SelectedClass2.ClassType==2">
                                                            <label>Year</label>
                                                            <div class="form-group">
                                                                <select class="form-control form-control-sm select2" ng-model="newAssignClassTeacher.ClassYearId" ng-change="GetEmpListForClassTeacher(4)">
                                                                    <option ng-value="0">**Select Year**</option>
                                                                    <option ng-value="cl.id" ng-repeat="cl in SelectedClassClassYearList2">{{cl.text}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 col-lg-2 col-md-2">
                                                            <label>Section</label>
                                                            <select class="form-control form-control-sm select2" data-placeholder="Select Section" ng-model="newAssignClassTeacher.SectionId" ng-change="GetEmpListForClassTeacher(5)">
                                                                <option ng-value="0">**Select Section**</option>
                                                                <option ng-value="se.SectionId" ng-repeat="se in ClassSection.SectionList |  filter: { ClassId: newAssignClassTeacher.ClassId }:true">{{se.SectionName}}</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                                            <label>Class Teacher</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newAssignClassTeacher.TeacherId">
                                                                <option value="" selected="selected" disabled>
                                                                    **Select Class Teacher**
                                                                </option>
                                                                <option ng-value="emp.EmployeeId" ng-repeat="emp in newAssignClassTeacher.EmployeeList" ng-selected="emp.EmployeeId==newAssignClassTeacher.TeacherId">{{emp.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-btn-class-teacher" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearAssignClassTeacher()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateAssignClassTeacher()">{{newAssignClassTeacher.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="tab-pane fade main-section" id="category" role="tabpanel"
                                 aria-labelledby="category-tab">
                                <div id="hod-content" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.AssignHod">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.AssignHod">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.AssignHod">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#AssignHod'" sheet-name="'AssignHodList'"><img src="/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#AssignHod').tableExport({type:'csv',escape:'false'});"><img src="/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success" id="add-hod" style="min-width: 90px;">
                                                Assign HOD
                                            </button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="AssignHod" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 150px">Department</th>
                                                    <th style="width: 200px">Teacher</th>
                                                    <th style="width: 120px">Shift</th>
                                                    <th style="width: 200px">Subject</th>
                                                    <th style="width: 350px">Class/Sec</th>
                                                    <th style="width: 60px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="ah in AssignHodList | filter:searchData.AssignHod | itemsPerPage: perPage.AssignHod" current-page="currentPages.AssignHod" pagination-id="assignhodPagination">
                                                    <td>{{ah.DepartmentName}}</td>
                                                    <td>{{ah.TeacherName}}</td>
                                                    <td>{{ah.ShiftName}}</td>
                                                    <td>{{ah.SubjectName}}</td>
                                                    <td>{{ah.ClassName}}</td>
                                                    <td>
                                                        @*<a class="p-1" ng-click="GetAssignHodById(ah)">
                                        <i class="fas fa-edit text-info"></i>
                                    </a>*@
                                                        <a class="p-1" ng-click="DelAssignHodById(ah)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="assignhodPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- hod-form Starts -->
                                <div id="hod-form" class="card">
                                    <div class="card-body py-2 px-0">
                                        <form action="">

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Department</label>
                                                    <select class="form-control form-control-sm" ng-model="newAssignHod.DepartmentId">
                                                        <option ng-value="dep.DepartmentId" ng-repeat="dep in DepartmentList">{{dep.Name}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4 col-lg-4 col-md-4">
                                                    <label> Teacher</label>
                                                    <select class="form-control select2bs4 form-control-sm" all-employee ng-model="newAssignHod.EmployeeId" employee-detail="newAssignHod.EmployeeDetails" side-bar-data="newAssignHod.EmpSideBarData" search-by="newAssignHod.EmployeeSearchBy">
                                                    </select>
                                                </div>
                                                <div class="col-sm-2 col-lg-2 col-md-2">
                                                    <label>Shift</label>
                                                    <div class="form-group">
                                                        <select class="form-control form-control-sm" ng-model="newAssignHod.ClassShiftId" ng-change="GetAssignHodById()">
                                                            <option NG-value="cs.ClassShiftId" ng-repeat="cs in ClassShiftList" ng-selected="cs.ClassShiftId==newAssignHod.ClassShiftId">{{cs.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-lg-3 col-md-3">
                                                    <label>Subject</label>
                                                    <div class="form-group">
                                                        <select class="form-control form-control-sm select2" ng-model="newAssignHod.SubjectId" ng-change="GetAssignHodById()">
                                                            <option NG-value="cs.SubjectId" ng-repeat="cs in AllSubjectList" ng-selected="cs.SubjectId==newAssignHod.SubjectId">{{cs.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height:calc(100vh - 15rem);">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead class="text-center">
                                                        <tr>
                                                            <th style="width: 150px; background-color: #f5f5f9 !important;">Class</th>
                                                            <th style="width: 90px; background-color: #f5f5f9 !important;" id="code-pr">Section</th>
                                                            <th style="width: 90px; background-color: #f5f5f9 !important;" id="code-pr" ng-if="AcademicConfig.ActiveBatch == true">Batch</th>
                                                            <th style="width: 90px; background-color: #f5f5f9 !important;" id="code-pr"ng-if="AcademicConfig.ActiveClassYear == true">Class Year</th>
                                                            <th style="width: 90px; background-color: #f5f5f9 !important;" id="code-pr"ng-if="AcademicConfig.ActiveSemester == true">Semester</th>
                                                            <th class="text-center" style="width: 100px; background-color: #f5f5f9 !important; z-index: 3">
                                                                Include
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="ah in newAssignHod.ClassList">
                                                            <td>{{ah.ClassName}}</td>
                                                            <td>{{ah.SectionName}}</td>
                                                            <td ng-if="AcademicConfig.ActiveBatch == true">{{ah.Batch}}</td>
                                                            <td ng-if="AcademicConfig.ActiveClassYear == true">{{ah.ClassYear}}</td>
                                                            <td ng-if="AcademicConfig.ActiveSemester == true">{{ah.Semester}}</td>
                                                            <td class="text-center">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                           id="customCheckbox{{$index}}" checked ng-model="ah.IsHod">
                                                                    <label for="customCheckbox{{$index}}"
                                                                           class="custom-control-label"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- table end -->
                                            </div>

                                        </form>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-2 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-btn-hod" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearAssignHod()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateAssignHod()">{{newAssignHod.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Create Group Tab contents starts Added by suresh on Bhadra 14 -->
                            <div class="tab-pane fade main-section" id="group" role="tabpanel"
                                 aria-labelledby="group-tab">
                                <div id="group-content" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2 mb-1">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.CreateGroup">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.CreateGroup">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.CreateGroup">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#CreateGroup'" sheet-name="'CreateGroupList'"><img src="/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#CreateGroup').tableExport({type:'csv',escape:'false'});"><img src="/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success" id="add-group" style="min-width: 90px;"> New Group</button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="CreateGroup" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 150px">Group Name</th>
                                                    <th style="width: 400px">Class/ Sec</th>
                                                    <th style="width: 150px">Subject</th>
                                                    <th style="width: 250px">Teacher</th>
                                                    <th style="width: 70px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="ah in CreateGroupList | filter:searchData.CreateGroup | itemsPerPage: perPage.CreateGroup" current-page="currentPages.CreateGroup" pagination-id="CreateGroupPagination">
                                                    <td>{{ah.Name}}</td>
                                                    <td>{{ah.ForClass}}</td>
                                                    <td>{{ah.SubjectName}}</td>
                                                    <td>{{ah.EmployeeName}}</td>
                                                    <td>

                                                        <a class="p-1" ng-click="GetCreateGroupById(ah)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" ng-click="DelCreateGroupById(ah)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="CreateGroupPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- Create Group form Starts -->
                                <div id="group-form" class="card">
                                    <div class="card-body p-2">
                                        <form action="">

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Group Name</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newCreateGroup.Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <label>Class/Section</label>
                                                    <select name="class-group" id="" form="" class="form-control form-control-sm select2" multiple="multiple" ng-model="newCreateGroup.SelectedClass">
                                                        <option ng-value="cs" ng-repeat="cs in ClassSection.SectionList">{{cs.text}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Subject</label>
                                                        <select name="class-group" class="form-control form-control-sm select2" ng-model="newCreateGroup.SubjectId">
                                                            <option ng-value="sb.SubjectId" ng-selected="newCreateGroup.SubjectId==sb.SubjectId" ng-repeat="sb in AllSubjectList">{{sb.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <label for="inlineFormInputGroup">Teacher</label>
                                                    <div class="input-group-prepend">
                                                        <select class="input-group-text dropdown-toggle p-0"
                                                                style="outline: none; border-top-right-radius: unset; border-bottom-right-radius: unset; margin-right: -3px; z-index: 1; font-size: 13px; " ng-model="newCreateGroup.SelectEmployee">
                                                            <option class="dropdown-item" ng-repeat="ss in EmployeeSearchOptions" ng-value="ss.value" ng-selected="ss.value==newCreateGroup.SelectEmployee">
                                                                {{ss.text}}
                                                            </option>
                                                        </select>
                                                        <select class="form-control select2bs4 form-control-sm" all-employee ng-model="newCreateGroup.EmployeeId" employee-detail="newCreateGroup.EmployeeDetails" side-bar-data="newCreateGroup.EmpSideBarData" search-by="newCreateGroup.EmployeeSearchBy">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-btn-group" style="min-width: 90px;">
                                                    Back to
                                                    List
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearCreateGroup()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateCreateGroup()">{{newCreateGroup.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Create Group Tab Contents Ends -->

                            <div class="tab-pane fade main-section" id="Coordinator" role="tabpanel"
                                 aria-labelledby="Coordinator-tab">
                                <div id="Coordinator-content" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2 mb-1">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Coordinator">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Coordinator">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.Coordinator">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#Coordinatortbl'" sheet-name="'CoordinatorList'"><img src="/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#Coordinatortbl').tableExport({type:'csv',escape:'false'});"><img src="/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                            </div>
                                            <a print-tbl table-id="'#Coordinatortbl'" href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="top" title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success" id="add-Coordinator" style="min-width: 90px;"> New Coordinator</button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table id="Coordinatortbl" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 70px">S.No</th>
                                                    <th style="width: 200px">Teacher</th>
                                                    <th style="width: 400px">Class/ Sec</th>

                                                    <th style="width: 70px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="ah in CoordinatorList | filter:searchData.Coordinator | itemsPerPage: perPage.Coordinator" current-page="currentPages.Coordinator" pagination-id="CoordinatorPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{ah.Teacher}}</td>
                                                    <td>{{ah.ClassName}}</td>
                                                    <td>

                                                        <a class="p-1" ng-click="DelCoordinatorById(ah)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="CoordinatorPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- Create Group form Starts -->
                                <div id="Coordinator-form" class="card">
                                    <div class="card-body p-2">
                                        <form action="">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="inlineFormInputGroup">Teacher</label>
                                                    <div class="input-group-prepend">
                                                        <select class="input-group-text dropdown-toggle p-0"
                                                                style="outline: none; border-top-right-radius: unset; border-bottom-right-radius: unset; margin-right: -3px; z-index: 1; font-size: 13px; " ng-model="newCoordinator.SelectEmployee">
                                                            <option class="dropdown-item" ng-repeat="ss in EmployeeSearchOptions" ng-value="ss.value" ng-selected="ss.value==newCoordinator.SelectEmployee">
                                                                {{ss.text}}
                                                            </option>
                                                        </select>
                                                        <select class="form-control select2bs4 form-control-sm" all-employee ng-model="newCoordinator.EmployeeId" employee-detail="newCreateGroup.EmployeeDetails" side-bar-data="newCreateGroup.EmpSideBarData" confirm-action="GetCoordinatorClassById()" search-by="newCreateGroup.EmployeeSearchBy">
                                                        </select>
                                                    </div>
                                                </div>
                                                @*<div class="col-sm-2 col-lg-2 col-md-2">
                                <label>Shift</label>
                                <div class="form-group">
                                    <select class="form-control form-control-sm" ng-model="newCoordinator.ClassShiftId" ng-change="GetCoordinatorClassById()">
                                        <option NG-value="cs.ClassShiftId" ng-repeat="cs in ClassShiftList" ng-selected="cs.ClassShiftId==newAssignHod.ClassShiftId">{{cs.Name}}</option>
                                    </select>
                                </div>
                            </div>*@


                                            </div>


                                        </form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-scroll-x-y sales-main-table table-scroll" style="max-height: calc(100vh - 14.5rem);">
                                                    <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                        <thead class="text-center">
                                                            <tr>
                                                                <th style="width: 150px; background-color: #f5f5f9 !important;">Class</th>
                                                                <th style="width: 90px; background-color: #f5f5f9 !important;" >Section</th>
                                                                <th style="width: 90px; background-color: #f5f5f9 !important;" >Batch</th>
                                                                <th style="width: 90px; background-color: #f5f5f9 !important;" >Class Year</th>
                                                                <th style="width: 90px; background-color: #f5f5f9 !important;" >Semester</th>
                                                                <th class="text-center" style="width: 100px; background-color: #f5f5f9 !important;z-index:3">
                                                                    Include
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="ah in  newCoordinator.ClassList">
                                                                <td>{{ah.ClassName}}</td>
                                                                <td>{{ah.SectionName}}</td>
                                                                <td>{{ah.Batch}}</td>
                                                                <td>{{ah.ClassYear}}</td>
                                                                <td>{{ah.Semester}}</td>
                                                                <td class="text-center">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox"
                                                                               id="customCheckbox{{$index}}" checked ng-model="ah.IsInclude">
                                                                        <label for="customCheckbox{{$index}}"
                                                                               class="custom-control-label"></label>
                                                                    </div>

                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- table end -->
                                                </div>
                                                <div class="time-label">
                                                    <span class="d-block border-0 p-3 text-center">
                                                        <button type="button" class="btn btn-sm btn-info" id="back-btn-Coordinator" style="min-width: 90px;">
                                                            Back to List
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearCoordinator()">Reset</button>
                                                        <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateCoordinator()">{{newCoordinator.Mode}}</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- /.row -->

        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <!-- model form for table input -->
    <div class="modal fade"
         id="option-sub"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         style="margin-top: 220px;margin-left: 70px;">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Optional Subjects ( {{curSC.DayName}}-{{curSC.Period}} )
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <div aria-hidden="true">&times;</div>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-table" style="overflow-x: auto">
                        <table id="enquiry-table"
                               class="table table-bordered table-hover enquiry-table">
                            <thead>
                                <tr class="text-center text-nowrap">
                                    <th style="min-width: 170px">Subject Name</th>
                                    <th style="min-width: 280px">Teacher</th>
                                    <th class="table-action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="metg in curSC.AlternetColl">
                                    <td>
                                        <select class="form-control form-control-sm" ng-model="metg.SubjectId">
                                            <option ng-value="0">**select subject**</option>
                                            <option ng-value="s.id" ng-repeat="s in newManageSchedule.SubjectList" ng-selected="s.id==metg.SubjectId">{{s.text}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control select2bs4 form-control-sm" all-employee ng-model="metg.EmployeeId" employee-detail="metg.EmployeeDetails" side-bar-data="metg.EmpSideBarData" search-by="metg.EmployeeSearchBy">
                                        </select>
                                    </td>
                                    <td>
                                        <a class="p-1" ng-click="AddOptionalSub($index)">
                                            <i class="fas fa-plus text-info"></i>
                                        </a>
                                        <a class="p-1" ng-click="delOptionalSub($index)">
                                            <i class="fas fa-trash-alt  text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" data-dismiss="modal">Save</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- modal form for table input close -->
</div>
