

<script src="~/jslib/academic/creation/MidasLMS.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="midasLMSController"  >
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div id="caste-form" class="card">
                <div class="card-body">
                    <div class="row">
                        <iframe id="frmLMS"> </iframe>

                    </div>

                </div>

            </div>
            <!-- /.row -->

        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>

