<script src="~/jslib/academic/creation/Student.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="StudentCRController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">House Name</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">House Dress</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab"
                                               href="#contact" role="tab" aria-controls="contact"
                                               aria-selected="false">Student type</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="medium-tab" data-toggle="tab"
                                               href="#medium" role="tab" aria-controls="medium"
                                               aria-selected="false">Medium</a>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="house-name-section" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0"
                                                                id="exampleFormControlSelect1" ng-model="perPage.HouseName">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.HouseName">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.HouseName">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="bottom" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                        type="button" id="dropdownMenuButton"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">
                                                        <img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image">
                                                        Excel
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image">
                                                        CSV
                                                    </a>

                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm" id="add-house">
                                                <i class="fas fa-plus w-t"></i> Add New House
                                            </a>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">

                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px;">S.No.</th>
                                                    <th style="width: 200px;">Name</th>
                                                    <th style="width: 250px;">Description</th>
                                                    <th style="width: 150px;">Incharge</th>
                                                    <th style="width: 80px;">Order No.</th>
                                                    <th style="width: 60px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in HouseNameList | filter:searchData.HouseName | itemsPerPage: perPage.HouseName" current-page="currentPages.HouseName" pagination-id="houseNamePagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.Description}}</td>
                                                    <td>{{cl.CoOrdinatorName}}-{{cl.CoOrdinatorCode}}</td>
                                                    <td>{{cl.OrderNo}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetHouseNameById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelHouseNameById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="houseNamePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>

                                <div id="house-form" class="card">
                                    <div class="py-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" placeholder="" class="form-control form-control-sm" ng-model="newHouseName.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control form-control-sm" rows="1"
                                                              placeholder="" ng-model="newHouseName.Description"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="form-group">
                                                    <label>Order No.</label>
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           placeholder="" ng-model="newHouseName.OrderNo" />
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">Select Employee As House Master</label>
                                                    @*<select class="form-control form-control-sm select2" all-employee ng-model="newHouseName.CoOrdinatorId"
                placeholder="** Select Co-Ordinator **" showdetails="false" confirm-action="EmpSelectionChange(newHouseName)" employee-detail="newHouseName.CoOrdinatorDetails" side-bar-data="newHouseName.CoOrdinatorDetails" search-by="newHouseName.EmployeeSearchBy"></select>*@

                                                    <select class="form-control form-control-sm" active-select2 ng-model="newHouseName.CoOrdinatorId">
                                                        <option ng-value="st.EmployeeId" ng-repeat="st in AllEmployeeColl">{{st.Name}}-{{st.EmployeeCode}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="">Select Employee As House Incharge</label>
                                                    <select multiple class="form-control form-control-sm" active-select2 ng-model="newHouseName.HouseInchargeIdColl_TMP" id="cboIncharge">
                                                        <option value="{{st.EmployeeId}}" ng-repeat="st in AllEmployeeColl"  ng-selected="{{newHouseName.HouseInchargeIdColl_TMP.containt(st.EmployeeId)}}">{{st.Name}}-{{st.EmployeeCode}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="">Select Employee As House Member</label>
                                                    <select multiple class="form-control form-control-sm" active-select2 ng-model="newHouseName.HouseMemberIdColl_TMP" id="cboMember">
                                                        <option value="{{st.EmployeeId}}" ng-repeat="st in AllEmployeeColl" ng-selected="{{newHouseName.HouseMemberIdColl_TMP.containt(st.EmployeeId)}}">{{st.Name}}-{{st.EmployeeCode}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Select Captain (Boy)</label>
                                                    <select class="form-control form-control-sm" active-select2 ng-model="newHouseName.CaptainId_Boy">
                                                        <option ng-value="st.StudentId" ng-repeat="st in AllStudentColl |  filter: { Gender: 'Male' }:true">{{st.Name}}-{{st.RegNo}}-{{st.ClassName}}({{st.SectionName}})-{{st.RollNo}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Select Vice Captain(Boy)</label>
                                                    <select class="form-control form-control-sm" active-select2 ng-model="newHouseName.ViceCaptainId_Boy">
                                                        <option ng-value="st.StudentId" ng-repeat="st in AllStudentColl |  filter: { Gender: 'Male' }:true">{{st.Name}}-{{st.RegNo}}-{{st.ClassName}}({{st.SectionName}})-{{st.RollNo}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Select Captain (Girl)</label>
                                                    <select class="form-control form-control-sm" active-select2 ng-model="newHouseName.CaptainId_Girl">
                                                        <option ng-value="st.StudentId" ng-repeat="st in AllStudentColl |  filter: { Gender: 'Female' }:true">{{st.Name}}-{{st.RegNo}}-{{st.ClassName}}({{st.SectionName}})-{{st.RollNo}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Select Vice Captain(Girl)</label>
                                                    <select class="form-control form-control-sm" active-select2 ng-model="newHouseName.ViceCaptainId_Girl">
                                                        <option ng-value="st.StudentId" ng-repeat="st in AllStudentColl |  filter: { Gender: 'Female' }:true">{{st.Name}}-{{st.RegNo}}-{{st.ClassName}}({{st.SectionName}})-{{st.RollNo}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-house-list" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearHouseName()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateHouseName()">{{newHouseName.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div id="house-dress-section" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0"
                                                                id="exampleFormControlSelect1" ng-model="perPage.HouseDress">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.HouseDress">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.HouseDress">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="bottom" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                        type="button" id="dropdownMenuButton"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">
                                                        <img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image">
                                                        Excel
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image">
                                                        CSV
                                                    </a>

                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success" id="add-house-dress" style="min-width: 90px;">
                                                <i class="fas fa-plus w-t"></i> Add
                                                House Dress
                                            </button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">

                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 60px;">S.No.</th>
                                                    <th style="width: 200px;">Name</th>
                                                    <th style="width: 250px;">Description</th>
                                                    <th style="width: 120px;">HouseName</th>
                                                    <th style="width: 60px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in HouseDressList | filter:searchData.HouseDress | itemsPerPage: perPage.HouseDress" current-page="currentPages.HouseDress" pagination-id="houseDressPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.Description}}</td>
                                                    <td>{{cl.HouseName}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetHouseDressById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelHouseDressById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="houseDressPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- house-dress-form starts -->
                                <div id="house-dress-form" class="card">
                                    <div class="py-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" name="" id="" class="form-control form-control-sm" ng-model="newHouseDress.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control form-control-sm" rows="1"
                                                              placeholder="" ng-model="newHouseDress.Description"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="form-group">
                                                    <label>Order No.</label>
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           placeholder="" ng-model="newHouseDress.OrderNo" />
                                                </div>

                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>House Name</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newHouseDress.HouseNameId">
                                                        <option ng-value="hn.HouseNameId" ng-repeat="hn in HouseNameList" ng-selected="hn.HouseNameId==newHouseDress.HouseNameId">{{hn.Name}}</option>                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">Color</label>
                                                    <input type="color"
                                                           class="form-control form-control-sm" ng-model="newHouseDress.ColorCode" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-housedress-list" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearHouseDress()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateHouseDress()">{{newHouseDress.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!-- house-dress-form ends -->
                            </div>
                            <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                 aria-labelledby="contact-tab">
                                <div id="student-type-section" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0"
                                                                id="exampleFormControlSelect1" ng-model="perPage.StudentType">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.StudentType">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.StudentType">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="bottom" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                        type="button" id="dropdownMenuButton"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">
                                                        <img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image">
                                                        Excel
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image">
                                                        CSV
                                                    </a>

                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm" id="add-student">
                                                <i class="fas fa-plus w-t"></i> Add
                                                Student Type
                                            </a>

                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">

                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20px;">S.No.</th>
                                                    <th style="width: 100px;">Name</th>
                                                    <th style="width: 150px;">Description</th>
                                                    <th style="width: 100px;">Type</th>
                                                    <th style="width: 50px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in StudentTypeList | filter:searchData.StudentType | itemsPerPage: perPage.StudentType" current-page="currentPages.StudentType" pagination-id="studentTypePagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.Description}}</td>
                                                    <td>{{cl.TypeId}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetStudentTypeById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelStudentTypeById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="studentTypePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- student-type-form  Starts -->
                                <div id="student-type-form" class="card">
                                    <div class="py-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newStudentType.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control form-control-sm" rows="1"
                                                              placeholder="" ng-model="newStudentType.Description"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="form-group">
                                                    <label>Order No.</label>
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           placeholder="" ng-model="newStudentType.OrderNo" />
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="">Type<span style="color:red">*</span></label>
                                                    <select class="form-control form-control-sm select2" ng-model="newStudentType.TypeId">
                                                        <option ng-value="gen.id" ng-repeat="gen in TypeColl" ng-selected="gen.id==newStudentType.TypeId">{{gen.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-student-list" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearStudentType()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateStudentType()">{{newStudentType.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!-- student-type-form Ends -->
                            </div>
                            <div class="tab-pane fade main-section" id="medium" role="tabpanel"
                                 aria-labelledby="medium-tab">
                                <div id="medium-section" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0"
                                                                id="exampleFormControlSelect1" ng-model="perPage.Medium">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Medium">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.Medium">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="bottom" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                        type="button" id="dropdownMenuButton"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">
                                                        <img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image">
                                                        Excel
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image">
                                                        CSV
                                                    </a>

                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom"
                                               title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success" id="add-medium" style="min-width: 90px;">
                                                <i class="fas fa-plus w-t"></i> Add
                                                Medium
                                            </button>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll">

                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20px;">S.No.</th>
                                                    <th style="width: 100px;">Name</th>
                                                    <th style="width: 150px;">Description</th>
                                                    <th style="width: 20px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in MediumList | filter:searchData.Medium | itemsPerPage: perPage.Medium" current-page="currentPages.Medium" pagination-id="mediumPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.Description}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetMediumById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelMediumById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="mediumPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- Medium Form Starts -->
                                <div id="medium-form" class="card">
                                    <div class="py-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newMedium.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control form-control-sm" rows="1"
                                                              placeholder="" ng-model="newMedium.Description"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="form-group">
                                                    <label>Order No.</label>
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           placeholder="" ng-model="newMedium.OrderNo" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-medium-list" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearMedium()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateMedium()">{{newMedium.Mode}}</button>

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->

</div>
 