<script src="~/jslib/Academic/Subject.js?v=20251115"></script>

<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="SubjectController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:50px!important">
                <div class="tab-content" id="add-subject-section">
                    <!-- Second Tab Content -->
                    <div class="add-subject-section card py-2">
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">

                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>

                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Subject">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Subject">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar" type="search"
                                                   placeholder="Search" aria-label="Search" ng-model="searchData.Subject">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end col-md-8 -->
                            <div class="col-md-5 text-right">
                               
                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                     data-placement="top" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item" href="#">
                                            <img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image">
                                            Excel
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image">
                                            CSV
                                        </a>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip"
                                   data-placement="bottom" title="Print">
                                    <i class="fas fa-print"></i>
                                </a>

                                <button type="button" class="btn btn-sm btn-success" id="add-subject" style="min-width: 90px;">
                                    <i class="fas fa-plus w-t"></i> Add Subject
                                </button>

                            </div>
                        </header>
                        <div>
                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead class=" text-nowrap">
                                        <tr>
                                            <th>Subject Name</th>
                                            @*<th>Code</th>*@
                                            <th>Code TH</th>
                                            <th>Code PR</th>
                                            <th>Is ECA Subject</th>
                                            <th style="width: 80px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="sub in SubjectList | filter:searchData.Subject | itemsPerPage: perPage.Subject" current-page="currentPages.Subject" pagination-id="subjectPagination">
                                            <td>{{sub.Name}}</td>
                                            @*<td>{{sub.Code}}</td>*@
                                            <td>{{sub.CodeTH}}</td>
                                            <td>{{sub.CodePR}}</td>
                                            <td>{{sub.IsECA}}</td>
                                            <td class="">

                                                <a class="p-1" ng-click="GetSubjectById(sub)">
                                                    <i class="fas fa-edit text-info"></i>
                                                </a>
                                                <a class="p-1" ng-click="DelSubjectById(sub)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table end -->
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="subjectPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                        </footer>
                    </div>

                </div>

                <!-- form area starts -->
                <div id="add-subject-form">
                    <div class="card card-default">
                        <div class="card-body p-2">

                            <div class="row">
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <span>Name</span>
                                        <input type="text" class="form-control form-control-sm" ng-model="newSubject.Name">
                                    </div>

                                </div>

                                <!-- /.col -->
                                @*<div class="col-md-4">
            <div class="form-group">
                <span for="subject-code">Subject Code</span>
                <input type="text"
                       class="form-control form-control-sm"
                       ng-model="newSubject.Code" />
            </div>
        </div>*@
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span for="subjectth">Code TH</span>
                                        <input type="text"
                                               class="form-control form-control-sm" ng-model="newSubject.CodeTH" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span for="codepr">Code PR</span>
                                        <input type="text"
                                               class="form-control form-control-sm" ng-model="newSubject.CodePR" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span for="subjectth">CH TH</span>
                                        <input type="number"
                                               class="form-control form-control-sm" ng-model="newSubject.CRTH" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span for="codepr">CH PR</span>
                                        <input type="number"
                                               class="form-control form-control-sm" ng-model="newSubject.CRPR" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="custom-control custom-checkbox checkbox-lg">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="checkbox-2"
                                                ng-model="newSubject.IsECA" />
                                        <label class="custom-control-label" for="checkbox-2">
                                            Is E.C.A. Subject (Extra Curricular
                                            Activities)
                                        </label>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="custom-control custom-checkbox checkbox-lg">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="checkbox-4"
                                                ng-model="newSubject.IsMath" />
                                        <label class="custom-control-label" for="checkbox-4">
                                            Is Math
                                        </label>
                                    </div>
                                </div>*@
                            </div>
                        </div>


                        <div class="time-label">
                            <span class="d-block border-0 p-3 text-center">
                                <button type="button" class="btn btn-sm btn-info" id="back-to-subject-list-btn" style="min-width: 90px;">Back to List</button>
                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearSubject()">Reset</button>
                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateSubject()">{{newSubject.Mode}}</button>

                            </span>
                        </div>
                    </div>
                </div>

                <!-- form area ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>



            
