@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using PivotalERP.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Pivotal ERP";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title ( Version 1.0.0.0 )</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                As we know there are lots of accounting software available in the market with lots of features but most of them are lacking some key features. To overcome this lacking features Dynamic Technosoft has brought Pivotal accounting software with its dominating features which meet all key features of any business house.
                Dynamic Pivotal Accounting Software is a software product designed for all business like wholesalers, Dealers, Trading companies, Manufacturing Companies, Import/export companies, Academic, Health etc.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
