
@{
    ViewBag.Title = "StudentLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AngularJs/Creation/StudentLeave.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="StudentLeaveController" ng-init="LoadData()">
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <section class="iframe-content-starts-here">
                    <div class="tab-content" id="table-listing">
                        <form action="" style="margin-top: -10px">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">From Date</label>
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="newStudentLeave.FromDate_TMP" date-detail="newStudentLeave.FromDateDet">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">To Date</label>
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="newStudentLeave.ToDate_TMP" date-detail="newStudentLeave.ToDateDet">
                                    </div>
                                </div>

                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="">Sort By</label>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Sort by</span>
                                            </div>
                                            <select name=""
                                                    id=""
                                                    form=""
                                                    class="form-control form-control-sm select2bs4">

                                                <option value="">Name</option>
                                                <option value="">Section&Name</option>
                                                <option value="">Section&RollNo</option>
                                                <option value="">Section&RegdNo</option>
                                                <option value="">RegdNo</option>
                                                <option value="">RollNo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </form>
                        <label>No. of  Student  :</label>
                        <!-- Second Tab Content -->
                        <div class="card p-2">
                            <header class="row mb-2">
                                <div class="col-md-7">
                                    <div class="clearfix">
                                        <form class="form-inline">
                                            <div class="input-group input-group-sm mr-sm-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Show</span>
                                                </div>
                                                <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.StudentLeave">
                                                    <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.StudentLeave">{{pp.text}}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-white"><small>entries</small></span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm table-search-filed">
                                                <input class="form-control form-control-navbar"
                                                       type="search" placeholder="Search"
                                                       aria-label="Search" ng-model="searchData.StudentLeave">
                                                <div class="input-group-append">
                                                    <button class="btn btn-default border-left-0"
                                                            type="submit">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end col-md-8 -->
                                <div class="col-md-5 text-right">
                                    <div class="dropdown no-caret d-inline-block">
                                        <button type="button"
                                                class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                data-toggle="dropdown">
                                            <i class="fas fa-columns"></i>
                                        </button>
                                        <ul class="dropdown-menu cstm-column-visibility dropdown-menu-right">
                                            <span class="dropdown-item">Column Visibility:</span>
                                            <li>
                                                <a href="#"
                                                   class="small dropdown-item"
                                                   data-value="option1"
                                                   tabindex="-1">
                                                    <label class="checkbox-wrap">
                                                        Name
                                                        <input type="checkbox" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                   class="small dropdown-item"
                                                   data-value="option2"
                                                   tabindex="-1">
                                                    <label class="checkbox-wrap">
                                                        Position
                                                        <input type="checkbox" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                   class="small dropdown-item"
                                                   data-value="option3"
                                                   tabindex="-1">
                                                    <label class="checkbox-wrap">
                                                        Office
                                                        <input type="checkbox" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                   class="small dropdown-item"
                                                   data-value="option3"
                                                   tabindex="-1">
                                                    <label class="checkbox-wrap">
                                                        Age
                                                        <input type="checkbox" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                   class="small dropdown-item"
                                                   data-value="option3"
                                                   tabindex="-1">
                                                    <label class="checkbox-wrap">
                                                        Salary
                                                        <input type="checkbox" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </li>
                                            <li class="btns-wrap">
                                                <a href="#" class="btn btn-link btn-sm">Restore</a>
                                                <a href="#" class="btn btn-secondary btn-sm">Appy</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown dnld-file"
                                         data-toggle="tooltip"
                                         data-placement="top"
                                         title="Download File">
                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                type="button"
                                                id="dropdownMenuButton"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="fas fa-download"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <span class="dropdown-item">Choose an option:</span>
                                            <a class="dropdown-item" href="#">
                                                <img src="~/teacherloginFiles/dynamic/images/flaticons/excel.png"
                                                     class="img-fluid exports-icon"
                                                     alt="Excel image" />
                                                Excel
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <img src="~/teacherloginFiles/dynamic/images/flaticons/csv.png"
                                                     class="img-fluid exports-icon"
                                                     alt="Excel image" />
                                                CSV
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <img src="~/teacherloginFiles/dynamic/images/flaticons/pdf.png"
                                                     class="img-fluid exports-icon"
                                                     alt="Excel image" />
                                                PDF
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <img src="~/teacherloginFiles/dynamic/images/flaticons/word.png"
                                                     class="img-fluid exports-icon"
                                                     alt="Excel image" />
                                                Word
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <img src="~/teacherloginFiles/dynamic/images/flaticons/gmail.png"
                                                     class="img-fluid exports-icon"
                                                     alt="Excel image" />
                                                Mail
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#"
                                       class="btn btn-secondary btn-light btn-sm"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Print">
                                        <i class="fas fa-print"></i>
                                    </a>

                                </div>
                            </header>
                            <div>
                                <div class="table-scroll-x-y sales-main-table table-scroll">
                                    <table id="main-table"
                                           class="main-table table table-sm table-bordered bg-white">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px">S.No.</th>
                                                <th style="width: 100px">Roll No.</th>
                                                <th style="width: 150px">Name</th>
                                                <th style="width: 100px">Class/Sec</th>
                                                <th style="width: 100px">Request Date</th>
                                                <th style="width: 100px">Leave Date</th>
                                                <th style="width: 100px">Reason</th>
                                                <th style="width: 100px">Note</th>
                                                <th style="width: 100px"> Status</th>
                                                <th style="width: 100px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="cl in StudentLeaveList | filter:searchData.StudentLeave | itemsPerPage: perPage.StudentLeave" current-page="currentPages.StudentLeave" pagination-id="StudentLeavePagination">
                                                <td>{{$index+1}}</td>
                                                <td>{{cl.RollNo}}</td>
                                                <td class="text-left pl-1">{{cl.Name}}</td>
                                                <td class="text-left pl-1">{{cl.ClassSec}}</td>
                                                <td>{{cl.RequestDate}}</td>
                                                <td>{{cl.LeaveDate}}</td>
                                                <td class="text-left pl-1">{{cl.Reason}}</td>
                                                <td class="text-left pl-1">{{cl.Note}}</td>
                                                <td class="text-left pl-1">{{cl.Status}}</td>

                                                <td>
                                                    <button type="button" class="btn btn-sm btn-success" id="open-form-btn" data-toggle="modal" data-target="#modal-xl" style="min-width: 90px;padding: 2px 10px;font-size: 13px;">
                                                        Approve
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <!-- table end -->
                                </div>
                            </div>
                            <footer class="row align-items-center">
                                <div class="col-md-12">
                                    <dir-pagination-controls pagination-id="StudentLeavePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                    </dir-pagination-controls>
                                </div>
                            </footer>
                        </div>
                    </div>

                </section>


                <div class="modal fade" id="modal-xl">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">FollowUp Admission Enquiry</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Note</label>
                                            <textarea class="form-control form-control-sm" rows="2" placeholder=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="time-label">
                                    <span class="d-block border-0 p-3 text-center">
                                        <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;">Approved</button>
                                        <button type="button" class="btn btn-sm btn-danger" style="min-width: 90px;">Denied</button>
                                    </span>
                                </div>
                                <!-- /.card-header -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Student Name :</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Class/Sec :</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Roll No :</label>
                                    </div>
                                </div>
                                <div class=" sales-main-table table-scroll">
                                    <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                        <thead>
                                            <tr>
                                                <th style="width: 120px;">Request Date</th>
                                                <th style="width: 100px;">Leave Date</th>
                                                <th style="width: 250px;">Reason</th>
                                                <th style="width: 150px;">Note</th>
                                                <th style="width: 150px;">Approve By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>


                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>