

<script src="~/jslib/setup/NewEntity.js?v=20251115"></script>
<style>
    .third-level-scroll-only {
        height: 100px !important;
        overflow: unset;
    }
</style>

<div ng-app="myApp" ng-controller="newEntityCntrl" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
    <div class="container-fluid">
        <section class="iframe-content-starts-here" style="padding-top:50px!important">
            <div class="tab-content">
                <div class="card-primary card-tabs">
                    <div class="card-header with-gradient-bg p-0 border-bottom-0">
                        <ul class="nav nav-tabs pt-1" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">New Entity</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-2">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                <div class="search-toolbar">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card-tools">
                                                <div class="input-group">
                                                    <input type="text" id="txtSearch" ng-model="search" class="form-control form-control-sm input-sm" placeholder="Search">
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col-lg-6 -->
                                        <div class="col-lg-8">
                                            <form class="float-right mb-1">
                                                <div class="form-row align-items-center">
                                                    <div class="d-flex align-items-center">
                                                        <label class="mr-sm-2 mb-0" for="inlineFormCustomSelect">Show</label>
                                                        <input type="text" ng-model="noofrows" class="form-control form-control-sm input-sm" placeholder="NoOfRows" value="10">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <table cellpadding="12" class="table table-bordered table-striped table-hover table-responsive" id="datatable">
                                    <tr>
                                        <th ng-click="sort('TranId')" style="text-align:center">
                                            S.No
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='TranId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>

                                        <th ng-click="sort('Name')" style="text-align:center;width: 60% ;Height:20px">
                                            Name
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>

                                        <th ng-click="sort('Alias')" style="text-align:center;width: 60% ;Height:20px">
                                            Module
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='Alias'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('ReportType')" style="text-align:center;width: 60% ;Height:20px">
                                            Entity Type
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='ReportType'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;width:10px"><b>Action</b></th>
                                    </tr>
                                    <tr dir-paginate="dc in DataColl |orderBy:sortKey:reverse|filter:search|itemsPerPage:noofrows">
                                        <td align="center">
                                            {{$index+1}}
                                        </td>
                                        <td>
                                            <a href="@Url.Action("RunReportViewer", "ReportWriter", new { Area = "Setup" })?TranId={{dc.TranId}}">
                                                {{dc.Name}}
                                            </a>
                                        </td>
                                        <td>
                                            {{dc.Module}}
                                        </td>
                                        <td>
                                            {{dc.EntityType}}
                                        </td>

                                        

                                        <td class="project-actions">
                                            <div class="btn-group btn-group-sm">
                                                <a class="btn btn-info" ng-click="getQueryBuilderById(dc)"><i class="fas fa-pencil-alt"></i></a>
                                                <a class="btn btn-danger ml-2" ng-click="deleteQueryBuilder(dc)"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                                </dir-pagination-controls>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">

                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="card">
                                            @*<div class="card-header header-corner-triangle">
                                                <h3 class="card-title"></h3>
                                            </div>*@
                                            <div class="card-body p-2">
                                                <form>
                                                    <div class="row">

                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>Entity Type</label>
                                                                <select ng-model="beData.EntityType" class="form-control form-control-sm input-sm">
                                                                    <option ng-repeat="et in ReportTypeColl track by et.id" ng-value="et.id" ng-selected="et.id == beData.EntityType">
                                                                        {{et.text}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>Module</label>
                                                                <select ng-model="beData.ModuleId" class="form-control form-control-sm input-sm">
                                                                    <option ng-repeat="et in ModuleColl track by $index" ng-value="et.AutoNumber" ng-selected="et.AutoNumber == beData.ModuleId">
                                                                        {{et.Name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>Name</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="beData.Name" ng-disabled="beData.TranId>0">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>Label</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="beData.LabelName">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label>Allow User</label>
                                                                <select ng-model="beData.UserIdColl" class="form-control form-control-sm input-sm select2" multiple="multiple" id="cboUser" name="cboUser">
                                                                    <option ng-repeat="cl in UserColl track by cl.UserId" value="{{cl.UserId}}" ng-selected="{{beData.UserIdColl.containt(cl.UserId)}}">
                                                                        {{cl.UserName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label>Allow Group</label>
                                                                <select ng-model="beData.GroupIdColl" class="form-control form-control-sm input-sm select2" multiple="multiple" id="cboGroup" name="cboGroup">
                                                                    <option ng-repeat="cl in UserGroupList track by cl.GroupId" value="{{cl.GroupId}}" ng-selected="{{beData.GroupIdColl.containt(cl.UserId)}}">
                                                                        {{cl.GroupName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-show="beData.EntityType==2">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>SQL Text</label>
                                                                <textarea rows="8" class="form-control form-control-sm" style="width:98%" id="txtMessage" ng-model="beData.TSql"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-show="beData.EntityType==1">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>Fields</label>
                                                                <div class="table-scroll-x-y sales-main-table table-scroll mt-2" style="max-height: 410px;">
                                                                    <table id="main-table" class="main-table table table-sm table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="cstm-sticky" style="left: 0; width: 60px; z-index: 4; background-color: #ececec !important;">S.No.</th>
                                                                                <th class="cstm-sticky" style="width: 80px; left: 60px; z-index: 4; background-color: #ececec !important;">Alter</th>
                                                                                <th class="cstm-sticky" style="width: 180px; left: 140px; z-index: 4; background-color: #ececec !important;">Name</th>
                                                                                <th style="width: 150px; z-index: 3; background-color: #ececec !important;">Label</th>
                                                                                <th style="width: 140px; z-index: 3; background-color: #ececec !important;">Data Type</th>
                                                                                <th style="width: 140px; z-index: 3; background-color: #ececec !important;">Default Value</th>
                                                                                <th style="width: 100px; z-index: 3; background-color: #ececec !important;" class="text-center">IsMandatory</th>
                                                                                <th style="width: 200px; z-index: 3; background-color: #ececec !important;">SelectOptions</th>
                                                                                <th style="width: 300px; z-index: 3; background-color: #ececec !important;">Source</th>
                                                                                <th style="width: 170px; z-index: 3; background-color: #ececec !important;">Formula</th>
                                                                                <th style="width: 70px; z-index: 3; background-color: #ececec !important;">Width</th>
                                                                                <th style="width: 250px; z-index: 3; background-color: #ececec !important;">References</th>
                                                                                <th style="width: 150px; z-index: 3; background-color: #ececec !important;">Text Col</th>
                                                                                <th style="width: 120px; z-index: 3">Search</th>
                                                                                <th class="align-middle text-center" style="width: 80px; z-index: 3; background-color: #ececec !important;">Action</th>
                                                                            </tr>

                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="EAC in beData.FieldColl">
                                                                                <td class="cstm-sticky" style="z-index:3;background-color:#ffffff!important;left:0">
                                                                                    <input type="number" class="form-control form-control-sm" ng-model="EAC.SNo" />
                                                                                </td>
                                                                                <td class="cstm-sticky" style="z-index:3;background-color:#ffffff!important;left:60px">
                                                                                    <input type="checkbox" class="form-control form-control-sm" ng-model="EAC.CanAlter" ng-show="EAC.FieldId>0" />
                                                                                </td>
                                                                                <td class="cstm-sticky" style="z-index:3;background-color:#ffffff!important;left:140px"> <input type="text" class="form-control form-control-sm" ng-model="EAC.Name" ng-disabled="EAC.FieldId>0" /></td>
                                                                                <td> <input type="text" class="form-control form-control-sm" ng-model="EAC.Label" /></td>
                                                                                <td>
                                                                                    <select class="form-control form-control-sm select2" ng-model="EAC.FieldType" ng-disabled="(EAC.CanAlter ? false : (EAC.FieldId>0 ? true : false)) ">
                                                                                        <option ng-repeat="dt in DataTypeColl" ng-value="dt.id" ng-selected="dt.id==EAC.FieldType">{{dt.text}}</option>
                                                                                    </select>
                                                                                </td>
                                                                                <td> <input type="text" class="form-control form-control-sm" ng-model="EAC.DefaultValue" /></td>
                                                                                <td class="text-center">
                                                                                    <div class="custom-control custom-checkbox">
                                                                                        <input type="checkbox" class="custom-control-input" id="customCheckbox3{{$index}}" ng-model="EAC.IsMandatory" />
                                                                                        <label for="customCheckbox3{{$index}}" class="custom-control-label"> </label>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <textarea class="textarea form-control form-control-sm" rows="1" ng-model="EAC.DropDownList"></textarea>
                                                                                </td>
                                                                                <td> <input type="text" class="form-control form-control-sm" ng-model="EAC.Source" /></td>
                                                                                <td> <input type="text" class="form-control form-control-sm" ng-model="EAC.Formula" /></td>
                                                                                <td> <input type="number" class="form-control form-control-sm" ng-model="EAC.ColWidth" /></td>
                                                                                <td>
                                                                                    <select class="form-control form-control-sm select2" active-select2 ng-model="EAC.SelectedRefTable">
                                                                                        <option ng-repeat="dt in PkTablesColl" ng-value="dt" ng-selected="dt.Table==EAC.SelectedRefTable.TableName">{{dt.Table}}</option>
                                                                                    </select>
                                                                                </td>
                                                                                <td> <input type="text" class="form-control form-control-sm" ng-model="EAC.TextColumn" /></td>
                                                                                <td class="cstm-sticky" style="z-index:3;background-color:#ffffff!important;left:60px">
                                                                                    <input type="checkbox" class="form-control form-control-sm" ng-model="EAC.ShowInSearch" />
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <a class="p-1" ng-click="AddItemUdf($index)">
                                                                                        <i class="fas fa-plus text-secondary"></i>
                                                                                    </a>
                                                                                    <a class="p-1" ng-click="delItemUdf($index)">
                                                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row" ng-show="beData.EntityType==1">
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <label>Chield Entity</label>
                                                                <div class="table-scroll-x-y card" style="height:auto!important;max-height:400px!important">
                                                                    <table id="main-table" class="main-table table table-sm table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center" style="width: 60px; background-color: #ececec !important;">S.No.</th>
                                                                                <th style="width: 250px; background-color: #ececec !important; ">Name</th>
                                                                                <th style="width: 120px; background-color: #ececec !important;">Label</th>
                                                                                <th class="align-middle text-center" style="width: 80px; background-color: #ececec !important; z-index: 2;">Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="CE in beData.ChieldEntities">
                                                                                <td align="center">
                                                                                    {{$index+1}}
                                                                                </td>
                                                                                <td> <input type="text" class="form-control form-control-sm" ng-model="CE.Name" ng-disabled="CE.TranId>0" /></td>
                                                                                <td> <input type="text" class="form-control form-control-sm" ng-model="CE.Label" /></td>

                                                                                <td class="text-center">
                                                                                    <a class="p-1" ng-click="showChieldFields(CE)">
                                                                                        <i class="fas fa-info text-primary"></i>
                                                                                    </a>
                                                                                    <a class="p-1" ng-click="AddChieldEntity($index)">
                                                                                        <i class="fas fa-plus text-secondary"></i>
                                                                                    </a>
                                                                                    <a class="p-1" ng-click="delChieldEntity($index)">
                                                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                                                    </a>
                                                                                </td>

                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-show="beData.EntityType==1">
                                                        <div class="form-group">
                                                            <label>Select Report Template File(s)</label>
                                                            <table cellpadding="12" class="table table-bordered table-striped table-hover" id="clientTable">
                                                                <thead>
                                                                    <tr>
                                                                        <td class="col1">S.No.</td>
                                                                        <td class="col2">Name</td>
                                                                        <td class="col3">Path</td>
                                                                        <td class="col4">File</td>
                                                                        <td class="col5">Action</td>
                                                                    </tr>
                                                                </thead>
                                                                <tr id="tablerow0" ng-repeat="tc in beData.TemplateColl">
                                                                    <td class="col5">
                                                                        <div class="editor-field">
                                                                            <input class="text-box input-sm form-control" type="number" ng-model="tc.SNO" />
                                                                        </div>
                                                                    </td>
                                                                    <td class="col2">
                                                                        <div class="editor-field">
                                                                            <input class="text-box input-sm form-control" type="text" ng-model="tc.ReportName" />
                                                                        </div>
                                                                    </td>
                                                                    <td class="col2">
                                                                        <div class="editor-field">
                                                                            <input class="text-box input-sm form-control" type="text" ng-model="tc.Path" disabled />
                                                                        </div>
                                                                    </td>
                                                                    <td class="col2">
                                                                        <button class="btn btn-success btn-sm" type="button" ng-click="ShowFileChoose(tc)"><i class="fas fa-file-invoice"></i></button>
                                                                        <a download="{{tc.FileName}}" href="~/Setup/Security/DownloadReportTemplates?fpath={{tc.Path}}"><i class="fas fa-download"></i></a>
                                                                    </td>

                                                                    <td class="col5">
                                                                        <a class="btn btn-default btn-xs" ng-click="addrowRT($index)"><i class="fa fa-plus"></i></a>
                                                                        <a class="btn btn-default btn-xs" ng-click="deleteRT($index)"><i class="fa fa-trash"></i></a>
                                                                        <a class="btn btn-default btn-xs" ng-click="runReport(newBeData.TranId)"><i class="fa fa-arrow-alt-circle-up"></i></a>
                                                                        @*<a class="btn btn-default btn-xs" ng-click="runReport(newBeData.TranId)"><i class="fa fa-arrow-circle-o-up"></i></a>*@
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </form>
                                                <footer class="mt-4">
                                                    <div class="text-center control-btns">
                                                        <button type="button" class="btn btn-sm btn-default" style="min-width:90px" ng-click="ClearFields()">Cancel</button>
                                                        @*<button type="button" class="btn btn-secondary">Save & Close</button>*@
                                                        <button type="button" class="btn btn-sm btn-success" style="min-width:90px" ng-click="AddNewQueryBuilder()">Save</button>
                                                    </div>

                                                </footer>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </section>



        <!-- Add Report Path Modal -->
        <div class="modal fade" id="addReportFilePath" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Select Report Files</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="example">
                                    <div id="fileTreeDemo_2" class="demo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-primary py-2" id="btnCancel" data-dismiss="modal" ng-click="SelectedFileClick()">Accept</button>
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Add User Modal -->

    </div>
</div>
<script src="~/Scripts/jqueryFileTree.js"></script>


 