
<script src="~/jslib/setup/ReportWriter.js?v=20251115"></script>
<style>
    .third-level-scroll-only {
        height: 100px !important;
        overflow: unset;
    }
</style>
<div ng-app="myApp" ng-controller="queryBuilderCntrl" ng-class="{waiting: loadingstatus=='running'}" ng-init="GetAllQueryBuilder()">
    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
    <div class="container-fluid">
        <section class="iframe-content-starts-here" style="padding-top:50px!important">
            <div class="tab-content">
                <div class="card-primary card-tabs">
                    <div class="card-header with-gradient-bg p-0 border-bottom-0">
                        <div class="card-header p-0 border-bottom-0">
                            <ul class="nav nav-tabs pt-1" id="custom-tabs-four-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Report Writer</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                    <div class="search-toolbar">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="card-tools">
                                                    <div class="input-group">
                                                        <input type="text" id="txtSearch" ng-model="search" class="form-control form-control-sm input-sm" placeholder="Search">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col-lg-6 -->
                                            <div class="col-lg-8">
                                                <form class="float-right mb-2">
                                                    <div class="form-row align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <label class="mr-sm-2 mb-0" for="inlineFormCustomSelect">Show</label>
                                                            <input type="text" ng-model="noofrows" class="form-control form-control-sm input-sm" placeholder="NoOfRows" value="10">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <table cellpadding="12" class="table table-bordered table-striped table-hover table-responsive mb-1" id="datatable">
                                        <tr>
                                            <th ng-click="sort('TranId')" style="text-align:center">
                                                S.No
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='TranId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>

                                            <th ng-click="sort('Name')" style="text-align:center;width: 60% ;Height:20px">
                                                Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>

                                            <th ng-click="sort('Alias')" style="text-align:center;width: 60% ;Height:20px">
                                                Module
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='Alias'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th ng-click="sort('ReportType')" style="text-align:center;width: 60% ;Height:20px">
                                                ReportType
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='ReportType'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;width:10px"><b>Action</b></th>
                                        </tr>
                                        <tr dir-paginate="dc in DataColl |orderBy:sortKey:reverse|filter:search|itemsPerPage:noofrows">
                                            <td align="center">
                                                {{$index+1}}
                                            </td>
                                            <td>
                                                <a href="@Url.Action("RunReportViewer", "ReportWriter", new { Area = "Setup" })?TranId={{dc.TranId}}">
                                                    {{dc.ReportName}}
                                                </a>
                                            </td>
                                            <td>
                                                {{dc.ModuleId}}
                                            </td>
                                            <td>
                                                {{dc.ReportType}}
                                            </td>
                                            <td class="project-actions">
                                                <div class="btn-group btn-group-sm">
                                                    <a class="btn btn-info mr-1" ng-click="getQueryBuilderById(dc)"><i class="fas fa-pencil-alt text-white"></i></a>
                                                    <a class="btn btn-danger" ng-click="deleteQueryBuilder(dc)"><i class="fas fa-trash text-white"></i></a>
                                                    <a class="btn btn-info" download="{{dc.Name}}.rdl" href="~/Setup/ReportWriter/DownloadTemplate?TranId={{dc.TranId}}" @*ng-show="dc.ReportType==1 || dc.ReportType==5"*@><i class="fas fa-download"></i></a>
                                                    <a class="btn btn-info" download="{{dc.Name}}.rdl" href="~/Setup/ReportWriter/DownloadTemplateRdlc?TranId={{dc.TranId}}" @*ng-show="dc.ReportType==1 || dc.ReportType==5"*@><i class="fas fa-download"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                                    </dir-pagination-controls>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">

                                    <div class="content">
                                        <div class="container-fluid">
                                            <div class="card">
                                               
                                                <div class="card-body p-2">
                                                    <form>
                                                        <div class="row">

                                                            <div class="col-sm-2">
                                                                <div class="form-group">
                                                                    <label>Report Type</label>
                                                                    <select ng-model="beData.ReportType" class="form-control form-control-sm input-sm">
                                                                        <option ng-repeat="et in ReportTypeColl track by et.id" value="{{et.id}}" ng-selected="et.id == beData.ReportType">
                                                                            {{et.text}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <div class="form-group">
                                                                    <label>Module</label>
                                                                    <select ng-model="beData.ModuleId" class="form-control form-control-sm input-sm">
                                                                        <option ng-repeat="et in ModuleColl track by et.ModuleId" value="{{et.AutoNumber}}" ng-selected="et.AutoNumber == beData.ModuleId">
                                                                            {{et.Name}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <div class="form-group">
                                                                    <label>Name</label>
                                                                    <input type="text" class="form-control form-control-sm" ng-model="beData.ReportName">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Allow User</label>
                                                                    <select ng-model="beData.UserIdColl" class="form-control form-control-sm input-sm select2" multiple="multiple" id="cboUser" name="cboUser">
                                                                        <option ng-repeat="cl in UserColl track by cl.UserId" value="{{cl.UserId}}" ng-selected="{{beData.UserIdColl.containt(cl.UserId)}}">
                                                                            {{cl.UserName}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Allow Group</label>
                                                                    <select ng-model="beData.GroupIdColl" class="form-control form-control-sm input-sm select2" multiple="multiple" id="cboGroup" name="cboGroup">
                                                                        <option ng-repeat="cl in UserGroupList track by cl.GroupId" value="{{cl.GroupId}}" ng-selected="{{beData.GroupIdColl.containt(cl.UserId)}}">
                                                                            {{cl.GroupName}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label>SQL Text</label>
                                                                    <textarea class="form-control form-control-sm" rows="8" style="width:98%" id="txtMessage" ng-model="beData.TSql"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label>Para</label>
                                                                    <table cellpadding="12" class="table table-bordered table-striped table-hover" id="clientTable">
                                                                        <thead>
                                                                            <tr>
                                                                                <td class="col1">S.No.</td>
                                                                                <td class="col2">Variable</td>
                                                                                <td class="col3">Label</td>
                                                                                <td class="col4">DataType</td>
                                                                                <td class="col4">Source</td>
                                                                                <td class="col4">Allow Null</td>
                                                                                <td class="col4">Default Value</td>
                                                                                <td class="col5"></td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tr id="tablerow0" ng-repeat="newBeData in beData.ParaColl">
                                                                            <td class="col1">
                                                                                {{$index+1}}
                                                                            </td>
                                                                            <td class="col2">
                                                                                <div class="editor-field">
                                                                                    <input class="text-box input-sm form-control" type="text" ng-model="newBeData.VariableName" />
                                                                                </div>
                                                                            </td>
                                                                            <td class="col2">
                                                                                <div class="editor-field">
                                                                                    <input class="text-box input-sm form-control" type="text" ng-model="newBeData.Label" />
                                                                                </div>
                                                                            </td>
                                                                            <td class="col2">
                                                                                <div class="editor-field">
                                                                                    <select ng-model="newBeData.DataType" class="form-control input-sm">
                                                                                        <option ng-repeat="et in DataTypeColl track by et.id" ng-value="{{et.id}}" ng-selected="et.id == newBeData.DataType">
                                                                                            {{et.text}}
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </td>
                                                                            <td class="col2">
                                                                                <div class="editor-field">
                                                                                    <input class="text-box input-sm form-control" type="text" ng-model="newBeData.Source" />
                                                                                </div>
                                                                            </td>
                                                                            <td class="col4">
                                                                                @Html.CheckBox("chkIsOptional", new { @ng_model = "newBeData.AllowNull" })
                                                                            </td>
                                                                            <td class="col2">
                                                                                <div class="editor-field">
                                                                                    <input class="text-box input-sm form-control" type="text" ng-model="newBeData.DefaultValue" />
                                                                                </div>
                                                                            </td>
                                                                            <td class="col5">
                                                                                <a class="btn btn-default btn-xs" ng-click="addrow($index)"><i class="fa fa-plus"></i></a>
                                                                                <a class="btn btn-default btn-xs" ng-click="delete($index)"><i class="fa fa-trash"></i></a>
                                                                                <a class="btn btn-default btn-xs" ng-click="runReport(newBeData.TranId)"><i class="fa fa-arrow-alt-circle-up"></i></a>
                                                                                @*<a class="btn btn-default btn-xs" ng-click="runReport(newBeData.TranId)"><i class="fa fa-arrow-circle-o-up"></i></a>*@
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" ng-hide="beData.ReportType==2 || beData.ReportType==3">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label>Select Report Template File(s)</label>
                                                                    <table cellpadding="12" class="table table-bordered table-striped table-hover" id="clientTable">
                                                                        <thead>
                                                                            <tr>
                                                                                <td class="col1">S.No.</td>
                                                                                <td class="col2">Name</td>
                                                                                <td class="col3">Path</td>
                                                                                <td class="col4">File</td>
                                                                                <td class="col5">Action</td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tr id="tablerow0" ng-repeat="tc in beData.TemplateColl">
                                                                            <td class="col5">
                                                                                <div class="editor-field">
                                                                                    <input class="text-box input-sm form-control" type="number" ng-model="tc.SNO" />
                                                                                </div>
                                                                            </td>
                                                                            <td class="col2">
                                                                                <div class="editor-field">
                                                                                    <input class="text-box input-sm form-control" type="text" ng-model="tc.ReportName" />
                                                                                </div>
                                                                            </td>
                                                                            <td class="col2">
                                                                                <div class="editor-field">
                                                                                    <input class="text-box input-sm form-control" type="text" ng-model="tc.Path" disabled />
                                                                                </div>
                                                                            </td>
                                                                            <td class="col2">
                                                                                <button class="btn btn-success btn-sm" type="button" ng-click="ShowFileChoose(tc)"><i class="fas fa-file-invoice"></i></button>
                                                                                <a download="{{tc.FileName}}" href="~/Setup/Security/DownloadReportTemplates?fpath={{tc.Path}}"><i class="fas fa-download"></i></a>
                                                                            </td>

                                                                            <td class="col5">
                                                                                <a class="btn btn-sm btn-default btn-xs" ng-click="addrowRT($index)"><i class="fa fa-plus"></i></a>
                                                                                <a class="btn btn-sm btn-default btn-xs" ng-click="deleteRT($index)"><i class="fa fa-trash"></i></a>
                                                                                <a class="btn btn-sm btn-default btn-xs" ng-click="runReport(newBeData.TranId)"><i class="fa fa-arrow-alt-circle-up"></i></a>
                                                                                @*<a class="btn btn-default btn-xs" ng-click="runReport(newBeData.TranId)"><i class="fa fa-arrow-circle-o-up"></i></a>*@
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                    <footer class="main-mt-4">
                                                        <div class="text-center control-btns">
                                                            <button type="button" class="btn btn-sm btn-default" style="min-width:90px" ng-click="ClearFields()">Cancel</button>
                                                            @*<button type="button" class="btn btn-secondary">Save & Close</button>*@
                                                            <button type="button" class="btn btn-sm btn-success" style="min-width:90px" ng-click="AddNewQueryBuilder()">Save</button>
                                                        </div>

                                                    </footer>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.card -->
                </div>
               


    </section>
        </div>
    <!-- Add Report Path Modal -->
    <div class="modal fade" id="addReportFilePath" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Select Report Files</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="example">
                                <div id="fileTreeDemo_2" class="demo"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="time-label">
                    <span class="d-block border-0 p-3 text-center">
                        <button type="button" class="btn btn-sm btn-primary py-2" id="btnCancel" data-dismiss="modal" ng-click="SelectedFileClick()">Accept</button>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <!-- End Add User Modal -->

</div>
  

<script src="~/Scripts/jqueryFileTree.js"></script>

 

