@*@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")*@
<script>
    var EntityId=@ViewBag.TranId;
</script>
<style>
    .fa-upload {
        background-color: #28a745;
        color: #fff;
        padding: 5px;
        font-size: 15px;
    }

    .img-preview {
        height: 150px;
        width: auto;
        border: 1px solid green;
    }

    .btn-add-file {
        padding: 35px 35px;
        border: 2px dotted green;
    }

    .fa-plus-circle {
        color: #28a745;
        font-size: 20px;
    }

    .dz-image img {
        width: 130px;
        height: 130px;
    }

    .table-scroll-x-y {
        height: auto !important;
    }
</style>
<link rel="stylesheet" href="~/wwwroot/dynamic-erp/css/dropzone.css" />
<script src="~/wwwroot/dynamic-erp/js/dropzone.js"></script>
<script src="~/jslib/setup/ViewNewEntity.js?v=20251115"></script>
<div ng-app="myApp" ng-controller="viewNewEntityCtrl" ng-class="{waiting: loadingstatus=='running'}" @*ng-init="GetAllData()"*@ ng-cloak>
    <div class="container-fluid">
        <section class="iframe-content-starts-here" style="padding-top:50px!important">
            <div class="tab-content">
                <div class="card-primary card-tabs">
                    <div class="card-header with-gradient-bg p-0 border-bottom-0">
                        <div class="card-header p-0 border-bottom-0">
                            <ul class="nav nav-tabs pt-1" id="custom-tabs-four-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">{{NewEntity.LabelName}}</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                    <header class="row">
                                        <div class="col-md-8">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="paginationOptions.pageSize">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==paginationOptions.pageSize">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <div class="input-group-prepend">
                                                            <select class="form-control form-control-sm select2bs4" style="width: 100%;" ng-model="paginationOptions.SearchColDet">
                                                                <option ng-value="asp" ng-repeat="asp in SearchOptions" ng-selected="asp.text==paginationOptions.SearchColDet.text">{{asp.text}}</option>
                                                            </select>
                                                        </div>
                                                        <input class="form-control form-control-navbar" type="search"
                                                               placeholder="Search" aria-label="Search" ng-model="paginationOptions.SearchVal" ng-change="ReSearchData(-1)">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-4 text-right">
                                            <div class="dropdown dnld-file" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                </div>
                                                <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>`
                                            </div>


                                        </div>
                                    </header>
                                    <div class="search-toolbar mt-2">

                                        <table cellpadding="12" class="table table-bordered table-striped table-hover table-sm" id="datatable">
                                            <thead>
                                                <tr>
                                                    <th ng-click="sort('LedgerGroupId')" style="text-align: center; width: 5%;">
                                                        S.No
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='LedgerGroupId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>

                                                    <th ng-click="sort('Name')" style="text-align:left" ng-repeat="fc in NewEntity.FilterFieldColl">
                                                        {{fc.Label}}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>

                                                    <th class="noprint" style="text-align:center;width: 10%;">Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="sd in SearchDataColl |orderBy:sortKey:reverse|itemsPerPage:paginationOptions.pageSize" total-items="paginationOptions.TotalRows">
                                                    <td style="text-align:center;margin:auto">
                                                        {{($index+1)}}
                                                    </td>
                                                    <td style="margin:auto;text-align:left" ng-repeat="fc in NewEntity.FilterFieldColl">
                                                        {{sd[fc.Name]}}
                                                    </td>
                                                    <td class="project-actions text-center noprint">
                                                        <div class="btn-group-sm">
                                                            <a href="#" class="btn btn-sm  btn-info" ng-click="GetRecordById(sd)"><i class="fas fa-pencil-alt"></i></a>
                                                            <a href="#" class="btn btn-sm btn-danger" ng-click="DeleteRecordById(sd,$index)"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        <div class="col-md-12">
                                            <dir-pagination-controls max-size="paginationOptions.pageSize" direction-links="true" boundary-links="true"
                                                                     on-page-change="ReSearchData(newPageNumber)">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                    <div class="p-2">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-{{udf.ColWidth}}" ng-repeat="udf in NewEntity.FieldColl">
                                                    <div class="form-group">
                                                        <label>{{udf.Label}}<span style="color:red" ng-show="udf.IsMandatory==true">*</span></label>
                                                        <udf-entity udf="udf" be-data="beData"></udf-entity>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                    <footer class="mt-4">
                                        <div class="text-center control-btns"> 
                                            <button type="button" class="btn btn-sm btn-default" style="min-width:90px" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                            <button type="button" class="btn btn-sm btn-success" style="min-width:90px" ng-click="AddNewData()"><span class="glyphicon glyphicon-save"></span>Save</button>
                                        </div>
                                    </footer>
                                </div>
                            </div>

                        </div>
                        <!-- /.card -->
                    </div>


                    <!-- /.card -->
                </div>
                <!-- /.container-fluid -->
            </section>




    </div>

</div>

<style>

    .table table-bordered table-striped table-hover table-sm td {
        font-size: x-small;
        line-height: 10px;
    }
</style>



