<script src="~/jslib/export/tableExport.js"></script>
<script src="~/jslib/export/jquery.base64.js"></script>
<script src="~/jslib/export/jspdf/libs/sprintf.js"></script>
<script src="~/jslib/export/jspdf/jspdf.js"></script>
<script src="~/jslib/export/jspdf/libs/base64.js"></script>

<script src="~/jslib/Academic/UserCredential.js?v=20251115"></script>
<script>
    var entityStudentUserSMS = @Convert.ToInt32(AcademicLib.BE.Global.ENTITIES.StudentUser);
    var entityTeacherUserSMS = @Convert.ToInt32(AcademicLib.BE.Global.ENTITIES.TeacherUser);
</script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="UserCredentialController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Student Users</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">Parent Users</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="employee-tab" data-toggle="tab"
                                               href="#employee" role="tab" aria-controls="employee"
                                               aria-selected="false">Employee Users</a>
                                        </li>
                                        
                                    </ul>
                                </div>

                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="student-users-section">
                                    <div class="row mb-2 mt-2">
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <!-- <label>Class</label> -->
                                            <select name=""
                                                    id=""
                                                    form=""
                                                    class="form-control form-control-sm" ng-model="newStudentUsers.ClassId" ng-change="GetAllStudentUsersList()">
                                                <option value="">Select Class</option>
                                                <option ng-value="cl.id" ng-repeat="cl in ClassSection.ClassList">{{cl.text}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 col-lg-3 col-md-3">
                                            <!-- <label>Section</label> -->
                                            <select class="select2 form-control-sm"
                                                    multiple="multiple"
                                                    data-placeholder="Select Section"
                                                    style="width: 100%" ng-model="newStudentUsers.SectionId" ng-change="GetAllStudentUsersList()">
                                                <option ng-value="se.SectionId" ng-repeat="se in ClassSection.SectionList |  filter: { ClassId: newStudentUsers.ClassId }:true">{{se.SectionName}}</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-2 col-lg-2 col-md-2">
                                            <label>Prefix</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newStudentUsers.Prefix" />
                                        </div>
                                        <div class="col-sm-2 col-lg-2 col-md-2">
                                            <label>Suffifx </label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newStudentUsers.Suffix" />
                                        </div>
                                        <div class="col-sm-3 col-lg-3 col-md-3">
                                            <label>User Name as </label>
                                            <select class="form-control form-control-sm" ng-model="newStudentUsers.AsPer">
                                                <option ng-value="cl.id" ng-repeat="cl in StudentUserAsPerList">{{cl.text}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-lg-2 col-md-2 mt-4">
                                            <label>
                                                <input type="checkbox" ng-model="newStudentUsers.canUpdate" />
                                                Can Update Exists UserName
                                            </label>
                                        </div>
                                        <div class="col-sm-3 col-lg-3 col-md-3 mt-4 text-right">
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="GenerateStudentUser()">Generate User</button>
                                            <button type="button" class="btn btn-sm btn-info" style="min-width: 90px;" ng-click="UpdateQR()">Update QR</button>
                                        </div>                                       
                                    </div>
                                    <div class="card p-0">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.StudentUsers">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.StudentUsers">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.StudentUsers">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                                <button type="button" class="btn btn-sm btn-light btn-danger" style="min-width: 90px; border: 1px solid #ed8b8b61" ng-click="ResetPwdClass()">Reset Password</button>
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#main-table'" sheet-name="'ClassWiseSubject'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" onClick="$('#main-table').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    </div>
                                                </div>
                                                <a print-tbl table-id="'#main-table'" class="btn btn-secondary btn-light btn-sm wait"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <a class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Send SMS" ng-click="SendSMSToStudentUser()">
                                                    <i class="fas fa-sms"></i>
                                                </a>
                                                <a class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Send Notification" ng-click="SendNotificationToStudentUser()">
                                                    <i class="fas fa-bell"></i>
                                                </a>
                                                <a class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Force Logout of Student" ng-click="SendNotificationToForceLogOut()">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                                <a class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Force Enable Notification" ng-click="AllNotificationEnabled()">
                                                    <i class="fas fa-toggle-on"></i>
                                                </a>
                                                <a class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Force Disable Notification" ng-click="AllNotificationDisabled()">
                                                    <i class="fas fa-toggle-off"></i>
                                                </a>
                                                <!-- <a href="#" class="btn btn-success btn-sm" id="accept"> Accept</a> -->
                                            </div>
                                        </header>
                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                            <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr class="text-nowrap">
                                                        <th style="width: 50px;">S.No.</th>
                                                        <th style="width: 90px;">Id</th>
                                                        <th style="width: 150px;">Class/Sec</th>
                                                        <th style="width: 180px;" ng-show="AcademicConfig.ActiveBatch==true">Batch/Sem/Year</th>
                                                        <th style="width: 100px;">Roll No.</th>
                                                        <th style="width: 100px;">Reg.No.</th>
                                                        <th style="width: 150px;">Name</th>
                                                        <th style="width: 200px;">Father's Name</th>
                                                        <th style="width: 110px;">Contact No.</th>
                                                        <th style="width: 150px;">Address</th>
                                                        <th style="width: 150px;">User Name</th>
                                                        <th style="width: 100px;">Password</th>
                                                        <th style="width: 70px;">Action</th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="cl in StudentUsersList | filter:searchData.StudentUsers | itemsPerPage: perPage.StudentUsers" current-page="currentPages.StudentUsers" pagination-id="StudentUsersPagination">
                                                        <td>{{cl.SNo}}</td>
                                                        <td>{{cl.StudentId}}</td>
                                                        <td>{{cl.ClassName}}-{{cl.SectionName}}</td>
                                                        <td ng-show="AcademicConfig.ActiveBatch==true">{{cl.Batch}}-{{cl.Semester}}-{{cl.ClassYear}}</td>
                                                        <td>{{cl.RollNo}}</td>
                                                        <td>{{cl.RegdNo}}</td>
                                                        <td>{{cl.Name}}</td>
                                                        <td>{{cl.FatherName}}</td>
                                                        <td>{{cl.ContactNo}}</td>
                                                        <td>{{cl.Address}}</td>
                                                        <td>
                                                            <span ng-hide="cl.CanEdit==true">{{cl.UserName}}</span>
                                                            <input type="text" ng-model="cl.UserName" class="form-control form-control-sm" ng-show="cl.CanEdit==true" />
                                                        </td>
                                                        <td>
                                                            <span ng-hide="cl.CanEdit==true">{{cl.Pwd}}</span>
                                                            <input type="text" ng-model="cl.NewPwd" class="form-control form-control-sm" ng-show="cl.CanEdit==true" />
                                                        </td>
                                                        <td>
                                                            <a class="p-1" href="#" ng-click="GetStudentUsersById(cl)" ng-hide="cl.CanEdit==true">
                                                                <i class="fas fa-edit text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="UpdateStudentPwd(cl)" ng-show="cl.CanEdit==true">
                                                                <i class="fas fa-save text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="StudentForlogout(cl)">
                                                                <i class="fas fa-sign-out-alt text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" title="Clear Today's Log " ng-click="ClearLogById(cl)">
                                                                <i class="fas fa-trash-alt text-info"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- table end -->
                                        </div>

                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="StudentUsersPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div id="parent-user-section">
                                    <div class="row mb-2 mt-2">
                                        <div class="col-sm-2 col-lg-2 col-md-2">
                                            <label>Class</label>
                                            <select name=""
                                                    id=""
                                                    form=""
                                                    class="form-control form-control-sm">
                                                <option value="">Select Class</option>
                                                <option value="">2</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <label>Section</label>
                                            <select class="select2 form-control-sm"
                                                    multiple="multiple"
                                                    data-placeholder="Select Section"
                                                    style="width: 100%">
                                                <option>A</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card p-0">
                                        <header class="row mb-2">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">

                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.ParentUsers">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.ParentUsers">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.ParentUsers">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">
                                               

                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#main-table1'" sheet-name="'employee'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" onClick="$('#main-table1').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                        
                                                    </div>
                                                </div>
                                                <a print-tbl table-id="'#main-table1'" class="btn btn-secondary btn-light btn-sm wait"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>

                                                <!-- <a href="#" class="btn btn-success btn-sm" id="accept"> Accept</a> -->
                                            </div>
                                        </header>
                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                            <table id="main-table1" class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr class="text-nowrap">
                                                        <th style="width: 50px;">S.No.</th>
                                                        <th style="width: 50px;">Id</th>
                                                        <th style="width: 150px;">Class/Sec</th>
                                                        <th style="width: 100px;">Roll No.</th>
                                                        <th style="width: 150px;">Address</th>
                                                        <th style="width: 200px;">Father's Name</th>
                                                        <th style="width: 150px;">Contact No.</th>
                                                        <th style="width: 150px;">User Name</th>
                                                        <th style="width: 100px;">Password</th>
                                                        <th style="width: 100px;">Action</th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="cl in ParentUsersList | filter:searchData.ParentUsers | itemsPerPage: perPage.ParentUsers" current-page="currentPages.ParentUsers" pagination-id="ParentUsersPagination">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{cl.Id}}</td>
                                                        <td>{{cl.ClassSec}}</td>
                                                        <td>{{cl.RollNo}}</td>
                                                        <td>{{cl.Address}}</td>
                                                        <td>{{cl.FathersName}}</td>
                                                        <td>{{cl.ContactNo}}</td>
                                                        <td>{{cl.UserName}}</td>
                                                        <td>{{cl.Password}}</td>
                                                        <td>
                                                            <a class="p-1" href="#" ng-click="GetParentUsersById(cl)">
                                                                <i class="fas fa-edit text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" title="Clear Today's Log " ng-click="ClearLogById(cl)">
                                                                <i class="fas fa-trash-alt text-info"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- table end -->
                                        </div>

                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="ParentUsersPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade main-section" id="employee" role="tabpanel"
                                 aria-labelledby="employee-tab">
                                <div id="employee-users-section">
                                    <div class="card py-2">
                                        <div class="row">
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <label>Prefix</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newEmployeeUsers.Prefix" />
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <label>Suffifx </label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newEmployeeUsers.Suffix" />
                                            </div>
                                            <div class="col-sm-3 col-lg-3 col-md-3">
                                                <label>User Name as </label>
                                                <select class="form-control form-control-sm" ng-model="newEmployeeUsers.AsPer">
                                                    <option ng-value="cl.id" ng-repeat="cl in EmpUserAsPerList">{{cl.text}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-5 col-lg-5 col-md-6 mt-4">
                                                <label>
                                                    <input type="checkbox" ng-model="newEmployeeUsers.canUpdate" />
                                                    Can Update Exists UserName
                                                </label>
                                            </div>
                                        </div>
                                        <header class="row mt-2">
                                            <div class="col-md-9">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.EmployeeUsers">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.EmployeeUsers">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar"
                                                                   type="search" placeholder="Search"
                                                                   aria-label="Search" ng-model="searchData.EmployeeUsers">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0"
                                                                        type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3 col-lg-3 col-md-3">
                                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="GenerateEmployeeUser()">Generate User</button>
                                                        </div>
                                                        <div class="col-sm-3 col-lg-3 col-md-3">
                                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="ResetPwdEmployeee()">Reset Password</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-3 text-right">
                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#main-table'" sheet-name="'ClassWiseSubject'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" onClick="$('#main-table2').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                                    </div>
                                                </div>
                                                <a print-tbl table-id="'#main-table2'" class="btn btn-secondary btn-light btn-sm wait"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <a class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Send SMS" ng-click="SendSMSToEmployeeUser()">
                                                    <i class="fas fa-sms"></i>
                                                </a>
                                                <a class="btn btn-secondary btn-light btn-sm"
                                                   data-toggle="tooltip" data-placement="top" title="Send Notification" ng-click="SendNotificationToEmployeeUser()">
                                                    <i class="fas fa-bell"></i>
                                                </a>
                                                <!-- <a href="#" class="btn btn-success btn-sm" id="accept"> Accept</a> -->
                                            </div>
                                        </header>

                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                            <table id="main-table2" class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr class="text-nowrap">
                                                        <th style="width: 80px;">S.No.</th>
                                                        <th style="width: 100px;">Id</th>
                                                        <th style="width: 100px;">Code</th>
                                                        <th style="width: 250px;">Name</th>
                                                        <th style="width: 250px;">Address</th>
                                                        <th style="width: 250px;">Designation</th>
                                                        <th style="width: 200px;">Contact No.</th>
                                                        <th style="width: 250px;">User Name</th>
                                                        <th style="width: 250px;">Password</th>
                                                        <th style="width: 150px;">Action</th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="cl in EmployeeUsersList | filter:searchData.EmployeeUsers | itemsPerPage: perPage.EmployeeUsers" current-page="currentPages.EmployeeUsers" pagination-id="EmployeeUsersPagination">
                                                        <td>{{cl.SNo}}</td>
                                                        <td>{{cl.EmployeeId}}</td>
                                                        <td>{{cl.EmployeeCode}}</td>
                                                        <td>{{cl.Name}}</td>
                                                        <td>{{cl.Address}}</td>
                                                        <td>{{cl.Designation}}</td>
                                                        <td>{{cl.ContactNo}}</td>
                                                        <td>
                                                            <span ng-hide="cl.CanEdit==true">{{cl.UserName}}</span>
                                                            <input type="text" ng-model="cl.UserName" class="form-control form-control-sm" ng-show="cl.CanEdit==true" />
                                                        </td>
                                                        <td>
                                                            <span ng-hide="cl.CanEdit==true">{{cl.Pwd}}</span>
                                                            <input type="text" ng-model="cl.NewPwd" class="form-control form-control-sm" ng-show="cl.CanEdit==true" />
                                                        </td>
                                                        <td>
                                                            <a class="p-1" href="#" ng-click="GetStudentUsersById(cl)" ng-hide="cl.CanEdit==true">
                                                                <i class="fas fa-edit text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="UpdateStudentPwd(cl)" ng-show="cl.CanEdit==true">
                                                                <i class="fas fa-save text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" title="Clear Today's Log " ng-click="ClearLogById(cl)">
                                                                <i class="fas fa-trash-alt text-info"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- table end -->
                                        </div>
                                        <footer class="row align-items-center">
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="EmployeeUsersPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>



