

.cstm-resizetable.table.table-bordered thead th {
    border-bottom-width: 1px;
    /* background-color: #e6f5fb !important;*/
}

.cstm-resizetable.table td {
    vertical-align: middle;
}



.dynamic-uiux-table.table.cstm-collapse-border {
    border-collapse: collapse;
}



.outer-scroll-wrapper-h-scrollbar-fix .main-table {
    padding-right: 10px;
    padding-right: 0px;
    /*width: max-content;*/
    min-width: 100%;
    margin: inherit;
}

    .outer-scroll-wrapper-h-scrollbar-fix .main-table thead {
        position: relative;
        z-index: 999;
    }


.table-scroll-wrapper {
    height: 100%; /* adjust as needed */
    overflow-y: auto;
    position: relative;
}


    .table-scroll-wrapper .resize-handle {
        position: absolute;
        top: 0;
        right: -2px;
        z-index: 2;
        cursor: ew-resize;
        width: 7px;
        border-radius: 2px;
        /*background-color: #166ee1;*/
        /*background-color: #ccc;*/
        height: 100%;
        opacity: 0;
        border-right: 4px solid #166ee1;
    }

        .table-scroll-wrapper .resize-handle:hover {
            opacity: 1;
        }

    .table-scroll-wrapper .resizing {
        cursor: col-resize;
    }

.sticky-action-col {
    right: 0;
    z-index: 1;
    background-color: #fff;
}

    .sticky-action-col.highlight-on-scroll.scrolled {
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    }


th.sticky-action-col {
    z-index: 3;
}

/*.main-table th,
.main-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/

    .main-table th.scrolled,
    .main-table td.scrolled {
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    }

table.main-table .select2-container--default .select2-selection--single,
table.main-table .form-control {
    border: 0;
}

    table.main-table .select2-container--default .select2-selection--single:hover {
        box-shadow: inset 0 0 0 1px #539eeb;
    }

.form-control-sm.action-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    font-size: 0.8rem !important;
    font-weight: 600;
    color: #1F2D3D;
    text-decoration: none;
    cursor: pointer;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" fill="%23000000" opacity="1" data-original="%23000000" class=""></path></g></svg>');
    background-repeat: no-repeat;
    background-position: right 0px center!important;
    background-size: 9px;
  /*  background-position: bottom 6px right 7px;*/
}

    .form-control-sm.action-dropdown:focus {
        font-weight: 600 !important;
    }

    .form-control-sm.action-dropdown,
    .form-control-sm.action-dropdown:hover,
    .form-control-sm.action-dropdown:focus {
        border: 0 !important;
    }

.form-control-sm.action-dropdown {
    outline: none;
    box-shadow: none;
}

    .form-control-sm.action-dropdown:hover {
        border: 0 !important;
        font-weight: 600 !important;
    }


.resize-handle {
    position: absolute;
    top: 0;
    right: -2px; /* Position it slightly outside for easier grabbing */
    bottom: 0;
    width: 5px; /* The clickable area */
    cursor: col-resize; /* Show the resize cursor */
    z-index: 100; /* Make sure it's on top of other elements */
}

/* Optional: Provide visual feedback while resizing */
.main-table.resizing {
    cursor: col-resize;
    -webkit-user-select: none; /* Disable text selection while resizing */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dynamic-uiux-table.table.cstm-collapse-border {
    border-collapse: collapse;
}

.dynamic-uiux-table.table.table-sm:not(.cstm-resizetable) thead th {
    padding: 4px;
    line-height: 20px;
    vertical-align: middle;
}

.dynamic-uiux-table.table.table-sm:not(.cstm-resizetable) tbody th,
.dynamic-uiux-table.table.table-sm:not(.cstm-resizetable) tbody td {
    padding: 2px 4px;
    line-height: 20px;
    vertical-align: middle;
}


.dynamic-uiux-table.table.table-sm.cstm-resizetable::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #dee2e6; /* same as Bootstrap border color */
    z-index: 3;
}




table.dynamic-uiux-table {
    border-collapse: collapse !important;
}

    /* Sticky column setup */
    table.dynamic-uiux-table thead th.scrolled,
    table.dynamic-uiux-table tbody td.scrolled,
    table.dynamic-uiux-table tfoot th.scrolled,
    table.dynamic-uiux-table tfoot td.scrolled,
    table.dynamic-uiux-table thead th.sticky-action-col.scrolled,
    table.dynamic-uiux-table tbody td.sticky-action-col.scrolled,
    table.dynamic-uiux-table tbody tr:nth-child(2) th.scrolled,
    table.dynamic-uiux-table tbody tr.cstm-sub-total-row th.scrolled {
        overflow: visible; /* Allow pseudo to render outside */
    }

        /* Shadow using ::after � make it sticky too */
        table.dynamic-uiux-table thead th.scrolled::after,
        table.dynamic-uiux-table tbody td.scrolled::after,
        table.dynamic-uiux-table tfoot th.scrolled::after,
        table.dynamic-uiux-table tfoot td.scrolled::after,
        table.dynamic-uiux-table thead th.sticky-action-col.scrolled::after,
        table.dynamic-uiux-table tbody td.sticky-action-col.scrolled::after,
        table.dynamic-uiux-table tbody tr.cstm-sub-total-row th.scrolled::after {
            content: "";
            position: absolute;
            left: 100%; /* Exactly after the cell */
            top: 0;
            width: 8px;
            height: 100%;
            pointer-events: none;
            /*box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.15);*/
            /*z-index: 5;*/
            /*background-color: #e6f5fb !important;*/
            background: linear-gradient(to right, rgba(0,0,0,0.15), transparent);
        }


        table.dynamic-uiux-table thead th.sticky-action-col.scrolled::after,
        table.dynamic-uiux-table tbody td.sticky-action-col.scrolled::after,
        table.dynamic-uiux-table tfoot td.sticky-action-col.scrolled::after {
            background: linear-gradient(to left, rgba(0,0,0,0.15), transparent);
            left: auto;
            right: 100%;
        }

    table.dynamic-uiux-table tbody tr.cstm-sub-total-row th,
    table.dynamic-uiux-table tbody tr.cstm-sub-total-row td {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    table.dynamic-uiux-table.has-scroll-main {
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
    }





.dynamic-uiux-table.table-bordered {
    border: 0;
}

/*.dynamic-uiux-table.table.table-sm thead th {
    min-height: 28px;
}*/

.dynamic-uiux-table.table.table-sm:not(.cstm-resizetable) thead th {
    padding: 4px;
    line-height: 20px;
    vertical-align: middle;
}

.dynamic-uiux-table.table.table-sm:not(.cstm-resizetable) tbody th,
.dynamic-uiux-table.table.table-sm:not(.cstm-resizetable) tbody td {
    padding: 2px 4px;
    line-height: 20px;
    vertical-align: middle;
}


.dynamic-uiux-table.table.table-sm.cstm-resizetable::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #dee2e6; /* same as Bootstrap border color */
    z-index: 3;
}
