.heirarchy:not(:empty):before, .heirarchy:not(:empty):after,
.heirarchy ul:not(:empty):before, .heirarchy ul:not(:empty):after,
.heirarchy li:not(:empty):before, .heirarchy li:not(:empty):after {
    display: block;
    position: absolute;
    content: "";
}

.heirarchy ul, .heirarchy li {
    position: relative;
    margin: 0;
    padding: 0;
}

.heirarchy li {
    list-style: none;
}

    .heirarchy li > div {
        color: #ffffff;
        padding: 8px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        min-height: 50px;
        min-width: 70px;
        /*max-width: 120px;*/
        max-width: 300px;
        display: inline-block;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }


.heirarchy.vertical {
    display: flex;
}

    .heirarchy.vertical ul {
        display: flex;
        justify-content: center;
    }

    .heirarchy.vertical li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .heirarchy.vertical li div {
            margin: 12px 6px;
        }

        .heirarchy.vertical li:before {
            border-left: 2px solid #ddd;
            height: 12px;
            width: 0;
            top: 0;
        }

        .heirarchy.vertical li:after {
            border-top: 2px solid #ddd;
            height: 0;
            width: 100%;
        }

        .heirarchy.vertical li:first-child:after {
            border-top: 2px solid #ddd;
            height: 0;
            width: 50%;
            left: 50%;
        }

        .heirarchy.vertical li:last-child:after {
            border-top: 2px solid #ddd;
            height: 0;
            width: 50%;
            right: 50%;
        }

        .heirarchy.vertical li:only-child:after {
            content: none;
        }

        .heirarchy.vertical li ul:before {
            border-left: 2px solid #ddd;
            height: 12px;
            width: 0;
            top: -12px;
        }

    .heirarchy.vertical > li:only-child:before, .heirarchy.vertical > li:only-child:after {
        content: none;
    }

.red {
    background-color: red;
}

.blue {
    background-color: #049bdb;
}

.green {
    background-color: #72b245;
}

.pink {
    background-color: #fc778e;
}

.yellow {
    background-color: #ff6600;
}
