<script src="~/jslib/account/creation/CurrencyRate.js?v=20251115"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="CurrencyRateController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">

                <div id="ledger-group-section">
                    <div class="card card-default">
                        <div class="card-body">

                            <form class="form-inline mb-2">
                                @*<div class="col-md-4">*@

                                <label>Date Of Rate Exchange</label> &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="text" class="form-control form-control-sm" ng-model="newCurrencyRate.DateOfRateExchange_TMP"
                                       date-picker date-detail="newCurrencyRate.DateOfRateExchangeDet">

                                @*</div>*@




                            </form>
                            <div class="table-scroll-x-y sales-main-table table-scroll">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead class=" text-nowrap">
                                        <tr>
                                            <th style="width: 80px;">S.No</th>
                                            <th style="width: 400px;">Currency</th>
                                            <th style="width: 100px;">F.C. Rate</th>
                                            <th style="width: 100px;">Selling Rate</th>
                                            <th style="width: 100px;">Buying Rate</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cr in newCurrencyRate.CurrencyRateDetailsColl">
                                            <td>{{$index+1}}</td>
                                            <td>{{cr.Currency}}</td>
                                            <td>{{cr.FCRate}}</td>
                                            <td>{{cr.SellingRate}}</td>
                                            <td>{{cr.BuyingRate}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        </div>


                        @*<div class="time-label">
                                <span class="d-block border-0 p-3 text-center">

                                    <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearCurrency()">Reset</button>
                                    <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateCurrency()">{{newCurrency.Mode}}</button>

                                </span>
                            </div>*@
                    </div>
                </div>

                <!-- form area ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
</div>




