<script src="~/jslib/account/creation/DebtorsCreditorsType.js?v=20251115"></script>
    <div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="DebtorsCreditorsType" ng-class="{waiting: loadingstatus=='running'}" ng-init="GetAllDebtorsCreditorsTypes()" ng-cloak>
        <section class="content">
            <div class="container-fluid">
                <section class="iframe-content-starts-here">
                    <div class="tab-content">
                        <div class="card-primary card-tabs">
                            <div class="card-header with-gradient-bg p-0 border-bottom-0">
                                <div class="card-header p-0 border-bottom-0">
                                    <ul class="nav nav-tabs pt-1" id="custom-tabs-four-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Debtors Creditors Type</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                    <div class="card p-2 mt-2">
                                        <header class="row">
                                            <div class="col-md-8">
                                                <div class="clearfix">
                                                    <form class="form-inline mb-0">
                                                        <div class="input-group input-group-sm  mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.DebtorsCreditorsType">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.DebtorsCreditorsType">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar" type="search"
                                                                   placeholder="Search" aria-label="Search" ng-model="searchData.DebtorsCreditorsType">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0" type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-4 text-right">
                                                <div class="dropdown dnld-file">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                        <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                        <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                        <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                    </div>
                                                    <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait">
                                                        <i class="fas fa-print"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </header>
                                        <div class="search-toolbar">

                                            <div class="">
                                                <table cellpadding="12" class="main-table table table-bordered table-striped table-hover table-sm" id="datatable">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center; width: 10%;">
                                                                S.No
                                                                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>

                                                            <th ng-click="sort('Name')" style="text-align:left;width: 30% ;">
                                                                Name
                                                                <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>

                                                            <th ng-click="sort('Alias')" style="text-align:left;width:20%;">
                                                                Alias
                                                                <span class="glyphicon sort-icon" ng-show="sortKey=='Alias'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>
                                                            <th ng-click="sort('Code')" style="text-align:left;width: 15%;">

                                                                Code
                                                                <span class="glyphicon sort-icon" ng-show="sortKey=='Code'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>

                                                            <th style="text-align:center;width: 10%;" class="no-print">Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="beData in DebtorsCreditorsTypeColl | orderBy:sortKey:reverse | filter:searchData.DebtorsCreditorsType | itemsPerPage:perPage.DebtorsCreditorsType" current-page="currentPages.DebtorsCreditorsType" pagination-id="DebtorsCreditorsTypePagination">

                                                            <td style="text-align:center;">
                                                                {{$index+1}}
                                                            </td>
                                                            <td style="text-align:left">
                                                                {{beData.Name}}
                                                            </td>

                                                            <td style="text-align:left">
                                                                {{beData.Alias}}
                                                            </td>
                                                            <td style="text-align:left">
                                                                {{beData.Code}}
                                                            </td>
                                                            <td class="project-actions no-print text-center">
                                                                <div class="btn-group-sm">
                                                                    <a href="#" class="btn btn-sm btn-info" ng-click="getDebtorsCreditorsTypeById(beData)"><i class="fas fa-pencil-alt"></i></a>
                                                                    <a href="#" class="btn btn-sm btn-danger" ng-click="deleteDebtorsCreditorsType(beData,$index)"><i class="fas fa-trash"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                                <div class="col-md-12">
                                                    <dir-pagination-controls pagination-id="DebtorsCreditorsTypePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                    </dir-pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                    <div class="card p-2 mt-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Name<span style="color:red">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="beData.Name">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Alias</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="beData.Alias">
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Code</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="beData.Code">
                                                </div>
                                            </div>

                                            @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Type</label>
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="radioPrimary7" name="r4" ng-value="true" ng-model="beData.IsActive">
                                        <label for="radioPrimary7">Debtors</label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="radioPrimary8" name="r4" ng-value="false" ng-model="beData.IsActive">
                                        <label for="radioPrimary8">Creditors</label>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                                        </div>
                                        <footer class=" mt-4">
                                            <div class="text-right text-center">
                                                <button type="button" class="btn btn-sm btn-default" style="min-width:80px" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                                <button type="button" class="btn btn-sm btn-success" ng-click="AddNewDebtorsCreditorsType()" ng-disabled="loadingstatus=='running'" style="min-width:80px"><span class="glyphicon glyphicon-save"></span>Accept</button>
                                            </div>
                                        </footer>

                                    </div>


                                </div>

                            </div>
                        </div>
                                    <!-- /.card -->

                                </div>
                                </section>
</div>
                    <!-- /.container-fluid -->
                </section>
                </div>
            
