<script src="~/jslib/account/creation/DebtorRoute.js?v=20251115"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="DebtorRouteController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <!-- Third Tab Content -->
                    <div id="root">
                        <div class="card-primary card-tabs">
                            <div id="debtor-section">
                                <div class="card p-2 ">
                                    <div class="">
                                        <header class="row">
                                            <div class="col-md-7">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Show</span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.DebtorRoute">
                                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.DebtorRoute">{{pp.text}}</option>
                                                            </select>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-sm table-search-filed">
                                                            <input class="form-control form-control-navbar" type="search"
                                                                   placeholder="Search" aria-label="Search" ng-model="searchData.DebtorRoute">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default border-left-0" type="submit">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col-md-8 -->
                                            <div class="col-md-5 text-right">

                                                <div class="dropdown dnld-file" data-toggle="tooltip"
                                                     data-placement="top" title="Download File">
                                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-download"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <span class="dropdown-item">Choose an option:</span>
                                                        <a class="dropdown-item wait" export-excel table-id="'#main-table'" sheet-name="'ClassWiseSubject'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                        <a class="dropdown-item wait" onClick="$('#main-table').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                        <a class="dropdown-item wait" onClick="$('#main-table').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                        <a class="dropdown-item wait" onClick="$('#main-table').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                        <a class="dropdown-item wait" onClick="$('#main-table').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                    </div>
                                                </div>
                                                <a print-tbl table-id="'#main-table'" class="btn btn-secondary btn-light btn-sm wait"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-success" id="add-debtor" style="min-width: 90px;">
                                                    <i class="fas fa-plus w-t"></i> Add
                                                    Debtor Route
                                                </button>
                                            </div>
                                        </header>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="table-scroll-x-y sales-main-table table-scroll">
                                        <table class="table table-bordered table-head-fixed text-nowrap" id="main-table">
                                            <thead class=" text-nowrap">
                                                <tr>
                                                    <th style="width: 80px;">S.No.</th>

                                                    <th style="width: 200px;">Name</th>
                                                    <th style="width: 150px;">Alias</th>
                                                    <th style="width: 150px;">Code</th>

                                                    <th style="width: 80px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in DebtorRouteList | filter:searchData.DebtorRoute | itemsPerPage: perPage.DebtorRoute" current-page="currentPages.DebtorRoute" pagination-id="DebtorRoutePagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.Alias}}</td>
                                                    <td>{{cl.Code}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetDebtorRouteById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelDebtorRouteById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->

                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="DebtorRoutePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                    <!-- end pagination -->
                                </div>
                            </div>

                            <div id="debtor-form" class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <form action="">
                                                <div class="row">

                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="">Name</label>
                                                            <input type="text"
                                                                   class="form-control form-control-sm" ng-model="newDebtorRoute.Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <div class="form-group">
                                                            <label>Alias</label>
                                                            <input type="text"
                                                                   class="form-control form-control-sm" ng-model="newDebtorRoute.Alias">

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="">Code</label>
                                                            <input type="text"
                                                                   class="form-control form-control-sm" ng-model="newDebtorRoute.Code">
                                                        </div>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>

                                    </div>

                                </div>
                                <div class="time-label">
                                    <span class="d-block border-0 p-3 text-center">
                                        <button type="button" class="btn btn-sm btn-info" style="min-width: 90px;" id="back-to-list">Back To List</button>
                                        <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearDebtorRoute()">Reset</button>
                                        <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateDebtorRoute()">{{newDebtorRoute.Mode}}</button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>



