
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/jslib/export/tableExport.js"></script>

<script src="~/jslib/sms/AakashSms.js"></script>
<div class="container">
    <div class="panel panel-default" style="padding:15px;margin-top:10px;">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group mb-1 d-flex">
                    <label class="mt-1" style="min-width:63px">From Date</label>
                    <input type="text" class="form-control form-control-sm" date-picker ng-model="newVisitor.FromDate_TMP" date-detail="newVisitor.FromDateDet" >
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group mb-1 d-flex">
                    <label class="mt-1" style="min-width:60px">To Date</label>
                    <input type="text" class="form-control form-control-sm" date-picker ng-model="newVisitor.ToDate_TMP" date-detail="newVisitor.ToDateDet" >
                </div>
            </div>
        </div>
    </div>
</div>